mixin author-date
  .article-author-date
    .article-author(class= article.get('contributing_authors') && article.get('contributing_authors').length > 0 ? 'has-contributing-author' : '')
      if article.related()
        = article.related().author.get('name')
    if article.get('contributing_authors') && article.get('contributing_authors').length > 0
      .article-contributing-author
        = "By " + article.byline()
    if article.get('news_source')
      .article-date-source
        +articleDate(article.date('published_at'))
        +newsSource(article.get('news_source'))
    else
      +articleDate(article.date('published_at'))

mixin articleDate(date)
  .article-date
    = date.format('MMM Do, YYYY h:mm a')

mixin newsSource(source)
  .article-news-source
    if source.url && source.title
      span via 
      a(href=source.url target='_blank')
        = source.title

mixin video(video)
  .article-video-container
    if video.cover_image_url
      .article-video-cover-image(
        style=("background-image: url(#{resize(video.cover_image_url, { width: 1100 })})")
      )
        button.article-video-play-button
          .article-video-play-button-caret
    .article-video
      != embed(video.url, { query: { title: 0, portrait: 0, badge: 0, byline: 0, showinfo: 0, rel: 0, controls: 2, modestbranding: 1, iv_load_policy: 3, color: "E5E5E5" } })
    if video.caption
      figcaption!= video.caption

mixin imageSet(section)
  .article-section-image-set__images
    for item, i in section.images.slice(0,3)
      .article-section-image-set__image-container.hoverable-image-link( data-index=i )
        - var image = resize( (item.image || item.url || ''), {height: 150} )
        img.hoverable-image( src=image alt=_s.stripTags(item.type === 'image' ? item.caption : item.title) )
  .article-section-image-set__remaining
    .article-section-image-set__icon(data-total="#{section.images.length}" class=section.images.length > 9 ? 'is-double-digit' : '')
      include ../../main_layout/public/icons/image-set.svg
    .article-section-image-set__text Enter Slideshow

mixin embed(section)
  .article-embed-container
    iframe(src=section.url height=section.height data-d-height=section.height data-m-height=section.mobile_height scrolling='no' frameborder='0')

mixin imageCollection(images)
  ul
    for image, i in images
      if image.type == 'artwork'
        +artwork(image)
      else
        +image(image)

mixin image(image)
  li
    figure
      img( src=resize(image.url, { width: 1100 }) alt=_s.stripTags(image.caption || '') )
      if image.caption
        figcaption!= image.caption

mixin printArtistName(artist)
  if artist.slug
    a(href='/artist/' + artist.slug )= artist.name
  else if artist.name
    |= artist.name

mixin artwork(artwork)
  li( data-id=artwork.id )
    figure.artwork-item
      .artwork-item-image-container
        a.artwork-item-image-link( href='/artwork/' + artwork.slug )
          .artwork-item-image
            img( src=artwork.image alt=artwork.title )
      +artwork_caption(artwork)

mixin artwork_caption(artwork)
  figcaption.artwork-item-caption
    p.artwork-item-artist.artwork-item-overflow
      if artwork.artists && artwork.artists.length > 0
        for artist, i in artwork.artists
          +printArtistName(artist)
      else if artwork.artist && artwork.artist.name
        +printArtistName(artwork.artist)
    if artwork.title
      p.artwork-item-title.artwork-item-overflow
        if artwork.slug
          a(href='/artwork/' + artwork.slug)
            em= artwork.title
            if artwork.date
              | ,&nbsp
              = artwork.date
        else
          em= artwork.title
          if artwork.date
            | ,&nbsp
            = artwork.date
    if artwork.partner && artwork.partner.name
      p.artwork-item-partner.artwork-item-overflow
        if artwork.partner.slug
          a(href='/' + artwork.partner.slug)= artwork.partner.name
        else
          = artwork.partner.name
