.cf-categories__inner(class=selectedCategory ? "has-selection" : "")
  each category, id in categories
    .cf-categories__category(
      data-id=category.id
      style="background-image: url(#{category.image})"
      data-has-results= alwaysEnabled || (hasResults && hasResults(counts, category.id)) ? "true" : "false"
      class=(selectedCategory == category.id) ? "is-selected" : ""
    )
      .cf-categories__category__overlay
      .cf-categories__category__name= category.name
