mixin experience(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.auctions
    img( src=section.logos.src )

mixin auction_apply(section)
  .partnerships-section-header.apply
    .auction-partnerships-apply-form
      header
        h3#apply-h3 Interested in partnering with Artsy?
          aside  Apply to host your auctions on Artsy

    //- Marketo
    .partnerships-marketo-form
      script(src='//app-ab14.marketo.com/js/forms2/js/forms2.min.js')
      form#mktoForm_1240
      script.
        typeof MktoForms2 !== "undefined" && MktoForms2.loadForm("//app-ab14.marketo.com", "609-FDY-207", 1240);

mixin auction_audience(section)
  .partnerships-section-header.audience
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.audience
    .audience-map
      img( src=section.images[0].src )
    .audience-quotes
      - q = section.quotes[0]
      if q
        .quote
          .text= q.quote

mixin access(section)
  .partnerships-section-header.access
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.access
    .auction-access-img
      img( src=section.image.src )
    .audience-quotes
      .quote
        .quote-text= section.quote.quote
        .quote-author #{section.quote.author}, #{section.quote.title} 

mixin visibility(section)
  .partnerships-section-header.visibility
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.visibility
    .visibility-left
      .browser-images-container
        .browser-frame
          img( src="/images/browser-window.jpg" )
        ul.browser-images.tools-images
          for image, i in section.browser_images
            li.browser-image.tools-image( class=(i === 0 ? 'is-active' : undefined) )
              img( src="https://artsy-media-uploads.s3.amazonaws.com/desktop+banner.png")

      .image-container-caption
        h4= section.browser_caption.title
        p= section.browser_caption.subtitle

    .visibility-right
      //- add social icons
      .mobile-images-container
        .mobile-frame
          img( src="/images/mobile-window.png" )
        ul.mobile-images.tools-images
          for image, i in section.mobile_images
            li.mobile-image.tools-image( class=(i === 0 ? 'is-active' : undefined) )
              img( src="https://artsy-media-uploads.s3.amazonaws.com/IMG-24276624+(1).gif" )

      .image-container-caption
        h4= section.mobile_caption.title
        p= section.mobile_caption.subtitle

mixin event_services(section)
  .partnerships-section-header.event-services
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.event-services
    .grid-2-up
      for image, i in section.images
        .grid-item
          img( src=image.src )
          .event-services-caption= image.caption

section.partnerships-section( id= sections[0].slug, data-href="/auction-partnerships/#{sections[0].slug}" ): +experience(sections[0])
section.partnerships-section( id= sections[6].slug, data-href="/auction-partnerships/#{sections[6].slug}" ): +auction_apply(sections[6])
section.partnerships-section( id= sections[1].slug, data-href="/auction-partnerships/#{sections[1].slug}" ): +auction_audience(sections[1])
section.partnerships-section( id= sections[2].slug, data-href="/auction-partnerships/#{sections[2].slug}" ): +access(sections[2])
hr
br
h2 Consignments
h3 Access to a comprehensive artwork database
br
p Artsy can be your additional source of consignments. Log in and seamlessly browse hundreds of vetted artworks from Modern to Post-War and Contemporary art. Artsy’s consignment experts have international auction house experience and liaise with our consignors directly to explain the auction process and walk them through market pricing—ensuring a seamless experience for all stakeholders. 
br
p Grow your footprint and build relationships with this international database of consignors quickly and easily. Available across desktop and mobile devices—submit consignment proposals wherever and whenever. See here for more details.
br
br
section.partnerships-section( id= sections[3].slug, data-href="/auction-partnerships/#{sections[3].slug}" ): +visibility(sections[3])
section.partnerships-section( id= sections[4].slug, data-href="/auction-partnerships/#{sections[4].slug}" ): +event_services(sections[4])
section.partnerships-section( id= sections[5].slug, data-href="/auction-partnerships/#{sections[5].slug}" ): +support(sections[5])
