mixin audience(section)
  .partnerships-section-header.audience
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.audience
    .audience-map
      img( src=section.images[0].src )
    .audience-quotes
      - q = section.quotes[0]
      .quote
        .quote-text= q.quote
        .quote-author #{q.author}, #{q.title}

mixin tools(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .browser-images-container
      .browser-frame
        img( src=section.images[0].src )
      ul.browser-images.tools-images
        for image, i in section.images.slice(1)
          li.browser-image.tools-image( class=(i === 0 ? 'is-active' : undefined) )
            img( src=image.src )

mixin support(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .support-liaisons( data-liaisons=section.liaisons )
      for liaison in section.liaisons.slice(0, 5)
        .support-liaison
          .previous
            img( src=liaison.src )
            .support-liaison-name= liaison.name
            .support-liaison-location= liaison.location
            .support-liaison-position= liaison.position
          .current
            img( src=liaison.src )
            .support-liaison-name= liaison.name
            .support-liaison-location= liaison.location
            .support-liaison-position= liaison.position
    if section.quotes
      .support-quotes
        - q = section.quotes[0]
        .quote
          .quote-text= q.quote
          .quote-author #{q.author}, #{q.title}
