mixin shows(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.show
    .grid-2-up
      each g in section.shows
        .grid-item
          a.show-image.hoverable-image-link( href=g.href )
            img( src=crop(g.src, { height: 350, width: 550} ) )
          .show-info
            .show-name= g.name
            .show-title= g.title
            .show-location-date #{g.location}, #{g.dates}

mixin education(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .grid-4-up
      each g in section.institutions
        .grid-item
          a.education-image.hoverable-image-link( href=g.href )
            img( src=g.src )
          .education-info
            .education-name= g.name
            .education-location= g.location
  a.partnerships-all-link(href='/institutions') See All Museums

mixin design(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .browser-images-container
      .browser-frame
        img( src=section.images[0].src )
      ul.browser-images.tools-images
        for image, i in section.images.slice(1)
          li.browser-image.tools-image( class=(i === 0 ? 'is-active' : undefined) )
            img( src=image.src )

section.partnerships-section( id= sections[0].slug, data-href="/institution-partnerships/#{sections[0].slug}" ): +shows(sections[0])
section.partnerships-section( id= sections[1].slug, data-href="/institution-partnerships/#{sections[1].slug}" ): +education(sections[1])
section.partnerships-section( id= sections[2].slug, data-href="/institution-partnerships/#{sections[2].slug}" ): +audience(sections[2])
section.partnerships-section( id= sections[3].slug, data-href="/institution-partnerships/#{sections[3].slug}" ): +design(sections[3])
section.partnerships-section( id= sections[4].slug, data-href="/institution-partnerships/#{sections[4].slug}" ): +tools(sections[4])
section.partnerships-section( id= sections[5].slug, data-href="/institution-partnerships/#{sections[5].slug}" ): +support(sections[5])
section.partnerships-section( id= sections[6].slug, data-href="/institution-partnerships/#{sections[6].slug}" ): +apply(sections[6])
