.partnerships-section-nav
  nav
    - applyLink = subject == 'gallery' ? '/gallery-partnerships/apply' : '/apply/' + subject

    for section, i in sections.slice(0, -1)
      a.partnerships-nav-link.internal( href="/#{subject}-partnerships/#{section.slug}", data-section=section.title )
        span= section.title
    a.internal.partnerships-nav-link.partnerships-nav-apply-link.avant-garde-button-black.is-small.apply-link-cta(
      href=applyLink
      data-section='Apply'
    )
      span=sections[sections.length - 1].title
