.auction-grid-artwork
  .aga-image: .vam-outer: .vam-inner
    a( href= href ): img(
      src= artwork.defaultImageUrl('medium')
      nopin= artwork.noPinAttr()
      alt= artwork.toAltText()
    )

  .aga-metadata
    a( href= href )
      if saleArtwork.has('lot_number')
        .aga-lot-number
          | Lot #{saleArtwork.get('lot_number')}

      .aga-primary-information
        h4.aga-artist
          != artist.get('name') || '&nbsp;'
        h3.aga-title
          != artwork.titleAndYear() || '&nbsp;'

      .aga-estimate
        if saleArtwork.estimate()
          | #{saleArtwork.estimateLabel()}: #{saleArtwork.estimate()}
        else
          | &nbsp;

      if displayBlurbs
        .aga-blurb( style= maxBlurbHeight ? "height: #{maxBlurbHeight}" : undefined )
          != artwork.mdToHtml('blurb')

    unless auction.isAuctionPromo() && !auction.isAuctionPromoInquirable()
      .aga-bidding
        unless auction.isAuctionPromo()
          .aga-bid-status
            if auction.isOpen()
              .aabs-label
                if artwork.get('acquireable')
                  strong Buy Now Price
                else
                  | <strong>#{saleArtwork.bidLabel()}</strong> (#{saleArtwork.bidCount()})

              .aabs-price
                if artwork.get('acquireable')
                  if artwork.get('sold')
                    | Sold
                  else
                    = artwork.saleMessage() || 'Unavailable'
                else
                  = saleArtwork.currentBid()
            else
              .aabs-label
                //-
              .aabs-price
                != artwork.saleMessage() || '&nbsp;'

        .aga-bid-button
          - button = auction.bidButtonState(user, artwork)
          if button
            include button

          - button = auction.buyButtonState(user, artwork)
          if button
            include button

          - button = auction.contactButtonState(user, artwork)
          if button
            include button
