.auction-list-artwork
  .ala-image
    a( href= href ): img(
      src= artwork.defaultImageUrl('medium')
      nopin= artwork.noPinAttr()
      alt= artwork.toAltText()
    )

  .ala-primary-information
    a( href= href )
      if artwork.has('artist')
        h4.ala-artist
          = artist.get('name')
      h3.ala-title
        != artwork.titleAndYear()

  if saleArtwork.has('lot_number')
    .ala-lot-number: a( href= href )
      | Lot #{saleArtwork.get('lot_number')}

  if auction.isOpen() && !auction.isAuctionPromo()
    .ala-bid-status: a( href= href )
        unless artwork.get('acquireable')
          strong #{saleArtwork.bidLabel()}:
          = ' '

        span.ala-current-bid
          if artwork.get('acquireable')
            unless artwork.get('sold')
              = artwork.saleMessage() || 'Unavailable'
          else
            = saleArtwork.currentBid()

    .ala-bid-count: a( href= href )
      if artwork.get('acquireable')
        | &nbsp;
      else
        | (#{saleArtwork.bidCount()})
  else
    .ala-estimate
      if saleArtwork.estimate()
        a( href= href )
          | #{saleArtwork.estimateLabel()}: #{saleArtwork.estimate()}
      else
        | &nbsp;

    if artwork.saleMessage()
      .ala-sale-message
        a.ala-current-bid( href= href )
          = artwork.saleMessage()

  unless auction.isAuctionPromo() && !auction.isAuctionPromoInquirable()
    .ala-bidding
      .ala-bid-button
        - button = auction.bidButtonState(user, artwork)
        if button
          include button

        - button = auction.buyButtonState(user, artwork)
        if button
          include button

        - button = auction.contactButtonState(user, artwork)
        if button
          include button
