.auction-list-artwork
  .ala-image
    a( href= href ): img(
      src= artwork.defaultImageUrl('medium')
      nopin= artwork.noPinAttr()
      alt= artwork.toAltText()
    )

  .ala-primary-information
    a( href= href )
      if artwork.has('artist')
        h4.ala-artist
          = artist.get('name')
      h3.ala-title
        != artwork.titleAndYear()

  if saleArtwork.has('lot_number')
    .ala-lot-number: a( href= href )
      | Lot #{saleArtwork.get('lot_number')}

  if auction.isOpen() && !auction.isAuctionPromo()
    .ala-bid-status: a( href= href )
      strong #{saleArtwork.bidLabel()}:
      = ' '
      span.ala-current-bid
        = saleArtwork.currentBid()
    .ala-bid-count: a( href= href )
      | (#{saleArtwork.bidCount()})
  else
    .ala-estimate
      if saleArtwork.estimate()
        a( href= href )
          | #{saleArtwork.estimateLabel()}: #{saleArtwork.estimate()}
      else
        | &nbsp;

    if artwork.saleMessage()
      .ala-sale-message
        a.ala-current-bid( href= href )
          = artwork.saleMessage()

  unless auction.isAuctionPromo() && !auction.isAuctionPromoInquirable()
    .ala-bidding
      - button = auction.bidButtonState(user, artwork)
      .ala-bid-button: include button
