mixin audience(section)
  .partnerships-section-header.audience
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.audience
    .audience-map
      img( src=section.images[0].src )
    .audience-quotes
      - q = section.quotes[0]
      .quote
        .quote-text= q.quote
        .quote-author #{q.author}, #{q.title}

mixin tools(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .browser-images-container
      .browser-frame
        img( src=section.images[0].src )
      ul.browser-images.tools-images
        for image, i in section.images.slice(1)
          li.browser-image.tools-image( class=(i === 0 ? 'is-active' : undefined) )
            img( src=image.src )

mixin support(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble
          if path.indexOf('gallery') > 0
            |  You can also read and subscribe to our&nbsp;
            a(href='/' + sd.GALLERY_INSIGHTS_SLUG) Gallery Insights Newsletter
            | .

  .partnerships-section-content
    .support-liaisons( data-liaisons=section.liaisons )
      for liaison in section.liaisons.slice(0, 5)
        .support-liaison
          .previous
            img( src=liaison.src )
            .support-liaison-name= liaison.name
            .support-liaison-location= liaison.location
            .support-liaison-position= liaison.position
          .current
            img( src=liaison.src )
            .support-liaison-name= liaison.name
            .support-liaison-location= liaison.location
            .support-liaison-position= liaison.position
    if section.quotes
      .support-quotes
        - q = section.quotes[0]
        .quote
          .quote-text= q.quote
          .quote-author #{q.author}, #{q.title}

mixin apply(section)
  .partnerships-section-header.apply
    if path.indexOf('institution') > 0
      h3!= section.heading
      a.avant-garde-button-black.apply-button.apply-link-cta( href='/apply/institution' ) Apply
    else
      .gallery-partnerships-apply-form
        header
          h3#apply-h3 Interested in partnering with Artsy?
            aside Apply to join Artsy&rsquo;s invitation-only subscription service for galleries

          a.partnerships-marketo-form-apply-btn.avant-garde-button-black.apply-button.apply-link-cta( href=sd.APPLY_URL + '/galleries.html' ) Apply
          .partnerships-marketo-form
            script( src='//app-ab14.marketo.com/js/forms2/js/forms2.min.js')
            form#mktoForm_1238
            script.
              MktoForms2.loadForm("//app-ab14.marketo.com", "609-FDY-207", 1238, function() {
                $('.partnerships-marketo-form-apply-btn').remove()
              });

        .partnerships-contact Call us: +1 800 589-1350
