mixin network(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content.network
    .grid-4-up
      each g in section.galleries
        .grid-item
          a.network-gallery-image.hoverable-image-link( href=g.href )
            img( src=g.src )
          .network-gallery-info
            .network-gallery-name= g.name
            .network-gallery-location= g.location

mixin access(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .browser-images-container
      .browser-frame
        img( src=section.images[0].src )
      ul.browser-images.access-images
        for image, i in section.images.slice(1)
          li.browser-image.access-image( class=(i === 0 ? 'is-active' : undefined) )
            img( src=image.src )

mixin artsy-folio(section)
  .partnerships-section-header
    .grid-2-up
      .grid-item
        h2= section.title
        h3!= section.heading
      .grid-item
        p.preamble!= section.preamble

  .partnerships-section-content
    .browser-images-container.ipad-images-container
      .browser-frame.ipad-frame
        img( src=section.iPadImages[0].src )
      ul.browser-images.ipad-images
        for image, i in section.iPadImages.slice(1)
          li.browser-image.ipad-image( class=(i === 0 ? 'is-active' : undefined) )
            img( src=image.src )

    .browser-images-container.iphone-images-container
      .browser-frame.iphone-frame
        img( src=section.iPhoneImages[0].src )
      ul.browser-images.iphone-images
        for image, i in section.iPhoneImages.slice(1)
          li.browser-image.iphone-image( class=(i === 0 ? 'is-active' : undefined) )
            img( src=image.src )

section.partnerships-section( id= sections[0].slug, data-href="/gallery-partnerships/#{sections[0].slug}" ): +network(sections[0])
section.partnerships-section( id= sections[1].slug, data-href="/gallery-partnerships/#{sections[1].slug}" ): +audience(sections[1])
section.partnerships-section( id= sections[2].slug, data-href="/gallery-partnerships/#{sections[2].slug}" ): +access(sections[2])
section.partnerships-section( id= sections[3].slug, data-href="/gallery-partnerships/#{sections[3].slug}" ): +tools(sections[3])
section.partnerships-section( id= sections[4].slug, data-href="/gallery-partnerships/#{sections[4].slug}" ): +artsy-folio(sections[4])
section.partnerships-section( id= sections[5].slug, data-href="/gallery-partnerships/#{sections[5].slug}" ): +support(sections[5])
section.partnerships-section( id= sections[6].slug, data-href="/gallery-partnerships/#{sections[6].slug}" ): +apply(sections[6])
