//- Override any locals with `append locals`
block locals
  - bodyClass = helpers ? helpers.buildBodyClass(sd, (sd.HIDE_HEADER ? 'body-header-fixed' : 'body-welcome-header')) : '';

doctype html
html( data-useragent=userAgent )
  head
    include head
    block head
    link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )
    if assetPackage
      link( type='text/css', rel='stylesheet', href=asset('/assets/#{assetPackage}.css') )
  body( class=bodyClass )

    //- Global component mixins
    include ../../modal/template
    include ../../flash/template

    //- Hedaer, body block, footer
    include ../header/templates/index
    #main-layout-container.responsive-layout-container
      block body
    #scroll-frame-spinner: .loading-spinner
    include ../footer/template

    //- Javascripts
    #scripts
      include scripts
      if assetPackage
        script( src=asset('/assets/#{assetPackage}.js') )
      block scripts
