.stacked-form(
  class='js-settings-password--toggleable'
)
  label.avant-garde-form-label
    | Current Password
  input.bordered-input(
    name='decoy-password'
    type='password'
    value='●●●●●●●'
    disabled
  )

  hr.is-invisible

  a.avant-garde-button-white(
    class='js-settings-password__toggle'
  ) Create New Password

//- Initially hidden
form.settings-password__form.stacked-form(
  class='js-settings-password--toggleable'
)
  .form-errors.js-form-errors
    //- Rendered client-side

  if user.get('has_password')
    label.avant-garde-form-label( for='current-password' )
      | Current Password
    input.bordered-input(
      id='current-password'
      name='current_password'
      type='password'
      autocomplete='current-password'
      autofocus
      required
    )
  else
    input.bordered-input(
      id='current-password'
      name='current_password'
      type='hidden'
      value=''
    )

  label.avant-garde-form-label( for='new_password' )
    | New Password
  input.bordered-input(
    id='new_password'
    name='new_password'
    type='password'
    autocomplete='new-password'
    pattern='.{8,}'
    title='8 characters minimum'
    required
  )

  label.avant-garde-form-label( for='password_confirmation' )
    | Repeat New Password
  input.bordered-input(
    id='password_confirmation'
    name='password_confirmation'
    type='password'
    autocomplete='new-password'
    pattern='.{8,}'
    title='8 characters minimum'
    required
  )

  button.avant-garde-button-black
    | Save Changes

  a.avant-garde-button-white(
    class='js-settings-password__toggle'
  ) Cancel
