mixin paginateHead(current, total, urlBase)
  - var urlBase = urlBase || '?'
  if total && total !== 1
    if (current !== 1)
      link( rel='prev', href="#{urlBase}page=#{current - 1}" )
    if (current !== total)
      link( rel='next', href="#{urlBase}page=#{current + 1}" )

mixin paginate(current, total, urlBase)
  - var urlBase = urlBase || '?'
  - var pagesInterval = 3

  if total && total !== 1
    nav.bordered-pagination
      //- Previous button
      - if (current !== 1)
        ul
          li
            a.paginator-previous( data-value=(current - 1), href="#{urlBase}page=#{current - 1}" )
              span &lt;&nbsp;
              | Previous

      //- First page
      - if (((current - pagesInterval) - 1) > 0)
        ul: li: a.paginator-first( data-value=1, href='#{urlBase}page=1' ) 1

      //- Numbered pages
      ul
        //- Left surrounding pages
        - for (var i = pagesInterval; i > 0; i--) {
          - if (current > i)
            li: a.paginator-page( data-value=(current - 1), href="#{urlBase}page=#{current - i}" ) #{current - i}
        - }

        //- Current page
        li: a.paginator-current.is-active( data-value=current )= current

        //- Right surrounding pages
        - for (var i = 1; i <= pagesInterval; i++) {
          - if (((total - current) + 1) > i)
            li: a( data-value=(current + 1), href="#{urlBase}page=#{current + i}" ) #{current + i}
        - }

      //- End page
      - if ((current !== total) && (((total - current) + 1) > i))
        ul: li: a.paginator-last( data-value=total, href="#{urlBase}page=#{total}" )= total

      //- Next button
      - if (current !== total)
        ul
          li
            a.paginator-next( data-value=(current + 1), href="#{urlBase}page=#{current + 1}" )
              | Next
              span &nbsp;&gt;
