for fair in pastFairs
  a.fairs__past-fair(href=fair.href)
    .fairs__past-fair__cell.fairs__past-fair__cell--icon
      if fair.profile.icon
        img.large-profile-image( alt=fair.name, title=fair.name, src=fair.profile.icon.url )
    .fairs__past-fair__cell.fairs__past-fair__cell--name
      .fairs-fair__name= fair.name
      .fairs-fair__follow
        .entity-follow.profile-follow( data-id= fair.profile.id )
    .fairs__past-fair__cell.fairs__past-fair__cell--info
      .fairs-fair__info #{ViewHelpers.formatDates(fair)}
      if fair.location && (fair.location.city || fair.location.country)
        .fairs-fair__info= fair.location.city ? fair.location.city : fair.location.country
