#keyword-search-bar-container.typeahead
  input#keyword-search-bar-input.bordered-input(
    placeholder='Filter by style, subject matter, title, artist, gallery, etc.'
    tabindex='1'
    itemprop='query-input'
    type='text'
    name='keyword'
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
  )

  a.icon-search