- collector = user.isCollector()

h1 Final Step:
aside
  | This information will be shared with the gallery to ensure a better response (you can update this info in your profile).
  .help-tooltip(
    data-message='Galleries are generally more comforable sharing information when they know more about the person inquiring on the work'
    data-anchor='top-right'
  )

form.stacked-form#after-inquiry-questionnaire-form
  .stacked-form-cell
    label.avant-garde-form-label( for='name' ) Full Name
    input.bordered-input.is-block(
      placeholder= 'Your full name'
      value= user.get('name')
      name= 'name'
      required
    )

  .stacked-form-cell
    label.avant-garde-form-label Primary Location
    #after-inquiry-collector-location
      //- Rendered separately

  .stacked-form-cell
    if collector
      label.avant-garde-form-label Artists you collect
      #after-inquiry-bookmark-artists
        //- Rendered separately
    else
      label.avant-garde-form-label( for='profession' ) Profession
      input.bordered-input.is-block(
        placeholder='There’s nothing here, yet'
        value=user.get('profession')
        name='profession'
      )

  button.avant-garde-button-black#after-inquiry-questionnaire-submit Done
