extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'marketing_signup_modals'

block body

  .marketing-signup-modals
    h1 Marketing Signup Modals

    table.marketing-signup-modals-table
      thead
        tr.marketing-signup-modals__table-header
          th Campaign Name
          th Slug
          th Copy
          th Image
          th Photo Credit
          th Text Color
          th Duration
          th Text Opacity
      tbody
        for modal in modals
          tr
            th= modal["campaignName"]
            th= modal["slug"]
            th= modal["copy"]
            th
              a(href=modal["image"])= modal["image"]
            th= modal["photoCredit"]
            th= modal["textColor"]
            th= modal["duration"]
            th= modal["textOpacity"]
