extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav

    .fair-info2-body
      .fair-info-events
        h2.fair-info2-event-type-title Events
          if Object.keys(sortedEvents).length > 0
            for day in sortedEvents
              .fair-info-event-day
                for event in day
                  .fair-info-event-item
                    .fair-info-event-item-time
                      .event-day-date= event.formatDate()
                      .event-time= event.formatTime()
                      a.add-to-calender(href='#') Add to Calendar
                    .fair-info-event-item-details
                      h2.event-title= event.get('name')
                      .event-address= event.get('venue')
                      .event-description= event.get('extended_description')
          else
            .fair-info-event-item There are no events.