aside.fair-info2-nav
  a(href="/#{profile.id}/info/visitors" class=sd.CURRENT_PATH.includes('visitors') ? 'is-active' : '') visitors
  if infoMenu.programming
    a(href="/#{profile.id}/info/programming" class=sd.CURRENT_PATH.includes('programming') ? 'is-active' : '') programming
  if infoMenu.events
    a(href="/#{profile.id}/info/events" class=sd.CURRENT_PATH.includes('events') ? 'is-active' : '') events
  if infoMenu.artsyAtTheFair
    a(href="/#{profile.id}/info/artsy-at-the-fair" class=sd.CURRENT_PATH.includes('artsy-at-the-fair') ? 'is-active' : '') artsy at the fair
  a(href="/#{profile.id}/info/about-the-fair" class=sd.CURRENT_PATH.includes('about-the-fair') ? 'is-active' : '') about the fair
  if profile.id == 'the-armory-show-2016'
    a(href="/#{profile.id}/info/armory-arts-week" class=sd.CURRENT_PATH.includes('armory-arts-week') ? 'is-active' : '') armory arts week
