aside.fair-info-nav
  a(href="/#{profile.id}/info2/visitors") visitors
  a(href="/#{profile.id}/info2/programming") programming
  a(href="/#{profile.id}/info2/events") events
  a(href="/#{profile.id}/info2/artsy-at-the-fair") artsy at the fair
  a(href="/#{profile.id}/info2/about-the-fair") about the fair