.artwork-brick__image.auction__image
  a( href= artwork.href )
    .artwork-brick__image__img.auction__image__img(
      style="background-image:url(#{artwork.image.thumb.url})"
      src= artwork.image.thumb.url
      alt= artwork.title
      onerror='this.style.display="none";'
    )

  .artwork-brick__image__save.auction-artwork-save(
    class='js-artwork-brick-save-controls'
    data-id= artwork.id
  )
    //- Rendered client-side
