if artwork.artist && artwork.artist.artworks && artwork.artist.artworks.length
  section.artwork-section.artwork-artist-artworks( class='js-artwork-artist-artworks' )
    header.artwork-artist-artworks__header
      h3.artwork-artist-artworks__header__name
        | Other Works by #{artwork.artist.name}

      a.artwork-artist-artworks__header__jump(
        href='#{artwork.artist.href}/works'
      ) View All

    if sd.ENABLE_EXPERIMENTAL_STITCH_INJECTION
      #stitch-artwork-artist-artworks-masonry
        != sd.stitch.components.ArtworkGrid({ artworks: artwork.artist.artworks, mountId: 'stitch-artwork-artist-artworks-masonry'})
    else
      - var columns = helpers.artist_artworks.masonry(artwork.artist.artworks).columns
      include ../../../../components/artwork_masonry/index

    .artwork-section__jump
      a.avant-garde-jump-link( href='#{artwork.artist.href}/works' )
        | View all #{artwork.artist.counts.artworks} by #{artwork.artist.name}
        i.icon-chevron-small-right
