extends ./template

include ../../../components/bordered_pulldown/mixin

block content
  section.sg-components
    h2 Components

    h3 Clock
    article.sg-component
      .sg-component-rendered
        //- We really need to be able to pass this a moment object for server-side rendering...

        .clock
          .clock-header
            | Auction opens in:
          ul.clock-value
            li
              | 08
              small days
            li :
            li
              | 00
              small hrs
            li :
            li
              | 19
              small min
            li :
            li
              | 06
              small sec

        hr

        .clock
          .clock-header.clock-closed
            | Online Bidding Closed



    h3 Pulldown menus
    article.sg-component
      h3 Bordered Pulldown
      .sg-component-rendered
        +bordered-pulldown('Current Selection', 'Order by:')
          a( href='#' ) Current Selection
          a( href='#' ) Option Two
          a( href='#' ) Option Three
          a( href='#' ) Option Four
      pre: code
        | # Stylesheet: @import '../components/bordered_pulldown'
        | # Mixin: include ../../../components/bordered_pulldown/mixin
      pre: code
        | # Arguments: defaultVal, label (optional)
        | +bordered-pulldown('Current Selection', 'Order by:')
        |   a( href='#' ) Current Selection
        |   a( href='#' ) Option Two
        |   a( href='#' ) Option Three
        |   a( href='#' ) Option Four

    article.sg-component
      h3 Bordered Scrollable Pulldown
      .sg-component-rendered
        +bordered-scrollable-pulldown('Current Selection', 'Filter by:')
          a( href='#' ) Current Selection
          - var i = 0
          while i < 100
            a( href='#' ) #{i++}
      pre: code
        | # Stylesheet: @import '../components/bordered_pulldown'
        | # Mixin: include ../../../components/bordered_pulldown/mixin
      pre: code
        | # Arguments: defaultVal, label (optional)
        | +bordered-scrollable-pulldown('Current Selection', 'Filter by:')
        |   a( href='#' ) Current Selection
        |   //- Many, many more options...

    h3 Popovers
    article.sg-component
      h3 Popovers

      .sg-component-rendered
        .popover-parent( style='position: relative; display: inline-block;' )
          | Hover me
          .popover
            strong Hello?
            p: em Hello.
      pre: code
        | # Stylesheet: @import '../components/popovers'
      pre: code
        | //- `.popover-parent` has no inherit position attribute but requires a non-static one.
        | .popover-parent
        |   | Hover me
        |   .popover
        |     strong Hello?
        |     p: em Hello.

    h3 Tooltips
    article.sg-component
      h3 Tooltips
      .sg-component-rendered
        a.black-tooltip( data-message='Post to Facebook' ): i.icon-facebook
        a.black-tooltip( data-message='Share on Twitter' ): i.icon-twitter
        a.black-tooltip( data-message='Pin It on Pinterest' ): i.icon-pinterest
      pre: code
        | # Stylesheet: @import '../components/tooltips'
      pre: code
        | a.black-tooltip( data-message='Post to Facebook' ): i.icon-facebook
        | a.black-tooltip( data-message='Share on Twitter' ): i.icon-twitter
        | a.black-tooltip( data-message='Pin It on Pinterest' ): i.icon-pinterest

    article.sg-component
      h3 Help Tooltip
      .sg-component-rendered
        p
          | Can be displayed
          span.help-tooltip( data-message='Works in which the idea, planning, and production process are more important than the result. The term gained currency in the 1960s as a result of Sol LeWitt’s 1967 article "Paragraphs on Conceptual Art" in Artforum.' )
          | inline with content.
        hr
        p
          | They can also be anchored to the top-right
          span.help-tooltip(
            data-message= 'Works in which the idea, planning, and production process are more important than the result. The term gained currency in the 1960s as a result of Sol LeWitt’s 1967 article "Paragraphs on Conceptual Art" in Artforum.'
            data-anchor= 'top-right'
          )
          | The bottom-left
          span.help-tooltip(
            data-message= 'Works in which the idea, planning, and production process are more important than the result. The term gained currency in the 1960s as a result of Sol LeWitt’s 1967 article "Paragraphs on Conceptual Art" in Artforum.'
            data-anchor= 'bottom-left'
          )
          | Or the bottom-right
          span.help-tooltip(
            data-message= 'Works in which the idea, planning, and production process are more important than the result. The term gained currency in the 1960s as a result of Sol LeWitt’s 1967 article "Paragraphs on Conceptual Art" in Artforum.'
            data-anchor= 'bottom-right'
          )
      pre: code
        | # Stylesheet: @import '../components/tooltips'
      pre: code
        | span.help-tooltip( data-message='Works in which the idea, planning [...]' )
        | span.help-tooltip( data-message='Works in which the idea, planning [...]', data-anchor='top-right' )
        | span.help-tooltip( data-message='Works in which the idea, planning [...]', data-anchor='bottom-left' )
        | span.help-tooltip( data-message='Works in which the idea, planning [...]', data-anchor='bottom-right' )
