extends ./template

block content
  section.sg-components
    h2 Typography

    for sizes, fontName in typeSizes
      .sg-type-specimen

        for styles, size in sizes
          .sg-type-specimen-sample
            p( class="#{fontName}-#{size}" )
              | .#{fontName}-#{size}: #{styles['font-size']} / #{styles['line-height']}
            hr
            pre
              | #{fontName}-size('#{size}')