include ../../prevent_right_click/index
link( rel='apple-touch-icon', href=asset('/images/icon-152.png') )
link( rel='apple-touch-icon', sizes='120x120', href=asset('/images/icon-120.png') )
link( rel='apple-touch-icon', sizes='152x152', href=asset('/images/icon-152.png') )
link( rel='apple-touch-icon', sizes='76x76', href=asset('/images/icon-76.png') )
link( rel='icon', type='image/png', href=asset('/images/favicon.ico') )
link( rel='search', type='application/opensearchdescription+xml', href=asset('/images/opensearch.xml'), title='Artsy' )

//- Prefetch major external resources
link( rel='preconnect', href='https://www.google-analytics.com' )
link( rel='preconnect', href='https://googleads.g.doubleclick.net' )
link( rel='preconnect', href='https://www.googleadservices.com' )

link( rel='dns-prefetch', href='https://connect.facebook.net' )
link( rel='dns-prefetch', href='https://cdn.segment.com' )

meta( charset='utf-8' )
meta( name="apple-itunes-app" content="app-id=703796080, app-argument=#{sd.APP_URL}#{sd.CURRENT_PATH}" )
meta( name='msapplication-config', content=asset('/images/browserconfig.xml') )
meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5' )
//- Briefly removing the applink support until Eigen 2.3.x is most of our traffic
//- meta( property="al:ios:app_name" content='Artsy' )
//- meta( property="al:ios:app_store_id" content='703796080' )
//- meta( property="al:ios:url" content="#{sd.APP_URL}#{sd.CURRENT_PATH}" )
meta( property="fb:admins" content="7961740")
meta( property="fb:app_id" content="308278682573501")
meta( property="fb:pages" content="342443413406")
script( type="text/javascript" )
  include ../../../../../node_modules/scroll-frame/scroll-frame-head.js

//- Don't include fonts if Reflection is requesting it
if sd.BROWSER && sd.BROWSER.family != 'Other'
  link( type='text/css', rel='stylesheet', href='#{sd.WEBFONT_URL}/all-webfonts.css')

//- TTI measurement
script( type="text/javascript" )
  include ../../../../lib/tti-init.js
