include ../../prevent_right_click/index
!= newRelicHead
link( rel='apple-touch-icon', href=asset('/images/icon-152.png') )
link( rel='apple-touch-icon', sizes='120x120', href=asset('/images/icon-120.png') )
link( rel='apple-touch-icon', sizes='152x152', href=asset('/images/icon-152.png') )
link( rel='apple-touch-icon', sizes='76x76', href=asset('/images/icon-76.png') )
link( rel='icon', type='image/png', href=asset('/images/favicon.ico') )
link( rel='search', type='application/opensearchdescription+xml', href=asset('/images/opensearch.xml'), title='Artsy' )
meta( charset='utf-8' )
meta( name="apple-itunes-app" content="app-id=703796080, app-argument=#{sd.APP_URL}#{sd.CURRENT_PATH}" )
meta( name='msapplication-config', content=asset('/images/browserconfig.xml') )
meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=5' )
meta( property="al:ios:app_name" content='Artsy' )
meta( property="al:ios:app_store_id" content='703796080' )
meta( property="al:ios:url" content="#{sd.APP_URL}#{sd.CURRENT_PATH}" )
meta( property="fb:admins" content="7961740")
meta( property="fb:app_id" content="308278682573501")
meta( property="fb:pages" content="342443413406")
script( type="text/javascript" )
  include ../../../../../node_modules/scroll-frame/scroll-frame-head.js

//- Don't include fonts if Reflection is requesting it
if sd.BROWSER && sd.BROWSER.family != 'Other'
  link( type='text/css', rel='stylesheet', href='#{sd.WEBFONT_URL}/force-webfonts.css?a=b')
  link( rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link( rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")

//- Criteo marketing tag... no Segment integration (  ._.)
script(type='text/javascript', src='//static.criteo.net/js/ld/ld.js', async='true')

//- Marketo munchkin
if options.marketo
  script(type='text/javascript').
    (function() {
    var didInit = false;
    function initMunchkin() {
    if(didInit === false) {
    didInit = true;
    Munchkin.init('609-FDY-207', { asyncOnly: true } );
    }
    }
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//munchkin.marketo.net/munchkin.js';
    s.cookieAnon = false;
    s.onreadystatechange = function() {
    if (this.readyState == 'complete' || this.readyState == 'loaded') {
    initMunchkin();
    }
    };
    s.onload = initMunchkin;
    document.getElementsByTagName('head')[0].appendChild(s);
    })();
