//- Override any locals with `append locals`
block locals
  - bodyClass = helpers ? helpers.buildBodyClass(sd, 'body-header-fixed minimal-header') : ''
  - defaultOptions = {modal: true, flash: true, stripev3: false, sailthru: true, marketo: true, quantcast: false}
- options = options ? Object.assign({}, defaultOptions, options) : defaultOptions

doctype html
html( data-useragent= userAgent lang="en")
  head
    include head
    block head
    link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )
    if assetPackage
      link( type='text/css', rel='stylesheet', href=asset('/assets/#{assetPackage}.css') )

  body( class=bodyClass )
    -if (!hideHeaderOnEigen)
      include ../header/templates/minimal_header
    include ../../modal/template
    include ../../flash/template

    #main-layout-container
      block body

    #scripts
      //- Don't replace this block, rather prepend or append!
      block scripts
        include scripts

        script( src= asset('/assets/main_layout.js') )

        if assetPackage
          script( src=asset('/assets/#{assetPackage}.js') )
