//- Override any locals with `append locals`
block locals
  - bodyClass = helpers ? helpers.buildBodyClass(sd, 'body-header-fixed') : '';
  - defaultOptions = {modal: true, flash: true, stripev3: false, sailthru: true, marketo: true, quantcast: false}
  - options = options ? Object.assign({}, defaultOptions, options) : defaultOptions

doctype html
html(
  data-useragent=userAgent
  data-user-type=sd.CURRENT_USER && sd.CURRENT_USER.type
  data-lab-features=sd.CURRENT_USER && sd.CURRENT_USER.lab_features && sd.CURRENT_USER.lab_features.join(',')
  lang="en"
)
  head
    include head
    block head

    link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )

    if !styledComponents
      if assetPackage
        link( type='text/css', rel='stylesheet', href=asset('/assets/#{assetPackage}.css') )

  body( class=bodyClass )
    //- Global component mixins
    include ../../modal/template
    include ../../flash/template

    //- Header, body block, footer
    include ../header/templates/index

    #main-layout-container
      block body

    #scroll-frame-spinner: .loading-spinner

    //- Javascripts
    #scripts
      //- Don't replace this block, rather prepend or append!
      block scripts

        include scripts
        script( src= asset('/assets/main_layout.js') )

        if assetPackage
          script( src=asset('/assets/#{assetPackage}.js') )

