- defaultOptions = {grecaptcha: true, stripev3: false, marketo: true}
- options = options ? Object.assign({}, defaultOptions, options) : defaultOptions

//- Common bundle
script( src=asset("/assets/legacy-runtime.js") )
script( src=asset("/assets/legacy-common.js") )
script( src=asset("/assets/legacy-artsy-common.js") )
script( src=asset("/assets/legacy-common-backbone.js") )
script( src=asset("/assets/legacy-common-jquery.js") )
script( src=asset("/assets/legacy-common-react.js") )
script( src=asset("/assets/legacy-common-utility.js") )
script( src=asset("/assets/legacy-artsy.js") )

//- Marketo Tracking
if options.marketo && !sd.THIRD_PARTIES_DISABLED
  script(type='text/javascript', src='https://d1s2w0upia4e9w.cloudfront.net/assets/conversionpath-0.3.8.min.js').
    {
    "nolog": true,
    "stageMappings": {
      "initial": [
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_First_Channel__c"
        },
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_First_Medium__c"
        },
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_First_Source_Detail__c"
        }
      ],
      "rolling": [
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_Acquisition_Channel__c"
        },
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_Acquisition_Medium__c"
        },
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_Acquisition_Source_Detail__c"
        }
      ],
      "recent": [
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_Recent_Channel__c"
        },
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_Recent_Medium__c"
        },
        {
          "when": "{referrer.domain}",
          "matches": "{internal.domain}",
          "skip": "RC_Recent_Source_Detail__c"
        }
      ]
    },
    "nameMappings": {
      "RC_First_Medium__c": "utm_medium_First_Touch__c",
      "RC_First_Source__c": "utm_source_First_Touch__c",
      "RC_First_Campaign__c": "utm_campaign_First_Touch__c",
      "RC_First_Term__c": "utm_term_First_Touch__c",
      "RC_First_Content__c": "utm_content_First_Touch__c",
      "RC_First_Source_Detail__c": "Web_Referrer_First_Touch__c",
      "RC_Acquisition_Medium__c": "utm_medium_Lead_Creation__c",
      "RC_Acquisition_Source__c": "utm_source_Lead_Creation__c",
      "RC_Acquisition_Campaign__c": "utm_campaign_Lead_Creation__c",
      "RC_Acquisition_Term__c": "utm_term_Lead_Creation__c",
      "RC_Acquisition_Content__c": "utm_content_Lead_Creation__c",
      "RC_Acquisition_Source_Detail__c": "Web_Referrer_Lead_Creation__c",
      "RC_Recent_Medium__c": "utm_medium_Most_Recent__c",
      "RC_Recent_Source__c": "utm_source_Most_Recent__c",
      "RC_Recent_Campaign__c": "utm_campaign_Most_Recent__c",
      "RC_Recent_Term__c": "utm_term_Most_Recent__c",
      "RC_Recent_Content__c": "utm_content_Most_Recent__c",
      "RC_Recent_Source_Detail__c": "Web_Referrer_Most_Recent__c"
    },
    "cookies": {
      "useCompatibleNames": false
    },
    "session": {
      "duration": {
        "recent": 30
      },
      "internalDomains": {
        "alternates": [
          "artsy.space",
          "artsy.info"
        ]
      },
      "prioritizeNonDirect": {
        "recent": true
      }
    }
    }

//- Disable Parsely on non-article pages before loading Segment
if !sd.THIRD_PARTIES_DISABLED
  script( type="text/javascript" ).
    if (!location.pathname.match(new RegExp("#{sd.EDITORIAL_PATHS}"))){
      window.PARSELY = {autotrack: false}
    }

//- Segment.io
if !sd.THIRD_PARTIES_DISABLED
  script( type="text/javascript" ).
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("#{sd.SEGMENT_WRITE_KEY}");
    }}();

if !sd.THIRD_PARTIES_DISABLED
  script( type="text/javascript" ).
    ;(function(z,i,p,c,o,d,e){z[c]||(z[c]=function(){(z[c].q=z[c].q||[]).push(arguments)},z[c].q=z[c].q||[],d=i.createElement(p),d.async=1,d.src=o,e=i.getElementsByTagName(p)[0],e.parentNode.insertBefore(d,e))})(window,document,"script","letterpress","//scripts.postie.com/exxiuhdt/lp.1.js");window.letterpress('trackPageView');

//- Wire up sharify
if sharify
  != sharify.script()

//- Stripe
if !sd.THIRD_PARTIES_DISABLED
  if options.stripev3
    script(id="stripe-js", src="https://js.stripe.com/v3/")
  else
    script(id="stripe-js", src="https://js.stripe.com/v3/", async defer)

//- Analytics & common asset package
if sd.BROWSER && sd.BROWSER.family != 'Other' && !sd.THIRD_PARTIES_DISABLED
  script( src=asset('/assets/legacy-analytics.js') )

//- Prefetch links on hover. See: https://instant.page/
if sd.ENABLE_INSTANT_PAGE && !sd.THIRD_PARTIES_DISABLED
  include instant-page

//- Google reCAPTCHA
if options.grecaptcha && sd.RECAPTCHA_KEY && !sd.EIGEN && !sd.THIRD_PARTIES_DISABLED
  script( type="text/javascript" ).
    var loadGrecaptchaOnHome = function() {
      if (sd.PAGE_TYPE === 'home') {
        grecaptcha.execute(sd.RECAPTCHA_KEY, {action: 'homepage'})
      }
    }
  script(id="google-recaptcha" src="https://www.google.com/recaptcha/api.js?onload=loadGrecaptchaOnHome&render=#{sd.RECAPTCHA_KEY}" async defer)


if !sd.THIRD_PARTIES_DISABLED && sd.SIFT_BEACON_KEY
  script( type="text/javascript" ).
    var _sift = window._sift = window._sift || [];
    _sift.push(['_setAccount', '#{sd.SIFT_BEACON_KEY}']);
    _sift.push(['_setUserId', '#{sd.CURRENT_USER ? sd.CURRENT_USER.id : ''}']);
    _sift.push(['_setSessionId', '#{sd.SESSION_ID}']);
    _sift.push(['_trackPageview']);

    (function() {
      function ls() {
        var e = document.createElement('script');
        e.src = 'https://cdn.sift.com/s.js';
        document.body.appendChild(e);
      }
      if (window.attachEvent) {
        window.attachEvent('onload', ls);
      } else {
        window.addEventListener('load', ls, false);
      }
    })();
