if artist.articles && artist.articles.length
  for article in artist.articles.slice(0,3)
    a.artwork-artist__content__article(href=article.href)
      if article.thumbnail_image && article.thumbnail_image.cropped && article.thumbnail_image.cropped.url
        .artwork-artist__content__article-thumbnail
          img(src=article.thumbnail_image.cropped.url)
      .artwork-artist__content__article-text
        p= article.title
        p= article.author.name

if artist.articles.length > 3
  a.artwork-artist__content__article-link(href=artist.href + '/articles')
    .avant-garde-button-white.is-small See All Articles
