- var aggregateLabelMap = {'price_range' : 'Price', 'dimension_range' : 'Size', 'medium' : 'Medium'}

mixin filter-dropdown(mainText, plural, attr, values, hrefRoot)
  .filter-dropdown(id="filter-dropdown-#{attr}")
    .filter-nav-main-text= mainText
    .filter-nav-active-text
    .icon-arrow-down
    nav.filter-dropdown-nav
      a( data-attr=attr, data-val='', href='' )
        span.filter-dropdown-text= "All " + plural + "s"
        span.filter-dropdown-count
        span.icon-check
      for key, val in values
        if key && val
          a(
            data-attr=attr
            data-val=val
            href=(
              hrefRoot && hrefRoot.match('booths') ?
              "#{hrefRoot}/#{attr}/#{val}" :
              "#{hrefRoot ? hrefRoot : sd.CURRENT_PATH + '/artworks'}?#{attr}=#{val}"
            )
          )
            span.filter-dropdown-text= key.name
            span.filter-dropdown-count
            span.icon-check
