include meta

.buy-art-header( style="background-image: url(#{header.image});" )
  .buy-art-responsive-layout-container
    .buy-art-main-layout-container
      .buy-art-header__content
        .buy-art-header__title.buy-art-text-center-on-mobile= header.headline
        .buy-art-show-on-desktop
          .buy-art-header__signup-buttons
            a.ba__email-signup-button( href='/signup' )
              img.buy-art__svg-icon(src=header.email_icon)
              | Sign up using email
            a.ba__facebook-signup-button( href='/users/auth/facebook?redirect-to=/personalize' )
              i.icon-facebook
              | Sign up with Facebook
        .buy-art-show-on-mobile.buy-art-text-center-on-mobile
          a.buy-art-signup-button( href='/signup' )
            | Sign up

      i.icon-logotype
      .buy-art-header__chevron
        i.icon-chevron-right

.buy-art-intro
  .buy-art-intro__mobile-background-image.buy-art-show-on-mobile( style="background-image: url(#{sections[0].mobile_image});" )
  .buy-art-intro__desktop-background-image.buy-art-show-on-desktop( style="background-image: url(#{sections[0].image});" )

  .buy-art-intro__content
    .buy-art-intro__title= sections[0].headline
    .buy-art-intro__subtitle= sections[0].sub_headline
    .buy-art-intro__stat_container
      each stat in sections[0].stats
        .buy-art-intro__stat
          .buy-art-intro__stat-number= stat.number
          .buy-art-intro__desktop-type.buy-art-show-on-desktop= stat.desktop_type
          .buy-art-intro__mobile-type.buy-art-show-on-mobile= stat.mobile_type
    .buy-art-intro__signup-button-container
      a.buy-art-signup-button( href='/signup' )
        | Sign up

.buy-art-benefits
  .buy-art-responsive-layout-container
    .buy-art-main-layout-container.collector-marketing.buy-art-text-center-on-mobile
      .row
        .col-xs-12.col-lg-6
          .buy-art-benefits__title.buy-art-text-center-on-mobile= sections[1].headline
          a.buy-art-signup-button( href='/signup' )
            | Sign up
          .buy-art-benefits__benefits-container.collector-marketing
            each benefit in sections[1].benefits
              .buy-art-benefits__items.row
                .col-xs-12.col-lg-2
                  img(src=benefit.image)
                .col-xs-12.col-lg-10
                  .buy-art-benefits__info-subtitle= benefit.title
                  .buy-art-benefits__info-content= benefit.content
        .col-xs-12.col-lg-6.buy-art-benefits__image-section
          img( src=sections[1].image )

.buy-art-faqs
  .buy-art-responsive-layout-container
    .buy-art-main-layout-container
      .buy-art-faqs__image-banner
        img(src=sections[2].image)
      .buy-art-faqs__title=sections[2].headline
      .buy-art-faqs__items-container.collector-marketing
        .row
          each faq in sections[2].faqs
            .col-xs-12.col-lg-6
              .buy-art-faqs__item-grid
                .buy-art-faqs__item-title= faq.title
                .buy-art-faqs__item-content= faq.content
          .col-xs-12.col-lg-6.buy-art-text-center-on-mobile
            a.buy-art-signup-button( href='/signup' )
              | Sign up

.buy-art-footer
  .buy-art-footer__mobile-background-image.buy-art-show-on-mobile( style="background-image: url(#{footer.mobile_image});" )
  .buy-art-footer__desktop-background-image.buy-art-show-on-desktop( style="background-image: url(#{footer.image});" )

  .buy-art-responsive-layout-container
    .buy-art-main-layout-container.buy-art-text-center-on-mobile
      .buy-art-footer__title= footer.headline
      .buy-art-show-on-desktop
        .buy-art-footer__signup-buttons
          a.ba__email-signup-button( href='/signup' )
            img.buy-art__svg-icon(src=header.email_icon)
            | Sign up using email
          a.ba__facebook-signup-button( href='/users/auth/facebook?redirect-to=/personalize' )
            i.icon-facebook
            | Sign up with Facebook
      .buy-art-show-on-mobile
        a.buy-art-signup-button( href='/signup' )
          | Sign up
      i.icon-logo
