h1.contact-modal-h1 Send message to Artsy

.contact-modal-body
  p #{representative.get('name')}, an Artsy Specialist, is available to answer
    |  your questions and help you collect through Artsy.

form.modal-contact-form.stacked-form
  input( type='hidden', name='url', value= window.location.href )
  textarea.bordered-input.is-persistplaceholder(
    name= 'message'
    placeholder= placeholder
    rows= '7'
    required
  )
  if user && user.id
    //- Logged in
    .stacked-form-cell
      | From: #{user.get('name')}
      = ' '
      span.mcf-email (#{user.get('email')})
      //- If the user is logged in; we don't need to post name/email
  else
    //- Logged out
    input.bordered-input.is-persistplaceholder(
      type= 'text'
      name= 'user_name'
      placeholder= 'Your name'
    )
    input.bordered-input(
      type= 'email'
      name= 'user_email'
      placeholder= 'Your email address'
      required
    )

    p.modal-contact-privacy
      | By clicking send, you accept our
      = ' '
      a( href='/privacy', target='_blank' ) Privacy Policy
      | .

  button#modal-contact-submit.avant-garde-box-button.avant-garde-box-button-black( href='#', data-state='ok' )
    | Send
