<!DOCTYPE html>
<html>

<head>
  <% if (env === 'production') { %>
  <link rel="preload" href="<%= manifest.artsy %>" as="script">
  <link rel="preload" href="<%= manifest.artsyCommon %>" as="script">
  <link rel="preload" href="<%= manifest.artsyNovo %>" as="script">
  <link rel="preload" href="<%= manifest.common %>" as="script">
  <link rel="preload" href="<%= manifest.commonReact %>" as="script">
  <link rel="preload" href="<%= manifest.commonUtility %>" as="script">
  <link rel="preload" href="<%= manifest.runtime %>" as="script">
  <% } %>
  <%- content.head %>
  <%- content.style %>
  <%- content.data %>
</head>

<body>
  <% if (env === 'production') { %>
  <script type="text/javascript" src="<%= manifest.runtime %>"></script>
  <script type="text/javascript" src="<%= manifest.common %>"></script>
  <script type="text/javascript" src="<%= manifest.artsyCommon %>"></script>
  <script type="text/javascript" src="<%= manifest.commonReact %>"></script>
  <script type="text/javascript" src="<%= manifest.commonUtility %>"></script>
  <script type="text/javascript" src="<%= manifest.artsy %>"></script>
  <% } %>

  <%- content.scripts %>

  <div id="react-modal-container"></div>
  <div id="react-root"><%- content.body %></div>

  <% if (env === 'production') { %>
  <script type="text/javascript" src="<%= manifest.artsyNovo %>"></script>
  <% } %>

  <% if (!sd.EIGEN) { %>
  <style type="text/css">
    .grecaptcha-badge {
      visibility: hidden;
    }
  </style>
  <script id="google-recaptcha" src="https://www.google.com/recaptcha/api.js?render=<%= sd.RECAPTCHA_KEY %>"
    defer></script>
  <% } %>
</body>

</html>
