- attachment = post.get('featured_posts_thumbnail')
- profile = post.profile()

if attachment && (attachment.get('type') === 'PostArtwork')
  - src = attachment.artwork().defaultImage().cropUrlFor({ width: 250, height: 167 })
else
  - src = attachment.cropUrlFor({ width: 250, height: 167 })

.grid-item.post-featured-post-item( data-id=post.id )
  if attachment
    a.hoverable-image-link( href=post.href(), data-attachment=attachment.id )
      img( src= src )
  if post.get('title')
    h2.pfpi-title: a( href=post.href() )!= post.get('title')
  if post.has('profile')
    a.pfpi-author( href=profile.href() )= profile.displayName()
