mixin artists-a-to-z
  - aToZGroup = artistsAToZGroup
  if aToZGroup
    h1.large-garamond-header
      | Artists at #{fair.get('name')}
    section.fair-artists-list.a-to-z-container
      include ../../../../components/a_to_z_list/template

mixin exhibitors-a-to-z
  - aToZGroup = exhibitorsAToZGroup
  if aToZGroup
    h1.large-garamond-header
      | All Exhibitors at #{fair.get('name')}
    a#fair-booths-as-grid.faux-underline(
      href="#{fair.href()}/browse/booths"
    ) Show as Grid View
    section.fair-exhibitors-list.a-to-z-container
      include ../../../../components/a_to_z_list/template

#fair-browse( data-section='booths' )
  #fair-browse-header
    .filter-fixed-header-nav
      include ../booths/nav
      label By Work:
      include ../../../../components/filter2/dropdown_group/template
      label By Artists:
      a#fair-filter-all-artists.filter-button(
        href="#{fair.href()}/browse/artists"
      ) All Artists
  .browse-sections.main-layout-container
    .browse-section.artists-a-to-z
      +artists-a-to-z
    .browse-section.exhibitors-a-to-z
      +exhibitors-a-to-z
    include ../booths/section
    .browse-section.artworks
      h1.large-garamond-header
      .artworks
        h1#fair-browse-artworks-header.large-garamond-header
        include ../../../../components/filter2/template
    .browse-section.artist
      h1.large-garamond-header
      .feed
