extends ../../../components/main_layout/templates/index
include ../../../components/article_figure/mixin

block head
  include meta/articles

append locals
  - assetPackage = 'articles'

block body
  if vertical
    header.articles-vertical-notice-header.main-layout-container
      a.articles-vertical-notice-header-thumbnail( href=vertical.get('slug') )
        img( src=vertical.get('thumbnail_url') )
        .articles-vertical-notice-header-thumbnail-text
          h3 Featured Coverage
          h4= vertical.get('title')
      if vertical.get('partner_logo_url')
        .articles-vertical-notice-header-partner-logo
          p In partnership with
          a( href=vertical.get('partner_website_url') target='_blank' )
            img( src= vertical.get('partner_logo_url') )
      .articles-vertical-notice-header-explore
        a( href=vertical.get('slug') ) Explore
        .icon-chevron-small-right
  include full_feed

include ../../../components/main_layout/templates/json_ld