extends ../../../components/main_layout/templates/index
include ./mixin

block head
  include meta/article

append locals
  - assetPackage = 'articles'

block body
  #articles-show.main-layout-container

    //- Section header
    if article.get('section_ids').length
      header.articles-section-show-header
        section
          .articles-section-show-header-left
            h2
              a( href='/' + section.get('slug') )= section.get('title')
            h4= section.get('slogan')
            if section.get('partner_logo_url')
              h3 In Partnership With
              a( href=section.get('partner_website_url') target='_blank' )
                img( src=section.get('partner_logo_url') )
          .articles-section-show-header-right
            button.articles-section-left-chevron.icon-chevron-small-left
            ul
              for link in section.get('featured_links')
                li
                  a( href=link.url )
                    img( src=resize(link.thumbnail_url, {
                      height: 80, width: 120 }) )
                    p= link.title
              //- Fills sticky nav with tier 1 articles if not enough featured links
              +remainingStickies(section, allSectionArticles, 120, 80)
            button.articles-section-right-chevron.icon-chevron-small-right

    //- Article body
    #articles-body-container
      include ../../../components/article/templates/index

    if sd.SCROLL_ARTICLE === "infinite"
      #article-loading: .loading-spinner

  if sd.SCROLL_ARTICLE === "static"
    //- Article footer content
    section#articles-footer
      if article.get('section_ids').length
        if article.get('section_ids')[0] === '55550be07b8a750300db8430'
          .articles-insights-show
            include gallery_insights_form
        h1 More From #{section.get('title')}
        ul#articles-footer-list
          for sectionArticle in allSectionArticles.models
            unless article.id === sectionArticle.get('id')
              +article-figure(sectionArticle, 440, false, false)
      else
        h3 What to Read Next
        ul#articles-footer-list
          for footerArticle in footerArticles.models
            unless article.id === footerArticle.get('id')
              +article-figure(footerArticle, 440, false, false)

  include ../../../components/main_layout/templates/json_ld
