title= article.get('thumbnail_title')
meta( property="og:title", content=article.get('thumbnail_title') )
meta( name="description", content=article.get('thumbnail_teaser') )
meta( property="og:description", content=article.get('thumbnail_teaser') )
meta( property="twitter:description", content=article.get('thumbnail_teaser') )
link( rel="canonical", href=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="og:url", content=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="og:type", content="article" )
meta( property="og:published_time", content=article.get('published_at') )
meta( property="twitter:card", content="summary_large_image" )
meta( property="og:image", content=article.get('thumbnail_image') )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name='fragment', content='!' )
