extends ../../../components/main_layout/templates/index

block head
  include meta/article

append locals
  - assetPackage = 'articles'

block body
  #articles-show.main-layout-container

    //- Verical header
    if article.get('vertical_id')
      header.articles-vertical-show-header
        section
          .articles-vertical-show-header-left
            h2
              a( href='/' + vertical.get('slug') )= vertical.get('title')
            h4= vertical.get('slogan')
            if vertical.get('partner_logo_url')
              h3 In Partnership With
              a( href=vertical.get('partner_website_url') target='_blank' )
                img( src=vertical.get('partner_logo_url') )
          .articles-vertical-show-header-right
            button.articles-vertical-left-chevron.icon-chevron-small-left
            ul
              for link in vertical.get('featured_links')
                li
                  a( href=link.url )
                    img( src=resize(link.thumbnail_url, {
                      height: 80, width: 120 }) )
                    p= link.title
            button.articles-vertical-right-chevron.icon-chevron-small-right

    //- Article body
    #articles-body-container
      include ../../../components/article/templates/index

  //- Article footer content
  section#articles-footer
    if article.get('vertical_id')
      if article.get('vertical_id') == '55550be07b8a750300db8430'
        .articles-insights-show
          include gallery_insights_form
      h1 More From #{vertical.get('title')}
      ul#articles-footer-list
        for verticalArticle in allVerticalArticles.models
          unless article.id === verticalArticle.get('id')
            +article-figure(verticalArticle, 220, false, false)
    else
      h1 What to Read Next
      ul#articles-footer-list
        for footerArticle in footerArticles.models
          unless article.id === footerArticle.get('id')
            +article-figure(footerArticle, 220, false, false)
