include ./share

extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'articles'

block body
  #articles-show
    h1.large-garamond-header= article.get('title')
    h2#articles-show-author= author.get('name')
    h2#articles-show-date
      = moment(article.get('published_at')).format('MMM Do, YYYY h:mm a')
    .articles-social
      +share(article.get('title'), article.get('thumbnail_image'))
    #articles-lead-paragraph!= article.get('lead_paragraph')

    if article.get('sections')[0].type == 'slideshow'
      #articles-slideshow-container
        #articles-slideshow-inner
    for section, i in article.get('sections')
      case section.type
        when 'text'
          .articles-section-text!= section.body
        when 'image'
          figure.articles-section-image
            img( src=section.url )
            figcaption!= section.caption
        when 'artworks'
          ul.articles-section-artworks( data-layout=section.layout )
            for id in section.ids
              li.articles-section-artworks-loading( data-id=id )
                .loading-spinner
        when 'video'
          .articles-section-video
            != embedVideo(section.url)
    .articles-social.add-bottom
      h2.articles-social__header Share this article
      +share(article.get('title'), article.get('thumbnail_image'))
  section#articles-footer
    h1 What to Read Next
    ul#articles-footer-list
      for article in footerArticles
        li
          .articles-footer-list-left
            a( href="/article/#{article.get('slug')}" )
              img( src=article.get('thumbnail_image') )
          .articles-footer-list-right
            h2
              a( href="/article/#{article.get('slug')}" )
                = article.get('thumbnail_title')
            //- TODO: Hack for now, we need to save author data on the
            //- Positron article to avoid fetches every time.
            h3: a( href="/editorial" ) By Artsy Editorial
