//- partner, imageUrl
- var profile = partner.related().profile

a.partner-featured-image.hoverable-image-link(
  href= profile.href()
)
  .hoverable-image.is-three-two(
    class= imageUrl ? "" : "is-missing"
    data-initials= partner.defaultIconInitials()
    style=(imageUrl ? "background-image: url(#{imageUrl});" : undefined)
  )

.partner-cell-metadata
  .partner-cell-metadata-text
    a.partner-cell-name.avant-garde-header( href= profile.href() )= partner.get('name')
    .partner-cell-location=partner.displayLocations() || ""
  button.partner-cell-follow-button.avant-garde-button-white.is-small.follow-button( data-id= profile.get('id') )