.grouped-section
  .gs-header: h2 Information
  .gs-body: .gs-constrain
    #settings-account-details
      .settings-form-errors
        //- Rendered elsewhere

      form.stacked-form
        label.avant-garde-form-label( for='settings-user-name' ) Full Name
        input#settings-user-name.bordered-input(
          type='text'
          value=user.get('name')
          name='name'
          required
        )

        label.avant-garde-form-label( for='settings-user-email' ) Email
        input#settings-user-email.bordered-input(
          type='email'
          value=user.get('email')
          name='email'
          required
        )

        label.avant-garde-form-label( for='settings-user-phone' ) Phone Number
        input#settings-user-phone.bordered-input( type='tel', value=user.get('phone'), name='phone' )

        hr.is-invisible

        .is-center-aligned: button#settings-account-submit.avant-garde-button-white
          | Save Changes

.grouped-section
  .gs-header: h2 Password
  .gs-body: .gs-constrain
    #settings-change-password-current.stacked-form
      label.avant-garde-form-label( for="user-new-password" ) Current Password
      input.bordered-input( type="password", placeholder="●●●●●●●", disabled )

      hr.is-invisible

      .is-center-aligned: a.avant-garde-button-white.settings-toggle-password
        | Create New Password

    #settings-change-password-new
      .settings-form-errors
        //- Rendered elsewhere
      form.stacked-form
        label.avant-garde-form-label( for='user-current-password' ) Current Password
        input#user-current-password.bordered-input(
            name= 'current_password'
            type= 'password'
            autocomplete= 'on'
            pattern= '.{6,}'
            title= '6 characters minimum'
            autofocus
            required
        )

        label.avant-garde-form-label( for='user-new-password' ) New Password
        input#user-new-password.bordered-input(
            name= 'new_password'
            type= 'password'
            autocomplete= 'on'
            pattern= '.{6,}'
            title= '6 characters minimum'
            required
        )

        label.avant-garde-form-label( for='user-password-confirmation' ) Repeat New Password
        input#user-password-confirmation.bordered-input(
            name= 'password_confirmation'
            type= 'password'
            autocomplete= 'on'
            pattern= '.{6,}'
            title= '6 characters minimum'
            required
        )

        hr.is-invisible

        .is-center-aligned
          button.avant-garde-button-black
            | Save Changes
          .button-separator
          a.avant-garde-button-white.settings-toggle-password
            | Cancel

.grouped-section
  .gs-header: h2 Linked Accounts
  .gs-body: .gs-constrain
    #settings-auth-errors.settings-form-errors
      //- Rendered elsewhere

    for service in ['Twitter', 'Facebook']
      .settings-split
        .ss-left
          | Link my account to #{service}
          br
          em This allows you to login with #{service}

        - connected = user.isLinkedTo(service.toLowerCase()) ? 'connected' : 'disconnected'
        .ss-right: a.avant-garde-button-white.settings-toggle-service(
          id="#user-link-#{service.toLowerCase()}"
          data-service=service.toLowerCase()
          data-connected=connected
        )
          i( class="icon-#{service.toLowerCase()}" )

.grouped-section
  .gs-header: h2 Email
  .gs-body: .gs-constrain
    #settings-email-preferences: form
      .settings-split
        .ss-left.settings-checkbox-label Weekly featured content from Artsy
        .ss-right: .artsy-checkbox
          input(
            type='checkbox'
            id='receive_weekly_email'
            name='receive_weekly_email'
            checked= user.checked('receive_weekly_email')
          )
          label( for='receive_weekly_email' )
      .settings-split
        .ss-left.settings-checkbox-label Weekly personalized email
        .ss-right: .artsy-checkbox
          input(
            type='checkbox'
            id='receive_personalized_email'
            name='receive_personalized_email'
            checked= user.checked('receive_personalized_email')
          )
          label( for='receive_personalized_email' )
      .settings-split
        .ss-left.settings-checkbox-label When I have new followers
        .ss-right: .artsy-checkbox
          input(
            type='checkbox'
            id='receive_follow_users_email'
            name='receive_follow_users_email'
            checked= user.checked('receive_follow_users_email')
          )
          label( for='receive_follow_users_email' )
      .settings-split
        .ss-left.settings-checkbox-label Occasional buying opportunities
        .ss-right: .artsy-checkbox
          input(
            type='checkbox'
            id='receive_offer_emails'
            name='receive_offer_emails'
            checked= user.checked('receive_offer_emails')
          )
          label( for='receive_offer_emails' )
      .settings-split
        .ss-left.settings-checkbox-label Personalized Artists and Artworks Emails
        .ss-right: .artsy-checkbox
          input(
            type='checkbox'
            id='receive_personalized_artists_email'
            name='receive_personalized_artists_email'
            checked= user.checked('receive_personalized_artists_email')
          )
          label( for='receive_personalized_artists_email' )
      .settings-split
        .ss-left.settings-checkbox-label Receive_Personalized Show Guide
        .ss-right: .artsy-checkbox
          input(
            type='checkbox'
            id='receive_personalized_show_email'
            name='receive_personalized_show_email'
            checked= user.checked('receive_personalized_show_email')
          )
          label( for='receive_personalized_show_email' )

      hr.is-invisible

      .is-center-aligned: button.avant-garde-button-white.settings-submit
        | Save Changes

a.settings-disable-link.garamond-button-text( href='/user/delete' ) Delete Account
