mixin checkbox(name, label)
  .settings-split.artsy-checkbox
    .ss-left
      label.settings-checkbox-label.artsy-checkbox--label( for= name )
        = label
    .ss-right: .artsy-checkbox--checkbox
      input(
        type='checkbox'
        id= name
        name= name
        checked= user.checked(name)
        disabled= disabled
      )
      label( for= name )

.grouped-section
  .gs-header: h2 Information
  .gs-body: .gs-constrain
    #settings-account-details
      .settings-form-errors
        //- Rendered elsewhere

      form.stacked-form
        label.avant-garde-form-label( for='settings-user-name' ) Full Name
        input#settings-user-name.bordered-input(
          type='text'
          value=user.get('name')
          name='name'
          required
        )

        label.avant-garde-form-label( for='settings-user-email' ) Email
        input#settings-user-email.bordered-input(
          type='email'
          value=user.get('email')
          name='email'
          required
        )

        label.avant-garde-form-label( for='settings-user-phone' ) Mobile Number
        input#settings-user-phone.bordered-input( type='tel', value=user.get('phone'), name='phone' )

        if user.get('paddle_number')
          label.avant-garde-form-label( for='settings-user-bidder-number' ) Bidder Number
          label.user-bidder-number= user.get('paddle_number')

        hr.is-invisible

        .is-center-aligned: button#settings-account-submit.avant-garde-button-white
          | Save Changes

.grouped-section
  .gs-header: h2 Password
  .gs-body: .gs-constrain
    #settings-change-password-current.stacked-form
      label.avant-garde-form-label( for="user-new-password" ) Current Password
      input.bordered-input( type="password", placeholder="●●●●●●●", disabled )

      hr.is-invisible

      .is-center-aligned: a.avant-garde-button-white.settings-toggle-password
        | Create New Password

    #settings-change-password-new
      .settings-form-errors
        //- Rendered elsewhere
      form.stacked-form
        label.avant-garde-form-label( for='user-current-password' ) Current Password
        input#user-current-password.bordered-input(
            name= 'current_password'
            type= 'password'
            autocomplete= 'on'
            pattern= '.{6,}'
            title= '6 characters minimum'
            autofocus
            required
        )

        label.avant-garde-form-label( for='user-new-password' ) New Password
        input#user-new-password.bordered-input(
            name= 'new_password'
            type= 'password'
            autocomplete= 'on'
            pattern= '.{6,}'
            title= '6 characters minimum'
            required
        )

        label.avant-garde-form-label( for='user-password-confirmation' ) Repeat New Password
        input#user-password-confirmation.bordered-input(
            name= 'password_confirmation'
            type= 'password'
            autocomplete= 'on'
            pattern= '.{6,}'
            title= '6 characters minimum'
            required
        )

        hr.is-invisible

        .is-center-aligned
          button.avant-garde-button-black
            | Save Changes
          .button-separator
          a.avant-garde-button-white.settings-toggle-password
            | Cancel

.grouped-section
  .gs-header: h2 Linked Accounts
  .gs-body: .gs-constrain
    #settings-auth-errors.settings-form-errors
      //- Rendered elsewhere

    for service in ['Twitter', 'Facebook']
      .settings-split
        .ss-left
          | Link my account to #{service}
          br
          em This allows you to login with #{service}

        - connected = user.isLinkedTo(service.toLowerCase()) ? 'connected' : 'disconnected'
        .ss-right: a.avant-garde-button-white.settings-toggle-service(
          id="#user-link-#{service.toLowerCase()}"
          data-service=service.toLowerCase()
          data-connected=connected
        )
          i( class="icon-#{service.toLowerCase()}" )

.grouped-section
  .gs-header: h2 Email
  .gs-body: .gs-constrain
    #settings-email-preferences: form
      +checkbox('receive_emails', 'Receive Emails')
      .email_subscriptions
        +checkbox('receive_weekly_email', 'Weekly featured content from Artsy')
        +checkbox('receive_personalized_email', 'Weekly personalized email')
        +checkbox('receive_follow_users_email', 'When I have new followers')
        +checkbox('receive_offer_emails', 'Occasional buying opportunities')

      hr.is-invisible

      .is-center-aligned: button.avant-garde-button-white.settings-submit
        | Save Changes

a.settings-disable-link.garamond-button-text( href='/user/delete' ) Delete Account
