mixin settings-section(id, name, label)
  .settings-section(
    class='js-settings-section'
    id= id
    data-id= id
    data-name= label || name
  )
    h2.settings-section__name
      = name
    .settings-section__main(
      class='js-settings-section__main--#{id}'
    )
      div( class='settings-#{id}' )
        block
