form( action='https://' + uploadBucket + '.s3.amazonaws.com', enctype='multipart/form-data', method='post' )
  input( type="hidden", name="key", value=key )
  input( type="hidden", name="AWSAccessKeyId", value=s3Key ) 
  input( type="hidden", name="acl", value=acl )
  input( type="hidden", name="success_action_status", value=successAction )
  input( type="hidden", name="policy", value=base64Policy )
  input( type="hidden", name="Content-Type", value="" )
  input( type="hidden", name="signature", value=signature )
  input( type='file', name='file' )