.about2-hero-unit
  .about2-hero-unit-container
    .a2huc-top.vam-outer: .vam-inner
      .about2-hero-unit-h1.about2-container
        h1!= hero.header
    .a2huc-bottom
      nav.about2-nav.about2-container
        for section in sections
          a: span!= section.header
      .about2-chevron: a.icon-chevron-down

  ul.about2-hero-unit-bgs
    for url, i in hero.images
      li.about2-hero-unit-bg(
        style="background-image: url(#{url})"
        class="#{i === 0 ? 'is-active' : undefined}"
      )
