.about2-hero-unit
  .about2-hero-unit-container
    .a2huc-top.vam-outer: .vam-inner
      .about2-hero-unit-h1
        h1!= hero.header
    .a2huc-bottom
      nav.about2-nav
        for section, i in sections
          a.about2-nav-link( data-idx=i, href="/about2/#{section.slug}" )
            span!= section.header
      .about2-chevron: a.icon-chevron-down.about2-nav-link(
        href="/about2/#{sections[0].slug}"
      )

  ul.about2-hero-unit-bgs
    for image, i in hero.images
      li.about2-hero-unit-bg(
        style="background-image: url(#{crop(image.src, { width: 1500, height: 900, quality: 90 })})"
        class=(i === 0 ? 'is-active' : undefined)
      )
        .about2-hero-unit-bg-credit: span= image.credit
