- section = sections[4]

.about2-container
  h1.about2-section-header!= section.header

//- "Our team is working to make the ..."
.about2-container
  .span3
    .about2-pull-blurb
      h1= section.pullBlurb1.h1
      h2= section.pullBlurb1.h2
      p= section.pullBlurb1.p

//- "Join the Artsy team"
.about2-container
  .span3
    .about2-pull-blurb
      h1= section.pullBlurb3.h1
      h2= section.pullBlurb3.h2
      p!= section.pullBlurb3.p
  .span3: img( src= section.pullBlurb3.src )

//- Job Listings
.about2-container
  #about2-section5-jobs.is-truncated
    for job in section.jobs
      a.about2-job( href= job.href )
        .about2-job-left
          .about2-job-title= job.header
          .about2-job-location= job.location
        .about2-job-description= job.description
        i.icon-chevron-right
  #about2-section5-jobs-all
    a#about2-section5-jobs-all-button.faux-underline
      | See all #{section.jobs.length} openings
