section#about2-section1.about2-container
  h1.about2-section-header!= sections[0].title
  p.about2-section-preamble= sections[0].preamble

  // "Our collection comes from leading..."
  section#about2-section1-pull-blurb-1.about2-pull-blurb
    h1= sections[0].pullBlurb1.h1
    h2= sections[0].pullBlurb1.h2
  #about2-section1-images1
    - half = Math.ceil(sections[0].pullBlurb1.images.length / 2)
    ul#about2-section1-images1-left
      for image, i in sections[0].pullBlurb1.images.slice(half)
        li
          img( src=image.src )
          small.about2-avant-garde-caption= image.caption.split(' - ')[0]
            em= image.caption.split(' - ')[1]
    ul#about2-section1-images1-right
      for image, i in sections[0].pullBlurb1.images.slice(0, half)
        li
          img( src=image.src )
          small.about2-avant-garde-caption= image.caption.split(' - ')[0]
            em= image.caption.split(' - ')[1]

  // "We cover international show..."
  .about2-left-half-width-column
    ul
      for image in sections[0].pullBlurb2.leftImages
        li
          img( src=image.src )
          small= image.caption
  .about2-right-half-width-column
    section#about2-section1-pull-blurb-2.about2-pull-blurb
      h1= sections[0].pullBlurb2.h1
      h2= sections[0].pullBlurb2.h2
      p= sections[0].pullBlurb2.p
    ul
      for image in sections[0].pullBlurb2.rightImages
        li
          img( src=image.src )
          small.about2-avant-garde-caption= image.author
          p= image.caption

  // "Save works and curate sets on Artsy..."
  .about2-spacer( style="height: 270px" )
  section#about2-section1-pull-blurb-3.about2-pull-blurb
    h2= sections[0].pullBlurb3.h2
    p= sections[0].pullBlurb3.p
    button.avant-garde-button-white= sections[0].pullBlurb3.button
  ul#about2-section1-pull-blurb-3-artworks
    for artwork in sections[0].pullBlurb3.artworks
      li
        img( src=artwork.src )
        include artwork_details

  // "Access from anywhere..."
  .about2-spacer( style="height: 50px" )
  section#about2-section1-pull-blurb-4
    .about2-pull-blurb
      h1= sections[0].pullBlurb4.h1
      h2= sections[0].pullBlurb4.h2
      p= sections[0].pullBlurb4.p
      label Text me a download link:
      input.bordered-input( placeholder='Your phone number here' )
    img( src=sections[0].pullBlurb4.src )