- section = sections[5]

.about2-container
  h1.about2-section-header!= section.header

//- "Gallery Partnerships"
.about2-container
  for blurb in [section.pullBlurbLeft, section.pullBlurbRight]
    .span3
      +pull-blurb(blurb)
      a.avant-garde-button-white( href=blurb.href, target='_blank' )
        = blurb.button
      .about2-section6-links: for link in blurb.links
        a.about2-section6-link( href=link.href )
          .about2-avant-garde-caption= link.h1
          = link.text

//- Image & media gallery
.about2-container
  +pull-blurb(section.mediaGallery)
  ul#about2-section6-media-gallery
    for src in section.mediaGallery.srcs
      li: a.about2-image-zoom( href=src ): img( src=src )
