- section = sections[4]

.about2-container
  h1.about2-section-header!= section.header

//- "Our team is working to make the ..."
.about2-container
  .row
    .span3
      +pull-blurb(section.pullBlurb1)
      #about2-section5-images1-left
        for image in firstHalf(section.pullBlurb1.srcs)
          .about2-image-container.is-pin-right
            img( data-src= image.src )
            .about2-garamond-caption: em
              = image.caption
    #about2-section5-images1-right.span3
      for image in secondHalf(section.pullBlurb1.srcs)
        .about2-image-container
          img( data-src= image.src )
          .about2-garamond-caption: em
            = image.caption
  //- Skyline slideshow
  .row: #about2-section5-slideshow
    for image in section.slideshow.srcs
      .about2-section5-slide.span6
        img( data-src= image.src )

  //- "Join the Artsy team"
  .row
    .span4.is-centered
      - firstImage = section.pullBlurb2.images.shift()
      .about2-image-container
        img( data-src= firstImage.src )
        .about2-garamond-caption: em
          = firstImage.caption
  .row
    #about2-section5-images2-left.span3
      for image in firstHalf(section.pullBlurb2.images)
        .about2-image-container.is-pin-right
          img( data-src= image.src )
          .about2-garamond-caption: em
            = image.caption
      +pull-blurb(section.pullBlurb3)
    #about2-section5-images2-right.span3
      for image in secondHalf(section.pullBlurb2.images)
        .about2-image-container
          img( data-src= image.src )
          .about2-garamond-caption: em
            = image.caption

//- Job Listings
.about2-container
  #about2-section5-jobs.is-truncated
    for job in section.jobs
      a.about2-job( href= job.href )
        .about2-job-left
          .about2-job-title= job.header
          .about2-job-location= job.location
        .about2-job-description= job.description
        i.icon-chevron-right
  #about2-section5-jobs-all
    a#about2-section5-jobs-all-button.faux-underline
      | See all #{section.jobs.length} openings
