- section = sections[2]

.about2-container
  h1.about2-section-header!= section.header
  p.about2-section-preamble= section.preamble.text

//- "Works are given a genome..."
.about2-container
  .span4: img( src=section.preamble.src )
  .span2.about2-pull-blurb
    h1= section.pullBlurb1.h1
    h2= section.pullBlurb1.h2
    p= section.pullBlurb1.p

//- "Characterstics are used to connect artworks"
.about2-container
  .span3
    .about2-pull-blurb
      h1= section.pullBlurb2.h1
      h2= section.pullBlurb2.h2
      p= section.pullBlurb2.p
