include hero_unit
.about-2-foreground
  include nav
  .about2-spacer( style="height: 300px" )
  .about2-section(
    id=sections[0].slug
    data-href="/about2/#{sections[0].slug}"
  ): include section1
  .about2-section(
    id=sections[1].slug
    data-href="/about2/#{sections[1].slug}"
  ): include section2
  .about2-section(
    id=sections[2].slug
    data-href="/about2/#{sections[2].slug}"
  ): include section3
  .about2-section(
    id=sections[3].slug
    data-href="/about2/#{sections[3].slug}"
  ): include section4
  .about2-section(
    id=sections[4].slug
    data-href="/about2/#{sections[4].slug}"
  ): include section5
  .about2-section(
    id=sections[5].slug
    data-href="/about2/#{sections[5].slug}"
  ): include section6
