mixin work(artwork)
  .about2-section3-alt-genome-artwork-track
    section.about2-section3-alt-genome-artwork
      a( href=artwork.href )
        img( src=artwork.src )
        include artwork_details
  if artwork.genes
    ul.about2-section3-alt-genome-artwork-genes
      for gene in artwork.genes
        li= gene

section#about2-section3-alt.about2-container
  h1.about2-section-header!= sections[2].header
  p.about2-section-preamble= sections[2].preamble.text
  #about2-section3-alt-preamble
    img( src=sections[2].preamble.src )

#about2-section3-alt-genome-trail
  section.about2-container
    // "Works are given a genome..."
    #about2-section3-alt-pull-blurb-1-container
      section#about2-section3-alt-pull-blurb-1
        .about2-pull-blurb
          h1= sections[2].pullBlurb1.h1
          h2= sections[2].pullBlurb1.h2
          p= sections[2].pullBlurb1.p
      +work(sections[2].exampleWork)

  section.about2-container
    // "This Work's Genome"
    section#about2-section3-alt-example-work-right
      ul.about2-section3-alt-genome-artwork-genes
        for gene in sections[2].exampleWork.totalGenes
          li= gene

  section.about2-container
    // "Characterstics are used to connect artworks"
    section#about2-section3-alt-pull-blurb-2
      .about2-pull-blurb
        h1= sections[2].pullBlurb2.h1
        h2= sections[2].pullBlurb2.h2
        p= sections[2].pullBlurb2.p

  section.about2-container
    // Track of genome works
    ul#about2-section3-alt-genome-works
      for artwork in sections[2].genomeWorks
        li: +work(artwork)
