- section = sections[1]

.about2-container
  include header
  p.about2-section-preamble= section.preamble

//- "Buy works from thousands of galleries..."
#about2-section2-pull-blurb-1.about2-container
  .span2: +pull-blurb(section.pullBlurb1)
  .span4: img( data-src= section.pullBlurb1.src )

//- "Early access to fairs and shows"
#about2-section2-pull-blurb-2.about2-container
  .span4
    .about2-image-container
      img( data-src= section.pullBlurb2.src )
      .about2-garamond-caption
        em= section.pullBlurb2.caption
  .span2: +pull-blurb(section.pullBlurb2)

//- "Follow artists and galleries to receive..."
.about2-container
  .span2: +pull-blurb(section.pullBlurb3)
  .span4: img( data-src= section.pullBlurb3.src )

//- "We’re here to help you find art..."
#about2-section2-pull-blurb-4.about2-container
  .span3
    #about2-section2-specialists-left
      for specialist in firstHalf(section.pullBlurb4.specialists)
        .about2-image-container.is-pin-right
          img( data-src= specialist.src )
          .about2-avant-garde-caption
            = specialist.name
  .span3
    +pull-blurb(section.pullBlurb4)
    #about2-section2-specialists-right
      for specialist in secondHalf(section.pullBlurb4.specialists)
        .about2-image-container
          img( data-src= specialist.src )
          .about2-avant-garde-caption
            = specialist.name

//- "More questions about collecting"
#about2-section2-cta.about2-container
  em= section.callToAction.label
  a.avant-garde-button-white( href=section.callToAction.button1.href )
    = section.callToAction.button1.text
  a.avant-garde-button-white.about2-section2-contact-specialist( href=section.callToAction.button2.href )
    = section.callToAction.button2.text
