.about2-spacer( style="height: 200px" )
section#about2-section2.about2-container
  h1.about2-section-header!= sections[1].title
  .about2-spacer( style="height: 70px" )
  p.about2-section-preamble= sections[1].preamble

  // "Buy works from thousands of galleries..."
  section#about2-section2-pull-blurb-1
    .about2-pull-blurb
      h1= sections[1].pullBlurb1.h1
      h2= sections[1].pullBlurb1.h2
      p= sections[1].pullBlurb1.p
    img( src=sections[1].pullBlurb1.src )

  // "Early access to fairs and shows"
  .about2-spacer( style="height: 200px" )
  section#about2-section2-pull-blurb-2
    #about2-section2-pull-blurb-2-left
      img( src=sections[1].pullBlurb2.src )
      small= sections[1].pullBlurb2.caption
    .about2-pull-blurb
      h1= sections[1].pullBlurb2.h1
      h2= sections[1].pullBlurb2.h2
      p= sections[1].pullBlurb2.p

  // "Follow artists and galleries to receive..."
  .about2-spacer( style="height: 200px" )
  section#about2-section2-pull-blurb-3
    .about2-pull-blurb
      h1= sections[1].pullBlurb3.h1
      h2= sections[1].pullBlurb3.h2
      p= sections[1].pullBlurb3.p
    img( src=sections[1].pullBlurb3.src )

  // "We’re here to help you find art..."
  .about2-spacer( style="height: 200px" )
  section#about2-section2-pull-blurb-4
    .about2-pull-blurb
      h1= sections[1].pullBlurb4.h1
      h2= sections[1].pullBlurb4.h2
      p= sections[1].pullBlurb4.p
    ul#about2-section2-specialists
      for specialist, i in sections[1].pullBlurb4.specialists
        if i == Math.round(sections[1].pullBlurb4.specialists.length / 2)
          li#about2-section2-specialists-break
        else
          li
            img( src=specialist.src )
            small= specialist.name

  // "More questions about collecting"
  section#about2-section2-cta
    h1= sections[1].callToAction.label
    a.avant-garde-button-white(
      href=sections[1].callToAction.button1.href
    )= sections[1].callToAction.button1.text
    a.avant-garde-button-white(
      href=sections[1].callToAction.button2.href
    )= sections[1].callToAction.button2.text
