//- Override any locals with `append locals`
block locals
  - bodyClass = helpers ? helpers.buildBodyClass(sd) : '';

doctype html
html( data-useragent=userAgent )
  head
    block head
    include head

    link( type='text/css', rel='stylesheet', href='#{sd.WEBFONT_URL}/force-webfonts.css?a=b')
    link( type='text/css', rel='stylesheet', href=asset('/assets/fairs.css') )

    if assetPackage
      link( type='text/css', rel='stylesheet', href=asset("/assets/#{assetPackage}.css") )

  body( class= bodyClass )
    include ../../modal/template
    include ../../flash/template
    include ./header
    block coverImage
      .fair-layout-cover-image-spacer
    .fair-layout-container
      block nav
        include nav
      block body
    include ../../main_layout/footer/template
    #scripts
      include ../../main_layout/templates/scripts
      script(defer, src=asset('/assets/fairs.js') )
      if assetPackage
        script(defer, src=asset("/assets/#{assetPackage}.js") )
