#keyword-search-bar-container.typeahead
  input#keyword-search-bar-input.bordered-input(
    placeholder='Search…'
    tabindex='1'
    itemprop='query-input'
    type='text'
    name='keyword'
    value= keyword
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
  )
