- section = sections[8]

.gallery-partnerships-section-header
  .grid-2-up
    .grid-item
      h2= section.title
      h3= section.heading
    .grid-item
      p.preamble!= section.preamble

.gallery-partnerships-section-content.show
  .grid-4-up
    each g in section.shows
      .grid-item
        a.show-gallery-image.hoverable-image-link( href=g.href )
          img( src=g.src )
        .show-gallery-info
          .show-gallery-name= g.name
          .show-gallery-location= g.location
