.abrv-context__content.abrv-context__content--fair
  img(src=fair.profile.icon.url)
  .abrv-context__content--fair__info
    div= fair.name
    div #{fair.location.city}, #{fair.start_at} – #{fair.end_at}
    br
    if fair.tagline
      div= fair.tagline
