.marketing-signup-modal-left(
  style="background-image: url(#{sd.MARKETING_SIGNUP_MODAL_IMG})"
)
  .marketing-signup-modal-left__photo-credit= sd.MARKETING_SIGNUP_MODAL_PHOTO_CREDIT
.marketing-signup-modal-right
  .marketing-signup-modal-right__logo.icon-logotype
  h1.marketing-signup-modal-h1= sd.MARKETING_SIGNUP_MODAL_HEADER
  h2.marketing-signup-modal-h2= sd.MARKETING_SIGNUP_MODAL_COPY
  form
    input.bordered-input(
      name='name'
      placeholder='Your full name'
    )
    input.bordered-input(
      name='email'
      placeholder='Your email address'
    )
    input.bordered-input(
      name='password'
      placeholder='Create password'
      type='password'
    )
    button.avant-garde-button-black Sign Up
    .marketing-signup-modal-error
  .marketing-signup-modal-divider Or
  a.avant-garde-button-black.marketing-signup-modal-fb(
    href=sd.AP.facebookPath + '?acquisition_initiative=' + sd.MARKETING_SIGNUP_MODAL_SLUG
  )
    i.icon-facebook
    | Continue with Facebook
  .marketing-signup-modal-copy
    small.marketing-signup-modal-small By signing up, you agree to our&nbsp;
      a( href='/terms' ) Terms of Use
      | &nbsp;and&nbsp;
      a(href='/privacy') Privacy Policy
    p.marketing-signup-modal-have-account Already have an account?&nbsp;
      a( href='/log_in' ) Sign in
