doctype html
html
  head
    link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )
    link( type='text/css', rel='stylesheet', href=asset('/assets/unsupported_browser.css') )
  body.body-header-fixed.minimal-header
    #main-layout-container
      #unsupported-browser.main-layout-container
        img.unsupported-browser-artsy-logo( src="images/full_logo.png" )
        .unsupported-browser-message
          p #{sd.BROWSER.family} #{sd.BROWSER.major} is not supported.
          p Please update your browser.
        .unsupported-browser-recommendations
          a.unsupported-browser-update-first.avant-garde-button-black.settings-submit( href="https://www.google.com/intl/en/chrome/browser/" )
            | Chrome
          a.avant-garde-button-black.settings-submit( href="http://www.apple.com/safari" )
            | Safari
          a.unsupported-browser-update-first.avant-garde-button-black.settings-submit( href="https://www.mozilla.org/en-US/firefox/new/?utm_source=artsy-net&utm_medium=referral")
            | FireFox
          a.avant-garde-button-black.settings-submit( href="http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages" )
            | IE 11
        form.unsupported-browser-continue( action='', method='post' )
          input( type="hidden", name="redirect-to", value=sd.UNSUPPORTED_BROWSER_REDIRECT || '/' )
          button.avant-garde-button-black.unsupported-browser-submit.is-block Continue with #{sd.BROWSER.family} #{sd.BROWSER.major}
