.article-cell-item
  a.artist-rail-cell__link.article-cell-item__link( href=article.href )
    .hoverable-image-link
      .hoverable-image.is-four-three.is-cropped(
        style= article.thumbnail_image && 'background-image: url(#{article.thumbnail_image.cropped.url})'
        alt= article.thumbnail_title
        onerror='this.style.display="none";'
      )

    .article-cell-item__metadata
      .article-cell-item__title
        = article.thumbnail_title
      .article-cell-item__author
        = article.author.name
