.show-related-articles
  .show-related-articles-title
    | Articles Related to the Show

  for article in articles
    .show-related-article
      .show-related-article-image
        a( href= article.href ): img(
          src= article.thumbnail_image.cropped.url
          alt= article.title
        )

      .show-related-article-info
        a( href= article.href )
          .show-related-article-title= article.thumbnail_title
        .show-related-article-author
          | By #{article.author.name}

  if remaining > 0
    .related-articles-show-all.avant-garde-button-white.is-block
      | Show More Related Articles (#{remaining})
