if sd.CURRENT_PATH == '/feature/collect-with-artsy'
  - var description = 'Find everything you ever wanted to know about collecting art but were too afraid to ask, including tips on collecting and stories from art collectors.'
else
  - var description = feature.toPageDescription()
title=feature.toPageTitle()
meta( property="og:title", content=feature.toPageTitle() )
meta( name="description", content= description )
meta( property="og:description", content= description )
meta( property="twitter:description", content= description )
link( rel="canonical", href="#{sd.APP_URL}#{feature.href()}" )

meta( property="og:url", content="#{sd.APP_URL}#{feature.href()}" )
if feature.hasImage('large_rectangle')
  meta( property="og:image", content=feature.imageUrl('large_rectangle') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
