include ../bid_status/index

mixin bidBlock(saleArtwork, bid) 
  - artwork = saleArtwork.artwork
  - isLiveOpen = saleArtwork.sale.is_live_open
  - isClosed = saleArtwork.sale.is_closed
  - isLiveOpenOrClosed = isLiveOpen || isClosed
  - detailsClass = isLiveOpenOrClosed ? 'my-active-bids-item-details--hide-bid' : 'my-active-bids-item-details'
  - bidButtonLabel = isLiveOpen ? 'Bid Live' : isClosed ? 'View Lot' : 'Bid'
  - bidButtonLink = isLiveOpen ? viewHelpers.liveAuctionUrl(saleArtwork.sale_id, {isLoggedIn: true}) : artwork.href
  - bidButtonClass = isLiveOpenOrClosed ? 'my-active-bids-bid-live-button' : 'my-active-bids-bid-button'
  
  a( href=artwork.href )
    img( src=artwork.image.url )
      
    div(class=detailsClass)
      h4 Lot #{saleArtwork.lot_label}
      
      .my-active-bids-item-artist
        strong= artwork.artist.name
        
      unless isLiveOpenOrClosed
        p #{saleArtwork.highest_bid.display} (#{saleArtwork.counts.bidder_positions} Bids)
        
  unless isLiveOpenOrClosed
    +bidStatus(bid, bid.sale_artwork)
    
  a.avant-garde-button-black(
    class=bidButtonClass
    href=bidButtonLink
  )= bidButtonLabel

if myActiveBids && myActiveBids.length
  ul
    for bid in myActiveBids
      - saleArtwork = bid.sale_artwork
      
      if saleArtwork
        - leadingBidder = bid.is_leading_bidder
        - reserveNotMet = saleArtwork.reserve_status === 'reserve_not_met'
        - isLiveOpenOrClosed = saleArtwork.sale.is_live_open || saleArtwork.sale.is_closed
        - activeBidsClass = (leadingBidder && !reserveNotMet && !isLiveOpenOrClosed) ? ' my-active-bids-winning' : '' 
        
        li.my-active-bids-item( data-artwork_id=saleArtwork.id class=activeBidsClass)
          +bidBlock(saleArtwork, bid)

else
  | Nothing yet.
