include ../bid_status/index

if myActiveBids && myActiveBids.length
  ul
    for bid in myActiveBids
      if bid.sale_artwork
        - leadingBidder = bid.is_leading_bidder
        - reserveNotMet = bid.sale_artwork.reserve_status === 'reserve_not_met'
        li.my-active-bids-item( data-artwork_id=bid.sale_artwork.id class= (!reserveNotMet && leadingBidder) ? ' my-active-bids-winning' : '' )
          a( href=bid.sale_artwork.artwork.href )
            img( src=bid.sale_artwork.artwork.image.url )
            .my-active-bids-item-details
              h4 Lot #{bid.sale_artwork.lot_label}
              .my-active-bids-item-artist
                strong= bid.sale_artwork.artwork.artist.name
              p #{bid.sale_artwork.highest_bid.display} (#{bid.sale_artwork.counts.bidder_positions} Bids)
          if bid.sale_artwork.sale.is_live_open
            a.avant-garde-button-black.my-active-bids-bid-live-button(
              href=viewHelpers.liveAuctionUrl(bid.sale_artwork.sale_id, {isLoggedIn: true})
            ) Bid Live
          else
            +bidStatus(bid, bid.sale_artwork)
            a.avant-garde-button-black.my-active-bids-bid-button(
              href=bid.sale_artwork.artwork.href
            ) Bid

else
  | Nothing yet.
