- var partner = artwork.partner
- var contacts = helpers.metadata.contacts(partner.locations)
- var location = helpers.metadata.location(partner.locations)

unless artwork.is_in_auction
  .artwork-metadata__partner
    if artwork.collecting_institution
      .artwork-metadata__partner__name
        = artwork.collecting_institution

    else
      //- Default view
      h3.artwork-metadata__partner__label
        if artwork.is_for_sale
          | Offered by
        else
          = partner.type

      a.artwork-metadata__partner__name( href= partner.href )
        = partner.name
        if location
          = ', '
          span= location

      if artwork.is_contactable && contacts.length
        .artwork-metadata__partner__phone
          a( class='js-artwork-metadata-phone-toggle' )
            | Show phone number#{contacts.length === 1 ? '' : 's'}

          .artwork-metadata__partner__phone__locations(
            class='js-artwork-metadata-phone-toggleable'
            data-length= contacts.length
          )
            for location in contacts
              .artwork-metadata__partner__phone__locations__location
                if contacts.length > 1
                  | #{location.city}:
                  | &nbsp;
                = location.phone
