include hero_unit
.gallery-partnerships-sections
  section.gallery-partnerships-section( id= sections[0].slug, data-href="/gallery-partnerships/#{sections[0].slug}" ): include section0
  section.gallery-partnerships-section( id= sections[1].slug, data-href="/gallery-partnerships/#{sections[1].slug}" ): include section1
  section.gallery-partnerships-section( id= sections[2].slug, data-href="/gallery-partnerships/#{sections[2].slug}" ): include section2
  section.gallery-partnerships-section( id= sections[3].slug, data-href="/gallery-partnerships/#{sections[3].slug}" ): include section3
  section.gallery-partnerships-section( id= sections[4].slug, data-href="/gallery-partnerships/#{sections[4].slug}" ): include section4
  section.gallery-partnerships-section( id= sections[5].slug, data-href="/gallery-partnerships/#{sections[5].slug}" ): include section5
  section.gallery-partnerships-section( id= sections[6].slug, data-href="/gallery-partnerships/#{sections[6].slug}" ): include section6
