- section = sections[4]

.gallery-partnerships-section-header
  .grid-2-up
    .grid-item
      h2= section.title
      h3= section.heading
    .grid-item
      p.preamble= section.preamble

.gallery-partnerships-section-content
  .browser-images-container.ipad-images-container
    .browser-frame.ipad-frame
      img( src=section.iPadImages[0].src )
    ul.browser-images.ipad-images
      for image, i in section.iPadImages.slice(1)
        li.browser-image.ipad-image( class=(i === 0 ? 'is-active' : undefined) )
          img( src=image.src )

  .browser-images-container.iphone-images-container
    .browser-frame.iphone-frame
      img( src=section.iPhoneImages[0].src )
    ul.browser-images.iphone-images
      for image, i in section.iPhoneImages.slice(1)
        li.browser-image.iphone-image( class=(i === 0 ? 'is-active' : undefined) )
          img( src=image.src )
