.tt-suggestion
  .tt-suggestion-inner(data-artist-slug=suggestion.get('id'), data-artist-id=suggestion.get('_id'))
    .typeahead-suggestion-thumbnail
      span: img(
        src= suggestion.has('thumb') ? suggestion.get('thumb').cropped.url : suggestion.cropUrlFor({ width: 32, height: 32 })
        width='32'
        height='32'
        onerror='this.style.display="none";'
      )

    .typeahead-suggestion-name
      = suggestion.get('name')

    .typeahead-suggestion-follow(data-state='follow')
      .avant-garde-button-underlined
