- title = 'Artists Starting With ' + letter + ' | Modern and Contemporary Artists'
- description = 'Research and discover artists starting with ' + letter + ' on Artsy. Find works for sale, biographies, CVs, and auction results.'
title= title
meta( property='og:title', content=title )
meta( name='description', content=description )
meta( property='og:description', content=description )
meta( property='twitter:description', content=description )
link( rel="canonical", href=(sd.APP_URL + sd.CURRENT_PATH) )
meta( property="og:url", content=(sd.APP_URL + sd.CURRENT_PATH) )
meta( property='twitter:card', content='summary' )
