h1.iq-headline
  | Create an account to send your message
  #auth-header-logo.icon-logotype

form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  label.avant-garde-form-label( for='name' )
    | Full Name
  input.bordered-input(
    id='name'
    name='name'
    type='text'
    placeholder='Full Name'
    autofocus
    required
    value=user.get('name')
  )

  label.avant-garde-form-label( for='email' )
    | Email
  input.bordered-input(
    id='email'
    name='email'
    type='email'
    placeholder='Email'
    required
    value=user.get('email')
  )

  label.avant-garde-form-label( for='password' )
    | Password
  include ./password

  button.avant-garde-button-black.js-form-submit( type='submit' )
    | Create Account

  .iq-account-sub
    span
      | By signing up, you agree to our
      br
      a.fine-faux-underline( href='/terms', target='_blank' ) Terms of Use
      = ' and '
      a.fine-faux-underline( href='/privacy', target='_blank' ) Privacy Policy
      | .

  .iq-push-down
    include ../partials/nevermind
