figure.artwork-item( data-artwork=artwork.id data-id=artwork._id )
  .artwork-item-image-container
    a.artwork-item-image-link(href=artwork.href)
      include ./variable_width_image
      include ../save_controls/template
  figcaption.artwork-item-caption
    if artwork.artists.length
      p.artwork-item-artist.artwork-item-overflow
        for artist, i in artwork.artists
          if artist.public
            a.faux-underline-hover( href=artist.href )= artist.name
          else
            = artist.name
    p.artwork-item-title.artwork-item-overflow!= ViewHelpers.titleAndYear(artwork)
    if artwork.partner
      p.artwork-item-partner.artwork-item-overflow
        if artwork.partner.href
          a.faux-underline-hover( href=artwork.partner.href )= ViewHelpers.partnerName(artwork)
        else
          = ViewHelpers.partnerName(artwork)

    //- Display price for non-auctions
    if artwork.sale_message != 'Contact For Price'
      p.artwork-item-sale-price= artwork.sale_message
    if artwork.is_inquireable
      a.artwork-item-contact-seller( href= artwork.href )
        | Contact #{artwork.partner.type}
