for section, i in curation.get('sections')
  section(data-section='#{i + 1}')
    .article-body--section
      header
        if i != 2
          .spacer--article
        .article-body--section__title
          h2=section.headline
        .article-body--section__cover-image
          .spacer
          .image
            if section.image.indexOf('mp4') > -1
              video
                source(src=section.image)
              .video-controls
                .video-play-button
            else
              img(src=section.image width='800')
            .caption!= markdown(section.caption)
      article
        .article-body--section__text!= markdown(section.body)
        .article-body--section__sub-text
          .image
            if section.image_second.indexOf('mp4') > -1
              video.video
                source(src=section.image_second)
              .video-controls
                .video-play-button
            else if i == 3
              - length = 1
              .carousel.mgr-horizontal-nav
                .mgr-cells.js-mgr-cells
                  .mgr-cell.js-mgr-cell
                    img(src=section.image_second width='800')
                  .mgr-cell.js-mgr-cell
                    img(src=section.image width='800')
                nav.mgr-navigation.js-mgr-navigation
                  include ../../../../../components/merry_go_round/templates/horizontal_navigation
            else
              img(src=section.image_second width='800')
            .caption!= markdown(section.caption_second)
          .spacer
          .callout
            if i != 2
              p=section.callout
            else
              img(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/gettyimages-540076468.jpg')
              .caption This image and its caption are manually edited.
        if i == 0
          .article-body--section__sub-image
            img(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/gettyimages-595247584.jpg')
            .caption This image and its caption are manually edited.
            .spacer
          .spacer--article