extends ../../../../../components/main_layout/templates/blank.jade

append locals
  - assetPackage = 'editorial_features'
  - sections = curation.get('sections')

block head
  include head

block body
  - var superArticle = article
  include ../../../../../components/article/templates/super_article_sticky_header.jade

  .eoy-feature
    video(class='video' autoplay=true, controls=false, loop=true, muted=true, playsinline=true).eoy-feature__background.active
      source(src='#{curation.get("header_video")}' type='video/mp4')
    nav.eoy-feature__menu
      a(href='/')
        img.logo(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/artsy_logo.png')
      a(href= '#{superArticle.get("super_article").partner_logo_link}')
        span
          | Presented in <br />
          | Partnership with
        img.planet-art(src='https://artsy-vanity-files-production.s3.amazonaws.com/images/planetart.svg')

    .eoy-feature__content
      include ./scroller.jade

    .article-body
      //- rendered on client
      section.footer
        include ../../../../../components/article/templates/super_article_footer.jade

  include ../../../../../components/main_layout/templates/json_ld
