.scroller
  .scroller__items
    section(data-section='0')
      article.main-title
        .inner
          .top
            .item
              h1 The Year In Art
          .spacer
          .bottom
            .item
              h1 2016
    section(data-section='1')
      article
        .inner
          .left
          .right
            .item
              h2=sections[0].headline
    section(data-section='2')
      article
        .inner
          .left
            .col
            .col
            .col
          .right
            .col
            .item
              h2=sections[1].headline
    section(data-section='3')
      article
        .inner
          .left
            .item
              h2=sections[2].headline
            .col
          .col.spacer
          .right
            .col
            .col
    section(data-section='4')
      article
        .inner
          .left
            .col
          .right
            .item
              h2=sections[3].headline
    section(data-section='5')
      article
        .inner
          .left
            .item
              h2=sections[4].headline
          .right
    section(data-section='6')
      article
        .inner
          .left
            .col
            .col
          .right
            .item
              h2=sections[5].headline
    section(data-section='7')
      article
        .inner
          .left
            .col
          .right
            .item
              h2=sections[6].headline
            .col
    section(data-section='8').last
      article
        .inner
          .left
            .col
          .right
            .item
              h2=sections[7].headline
    section(data-section='9').last
      article
        .inner
          .left
            .col
            .item
              h2=sections[8].headline
          .col.spacer
          .right
            .col
    section(data-section='10').last
      article
        .inner
          .left
            .col
          .right
            .col
            .item
              h2=sections[9].headline