- partner = artwork.related().partner

form.stacked-form.js-embedded-inquiry-form
  input( type='hidden', name='artwork', value= artwork.id )

  //- Only button is displayed for pre-qualification
  unless partner.get('pre_qualify')
    .form-errors.js-form-errors
      //- Rendered client-side

    if user && user.isWithAnonymousSession()
      input( type='hidden', name='anonymous_session_id', value= user.id )

    unless user && user.get('name') && user.get('email')
      input.bordered-input(
        type='text'
        name='name'
        placeholder='Your full name'
        required
      )
      input.bordered-input(
        type='email'
        name='email'
        placeholder='Your email address'
        required
      )

    textarea.bordered-input(
      rows='5'
      name='message'
      required
    )
      if defaultMessage
        = defaultMessage
        = ' '

    if fair
      include ./attendance

  button.avant-garde-button-black.js-send-embedded-inquiry(
    data-artwork-id= artwork.id
  ) Contact #{partner.displayType()}
