title!=feature.metaTitle()
meta( property="og:title", content!=feature.metaTitle() )
meta( name="description", content!=feature.metaDescription() )
meta( property="og:description", content!=feature.metaDescription() )
meta( property="twitter:description", content!=feature.metaDescription(true) )
link( rel="canonical", href="#{sd.APP_URL}#{feature.href()}" )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + feature.href()) )
meta( property="og:url", content="#{sd.APP_URL}#{feature.href()}" )
meta( property="og:image", content=feature.imageUrl('large_rectangle') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
