if auction.is_open && !artwork.is_sold && !auction.is_live_open
  form.artwork-auction__bid-form(
    method='GET'
    action='/auction/#{auction.id}/bid/#{artwork.id}'
    class='js-artwork-auction-bid'
  )
    .artwork-auction__bid-form__errors.form-errors( class='js-form-errors' )
      //- Rendered client-side

    if user
      .artwork-auction__bid-form__next-bid
        | Enter #{sale_artwork.minimum_next_bid.display} or higher

      .artwork-auction__bid-form__input.typed-bordered-input.is-block
        span $
        input.bordered-input(
          class='js-artwork-auction-bid-amount'
          name='bid'
          autocomplete='off'
          required
        )

    button.artwork-auction__bid-form__button.avant-garde-button-black.is-block(
      class='js-artwork-auction-bid-button'
    ) Bid
