.artwork-auction__help
  a.js-artwork-auction-help-modal(
    href='/auction-info'
    data-id='how-auctions-work-bidding'
  ) Auction FAQs

  br
  a.js-artwork-auction-help-modal(
    href='/conditions-of-sale'
    data-id='how-auctions-work-conditions-of-sale'
  ) Conditions of Sale

  br
  a(
    href='artwork/#{sale_artwork.id}/ask_specialist'
  ) Ask a Specialist
