extends ../../../components/main_layout/templates/index

block head
  - var description = "We're here to help. Contact an Artsy team member about Sales, Auctions, Press inquiries, Editorial, Careers, and more."
  title #{title} | Artsy
  meta( property='og:title', content= title )
  meta( name='description', content= description )
  meta( name='og:description', content= description )
  meta( property='twitter:description', content= description )
  meta( property='og:url', content='#{sd.APP_URL}/contact' )
  meta( property='og:image', content= asset('/images/og_image.jpg') )
  meta( property='og:type', content='website' )
  meta( property='twitter:card', content='summary' )
  link( rel='canonical', href='#{sd.APP_URL}/contact' )


append locals
  - assetPackage = 'misc'

block body
  .contact-page.responsive-layout-container: .main-layout-container
    .contact-section
      .contact-section-cell
        header: h1= title
      .contact-section-cell
        .contact-sub-sections: for sub in sub_sections
          .contact-sub-section
            h2.css-title
              = sub.title
            .css-description
              != markdown(sub.description)

    .contact-section
      .contact-section-cell
        header: h2= editorial_staff.title
      .contact-section-cell
        .contact-staff-sections: for member in editorial_staff.members
          .contact-staff-section
            h2.css-title
              = member.role
            .css-description
              p= member.name
              p: a( href='mailto:#{member.email}' )
                = member.email

    .contact-section
      .contact-section-cell
        header: h2 Address
      .contact-section-cell
        p= address
