extends ../../../components/layout/templates/main

block content
  #home-page-hero-units.carousel
    if heroUnits && heroUnits.length > 0
      .carousel-figures-clip
        #carousel-track.carousel-track
          for heroUnit in heroUnits
            figure.home-page-hero-unit(
              class= 'home-page-hero-unit' + _s.dasherize(_s.humanize(heroUnit.mode))
              style="background-image: url(#{resize(heroUnit.background_image_url, { width: 635 })});"
            )
              a( href= heroUnit.href )
                figcaption.home-page-hero-unit-details
                  .vcenter-outer: .vcenter-inner
                    h2.avant-garde-header!= heroUnit.heading
                    h1.home-page-hero-unit-title.avant-garde-header= heroUnit.title
                    h2!= heroUnit.subtitle

  section.main-side-margin.home-page-section
    if collectionsHubs && collectionsHubs.length
      h2 Featured categories
      != stitch.components.CollectionsHubsHomepageNav({collectionsHubs: collectionsHubs})
    else
      h1.avant-garde-header-center Explore Artsy
      
    nav#home-page-featured-list.chevron-nav-list
      a#home-page-featured-works( href='/collect' ) Featured Artworks
      a#home-page-featured-articles( href='/articles' ) Featured Articles
  section.main-side-margin.home-page-section
    h1.avant-garde-header-center Current Shows
    ul#home-page-current-shows
    #home-page-current-shows__show-more.avant-garde-box-button.is-show-more-button.is-hidden Show More
    .loading-spinner
