- title = 'Artsy In the Media | Artsy'
- description = 'Artsy’s press kit listing select articles about Artsy in the media.'
- path = '/press/in-the-media'

title= title
meta( property='og:title', content= title )
meta( name='description', content= description )
meta( name='og:description', content= description )
meta( property='twitter:description', content= description )
meta( property='og:url', content='#{sd.APP_URL}#{path}' )
meta( property='og:image', content= asset('/images/og_image.jpg') )
meta( property='og:type', content='website' )
meta( property='twitter:card', content='summary' )
link( rel='canonical', href='#{sd.APP_URL}#{path}' )
link( rel='alternate', media= sd.MOBILE_MEDIA_QUERY, href='#{sd.MOBILE_URL}#{path}' )
