if eoy_2016
  .eoy-artist-feature
    .eoy-artist-feature__headline!= eoy_2016.headline
    .eoy-artist-feature__subheadline!= eoy_2016.subheadline
    a.avant-garde-button-white.is-small(href=eoy_2016.article_link) Read Article
    .eoy-artist-feature__lists
      for list in eoy_2016.lists
        .eoy-artist-feature__lists__list
          .eoy-artist-feature__lists__list__headline= list.headline
          .eoy-artist-feature__lists__list__subheadline= list.subheadline
          .eoy-artist-feature__lists__list__artists
            for artist in list.artists
              include _artist_item
