title= artist.meta.title
meta( property="og:title", content= artist.meta.title )
meta( name="description", content= artist.meta.description )
meta( property="og:description", content= artist.meta.description )
meta( property="twitter:description", content= artist.meta.description )

link( rel="canonical", href="#{sd.APP_URL}/artist/#{artist.id}" )
meta( property="og:url", content="#{sd.APP_URL}/artist/#{artist.id}" )
meta( property="og:type", content="#{sd.FACEBOOK_APP_NAMESPACE}:artist" )
meta( name="skos:prefLabel", content="#{artist.name}" )

if artist.alternate_names
  meta( name="skos:altLabel", content="#{viewHelpers.formatAlternateNames(artist)}" )
if artist.nationality
  meta( property="og:nationality", content= artist.nationality )
if artist.birthday
  meta( property="og:birthyear", content= artist.birthday )
if artist.deathday
  meta( property="og:deathyear", content= artist.deathday )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name="fragment", content="!" )

- var hasImage = artist.image && artist.image.versions.length
if hasImage && artist.image.versions.indexOf('large')
  meta( property="twitter:card", content="summary_large_image" )
  meta( property="og:image", content= artist.image.large)
  meta( name="thumbnail", content= artist.image.large )
else
  meta( property="twitter:card", content="summary" )

//- This prevents pages from being indexed if the artist has zero works and no blurb,
//- or the current page is Works.
if (artist.counts.artworks == 0 && !artist.blurb) || nav && sd.TAB == 'works'
  meta(name="robots" content="noindex, follow")

if nav
  - var rels = nav.rels(sd.CURRENT_PATH)
  if rels.prev
    link( rel="prev", href="#{sd.APP_URL}#{rels.prev.href}" )
  if rels.next
    link( rel="next", href="#{sd.APP_URL}#{rels.next.href}" )
