- var profile = partner.profile
- var hasImage = profile && profile.image && profile.image.cropped && profile.image.cropped.url

if profile
  a.partner-featured-image(
    href= profile.href
  )
    .hoverable-image.is-three-two(
      class= hasImage ? '' : 'is-missing'
      data-initials= partner.initials
      style= hasImage ? 'background-image: url(' + profile.image.cropped.url + ');' : undefined
    )

  .partner-cell-metadata
    .partner-cell-metadata-text
      a.partner-cell-name.avant-garde-header( href= profile.href )
        = partner.name
      br
      .partner-cell-location
        = ViewHelpers.displayLocations(partner.locations, preferredCity) || ''

    button.partner-cell-follow-button.is-small.avant-garde-follow-button-black.follow-button.js-follow-button(
      data-id= profile.id
    )
else
  .partner-featured-image
    .hoverable-image.is-three-two(
      class= 'is-missing'
      data-initials= partner.initials
    )

  .partner-cell-metadata
    .partner-cell-metadata-text
      = partner.name
      br
      .partner-cell-location
        = ViewHelpers.displayLocations(partner.locations, preferredCity) || ''
