section.haw-section( data-id= section.id )
  if section.image && i % 2 !== 0
    .haw-section-cell
      img( src= section.image.src )

  if section.id === 'watch'
    .haw-section-cell
      .haw-bid-increments
        h3 Bidding Increments
        .leader-dots-list
          for bidIncrement in bidIncrements
            .leader-dots-list-item
              span= bidIncrement.range
              span= bidIncrement.increment

  .haw-section-cell
    if i === 0
      .haw-page-metadata
        h1.haw-page-title
          = title
        .haw-page-description
          = description

    .haw-numbered-section
      if section.position
        .haw-ns-number
          = section.position

      .haw-ns-body
        h2.haw-section-title
          = section.title
        .haw-section-description
          != markdown(section.description)

        if section.button
          //- Disable the register button for logged in users
          if section.id !== 'register' || (section.id === 'register' && !sd.CURRENT_USER)
            a.avant-garde-button-black.is-block(
              href= section.button.href
              class= section.button.classes
              target="_blank"
            )= section.button.label

  if section.image && i % 2 === 0
    .haw-section-cell
      img( src= section.image.src )
