if headingText
  .a-to-z-heading(
    style= (fixedWidth ? "width: #{fixedWidth}px" : undefined)
  )
    = headingText
    if headingSortOrder
      .browse-sort-order= headingSortOrder
section.feed-items(
  style= (fixedWidth ? "width: #{fixedWidth}px" : undefined)
)
