include ../../share/mixin

.feed-item-top-section
  .feed-item-metadata-section
    if feedItemChildModel.partnerName()
      if feedItemChildModel.partnerHref()
        a.feed-item-partner-name( href=feedItemChildModel.partnerHref() )
          = feedItemChildModel.partnerName()
      else
        .feed-item-partner-name
          = feedItemChildModel.partnerName()
      .plus-follow-button
        .icon-follow-circle
        .follow-button-text

    br

    if feedItemChildModel.get('fair')
      a.feed-item-fair-name( href=feedItemChildModel.href() )
        = feedItemChildModel.fairName()
      if feedItemChildModel.fairLocationDisplay()
        .fair-location!= feedItemChildModel.fairLocationDisplay()

    else
      a.show-link( href=feedItemChildModel.href() )
        = feedItemChildModel.formatFeedItemHeading()
      if feedItemChildModel.get('start_at') && feedItemChildModel.get('end_at')
        .timeframe
          = feedItemChildModel.runningDates()
          if feedItemChildModel.formatCity()
            | , #{feedItemChildModel.formatCity()}

  .feed-item-share-section
    - show = feedItemChildModel
    include ../../partner_buttons/show_buttons
