extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artists_artworks'

block body
  #artists-page.main-layout-container
    nav.alphabetical-index
      .alphabetical-index-label
        | Browse over 50,000 artists
      .alphabetical-index-range
        for letter in letters
          a( href='/artists/artists-starting-with-#{letter}' )
            = letter

    for set in featured_artists
      h1.avant-garde-header-center
        = set.name

      .artists-featured-carousel
        .afc-prev: i.icon-chevron-left
        .afc-next: i.icon-chevron-right
        .afc-track-container
          .afc-track
            for artist in set.artists
              .afc-artist
                a.hoverable-image-link( href= artist.href )
                  img(
                    src= artist.image.thumb.url
                    alt= artist.title
                    title= artist.title
                  )

                .afc-artist-information
                  .afc-artist-information-left
                    h2.afc-artist-name
                      a( href= artist.href )
                        = artist.title

                    if artist.subtitle
                      p.afc-artist-notes
                        = artist.subtitle

                  .afc-artist-information-right
                    a.avant-garde-follow-button-black.follow-button(
                      data-id= artist.id
                    )

    for set in featured_genes
      .artists-featured-genes
        for gene in set.genes
          .artists-featured-genes-gene
            h4
              a.avant-garde-jump-link( href='#{gene.href}/artists' )
                = gene.name
                i.icon-chevron-small-right

            .artists-featured-genes-artists
              for artist in gene.trending_artists
                .grid-item
                  include ./../../../components/artist_cell/index
