.artwork-meta
  //- Primary artwork metadata
  h2.artwork-detail-artist
    a( href= "/artist/#{artist.id}" )= artist.get('name')

  if artwork.get('title')
    h1.artwork-detail-title
      = artwork.get('title')
      if artwork.get('date')
        | , #{artwork.get('date')}
  .artwork-detail-medium= artwork.get('medium')
  .artwork-detail-dimensions
    .amd-imperial!= artwork.dimensions({ metric: 'in', format: 'superscript' })
    .amd-metric= artwork.dimensions({ metric: 'cm', format: 'decimal' })
  if artwork.editionStatus()
    .artwork-edition-status
      = artwork.editionStatus()

  //- Image rights/credits
  if artwork.get('image_rights')
    .artwork-meta-photo-credit= artwork.get('image_rights')

  //- Edition Sets
  if artwork.isMultipleEditions()
    .artwork-edition-sets
      for edition in artwork.editions.models
        .artwork-edition-set
          .aes-imperial!= edition.dimensions({ metric: 'in', format: 'superscript' })
          .aes-metric= edition.dimensions({ metric: 'cm', format: 'decimal' })
          .aes-edition-size= edition.get('editions')
          .aes-price= edition.get('price')

  //- Partner link
  .artwork-meta-partner
    a( href= artwork.partnerLink() )
      = artwork.partnerName()

  //- Price/sale message
  if artwork.isPriceDisplayable()
    .artwork-meta-price
      .artwork-meta-price-label( class=(artwork.get('sold') ? 'is-sold' : 'is-not-sold') )
        = artwork.priceLabel()
      .artwork-meta-price-amount= artwork.priceDisplay()
  else
    if artwork.artworkPageSaleMessage()
      .artwork-meta-price
        = artwork.artworkPageSaleMessage()

.artwork-actions
  //- Large contact button
  if artwork.isContactable()
    a.avant-garde-button-black= artwork.contactLabel()

  //- Auction # todo

  //- Buy # todo
  if artwork.get('acquireable')
    a.avant-garde-button-black Buy

  //- Contact a specialist
  if artwork.get('inquireable')
    .artwork-inquiry
      //- Inquiry microcopy
      if artwork.inquiryMicroCopy()
        small.small-caps= artwork.inquiryMicroCopy()
      a.avant-garde-button-underlined
        | Contact Artsy Specialist

  nav.artwork-actions-list
    if artwork.get('website')
      a( href= artwork.get('website'), target='_blank' )
        i.icon-website
        | Visit Website
    if artwork.isHangable()
      //- Initial state:
      a.artwork-view-in-room-link(
        href="/artwork/#{artwork.id}/view-in-room", data-client
      )
        i.icon-view-in-room
        | View in Room

      //- Toggled state:
      a.artwork-exit-view-in-room-link.is-hidden(
        href="/artwork/#{artwork.id}", data-client
      )
        i.icon-artwork
        | Artwork View
    if artwork.hasMoreInfo()
      //- Initial state:
      a.artwork-more-info-link(
        href="/artwork/#{artwork.id}/more-info", data-client
      )
        i.icon-info
        | More Info
      //- Toggled state:
      a.artwork-exit-more-info-link.is-hidden(
        href="/artwork/#{artwork.id}", data-client
      )
        i.icon-info
        | Exit More Info
    a.artwork-artist-follow-button
      i.icon-follow
      span
        //- Text label is handled in the CSS
    if artwork.isComparable()
      a( href="/artwork/#{artwork.id}/auction-results" )
        i.icon-auction
        | Auction Results
        sup Beta
    if artwork.isDownloadable()
      a( href=artwork.defaultImageUrl('larger'), target='_blank', download)
        i.icon-download
        | Download Image

    //- Administrative actions
    if user && user.isAdmin()
      a( href="#{sd.ADMIN_URL}/artworks/artwork/#{artwork.id}", target='_blank' )
        i.icon-edit
        | Edit
      a( href="#{sd.ADMIN_URL}/genome/artwork/#{artwork.id}", target='_blank' )
        i.icon-genome
        | Genome
