if artwork.get('provenance')
  .avant-garde-header-small Provenance
  .artwork.provenance!= artwork.mdToHtml('provenance')

if artwork.get('exhibition_history')
  .avant-garde-header-small Exhibition History
  .artwork.exhibition-history!= artwork.mdToHtml('exhibition_history')

if artwork.get('signature')
  .avant-garde-header-small Signature
  .artwork-signature!= artwork.mdToHtml('signature')

if artwork.get('additional_information')
  .avant-garde-header-small Additional Information
  .artwork-additional-information!= artwork.mdToHtml('additional_information')

if artwork.get('literature')
  .avant-garde-header-small Literature
  .artwork-literature!= artwork.mdToHtml('literature')
