extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'artwork'

block body
  #artwork-view-in-room-container
  #artwork-deep-zoom-container
  #artwork-page.main-layout-container( data-route='show' )
    article.artwork-container
      section.artwork-overview
        .artwork-image
          a.artwork-image-zoom(
            href  = "/artwork/#{artwork.id}/zoom"
            rel   = 'zoom'
            data-client
          )
            img#the-artwork-image(
              alt     = artwork.get('title')
              title   = artwork.get('title')
              nopin   = artwork.noPinAttr()
              src     = artwork.defaultImage().imageUrlFor(640, 640)
            )

        if artwork.hasAdditionalImages()
          .artwork-additional-images
            for image, i in artwork.images.models
              a.artwork-additional-image(
                class       = i === 0 ? 'is-active' : 'is-inactive'
                data-id     = image.id
                data-href   = image.imageUrlFor(640, 640)
              )
                img(
                  src= image.imageUrl('small')
                  alt= "#{artwork.get('title')} (#{i + 1})"
                )

        .artwork-more-info
          include ./_more-info

        .artwork-image-actions
          a.circle-icon-button-share
          a.circle-icon-button-save

      aside.artwork-detail
        include ./_detail

    section.artwork-related-information
      .ari-left
        //- Only render the container if we have a blurb or some artworks to display
        if artist
          if (artist.get('artworks_count') > 1) || (artist.get('blurb'))
            .artwork-artist( data-state=(artist.get('blurb') ? '' : 'pending' ) )
              h2.avant-garde-header-center
                | About #{artist.get('name')}

              #artwork-artist-artworks-container
                //- Rendered client-side

              if artist.get('blurb')
                .artwork-artist-blurb
                  != artist.mdToHtml('blurb')

              a.artwork-artist-blurb-link.faux-underline-hover-large(
                href="/artist/#{artist.id}"
              ) Go to #{artist.get('name')}

      .ari-right
        if artwork.get('blurb')
          h2.avant-garde-header-center
            | About This Artwork
          .artwork-blurb
            != artwork.mdToHtml('blurb')

        #artwork-artist-related-posts-container
          //- Rendered client-side

    section#artwork-layered-search-section.artwork-layered-search
      //- Rendered client-side
