extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artwork'

block body
  #artwork-view-in-room-container
  #artwork-deep-zoom-container
  #artwork-page.main-layout-container( data-route='show' )
    article.artwork-container
      section.artwork-overview
        #artwork-feature-navigation
        .artwork-image
          a.artwork-image-zoom(
            href  = "/artwork/#{artwork.id}/zoom"
            rel   = 'nofollow'
            data-client
          )
            img#the-artwork-image(
              alt     = artwork.get('title')
              title   = artwork.get('title')
              nopin   = artwork.noPinAttr()
              src     = artwork.defaultImage().imageUrlFor(640, 640)
            )

        if artwork.hasAdditionalImages()
          .artwork-additional-images
            for image, i in artwork.images.models
              a.artwork-additional-image(
                class       = i === 0 ? 'is-active' : 'is-inactive'
                data-id     = image.id
                data-href   = image.imageUrlFor(640, 640)
              )
                img(
                  src= image.imageUrl('small')
                  alt= "#{artwork.get('title')} (#{i + 1})"
                )

        .artwork-more-info
          include ./_more-info

        .artwork-image-actions
          a.circle-icon-button-share
          a.circle-icon-button-save
          if artwork.isHangable()
            //- Initial state:
            a.circle-icon-button-view-in-room(
              href="/artwork/#{artwork.id}/view-in-room", data-client, rel='nofollow'
            )
              i.icon-view-in-room View in Room

            //- Toggled state:
            a.circle-icon-button-exit-view-in-room.is-hidden(
              href="/artwork/#{artwork.id}", data-client, rel='nofollow'
            )
              i.icon-artwork Artwork View

      aside.artwork-detail
        include ./_detail

    section.artwork-related-information
      .ari-container
        .ari-left
          //- Only render the container if we have a blurb or some artworks to display
          if artist
            if artist.get('blurb')
              .artwork-artist( data-state=(artist.get('blurb') ? '' : 'pending' ) )
                h2.avant-garde-header-center
                  | About&nbsp;
                  a( href=artist.href() )= artist.get('name')
  
                if artist.get('blurb')
                  .artwork-artist-blurb
                    != artist.mdToHtml('blurb')
  
          if artwork.get('blurb')
            h2.avant-garde-header-center
              | About This Artwork
            .artwork-blurb
              != artwork.mdToHtml('blurb')
  
          if artwork.hasMoreInfo()
            include ./_more-info
  
          if artwork.isComparable()
            a.artwork-auction-results-button(
              href="/artwork/#{artwork.id}/auction-results"
            ) See related auction results
  
        .ari-right
          #artwork-artist-related-posts-container
          //- Rendered client-side

    if artist
      section#artist-artworks-section
        h2.avant-garde-header
          | More Works by&nbsp;
          a( href=artist.href() )= artist.get('name')
        .artworks-list

    section#artwork-related-show-section
      //- Rendered client-side

    section#artwork-below-the-fold-section
      //- Rendered client-side

  include json_ld
