extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artwork'
  //- HACK: ADAA 2015 works that need to hide auction results b/c finding out
  //- what work a fair is in is even uglier.
  - adaaIds = ["4fcbf35c76bbd40001000aaa", "50d0cb79c858e671e1000332", "51255c9a1b3859fd4a000e5c", "512918602890c1bc04000547", "51291957ba9034a48900052b", "51294e1d1da99037720003a5", "512e48db312ba764ea00028c", "512e75e5873f1f28f80004a2", "513910f967527df63300026a", "51575adea91802b8f500026b", "5182e61651a871e80f00006f", "518d1edf7a6d642fd300008d", "518d4c957a6d645b3e00012f", "518d4d1c034057f44e000026", "51f2d0dd275b2448b80004c3", "51f2d15f275b24a7870004cc", "52051c817622ddd39d000050", "52052282139b21583c00004c", "5227b4f5139b21b6fa00004b", "527a5d7bcd530ed69d0002a2", "527be6018b3b8188d400005f", "527be6c57622dd17050001f1", "527e9cf9275b246d1e000093", "5282ae6b139b212065000183", "5282aefca09a67eea2000156", "5282b3d59c18db0b3c0001a4", "528699d28b3b819d7400007a", "528d1cea9c18db79f70006c4", "529e67f8275b24701b000070", "529e67ff8b3b81f58a000094", "52f3da45139b2182ea000488", "530630a9cb4c27a98100008f", "530630b8a09a67c72a0001db", "5315f927139b219316000171", "5316036fb202a32c8a000046", "53160601139b21bd070001cf", "5318b112cb4c27578b0000a4", "53553f06a09a671323000080", "53691428b202a3860600003b", "536916627622dd2f870000ad", "536917e2c9dc24b07900008e", "536930b79c18dbda7d000107", "53695bc2275b2420a8000097", "536a8fa9139b21a31300001c", "5384a2bb7622ddbf6a000038", "5398c52ccd530e5ebd000312", "53ab25297261692d6c690200", "53ab253b7261692781c10600", "5414be9d7261693f97471800", "5414bf197261692d7ad70500", "541992377261692e47660600", "5419933b7261692cfa6b0100", "5419e9897261695950ef0200", "542c5a177261692d541d0500", "543e93be7261694ad9e31000", "543e93c07261692d4aee0000", "544bc5397261690299150200", "544bc5647261692d4f240200", "545921927261692d59760200", "546eb98e72616919ee6b0400", "546f906a726169686f200300", "54b1970b72616913c1b90800", "54c3de2b7261690cf8ad0c00", "54cd4ebe7261692ae2cd0000", "54cd4ed77261692b19f80000", "54cd4f4f7261692af6a70000", "54cd4f957261692b01c50000", "54cd510b7261692af3140100", "54cd510b7261692b5f710000", "54cd565f7261692afef40000", "54cd569b7261692bbbda0000", "54d2776072616916de2e0300", "54d277727261691806120200", "54d2777a72616912b3710200", "54d27781726169651cc10100", "54d27786726169457a250200", "54d2778b7261694611f50200", "54d27a46726169498a0d0200", "54d27ce9726169498a5e0200", "54d283827261696422d30200", "54d284637261694cde270300", "54d286e4726169014c950200", "54d286f07261692e16f60300", "54d28d067261692e9faa0300", "54d290e0726169456b650300", "54d29254726169498ae90300", "54d29cfc7261696422430400", "54d2a333726169411e3f0500", "54d397947261691af5340b00", "54d398617261691607eb0c00", "54d39b2e7261691146050d00", "54d3a230726169457ad20c00", "54d3c2907261690755140100", "54d3c48c72616929362b0100", "54d3c92b7261693e0df50100", "54d3d5ba72616957ebce0200", "54d3d9e272616957ee5c0300", "54d3e09d726169293b480300", "54d3e674726169697d710400", "54d3eaee7261691df69a0300", "54d3eaf87261691dfff10300", "54d3ece67261691df2990400", "54d5053872616914c6de0000", "54d505397261692a5f0b0100", "54d510d072616957e28e0100", "54d5116d726169305e020200", "54d511f4726169713e850100", "54d512647261694251db0100", "54d512da72616979e33f0100", "54d513377261696486900100", "54d5139d7261692244c10100", "54d514057261694255bf0100", "54d51451726169257fe70100", "54d5215672616957d6720200", "54d62d9772616907caf00400", "54d632d372616927c3510500", "54d6349372616912530d0500", "54d654da7261692b14dc0200", "54d663e972616907c4180700", "54d663e97261690f6a1e0600", "54d663e97261694ce96c0600", "54d663e97261696666cd0500", "54d663e97261696b50490700", "54d663ea7261692b0b2c0400", "54d686f07261696e5e0d0800", "54d68a3672616907d0460900", "54d68ba872616927c32c0900", "54d68d2a7261690f6a3c0800", "54d68ef37261696b50e00800", "54d690b67261692b11a30500", "54d692147261697896d10800", "54d8d7927261692bb24a0000", "54d8e2857261691244861000", "54d8e6a87261692c5ce50100", "54d8eb4d7261696e647a1100", "54d8ed3d7261696e6ec61200", "54d8f3d87261692af8c70200", "54d8f5cd7261692c2a370200", "54d8f9197261696b43261200", "54d8fce47261692af2120300", "54d8ff7f7261696e5ede1100", "54d910277261692af2f90300", "54d924ed7261692af28e0400", "54d9306e7261692af3ef0400", "54d933587261692bb89e0300", "54d936b97261694340370b00", "54da75867261696b14790400", "54da76957261693d0d3c0400", "54da77df7261691c4aab0300", "54da7853726169081e6c0400", "54da79197261693057b50400", "54da79f07261696f8ba60400", "54da79fb7261693d15b10400", "54da79ff7261691c4ac20300", "54da7a0472616907bc160500", "54da7a077261695cec6e0400", "54da7b937261696c8df50400", "54da7b987261692385340500", "54db8e487261696b03db0f00", "54db901f72616949629b0e00", "54dba69d7261692b745c0100", "54dba9887261690825cc1100", "54dbae447261693053ba1000", "54dbbcc27261692b84cd0400", "54dbcf527261692bce050700", "54dbd35b7261693c17e71400", "54dbd4307261695cda951500", "54dbe33772616928798d1400", "54dbe4017261692b73970700", "54dbe41d7261692aff340900", "54dbe41d7261692b6b480700", "54dbe41d7261695cdda61400", "54dbe4e67261692b02910800", "54dbe5ff7261692b72ab0700", "54dbe6267261695cda3c1600", "54dccc867261693cf9550000", "54dcd0837261694603e10000", "54dcd22572616956e5d40000", "54dcdab372616977dee70100", "54dce60b7261697014db0200", "54dceaaf7261696d696c0300", "54dcecec7261694600c80300", "54dcfdbc7261693dbe9f0400", "54dcfe367261690943a30400", "54dcfec5726169094b890500", "54dcff7e7261690f21160500", "54dcffe1726169522c0b0400", "54dd004072616977d2480400", "54dd00947261690f0d2f0400", "54dd01057261690a07760400", "54dd017172616945fa410500", "54dd01bb726169783b240500", "54dd1f67726169523a280600", "54de2eb97261692c4f600400", "54de2ebd7261693144ec0d00", "54de2ec17261695e09f20d00", "54de2ec272616937e1e60d00", "54de2ec57261692b7d830300", "54de2ec97261690e7b7d0d00", "54de2ed27261692b7d8f0300", "54de2edc7261690e77f60b00", "54de2ee27261696eec750e00", "54de2ee572616930f54d0d00", "54de2ee57261695b75600c00", "54de2ee77261690579e40c00", "54de2ee87261692aee5c0200", "54de2ee87261696ee6290d00", "54de31a97261692b83fd0300", "54de31aa7261692ae7150300", "54de31f77261692aff630300", "54de32087261695b70940d00", "54de32467261695b67760d00", "54de32537261694369f40c00", "54de326172616930ffcb0d00", "54de328c72616937e1210e00", "54de32a97261692b7eba0400", "54de35187261692ae75f0300", "54de3532726169793d370e00", "54de35447261692ae7790300", "54de35457261692074c20d00", "54de35487261693109ab0d00", "54de35507261692b6f7c0200", "54de356f72616937f5790d00", "54de35777261693155670d00", "54de35db7261696a56750c00", "54de46a97261696e1e190100", "54de46b27261691e66ee0000", "54de46c67261694df81f0100", "54de533b72616944d48a0100", "54de5a077261694df1160200", "54de5a3972616936eaa40100", "54de694e726169523dd30200", "54de69617261691d5bb00200", "54de69827261692f4fa40200", "54de69a77261696e0dcc0200", "54de69d9726169752e6a0200", "54de99247261692f54840400", "54de99357261692ba09c0400", "54de99407261690bffca0500", "54de9b447261694dfd960400", "54de9b477261692013da0400", "54de9b4f7261693c5b070500", "54dfabf17261692ba63b0d00", "54dfabfb72616963d2420d00", "54dfabff7261697534a70c00", "54e2664172616906a3820000", "54e266b77261696ad36f0000", "54e267d27261692ecc8b0000", "54e269157261693a707d0000", "54e269af726169527f7f0000", "54e275827261696b1bdf0000", "54e276767261696bdecd0000", "54e3816a7261692ed2ab0a00", "54e381ce7261695e5f870a00", "54e38f577261697423be0b00", "54e38f747261691f27da0b00", "54e38f857261692c23880700", "54e38f9a7261692c2e5f0700", "54e38fb27261692b012e0700", "54e38fc37261693d9a8d0b00", "54e38fd57261692c44390300", "54e38fe97261695e5f9a0b00", "54e38ffe7261690699900b00", "54e3900c7261692bac090200", "54e391987261693cc0030000", "54e39198726169788f130000", "54e3997072616935a68e0000", "54e39faa7261694794b60000", "54e3a50a7261692d016a0100", "54e3a7d1726169023db40100", "54e3a7e77261692d11e00100", "54e3a8037261690d5c720100", "54e3a81b7261694794b10100", "54e3abf972616962b4740200", "54e3ac5f7261692ca6740200", "54e3ac6c726169570bd70100", "54e3ac827261693cb6820200", "54e3ac877261690f991c0200", "54e3ae677261693cb6bd0200", "54e3ae7f72616913416e0200", "54e3b00f7261693ee8240200", "54e3b02272616916867a0200", "54e3b0f87261693cb3480200", "54e3b1e4726169478edd0200", "54e3b29d726169789ae10200", "54e3b3837261693cc0ca0200", "54e3b425726169635b3b0200", "54e3b42c726169570b410200", "54e3b5d67261696354630300", "54e3b665726169172cf50200", "54e3b69a7261693da5b80200", "54e3b76572616903bce10200", "54e3bdb072616962c7860300", "54e3bf757261693c37c70400", "54e3c0437261693cb6110500", "54e3c1f6726169789ae00400", "54e3c3977261690d5c630400", "54e3c42e7261690d57440500", "54e3c4907261693d9efb0400", "54e3c5f37261693cb9650500", "54e3c79a7261694785870400", "54e3c85c7261691729220500", "54e3ca54726169634bdd0500", "54e3caf372616913347f0500", "54e3cb5e726169788ae80500", "54e4bd4a7261692b7e7b0200", "54e4bdfb7261692ab5c40200", "54e4bdfe7261696a56a71d00", "54e50c6e72616912e2bd0100", "54e50c6f7261692ce45f0100", "54e50c6f7261693fe3830100", "54e50c6f726169789b800100"]

block body
  #artwork-view-in-room-container
    //- Rendered client-side
  #artwork-deep-zoom-container
    //- Rendered client-side
  #artwork-page.main-layout-container( data-route='show' )
    include artwork

    section#more-info.artwork-related-information
      #artwork-artist-related-extended.ari-container
        if artwork.hasMoreInfo() || (artist && artist.get('blurb')) || artwork.isComparable()
          .ari-cell
            if artwork.hasMoreInfo()
              .about-artwork-section
                h2.avant-garde-header-center About This Artwork
                include ./_more_info

            if artist && artist.get('blurb')
              .artwork-artist
                h2.avant-garde-header-center
                  | About
                  = ' '
                  a( href= artist.href() )
                    = artist.get('name')

                if artist.get('blurb')
                  .artwork-artist-blurb
                    != artist.mdToHtml('blurb')

            if artwork.isComparable() && adaaIds.indexOf(artwork.get('_id')) < 0
              .is-center-aligned
                a.artwork-auction-results-button.avant-garde-header-small(
                  href="/artwork/#{artwork.id}/auction-results"
                ) See related auction results

    section#artwork-related-show-section
      //- Rendered client-side

    if artist
      section#artist-artworks-section
        h2.avant-garde-header-center
          | More Works by
          = ' '
          a( href=artist.href() )
            = artist.get('name')

        .artworks-list
          //- Rendered client-side

        .artist-link-container
          a.faux-underline-hover-large(
            href="/artist/#{artist.id}"
           ) Go to #{artist.get('name')}

    section#artwork-below-the-fold-section
      //- Rendered client-side

  include ../../../components/main_layout/templates/json_ld
