extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artwork'

block body
  #artwork-view-in-room-container
  #artwork-deep-zoom-container
  #artwork-page.main-layout-container( data-route='show' )
    article.artwork-container
      section.artwork-overview
        .artwork-left-section
          #artwork-feature-navigation
          #artwork-auction-clock
            //- Rendered client-side
            include ../../../components/auction_clock/template

        .artwork-image
          a.artwork-image-zoom(
            href  = "/artwork/#{artwork.id}/zoom"
            rel   = 'nofollow'
            data-client
          )
            img#the-artwork-image(
              alt     = artwork.get('title')
              title   = artwork.get('title')
              nopin   = artwork.noPinAttr()
              src     = artwork.defaultImage().imageUrlFor(640, 640)
            )

        if artwork.hasAdditionalImages()
          .artwork-additional-images
            for image, i in artwork.images.models
              a.artwork-additional-image(
                class       = i === 0 ? 'is-active' : 'is-inactive'
                data-id     = image.id
                data-href   = image.imageUrlFor(640, 640)
              )
                img(
                  src= image.imageUrl('small')
                  alt= "#{artwork.get('title')} (#{i + 1})"
                )

        .artwork-image-actions
          a.circle-icon-button-save
          a.circle-icon-button-share
          if artwork.isHangable()
            a.circle-icon-button-frame(
              href="/artwork/#{artwork.id}/view-in-room", data-client, rel='nofollow'
            )

      aside.artwork-detail
        include ./_detail

    section.artwork-related-information
      .ari-container
        if artwork.hasLeftInfoSection(user, artist)
          .ari-left
            if artwork.showAboutArtworkHeading()
              .about-artwork-section( class=(artist && artist.get('blurb') ? 'add-margin-bottom' : ''))
                h2.avant-garde-header-center
                  | About This Artwork
                if artwork.get('blurb')
                  .artwork-blurb
                    != artwork.mdToHtml('blurb')
                if artwork.hasMoreInfo()
                  include ./_more_info

            if artist
              if artist.get('blurb')
                .artwork-artist( data-state=(artist.get('blurb') ? '' : 'pending' ) )
                  h2.avant-garde-header-center
                    | About&nbsp;
                    a( href=artist.href() )= artist.get('name')

                  if artist.get('blurb')
                    .artwork-artist-blurb
                      != artist.mdToHtml('blurb')

            if artwork.isComparable()
              a.artwork-auction-results-button.avant-garde-header-small( href="/artwork/#{artwork.id}/auction-results" ) See related auction results
            a.related-posts-add-button.avant-garde-header-small Add Post
        #artwork-artist-related-posts-container.ari-right( class=(artwork.hasLeftInfoSection(user, artist) ? "" : "borderless") )
          //- Rendered client-side

    section#artwork-related-show-section
      //- Rendered client-side

    if artist
      section#artist-artworks-section
        h2.avant-garde-header-center
          | More Works by&nbsp;
          a( href=artist.href() )= artist.get('name')

        .artworks-list
        .artist-link-container
          a.faux-underline-hover-large(
            href="/artist/#{artist.id}"
           ) Go to #{artist.get('name')}

    section#artwork-below-the-fold-section
      //- Rendered client-side

  include ../../../components/main_layout/templates/json_ld
