extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artwork'

block body
  #artwork-view-in-room-container
    //- Rendered client-side
  #artwork-deep-zoom-container
    //- Rendered client-side
  #artwork-page.main-layout-container( data-route='show' )
    include artwork

    section#more-info.artwork-related-information
      .ari-container
        if artwork.hasLeftInfoSection(user, artist)
          .ari-left
            if artwork.showAboutArtworkHeading()
              .about-artwork-section( class=(artist && artist.get('blurb') ? 'add-margin-bottom' : ''))
                h2.avant-garde-header-center
                  | About This Artwork
                if artwork.get('blurb')
                  .artwork-blurb
                    != artwork.mdToHtml('blurb')
                if artwork.hasMoreInfo()
                  include ./_more_info

            if artist
              if artist.get('blurb')
                .artwork-artist( data-state=(artist.get('blurb') ? '' : 'pending' ) )
                  h2.avant-garde-header-center
                    | About&nbsp;
                    a( href=artist.href() )= artist.get('name')

                  if artist.get('blurb')
                    .artwork-artist-blurb
                      != artist.mdToHtml('blurb')

            if artwork.isComparable()
              a.artwork-auction-results-button.avant-garde-header-small( href="/artwork/#{artwork.id}/auction-results" ) See related auction results
            a.related-posts-add-button.avant-garde-header-small Add Post
        #artwork-artist-related-posts-container.ari-right( class=(artwork.hasLeftInfoSection(user, artist) ? "" : "borderless") )
          //- Rendered client-side

    section#artwork-related-show-section
      //- Rendered client-side

    if artist
      section#artist-artworks-section
        h2.avant-garde-header-center
          | More Works by&nbsp;
          a( href=artist.href() )= artist.get('name')

        .artworks-list
        .artist-link-container
          a.faux-underline-hover-large(
            href="/artist/#{artist.id}"
           ) Go to #{artist.get('name')}

    section#artwork-below-the-fold-section
      //- Rendered client-side

  include ../../../components/main_layout/templates/json_ld
