extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  assetPackage = 'artwork'

block body
  #artwork-deep-zoom-container
  #artwork-page.main-layout-container( data-route='show' )
    article.artwork-container
      section.artwork-overview
        .artwork-image
          a.artwork-image-zoom(
            href="/artwork/#{artwork.id}/zoom"
            rel='zoom'
            data-client
          )
            img#the-artwork-image(
              alt= artwork.get('title')
              title= artwork.get('title')
              nopin= artwork.noPinAttr()
              src= artwork.defaultImage().imageUrlFor(500, 500)
            )

        .artwork-more-info
          include ./_more-info

        .artwork-image-actions
          a.circle-icon-button-share
          a.circle-icon-button-save

      aside.artwork-detail
        include ./_detail

    section.artwork-related-information
      .artwork-artist
        if artist.get('blurb')
          h3.avant-garde-header-center
            | About #{artist.get('name')}
          .artwork-artist-blurb
            != artist.mdToHtml('blurb')
          a.artwork-artist-blurb-link.faux-underline-hover-large(
            href="/artist/#{artist.id}"
          ) Go to #{artist.get('name')}

      .artwork-featured-posts
        h3.avant-garde-header-center
          | Featured Posts About This Artwork
