extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'artwork'

block body
  #artwork-view-in-room-container
    //- Rendered client-side
  #artwork-deep-zoom-container
    //- Rendered client-side
  #artwork-page.main-layout-container( data-route='show' )
    include artwork

    section#more-info.artwork-related-information
      #artwork-artist-related-extended.ari-container
        if artwork.hasMoreInfo() || (artist && artist.get('blurb')) || artwork.isComparable()
          .ari-cell
            if artwork.hasMoreInfo()
              .about-artwork-section
                h2.avant-garde-header-center About This Artwork
                include ./_more_info

            if artist && artist.get('blurb')
              .artwork-artist
                h2.avant-garde-header-center
                  | About
                  = ' '
                  a( href= artist.href() )
                    = artist.get('name')

                if artist.get('blurb')
                  .artwork-artist-blurb
                    != artist.mdToHtml('blurb')

            if artwork.isComparable()
              .is-center-aligned
                a.artwork-auction-results-button.avant-garde-header-small(
                  href="/artwork/#{artwork.id}/auction-results"
                ) See related auction results

    section#artwork-related-show-section
      //- Rendered client-side

    if artist
      section#artist-artworks-section
        h2.avant-garde-header-center
          | More Works by
          = ' '
          a( href=artist.href() )
            = artist.get('name')

        .artworks-list
          //- Rendered client-side

        .artist-link-container
          a.faux-underline-hover-large(
            href="/artist/#{artist.id}"
           ) Go to #{artist.get('name')}

    section#artwork-below-the-fold-section
      //- Rendered client-side

  include ../../../components/main_layout/templates/json_ld
