title= artwork.toPageTitle()
meta( property="og:title", content=artwork.toPageTitle() )
meta( name="description", content=artwork.toPageDescription(155) )
meta( property="og:description", content=artwork.toPageDescription(155) )
meta( property="twitter:description", content=artwork.toPageDescription(200) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/artwork/" + artwork.get('id')) )
link( rel="canonical", href=(sd.ARTSY_URL + "/artwork/" + artwork.get('id')) )
meta( property="og:url", content=(sd.ARTSY_URL + "/artwork/" + artwork.get('id')) )
meta( property="og:type", content=(sd.FACEBOOK_APP_NAMESPACE + ":artwork" ) )
meta( name="fragment", content="!" )
if artwork.defaultImage().hasImage('large')
  meta( property="twitter:card", content="summary_large_image" )
  meta( property="og:image", content=artwork.defaultImageUrl('large'))
else
  meta( property="twitter:card", content="summary" )
