header.partner-header
  .partner-info-container
    a.profile-badge.partner-icon( href=profile.href() )
      .profile-badge-icon
        if profile.has('icon')
          img( src=profile.iconImageUrl(), alt=profile.displayName() )
        else
          .profile-badge-initials= profile.defaultIconInitials()
    .partner-info
      h1.partner-name= profile.displayName()
      p.partner-bio= profile.get('bio')
      .partner-actions
        button.avant-garde-button-white.follow-button
        .partner-followers= profile.formatFollowText()
  .partner-nav
