title!= profile.metaTitle(sd.SECTION)
meta( property="og:title", content!=profile.metaTitle(sd.SECTION) )
meta( name="description", content=profile.metaDescription(sd.SECTION) )
meta( property="og:description", content=profile.metaDescription(sd.SECTION) )
meta( property="twitter:description", content=profile.metaDescription(sd.SECTION) )
meta( property="og:url", content=(sd.APP_URL + sd.CURRENT_PATH) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + sd.CURRENT_PATH) )
meta( property="og:type", content="profile" )
meta( property="profile:username", content=profile.get('id') )
meta( property="twitter:card", content="summary" )
if params.artistId
  link( rel="canonical", href=("#{sd.APP_URL}/artist/#{params.artistId}") )
else
  link( rel="canonical", href=(sd.APP_URL + sd.CURRENT_PATH) )
