mixin showFigureContent(show, isFeatured)
  .cover-image( style="background-image: url(#{show.posterImageUrl(isFeatured)})" )
    .overlay
  figurecaption
    h5.partner-show-heading= show.formatLeadHeading()
    if show.has('artists')
      h3.partner-show-artists= show.formatArtists()
    h4.partner-show-name= show.formatFeedItemHeading()
    h6.partner-show-time!= show.runningDates()

mixin showsGallery(shows, isFeatured)
  each show in shows
    figure.partner-show-summary
      if show.linkable()
        a( href=show.clientUrl() )
          +showFigureContent(show, isFeatured)
      else
        +showFigureContent(show, isFeatured)

if featured
  section.partner-shows-section.featured
    +showsGallery([featured], true)

if current.length > 0
  h2 Current Shows
  section.partner-shows-section.current
    +showsGallery(current, false)

if upcoming.length > 0
  h2 Upcoming Shows
  section.partner-shows-section.upcoming
    +showsGallery(upcoming, false)

if past.length > 0
  h2 Past Shows
  section.partner-shows-section.past
    +showsGallery(past, false)
