mixin showFigureContent(show, isFeatured)
  .partner-show-cover-image( style="background-image: url(#{show.posterImageUrl(isFeatured)})" )
    .partner-show-overlay
  figurecaption.partner-show-caption
    h5.partner-show-heading= show.formatLeadHeading()
    if show.has('artists')
      h3.partner-show-artists= show.formatArtists()
    h4.partner-show-name= show.formatFeedItemHeading()
    h6.partner-show-time!= show.runningDates()

mixin showsGallery(shows, isFeatured)
  .partner-shows-container
    each show in shows
      figure.partner-show
        if show.linkable()
          a( href=show.clientUrl() )
            +showFigureContent(show, isFeatured)
        else
          +showFigureContent(show, isFeatured)

#partner-shows
  if featured
    section.partner-shows-section.featured
      +showsGallery([featured], true)

  if current.length > 0
    section.partner-shows-section.current
      h2.avant-garde-header-center Current Shows
      +showsGallery(current, false)

  if upcoming.length > 0
    section.partner-shows-section.upcoming
      h2.avant-garde-header-center Upcoming Shows
      +showsGallery(upcoming, false)

  if past.length > 0
    section.partner-shows-section.past
      h2.avant-garde-header-center Past Shows
      +showsGallery(past, false)
