if myActiveBids && myActiveBids.length
  ul
    for bid in myActiveBids
      li.my-active-bids-item( class= bid.is_highest_bidder ? ' my-active-bids-winning' : '' )
        a( href=bid.sale_artwork.artwork.href )
          img( src=bid.sale_artwork.artwork.image.url )
          .my-active-bids-item-details
            h4 Lot #{bid.sale_artwork.lot_number}
            strong= bid.sale_artwork.artwork.artist.name
            p #{bid.sale_artwork.highest_bid.display} (#{bid.sale_artwork.counts.bidder_positions} Bids)
        if bid.is_highest_bidder
          p.my-active-bids-warning Highest Bid
        else
          p.my-active-bids-warning Outbid
        a.avant-garde-button-black.my-active-bids-bid-button(
          href=bid.sale_artwork.artwork.href
        ) Bid
else
  | Nothing yet.
