if myActiveBids && myActiveBids.length
  ul
    for bid in myActiveBids
      li.my-active-bids-item( class= bid.is_winning ? ' my-active-bids-winning' : '' )
        a( href=bid.sale_artwork.artwork.href )
          img( src=bid.sale_artwork.artwork.image.url )
          .my-active-bids-item-details
            h4 Lot #{bid.sale_artwork.lot_number}
            strong= bid.sale_artwork.artwork.artist.name
            p #{accounting.formatMoney(bid.sale_artwork.highest_bid.amount_cents / 100, '$', 0)} (#{bid.sale_artwork.bidder_positions_count} Bids)
        if bid.is_winning
          p.my-active-bids-warning Highest Bid
        else
          p.my-active-bids-warning Outbid
        a.avant-garde-button-black.my-active-bids-bid-button(
          href=bid.sale_artwork.artwork.href
        ) Bid
else
  | Nothing yet.
