if artist.articles.length
  .artwork-artist__content__articles
    for article in artist.articles
      a.artwork-artist__content__articles__article( href= article.href )
        if article.image
          .artwork-artist__content__articles__article__image
            img(
              src= article.image.thumb.url
              width= article.image.thumb.width
              height= article.image.thumb.height
            )

          .artwork-artist__content__articles__article__metadata
            h2= article.title
            if article.author
              h3= article.author.name
