a.search-result(
  href= result.href()
  class= result.publishedClass && result.publishedClass()
  data-id= result.get('id')
)
  .search-result-thumbnail
    .search-result-thumbnail-fallback
      img(
        src= result.imageUrl()
        width='50'
        height='50'
        alt= result.get('title')
        onerror='this.style.display="none";'
      )

  .search-result-info
    if result.get('display_model')
      .search-result-kind
        = result.get('display_model')
    if result.get('display')
      .search-result-display
        = result.highlightedDisplay ? result.highlightedDisplay(term) : result.get('display')
    if result.get('about')
      .search-result-about
        = result.get('about')
