.settings-form.settings-account-form( class=editAccountIsActive )
  label.avant-garde-form-label( for="user-name" ) Full Name
  input#user-name.bordered-input( type="text", value=user.get('name') || "", name="name" )
  .settings-form-error( data-attr='name' )

  label.avant-garde-form-label( for="user-email" ) Email
  input#user-email.bordered-input( type="email", value=user.get('email'), name="email" )
  .settings-form-error( data-attr='email' )

  .settings-email-support
    label.avant-garde-form-label( for="user-email-confirmation" ) Repeat New Email
    input#user-email-confirmation.bordered-input( type="email", value='', name="email_confirmation" )
    .settings-form-error( data-attr='email_confirmation' )

  label.avant-garde-form-label( for="user-new-password" ) New Password
  input#user-new-password.bordered-input( type="password", name="new_password", placeholder="(Leave blank to keep password unchanged)" )
  .settings-form-error.settings-form-message( data-attr='new_password' )

  .settings-password-support
    label.avant-garde-form-label( for="user-password-confirmation" ) Repeat New Password
    input#user-password-confirmation.bordered-input( type="password", name="password_confirmation" )
    .settings-form-error( data-attr='password_confirmation' )

    label.avant-garde-form-label( for="user-current-password" ) Current Password
    input#user-current-password.bordered-input( type="password", name="current_password" )
    .settings-form-error( data-attr='current_password' )

  label.avant-garde-form-label( for="user-phone" ) Phone Number
  input#user-phone.bordered-input( type="tel", value=user.get('phone') || '', name="phone" )
  .settings-form-error( data-attr='phone' )

  label.avant-garde-form-label( for="user-id" ) Profession
  input#user-profession.bordered-input( type="text", value=user.get('profession'), name="profession")
  .settings-form-error( data-attr='profession' )

  button#user-edit-submit.avant-garde-box-button Save Changes
