- var title = 'Gallery Partnerships at Artsy | Your Gallery Online'
- var description = 'Join the leading marketplace for art and design — expand your collector reach with over 2 million visitors from more than 190 countries.'

title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( name="og:description", content=description )
meta( property="twitter:description", content=description )

