extends ../../../components/main_layout/templates/index

block head
  title #{title} | Artsy

  link( rel='alternate', media= sd.MOBILE_MEDIA_QUERY, href='#{sd.MOBILE_URL}/#{slug}' )
  link( rel='canonical', href='#{sd.APP_URL}/#{slug}' )

  meta( property='og:title', content='#{title} | Artsy' )
  meta( name='description', content= description )
  meta( name='og:description', content= description )
  meta( property='twitter:description', content= description )
  meta( property='og:url', content='#{sd.APP_URL}/#{slug}' )
  meta( property='og:image', content= asset('/images/og_image.jpg') )
  meta( property='og:type', content='website' )
  meta( property='twitter:card', content='summary' )

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-no-margins body-no-padding'

block body
  .christies-banner-image( style='background-image: url("#{banner.src}")')
    .christies-banner-image__logo( style='background-image: url("#{banner.logo_src}")')
    .responsive-layout-container: .main-layout-container
      .christies-banner-image__text( style='background-image: url("#{banner.text_src}")')

  .responsive-layout-container: .main-layout-container.main-layout-container--christies
    section.christies-featured-editorials
      h4.small-caps.christies-section-header Featured Editorial
      for editorial in editorials
        a.christies-featured-editorial( href= editorial.href )
          .christies-featured-editorial-image
            img( src= editorial.src, alt= editorial.title, title= editorial.title )
          .christies-featured-editorial-metadata

            h4= editorial.title
            h5 Artsy Editorial

    section.christies-sale-links
      h4.small-caps.christies-section-header Featured Sales
      for sale in sales
        .christies-sale-item
          a.christies-sale-link( href=sale.href style='background-image: url("#{sale.src}")')
            .christies-sale-link-mobile-img: img(src="#{sale.src}")
            .christies-sale-link-metadata
              .opening Opening #{sale.date}
              h3!= sale.title
              h4= sale.description
