.artwork-actions
  a.artwork-action.artwork-action--save.black-tooltip(
    data-message='Favorite'
    class='js-artwork-save'
  ): i.icon-heart

  if artwork.is_shareable
    a.artwork-action.artwork-action--share.black-tooltip(
      data-message='Share'
      class='js-artwork-share'
    ): i.icon-share

  if artwork.is_hangable
    a.artwork-action.artwork-action--view-in-room.black-tooltip(
      data-message='View in Room'
      class='js-artwork-view-in-room'
    ): i.icon-frame
