if auction.isAuctionPromo()
  if saleArtwork.estimate() && (auction.isPreview() || auction.isOpen())
    .artwork-auction-estimate
      | #{saleArtwork.estimateLabel()}: #{saleArtwork.estimate()}

  if auction.isPreview() || auction.isOpen()
    .artwork-auction-promo-sale-message
      | Contact auction house to bid

  if auction.isPreview()
    include ../contact/templates/index

  else if auction.isOpen()
    .artwork-auction-promo-open-message
      | This auction is currently open. To bid please call the auction house.

  else
    //- Auction is closed. Do nothing.

  .artwork-auction-detail-phone-number.js-artwork-auction-detail-phone-number
    //- Rendered separately

else
  if saleArtwork.estimate() && !auction.isClosed()
    .artwork-auction-estimate
      | #{saleArtwork.estimateLabel()}: #{saleArtwork.estimate()}

  if auction.isOpen()
    if bidderPositions && bidderPositions.length
      .artwork-bidder-position-status(
        class= bidderPositions.classes()
      )
        if (position = bidderPositions.isHighestBidder())
          | You are currently the highest bidder for this lot with a bid at #{position.currentBid()}
        else if (position = bidderPositions.isOutbid())
          | Your max bid of #{position.maxBid()} has been outbid.

  .artwork-bid-status
    .abs-bid #{saleArtwork.bidLabel()}:
    .abs-amount= saleArtwork.currentBid()
    .abs-count= saleArtwork.formatBidsAndReserve()

    form.artwork-bid-form.js-artwork-bid-form( action= auction.bidUrl(saleArtwork) )
      if auction.isOpen() && user
        .abf-validation-error
          | Your bid needs to be at least #{saleArtwork.minBid()}
        .abf-min-next
          | Enter #{saleArtwork.minBid()} or higher
        .typed-bordered-input.is-block
          span $
          input.bordered-input( name='bid', autocomplete='off', required )

      if auction.isOpen() && auction.get('buyers_premium')
        p.artwork-buyers-premium-link
          | This work has a&nbsp;
          a.js-buyers-premium.fine-faux-underline( href='#' ) Buyer's Premium

      button.avant-garde-button-black.abf-button(
        type= 'submit'
        class= auction.bidButtonState(user, artwork).classes
        disabled= !auction.bidButtonState(user, artwork).enabled
      )
        = auction.bidButtonState(user, artwork).label

  if auction.isOpen() && artwork.get('acquireable')
    .artwork-meta-price
      .artwork-meta-price-label.is-not-sold Buy Now Price
      .artwork-meta-price-amount= artwork.priceDisplay()
    a.avant-garde-button-black.artwork-buy-button.artwork-contact-buy-button
      | Buy Now

  .abf-help
    a.js-auction-faqs.fine-faux-underline( href='/auction-info' )
      | Auction FAQs
    br
    a.fine-faux-underline( href="artwork/#{saleArtwork.id}/ask_specialist", data-client )
      | Ask a Specialist
