.artwork-actions
  if artwork.is_in_auction
    a.artwork-action.artwork-action--save.black-tooltip(
      data-message='Watch Lot'
      class='js-artwork-save'
    ): include ../../../../components/main_layout/public/icons/bell.svg
  else
    a.artwork-action.artwork-action--save.black-tooltip(
      data-message='Save'
      class='js-artwork-save'
    ): i.icon-heart

  if artwork.is_shareable && artwork.images[0] && artwork.images[0].url
    a.artwork-action.artwork-action--share.black-tooltip(
      data-message='Share'
      class='js-artwork-share analytics-artwork-share'
    ): i.icon-share

  if artwork.is_hangable
    a.artwork-action.artwork-action--view-in-room.black-tooltip(
      data-message='View in Room'
      class='js-artwork-view-in-room analytics-artwork-view-in-room'
    ): i.icon-frame

  if user && user.isAdmin()
    .artwork-actions__admin
      a(
        href='#{artwork.href}/download/#{helpers.actions.filename(artwork)}.jpg'
        target='_blank'
      )
        i.icon-download
        | Download

      if artwork.partner
        a(
          href='#{sd.CMS_URL}/artworks/#{artwork.id}/edit?current_partner_id=#{artwork.partner.id}'
          target='_blank'
        )
          i.icon-edit
          | Edit

      a(
        href='#{sd.GENOME_URL}/genome/artworks?artwork_ids=#{artwork.id}'
        target='_blank'
      )
        i.icon-link
        | Genome
