.settings-quasi-infinite
  .settings-quasi-infinite__total
    if total
      | #{total} #{kind}

  .settings-quasi-infinite__collection(
    class='js-settings-quasi-infinite__collection'
  )
    if collection && collection.length === 0
      | Nothing yet.

  if !collection || collection && collection.length > 0
    .settings-quasi-infinite__more
      a.avant-garde-button-black.is-block(
        class='js-settings-quasi-infinite__more__button'
        data-state= (!collection ? 'loading' : 'loaded')
      )
        | More
        if remaining
          = ' '
          | (#{remaining})
