title= article.get('search_title') ? article.get('search_title') : article.get('thumbnail_title')
link( rel="canonical" href=article.fullHref() )
if article.hasAMP()
meta( property="og:site_name" content='Artsy' )
meta( property="og:url", content=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="og:type", content="article" )
meta( property="og:published_time", content=article.get('published_at') )
meta( property="article:published_time", content=article.get('published_at') )
meta( property='article:publisher', content='https://www.facebook.com/artsy/')
meta( name='twitter:site', content='@artsy' )
meta( property='twitter:url', content=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="twitter:card", content="summary_large_image" )
meta( name='cre', content='Artsy' )
meta( property='fb:app_id', content=sd.FACEBOOK_ID )

//- Search Description
meta( property='description', content= article.get('search_description') ? article.get('search_description') : article.get('description'))
//- Social Image
meta( property="og:image", content= article.get('social_image') ? article.get('social_image') : article.get('thumbnail_image') )
meta( property="twitter:image" content= article.get('social_image') ? article.get('social_image') : article.get('thumbnail_image'))
//- Social Description
meta( name='twitter:description' content= article.get('social_description') ? article.get('social_description') : article.get('description'))
meta( name='og:description' content= article.get('social_description') ? article.get('social_description') : article.get('description'))
//- Social Title
meta( name='twitter:title' content= article.get('social_title') ? article.get('social_title') : article.get('thumbnail_title'))
meta( name='og:title' content= article.get('social_title') ? article.get('social_title') : article.get('thumbnail_title'))

//- Keywords
if article.get('keywords') && article.get('keywords').length
  meta( property="news_keywords", content=(article.get('keywords')).join(', ') )
  meta( name="keywords", content=(article.get('keywords')).join(', ') )
  meta( property="article:tag", content=(article.get('keywords')).join(', ') )

//- Sailthru Metatags
if article.get('published')
  if article.get('email_metadata')
    if article.get('email_metadata').headline
      meta( name="sailthru.title", content=article.get('email_metadata').headline)
    if article.get('email_metadata').author
      meta( name="sailthru.author" content=article.get('email_metadata').author)
    if article.get('email_metadata').image_url
      - var src = article.get('email_metadata').image_url
      meta( name="sailthru.image.full" content=crop(src, { width: 1200, height: 800 } ))
      meta( name="sailthru.image.thumb" content=crop(src, { width: 600, height: 400 } ))
  - var keywords = ['article']
  if article.get('featured') === true
    - keywords = keywords.concat(['magazine'])
  if article.get('keywords') && article.get('keywords').length
    - keywords = keywords.concat(article.get('keywords'))
  meta( name="sailthru.tags" content=keywords.join(','))
  meta( name="sailthru.date" content=article.get('published_at'))

if article.get('contributing_authors') && article.get('contributing_authors').length
  - for author in article.get('contributing_authors')
      if author.name
        meta( name='author', content=author.name )
      if author.facebook_uid
        meta( property='article:author', content=author.facebook_uid )
      if author.twitter_uid
        meta( property='twitter:creator:id', content=author.twitter_uid )

if !article.get('indexable')
  meta( name='robots', content='noindex' )
