form.contact-form.stacked-form
  .contact-show-details.stacked-form-cell
    if displayThumbnail
      img( src=show.imageUrl() )
    p= show.get('name')
    p= show.runningDates()

  textarea.bordered-input.is-persistplaceholder(
      placeholder= 'Your message to the gallery'
      name= 'message'
      autofocus= autofocus
      rows= '7'
      required
    )
  if user && user.id
    //- Logged in
    .stacked-form-cell
      | From: #{user.get('name')}
      span.mcf-email  (#{user.get('email')})
    input( type='hidden', name='name', value=user.get('name') )
    input( type='hidden', name='email', value=user.get('email') )
  else
    //- Logged out
    input.bordered-input.is-persistplaceholder(
      placeholder= 'Your full name'
      type= 'text'
      name= 'name'
      required
    )
    input.bordered-input(
      type= 'email'
      name= 'email'
      placeholder= 'Your email address'
      required
    )

  button#contact-submit.js-send-inquiry.avant-garde-button-black( href='#', data-state='ok' )
    | Send

a.contact-nevermind.js-nevermind(href="#") Nevermind, cancel my inquiry

