header.auction-lots-header
  h1= artist.toAuctionResultsPageTitle()

  .auction-lots-sources
    .auction-lots-sources-label Results provided by
    .auction-lots-sources-image

include ../../../components/bordered_pulldown/mixin
include ../../../../node_modules/artsy-ezel-components/pagination/paginator

.auction-lots-interstital
  .auction-lots-page-total
      | #{auctionLots.state.totalRecords} Results
      if (auctionLots.state.totalPages > 1)
        | &mdash;Page #{auctionLots.state.currentPage} of #{auctionLots.state.totalPages}

  .auction-lots-sort
    +bordered-pulldown(auctionLots.sortCriteria[auctionLots.sortBy], 'Sort by:')
      a( data-sort=sortBy )= auctionLots.sortCriteria[auctionLots.sortBy]
      for k, v in auctionLots.sortCriteria
        if (!(!user && k === 'Sale' || v === auctionLots.sortBy))
          a( href="?sort=#{v}" )= k

table.auction-lots-table
  include ./auction_lots_table

+paginate(auctionLots.state.currentPage, auctionLots.state.totalPages, '?sort=' + auctionLots.sortBy + '&')
