.home-hero-unit(
  class= heroUnit.cssClass() + (i == 0 ? ' home-hero-unit-active' : '')
  style="background-image: url('#{heroUnit.backgroundImageUrl()}')"
  data-type=heroUnit.get('type').toLowerCase()
)
  a.hhu-frame( class='js-homepage-hero-unit', href=heroUnit.get('link') ): .responsive-layout-container: .main-layout-container
    .vam-outer: .vam-inner: .hhu-inner
      if heroUnit.get('type') === 'welcome'
        i.icon-logotype

      .hhu-header.small-caps
        = heroUnit.get('heading')
      if heroUnit.has('title_image_url')
        img.hhu-title(
          src= heroUnit.titleImageUrl()
          data-retina= heroUnit.titleImageRetinaUrl()
          alt= heroUnit.get('name')
        )
      .hhu-subheading
        != heroUnit.mdToHtml('description')
      .avant-garde-button(
        onMouseOver="this.style.color='##{heroUnit.get('link_color_hover_hex') || '000'}'",
        onMouseOut="this.style.color=null"
      )= heroUnit.get('link_text')

    .hhu-credit= heroUnit.get('credit_line')
