for image in images
  - dimensions = image.resizeDimensionsFor({ width: max.width, height: max.height })
  a.image-module-image(
    style="width: #{dimensions.width}px; height: #{dimensions.height}px; background-image: url(#{image.imageUrl('large')})"
    href= image.get('href')
  )

