.partner2-artists-grid
  each group in groups
    section.partner2-overview-section.artists-grid-section
      h3.partner2-overview-section-title.artists-group-label= _s.titleize(group.label)
      .partner2-artists-container
        each pa in group.list
          if pa.get('published_artworks_count') > 0 && pa.get('display_on_partner_profile') === true
            figure.partner2-artist( data-artist-id=pa.get('artist').id )
              a.partner2-route-link( href=pa.href() )
                .partner2-artist-cover-image
                  img( src="#{pa.imageUrl('four_thirds')}", alt=pa.get('artist').name )
                  .partner2-artist-overlay
                figurecaption.partner2-artist-caption
                  h5.partner2-artist-name= pa.get('artist').name

  section.artists-grid-section
    .partner2-artists-see-all.avant-garde-header-center
      a.faux-underline-hover.partner2-route-link(
        href="#{partner.href()}/artists"
      ) Go to artists
