mixin amp_hero_section(hero)
  case hero.type
    when 'image'
      amp-img(src=resize(hero.background_image_url, {width: 600}) layout="responsive" width="300", height="200")
      figcaption= hero.caption
    when 'fullscreen'
      if hero.background_url
        video(loop=true)
          source(src=hero.background_url type='video/mp4')
      else
        amp-img(src=resize(hero.background_image_url, {width: 600}) layout="responsive" width="300", height="200")
    when 'video'
      +amp_video(hero)

mixin amp_artwork(section)
  .amp-artwork
    amp-img(src=resize(section.image, { width: 800 }) layout="responsive" width="800" height=((800 * section.height) / section.width))
    +artwork_caption(section)

mixin amp_image(section)
  .amp-img
    amp-img(src=resize(section.url, { width: 800 }) layout="responsive" width="800" height=((800 * section.height) / section.width))
    if section.caption && section.caption.length > 0
      figcaption
        != section.caption

mixin amp_image_collection(section)
  .amp-image-collection
    each image in section.images
      if image.type === 'artwork'
        +amp_artwork(image)
      else if image.type = 'image'
        +amp_image(image)

mixin amp_image_set(section)
  amp-carousel(height="400" type="slides" loop)
    each item in section.images
      if item.type === 'image'
        +amp_image(item)
      else if item.type === 'artwork'
        +amp_artwork(item)

mixin amp_video(section)
  .article-section-container.responsive-layout-container
    .article-section-video
      if section.url.match('youtube')
        amp-youtube(data-videoid=embed.getId(section.url) layout="responsive" width="480" height="270")
      else if section.url.match('vimeo')
        amp-vimeo(data-videoid=embed.getId(section.url) layout="responsive" width="480" height="270")

mixin amp_embed(section)
  .article-section-container.responsive-layout-container
    .article-section-embed
      amp-iframe(src=section.url height="#{section.mobile_height || section.height}" width="300" layout="responsive" sandbox="allow-scripts allow-same-origin")
