include amp_mixins
include ../../../components/article/templates/mixins

<!doctype html>

html(amp)
  head
    meta(charset='utf-8')
    title= article.get('search_title') || article.get('thumbnail_title')
    link(rel='canonical', href=article.fullHref())
    link(type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css")
    link( type='text/css', rel='stylesheet', href=asset('/assets/main_layout.css') )
    link( type='text/css', rel='stylesheet', href=asset('/assets/article.css') )
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    script(type='application/ld+json')=article.toJSONLD()
    script(async='', custom-element='amp-carousel', src='https://cdn.ampproject.org/v0/amp-carousel-0.1.js')
    <script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(async='', src='https://cdn.ampproject.org/v0.js')

  body.body-article.body-responsive.body-amp
    if article.get('hero_section')
      +amp_hero_section(article.get('hero_section'))
    .article-container: .article-content
      .article-header.responsive-layout-container
        h1.large-garamond-header= article.get('title')
        .article-lead-paragraph!= article.get('lead_paragraph')
        +author-date
        amp-social-share(type="facebook" width="30" height="30" data-uri=)
        amp-social-share(type="twitter" width="30" height="30")
        amp-social-share(type="email" width="30" height="30")
      for section in article.get('sections')
        case section.type
          when 'text'
            .article-section-container.responsive-layout-container
              .article-section-text
                != section.body
          when 'image_collection'
            +amp_image_collection(section)
          when 'video'
            +amp_video(section)
          when 'embed'
            +amp_embed(section)
          when 'callout'
            .article-section-container.responsive-layout-container(data-section-type="callout")
              if section.article && section.article.length > 0
                +callout(section)
              else if section.text && section.text.length > 0
                +pullquote(section)
          when 'image_set'
            .article-section-container.responsive-layout-container
              .article-section-image-set
                +amp_image_set(section)
    include amp_analytics