form.contact-form.stacked-form
  input( type='hidden', name='url', value= window.location.href )
  textarea.bordered-input.is-persistplaceholder(
    name= 'message'
    autofocus= autofocus
    placeholder= placeholder
    rows= '7'
    required
  )
  if user && user.id
    //- Logged in
    .stacked-form-cell
      | From: #{user.get('name')}
      = ' '
      span.mcf-email (#{user.get('email')})
      //- If the user is logged in; we don't need to post name/email
  else
    //- Logged out
    input.bordered-input.is-persistplaceholder(
      type= 'text'
      name= 'user_name'
      autofocus= autofocus
      placeholder= 'Your name'
    )
    input.bordered-input(
      type= 'email'
      name= 'user_email'
      placeholder= 'Your email address'
      required
    )

    p.contact-privacy
      | By clicking send, you accept our
      = ' '
      a( href='/privacy', target='_blank' ) Privacy Policy
      | .

  button#contact-submit.avant-garde-button-black( href='#', data-state='ok' )
    | Send
