form.contact-form.stacked-form
  .stacked-form-cell
    include ./artwork_details
  p.contact-form-edit-message Edit Your Message
  textarea.bordered-input.is-persistplaceholder(
    name= 'message'
    placeholder= 'Your message to Artsy'
    rows= '7'
    required
  )
    = defaultMessage
    = "\n\n"
  if user && user.id
    //- Logged in
    .stacked-form-cell
      | From: #{user.get('name')}
      span.mcf-email  (#{user.get('email')})
    input( type='hidden', name='name', value=user.get('name') )
    input( type='hidden', name='email', value=user.get('email') )
  else
    if showInputs
      input.bordered-input.is-persistplaceholder(
        type= 'text'
        name= 'name'
        placeholder= 'Your full name'
        required
      )
      input.bordered-input(
        type= 'email'
        name= 'email'
        placeholder= 'Your email address'
        required
      )
    else
      .stacked-form-cell
        | From: #{inputName}
        span.mcf-email  (#{inputEmail})
      input( type='hidden', name='name', value=inputName )
      input( type='hidden', name='email', value=inputEmail )

    p.contact-privacy
      | By clicking send, you accept our
      = ' '
      a( href='/privacy', target='_blank' ) Privacy Policy
      | .

  #contact-errors

  button#contact-submit.avant-garde-button-black( href='#', data-state='ok' )
    | Send
