title= section.get('meta_title')
meta( property="og:title", content=section.get('meta_title') )
if sd.CURRENT_PATH == '/city-guides' || '/artsy-education' || '/life-at-artsy'
  if sd.CURRENT_PATH == '/city-guides'
    - var description = 'Follow insights from local experts—from the established gallerist to the advisor who never misses a show—for an insider’s guide to some of the art world’s top cites.'
  else if sd.CURRENT_PATH == '/artsy-education'
    - var description = 'Artsy\'s mission is to make all the world\'s art accessible to anyone with an internet connection. Explore our unique tools for learning about art.'
  else if sd.CURRENT_PATH == '/life-at-artsy'
    - var description = 'From vision and values to people and practices, we’re open-sourcing our company culture and sharing the lessons we learn as Artsy grows.'
  meta( name="description", content= description )
  meta( property="og:description", content= description )
  meta( property="twitter:description", content= description )
meta( name="description", content="Artsy articles featured for #{section.get('title')}." )
meta( property="og:description", content="Artsy articles featured for #{section.get('title')}." )
meta( property="twitter:description", content="Artsy articles featured for #{section.get('title')}." )
link( rel="canonical", href="#{sd.APP_URL}/#{section.get('slug')}" )
meta( property="og:url", content="#{sd.APP_URL}/#{section.get('slug')}" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
