title= channel.get('name')
meta( property="og:title", content=channel.get('name') )
if sd.CURRENT_PATH == '/artsy-education' || '/life-at-artsy'
  if sd.CURRENT_PATH == '/artsy-education'
    - var description = 'Artsy\'s mission is to make all the world\'s art accessible to anyone with an internet connection. Explore our unique tools for learning about art.'
  else if sd.CURRENT_PATH == '/life-at-artsy'
    - var description = 'From vision and values to people and practices, we’re open-sourcing our company culture and sharing the lessons we learn as Artsy grows.'
  meta( name="description", content= channel.get('tagline') )
  meta( property="og:description", content= channel.get('tagline') )
  meta( property="twitter:description", content= channel.get('tagline') )
else
  meta( name="description", content="Artsy articles featured for #{channel.get('name')}." )
  meta( property="og:description", content="Artsy articles featured for #{channel.get('name')}." )
  meta( property="twitter:description", content="Artsy articles featured for #{channel.get('name')}." )
link( rel="canonical", href="#{sd.APP_URL}/#{channel.get('slug')}" )
meta( property="og:url", content="#{sd.APP_URL}/#{channel.get('slug')}" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
