- var isPendingApproval = user && user.related().collectorProfile.isWithProfessionalBuyerApplicationPending()

.probuyer-complete
  h1
    | #{user.get('name')},
    br
    | Complete Your Application

form.probuyer-complete__form.stacked-form
  .form-errors( class='js-form-errors' )
    //- Rendered client-side

  input( type='hidden', name='professional_buyer', value='true' )
  input( type='hidden', name='collector_level', value='3' )

  div( class='js-profession' )
    include ./profession

  label.avant-garde-form-label( for='company_name' )
    | Company Name*
  input.bordered-input(
    type='text'
    id='company_name'
    name='company_name'
    value= user.related().collectorProfile.get('company_name')
    required
  )

  label.avant-garde-form-label( for='company_website' )
    | Company Website
  input.bordered-input(
    type='url'
    id='company_website'
    name='company_website'
    placeholder='http://'
    value= user.related().collectorProfile.get('company_website') || 'http://'
    onClick='this.setSelectionRange(0, this.value.length)'
  )

  label.avant-garde-form-label( for='location' )
    | Location*
  input.bordered-input(
    class='js-location'
    type='text'
    id='location'
    name='location'
  )

  label.avant-garde-form-label( for='price_range' )
    | Budget Per Work

  label.bordered-select
    select(
      id='price_range'
      name='price_range'
    )
      option( disabled selected )
        | Select a price range
      for bucket in user.priceBuckets
        option(
          value= bucket.value
          selected= (bucket.value === user.get('price_range') ? true : undefined)
        )= bucket.display

  button.avant-garde-button-black(
    disabled= isPendingApproval ? 'disabled' : undefined
    class='analytics-pro-buyer-complete-submit'
    type='submit'
  )
    if isPendingApproval
      | Application Submitted
    else
      | Submit
