- image = artwork.defaultImage()

.artwork-item-image(
  style= "padding-bottom: #{image.factor() * 100}%"
)
  img(
    src= image.imageUrl(artworkSize)
    nopin= artwork.noPinAttr()
    alt= artwork.toAltText()
  )
