- var description = 'Artsy promotes the collections, shows, and programs of the Louvre, Getty Museum, Robert Rauschenberg Foundation, and 600+ other museums and institutions worldwide.'
title Institutions | Artsy
meta( property="og:title", content="Institutions | Artsy" )
meta( name="description", content= description )
meta( property="og:description", content= description )
meta( property="twitter:description", content= description )
link( rel="canonical", href="#{sd.APP_URL}/institutions" )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href="#{sd.MOBILE_URL}/institutions" )
meta( property="og:url", content="#{sd.APP_URL}/institutions" )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content="website" )
meta( property="twitter:card", content="summary" )
