.article-container( data-id=article.get('id') )
  article.article
    .main-side-margin
      if article.get('hero_section') && article.get('hero_section').type === 'video'
        .article-large-format-video
          - video = article.get('hero_section')
          include sections/video
      if article.get('hero_section') && article.get('hero_section').type === 'image'
        .article-large-format-image
         img( src=article.get('hero_section').url)

      h1.article-headline
        = article.get('title')

      .article-subheader
        include byline

      .article-lead-paragraph
        if article.get('lead_paragraph') && article.get('lead_paragraph').length > 11
          != article.get('lead_paragraph')

    for section, i in article.get('sections')
      section.article-section-container( data-layout=section.layout, data-section-type=section.type )
        case section.type
          when 'slideshow'
            include sections/slideshow
          when 'text'
            - text = section
            include sections/text
          when 'image_collection'
            - images = section.images
            include sections/images
          when 'video'
            - video = section
            include sections/video

.article-footer-container
  footer.article-footer
    .article-footer-next
      if article.get('section_ids').length
        h2 More From #{featuredSection.get('title')}
        for article in featuredSectionArticles.models
          include ../../article_figure/template
      else if footerArticles
        h2 What to Read Next
        for article in footerArticles.models
          include ../../article_figure/template
      a.avant-garde-box-button( href='/articles' ) Show More

.article-fixed-share.js--article-fixed-share
  include fixed_share
