mixin author-date
  .article-author-date
    .article-author(class= article.get('contributing_authors').length > 0 ? 'has-contributing-author' : '')
      if article.related()
        = article.related().author.get('name')
    if article.get('contributing_authors').length > 0
      .article-contributing-author
        = "By " + article.byline()
    .article-date
      = article.date('published_at').format('MMM Do, YYYY h:mm a')

mixin video(video)
  .article-video-container
    if video.cover_image_url
      .article-video-cover-image(
        style=("background-image: url(#{resize(video.cover_image_url, { width: 1100 })})")
      )
        button.article-video-play-button
          .article-video-play-button-caret
    .article-video
      != embed(video.url, { query: { title: 0, portrait: 0, badge: 0, byline: 0, showinfo: 0, rel: 0, controls: 2, modestbranding: 1, iv_load_policy: 3, color: "E5E5E5" } })
      if video.caption
        figcaption!= video.caption

mixin fullscreen(article)
  figure.article-fullscreen( class= article.get('is_super_article') ? 'article-sa-fullscreen' : '' )
    - var url = article.get('hero_section').url
    if url && url.indexOf('mp4') > -1
      .article-fullscreen__overlay
      video.article-fullscreen__video-player( src=url, autoplay=true, controls=false, loop=true muted playsinline)
    else
      .article-fullscreen__overlay
      img.article-fullscreen__image(
        src=resize(url, { height: 1250, width: 1250 })
      )

    .main-layout-container.article-fullscreen__container
      if superArticle
        .article-sa-fullscreen-logos
          if superArticle
            +superArticleLogos(superArticle)

      .article-fullscreen__content
        .article-fullscreen__text
          if article.get('hero_section').title
            .article-fullscreen__title= article.get('title')
          .article-fullscreen__author-date
            if article.get('contributing_authors').length > 0
              = "By " + article.byline()
            else
              = "By " + article.related().author.get('name')
            span
              = article.date('published_at').format('MMM Do, YYYY h:mm a')

        .article-fullscreen__share(data-id=article.get('id'))
          +share( (article.get('share_description') || article.get('thumbnail_title')), article.get('thumbnail_image'), article.fullHref(), true)

mixin superArticleLogos(article)
  .article-sa-primary-logos
    a( href="/" ).article-sa-artsy-logo.icon-logotype
    if article.get('super_article').partner_logo && article.get('super_article').partner_logo_link
      .article-sa-plus-container
        .article-sa-plus.icon-close
        .article-sa-primary-logo
          a( href=article.get('super_article').partner_logo_link )
            img( src=article.get('super_article').partner_fullscreen_header_logo )

mixin callout(section)
  .article-section-callout(data-id=section.article)
    include ./callout

mixin pullquote(section)
  .article-section-callout
    .article-section-callout__pullquote= section.text

mixin imageSet(section)
  .article-section-image-set__images
    for item, i in section.images.slice(0,3)
      .article-section-image-set__image-container.hoverable-image-link( data-index=i )
        - var image = resize( (item.image || item.url || ''), {height: 150} )
        img.hoverable-image(src=image)
  .article-section-image-set__remaining
    .article-section-image-set__icon(data-total="#{section.images.length}" class=section.images.length > 9 ? 'is-double-digit' : '')
      include ../../main_layout/public/icons/image-set.svg
    .article-section-image-set__text Enter Slideshow

mixin topStories
  .article-section-top-stories
    .article-section-top-stories__headline Top Stories on Artsy
    ul.article-section-top-stories__list
      for article in sd.PARSELY_ARTICLES.slice(0,3)
        li.article-section-top-stories__item
          a( href=article.url )
            img( src=crop(article.image_url, { height: 180, width: 240 }) )
            p= article.title

mixin embed(section)
  .article-embed-container
    iframe(src=section.url height=section.height data-d-height=section.height data-m-height=section.mobile_height scrolling='no' frameborder='0')

mixin imageCollection(images)
  ul
    for image, i in images
      if image.type == 'artwork'
        +artwork(image)
      else
        +image(image)

mixin image(image)
  li
    figure
      img( src=resize(image.url, { width: 1100 }) )
      if image.caption
        figcaption!= image.caption

mixin printArtistName(artist)
  if artist.slug
    a(href='/artist/' + artist.slug )= artist.name
  else
    |= artist.name

mixin artwork(artwork)
  li( data-id=artwork.id )
    figure.artwork-item
      .artwork-item-image-container
        a.artwork-item-image-link( href='/artwork/' + artwork.slug )
          .artwork-item-image
            img( src=artwork.image )
      +artwork_caption(artwork)

mixin artwork_caption(artwork)
  figcaption.artwork-item-caption
    p.artwork-item-artist.artwork-item-overflow
      if artwork.artists && artwork.artists.length > 0
        for artist, i in artwork.artists
          +printArtistName(artist)
      else if artwork.artist && artwork.artist.name
        +printArtistName(artwork.artist)
    if artwork.title
      p.artwork-item-title.artwork-item-overflow
        if artwork.slug
          a(href='/artwork/' + artwork.slug)
            em= artwork.title
            if artwork.date
              | ,&nbsp
              = artwork.date
        else
          em= artwork.title
          if artwork.date
            | ,&nbsp
            = artwork.date
    if artwork.partner && artwork.partner.name
      p.artwork-item-partner.artwork-item-overflow
        if artwork.partner.slug
          a(href='/' + artwork.partner.slug)= artwork.partner.name
        else
          = artwork.partner.name
