- footerTitle = superArticle.get('super_article').footer_title || superArticle.get('title')

.article-sa-footer
  .article-sa-footer-left
    a.article-sa-title( href=superArticle.href() )= footerTitle

    if superArticle.get('super_article').footer_blurb
      .article-sa-footer-blurb!= markdown(superArticle.get('super_article').footer_blurb)

    .article-sa-cta-container
      if superArticle.get('super_article').partner_link_title
        a.article-sa-cta.faux-underline( href=superArticle.get('super_article').partner_link )= superArticle.get('super_article').partner_link_title

    .article-sa-logos
      if superArticle.get('super_article').partner_logo
        .article-sa-logos__presented Presented in Partnership with
      .article-sa-logos__container
        .article-sa-primary-logo
          if superArticle.get('super_article').partner_logo && superArticle.get('super_article').partner_logo_link
            a( href=superArticle.get('super_article').partner_logo_link )
              img( src=superArticle.get('super_article').partner_logo  alt='Partner logo')
        if superArticle.get('super_article').secondary_partner_logo && superArticle.get('super_article').secondary_logo_link
          .article-sa-plus.icon-close
          .article-sa-secondary-logo
            a( href=superArticle.get('super_article').secondary_logo_link )
              img( src=superArticle.get('super_article').secondary_partner_logo alt='Partner logo')

  if superSubArticles.length
    .article-sa-footer-right
      for subArticle in superSubArticles.models
        a.article-sa-related( href=subArticle.href() )
          img.article-sa-related__image(
            src= crop(subArticle.get('thumbnail_image'), { width: 100, height: 66 })
            alt=subArticle.get('title')
          )
          .article-sa-related__title= subArticle.get('thumbnail_title')
