- var tabs = helpers.tabs.build(artwork)

if tabs.length
  section.artwork-tabs(
    class='js-artwork-tabs'
  )
    .artwork-tabs__nav
      for tab, i in tabs
        a.artwork-tabs__nav__link(
          class='js-artwork-tabs__nav__link'
          data-id= tab
          data-state= (i === 0 ? 'active' : 'inactive')
        )
          = helpers.artists.name(tab)

    .artwork-tabs__content
      for tab, i in tabs
        .artwork-tab(
          class='js-artwork-tab'
          data-id= tab
          data-state= (i === 0 ? 'active' : 'inactive')
        )
          case tab
            when 'description'
              include ./templates/description
            when 'exhibition_history'
              include ./templates/exhibition_history
            when 'bibliography'
              include ./templates/bibliography
            when 'provenance'
              include ./templates/provenance
