//- Usage:
//-
//- include ../components/tabs/mixins
//-
//- var tabs = helpers.your_component.build(artwork) // => ['foo', 'bar']
//-
//- if tabs.length
//-   .artwork-tabs( class='js-artwork-tabs' )
//-     +nav(tabs, helpers.your_component.name)
//-
//-     .artwork-tabs__content
//-       for tab, i in tabs
//-         +tab(tab, i)
//-           case tab
//-             when 'foo'
//-               include ./templates/foo
//-             when 'bar'
//-               include ./templates/bar

mixin nav(tabs, helper)
  .artwork-tabs__nav
    for tab, i in tabs
      a.artwork-tabs__nav__link(
        class='js-artwork-tabs-link'
        data-id= tab
        data-state= (i === 0 ? 'active' : 'inactive')
      )
        = helper(tab)

mixin tab(tab, i)
  .artwork-tab(
    class='js-artwork-tabs-section'
    data-id= tab
    data-state= (i === 0 ? 'active' : 'inactive')
  )
    block
