img.artwork-item-image(
  src= artwork.defaultImage().cropUrlFor({ width: imageWidth, height: imageHeight })
  nopin= artwork.noPinAttr()
  alt= artwork.toAltText()
  width= imageWidth
  height= imageHeight
)
