extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'misc'

block body
  .jobs-page.responsive-layout-container: .main-layout-container
    header.jobs-header.evenly-bisected-header
      h1.jobs-header-headline.bisected-header-cell
        = header.headline
      .jobs-header-description.bisected-header-cell
        != markdown(header.description)

    section.jobs-images-cycle.responsive-image-container.js-jobs-images-cycle
      for image in images
        img( src= crop(image.src, { width: 1500, height: 600 }), alt='Working at Artsy' )

    section.jobs-category-section
      nav.jobs-category-nav.js-jobs-category-nav
        for jobs, name in categories
          a.jobs-category.js-jobs-category( href="##{name.replace(' ', '-')}" )
            h3= name
            p #{jobs.length} Open Position#{jobs.length === 1 ? '' : 's'}

      .jobs-category-items
        for jobs, name in categories
          .jobs-items.large-chevron-list.js-jobs-items( id= name.replace(' ', '-') )
            for job in jobs
              a( href= job.href )
                .jobs-item
                  .jobs-item-metadata
                    h2.jobs-item-title
                      = job.title
                    h3.jobs-item-location
                      = job.location

                  .jobs-item-description
                    p= job.description
