#fair-search-container
  input#fair-search-input.bordered-input(
    placeholder='Search exhibitors & artists'
    tabindex=1
    value=term
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
  )
  #fair-search-spinner: .loading-spinner-small
nav.fair-tabs.garamond-tablist
  a.garamond-tab(
    href=profile.href(), class=activeClass("#{profile.href()}/overview")
  ) Overview
  span.garamond-tab-separator
  a.garamond-tab(
    href="#{profile.href()}/browse/booths", class=activeClass("#{profile.href()}/browse")
  ) Browse
  span.garamond-tab-separator
  a.garamond-tab(
    href="#{profile.href()}/for-you", class=activeClass("#{profile.href()}/for-you")
  ) For You
  span.garamond-tab-separator
  a.garamond-tab(
    href="#{profile.href()}/articles", class=activeClass("#{profile.href()}/articles")
  ) Articles
  span.garamond-tab-separator
  a.garamond-tab(
    href="#{profile.href()}/info", class=activeClass("#{profile.href()}/info")
  ) Info
