title= fair.toPageTitle()
meta( property="og:title", content=fair.toPageTitle())
meta( name="description", content=fair.toPageDescription())
meta( property="og:description", content=fair.toPageDescription())
meta( property="twitter:description", content=fair.toPageDescription())
link( rel="canonical", href=(sd.APP_URL + sd.CURRENT_PATH) )
meta( property="og:url", content=(sd.APP_URL + sd.CURRENT_PATH) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + sd.CURRENT_PATH) )
meta( property="og:type", content=(sd.FACEBOOK_APP_NAMESPACE + ":exhibition" ) )
meta( property="og:start_time", content=fair.get('start_at'))
meta( property="og:end_time", content=fair.get('end_at'))
if fair.get('location')
  meta( property="og:location", content=fair.get('location').raw )
meta( property="profile:type", content=profile.profileType() )
meta( property="profile:username", content=profile.get('id') )
meta( property="twitter:card", content="summary" )
if profile.iconImageUrl()
  meta( property="og:image", content=profile.iconImageUrl() )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name='fragment', content='!' )
