- eSet = primarySets.findWhere({ key: 'editorial' })
- cSet = primarySets.findWhere({ key: 'curator' })
- combinedItems = eSet.get('items').models.concat(cSet.get('items').models)

if combinedItems.length >= 4
  .fair-overview-post-container
    h2.overview-section-heading Read Highlights from the Fair
    .posts-left-side
      for set in primarySets.where({ key: 'editorial' })
        for item in set.get('items').models.slice(0,1)
          a.large-post( href=item.get('href') )
            img( src=item.imageUrl('large_rectangle') )
            h2.section-heading= item.get('title')
            if item.get('subtitle')
              .section-subheading= item.get('subtitle')
    .posts-right-side
      for set in primarySets.where({ key: 'editorial' })
        for item in set.get('items').models.slice(1, 4)
          a.small-post( href=item.get('href') )
            .small-post-img-container
              img( src=item.imageUrl('medium_rectangle') )
            .post-text
              h2.section-heading= item.get('title')
              if item.get('subtitle')
                .section-subheading= item.get('subtitle')
  .fair-overview-curator
    h2.overview-section-heading-small Art world insiders share their selections
    .curator-picks-container
      for set in primarySets.where({ key: 'curator' })
        for item in set.get('items').models
          a.small-section( href=item.get('href'), class=set.layoutStyle(set.get('items').length) )
            img( src=item.imageUrl('small_square') )
            h2.section-heading= item.get('title')
            if item.get('subtitle')
              .section-subheading= item.get('subtitle')
    .overview-posts-link-container
      a.overview-posts-link( href=profile.href() + "/posts") See All Posts
else if combinedItems.length == 3
  .fair-overview-post-container
    h2.overview-section-heading Read Highlights from the Fair
    #fair-editorial-3-up
      for item in combinedItems
        article.grid-item
          a( href=item.get('href') )
            img( src=item.imageUrl('large_rectangle') )
            h2= item.get('title')
            h3= item.get('subtitle')
else if combinedItems.length == 2
  .fair-overview-post-container
    h2.overview-section-heading Read Highlights from the Fair
    #fair-editorial-2-up
      for item in combinedItems
        article
          a( href=item.get('href') )
            img( src=item.imageUrl('large_rectangle') )
            .fair-editorial-2-up-right
              h2= item.get('title')
              h3= item.get('subtitle')
else if combinedItems.length == 1
  .fair-overview-post-container
    #fair-editorial-1-up
      article
        a( href=combinedItems[0].get('href') )
          .fair-editorial-1-up-left
            h2= combinedItems[0].get('title')
            h3= combinedItems[0].get('subtitle')
          img( src=combinedItems[0].imageUrl('large_rectangle') )
