- eSet = primarySets.findWhere({ key: 'editorial' })
- cSet = primarySets.findWhere({ key: 'curator' })
- combinedItems = (eSet ? eSet.get('items').models : []).concat(cSet ? cSet.get('items').models : [])

mixin 3up(items)
  .fair-overview-post-container
    h2.overview-section-heading Read Highlights from the Fair
    #fair-editorial-3-up
      for item in items
        article.grid-item
          a( href=item.get('href') )
            img( src=item.imageUrl('large_rectangle') )
            h2= item.get('title')
            h3= item.get('subtitle')

mixin 2up(items)
  .fair-overview-post-container
    h2.overview-section-heading Read Highlights from the Fair
    #fair-editorial-2-up
      for item in items
        article
          a( href=item.get('href') )
            img( src=item.imageUrl('large_rectangle') )
            .fair-editorial-2-up-right
              h2= item.get('title')
              h3= item.get('subtitle')

mixin 1up(item)
  .fair-overview-post-container
    #fair-editorial-1-up
      article
        a( href=item.get('href') )
          .fair-editorial-1-up-left
            h2= item.get('title')
            h3= item.get('subtitle')
          img( src=item.imageUrl('large_rectangle') )

mixin 4editorial()
  .fair-overview-post-container
    h2.overview-section-heading Read Highlights from the Fair
    .posts-left-side
      for item in eSet.get('items').models.slice(0,1)
        a.large-post( href=item.get('href') )
          img( src=item.imageUrl('large_rectangle') )
          h2.section-heading= item.get('title')
          if item.get('subtitle')
            .section-subheading= item.get('subtitle')
    .posts-right-side
      for item in eSet.get('items').models.slice(1, 4)
        a.small-post( href=item.get('href') )
          .small-post-img-container
            img( src=item.imageUrl('medium_rectangle') )
          .post-text
            h2.section-heading= item.get('title')
            if item.get('subtitle')
              .section-subheading= item.get('subtitle')

if combinedItems.length >= 4
  if eSet
    if eSet.get('items').length >= 4
      +4editorial()
    else
      case eSet.get('items').length
        when 3
          +3up(eSet.get('items').models)
          hr
        when 2
          +2up(eSet.get('items').models)
          hr
        when 1
          +1up(eSet.get('items').first())
          hr
  .fair-overview-curator
    if primarySets.where({ key: 'curator' }).length > 0
      h2.overview-section-heading-small Art world insiders share their selections
      .curator-picks-container
        for set in primarySets.where({ key: 'curator' })
          for item in set.get('items').models
            a.small-section( href=item.get('href'), class=set.layoutStyle(set.get('items').length) )
              img( src=item.imageUrl('small_square') )
              h2.section-heading= item.get('title')
              if item.get('subtitle')
                .section-subheading= item.get('subtitle')
    .overview-posts-link-container
      a.overview-posts-link( href=profile.href() + "/articles") See All Articles
else if combinedItems.length == 3
  +3up(combinedItems)
else if combinedItems.length == 2
  +2up(combinedItems)
else if combinedItems.length == 1
  +1up(combinedItems[0])
