a.search-result( href=result.href(), class=result.get('display_model'), data-id=result.get('id') )
  .search-result-thumbnail
    .search-result-thumbnail-fallback
      img(
        src= crop(result.imageUrl(), { width: 70, height: 70 }),
        width='70', height='70',
        alt= result.get('title'),
        onerror='this.style.display="none";'
      )
  .search-result-info
    if result.get('display_model')
      .search-result-kind= result.get('display_model')
    .search-result-title!= result.get('display')
    if result.get('about')
      .search-result-about!= result.get('about')
    if result.get('display_model') == 'artist' || result.get('display_model') == 'category'
      .search-result-images
