extends ../../components/main_layout/templates/index

append locals
  assetPackage = 'search'

block body
  #search-page.main-layout-container
    if referrer
      .search-query-referrer
        | The page you requested
        em &nbsp;&lt;#{sd.ARTSY_URL}#{referrer}&gt;&nbsp;
        | does not exist

    .search-query
      if term
        if referrer
          | Instead showing results for
        else
          | Search results for
        em
          | &ldquo;
          span#search-term= term
          | &rdquo;

    .search-results
      if results.length > 0
        for result in results
          a.search-result( href=result.get('location') )
            .search-result-thumbnail
              .search-result-thumbnail-fallback( class=result.humanClass() )
                img(
                  src= result.imageUrl(),
                  width=70, height=70,
                  alt= result.get('display'),
                  onerror='this.style.display="none";'
                )
            .search-result-info
              .search-result-display!= result.highlightedDisplay(term)
              .search-result-kind= result.get('display_model')
      else
        if term
          | Nothing found
