if title
  p.avant-garde-l-headline.auth-modal__title= title

#auth-page.vam-outer
  .vam-inner
    header#auth-header
      unless title
        #auth-header-logo.icon-logotype
      aside= copy.get('login') || 'Log in to Artsy'

    section#auth-body
      .auth-login-social
        nav.auth-options
          a.auth-login-facebook.avant-garde-button-black(
            href=sd.AP.facebookPath + '?redirect-to=' + redirectTo
            rel='nofollow'
          )
            i.icon-facebook
            | Log in using Facebook
          a.auth-login-twitter.avant-garde-button-black(
            href=sd.AP.twitterPath + '?redirect-to=' + redirectTo
            rel='nofollow'
          )
            i.icon-twitter
            | Log in using Twitter

      form.auth-login-email.auth-form(
        action=sd.AP.loginPagePath + '?redirect-to=' + redirectTo
        method='POST'
      )
        .auth-errors
        input.bordered-input.is-block(
          name='email', type='email', placeholder='Email', value= email, required, autofocus= autofocus
        )
        input.bordered-input.is-block(
          name='password', type='password', placeholder='Password', autocomplete='on', required
        )
        input( type="hidden" name="_csrf" value=sd.CSRF_TOKEN )
        button#auth-submit.avant-garde-button-black.is-block Log in

        footer.auth-form-options
          .artsy-checkbox
            .artsy-checkbox--checkbox
              input( id='remember_me', name='remember_me', type='checkbox', value='1', checked )
              label( for='remember_me' )
            label.artsy-checkbox--label( for='remember_me' ) Remember me
          a.faux-underline.auth-toggle( href='/forgot', data-mode='forgot', rel='nofollow' ) Forgot Password?

    include ./_login_footer.jade
