ul#home-hero-units
  for heroUnit, i in heroUnits
    li.home-hero-unit(
      class=heroUnit.cssClass() + (i == 0 ? ' home-hero-unit-active' : ''),
      style="background-image: url('#{heroUnit.backgroundImageUrl()}')"
    )
      a( href=heroUnit.get('link') )
        .main-layout-container.home-container
          .home-hero-unit-header!= heroUnit.get('heading')
          img.home-hero-unit-title(
            src=heroUnit.titleImageUrl(),
            alt=heroUnit.get('name')
          )
          h2!= heroUnit.mdToHtml('description')
          .avant-garde-button(
            href=heroUnit.get('link'),
            onMouseOver="this.style.color='##{heroUnit.get('link_color_hover_hex') || '000'}'",
            onMouseOut="this.style.color=null"
          )= heroUnit.get('link_text')
          .home-hero-unit-credit= heroUnit.get('credit_line')
