for profile in profiles.models
  - var href = profile.get('owner_type') !== 'User' ? profile.href() : undefined
  .settings-galleries-institutions__profile
    a.settings-galleries-institutions__profile__icon(
      href= href
      style="background-image: url(#{profile.icon().imageUrl('square')});"
    )
    .settings-galleries-institutions__profile__metadata
      a.settings-galleries-institutions__profile__metadata__name( href= href )
        = profile.related().owner.get('name')
      a.settings-galleries-institutions__profile__metadata__follow.entity-follow(
        class='js-entity-follow'
        data-id= profile.id
      )
