.venice-body--series
  .venice-body__left
    .venice-body__about
      h2 About the Series
      p=curation.get('description')

      a(href="https://www.ubs.com/global/en/about_ubs/contemporary-art.html" target="_blank").venice-body__partner
        span Presented In Partnership with
        img(src="https://artsy-media-uploads.s3.amazonaws.com/qp6GUcn5RkvscdYEBmqFXw%2FUBS_White.png")
    +help

  .venice-body__right
    h2 Index
    .venice-body__index
      each section, i in curation.get('sections')
        +index_item(section, i)
    +help

mixin index_item(section, i)
  .venice-body__index-item
    a(href='#{sd.APP_URL}/venice-biennale/#{section.slug}' class=section.published? 'published':undefined)
      include ../icons/icon_play.svg
      span.chapter= '0' + (i + 1) + '. '
      span.title=section.title
      if !section.published && section.release_date
        span='(' + moment(section.release_date).format('MMMM Do') + ')'

mixin help
  .venice-body__help
    p Having trouble viewing?
    p
      a(href='#') Read our 360 video guide