if sub_articles.length > 3
  - length = 'over'
else
  -length = sub_articles.length

.venice-footer__articles
  h2.title The Venice Biennale
  .venice-footer__article-carousel(data-length=length)
    .mgr-horizontal-nav
      .mgr-cells.js-mgr-cells
        each article in sub_articles
          .mgr-cell.js-mgr-cell
            a(href="#{sd.APP_URL}/article/#{article.slug}")
              img(src=crop(article.thumbnail_image, {width: 300, height: 200}))
              h2= article.thumbnail_title
      include ../../../../../components/merry_go_round/templates/horizontal_navigation