append locals
  - url = encodeURIComponent(sd.APP_URL + sd.CURRENT_PATH)
  - description = 'Inside the Biennale: ' + section.title

if section.published
  .venice-body--article
    .venice-body__left
      h2 About the Film
      .venice-body__item-description
        p=section.description
      .venice-body__headset-prompt
        p For the most immersive experience, watch in Google Cardboard via the Youtube App.
        a(href='#').open-youtube
          button.avant-garde-button Open in Youtube App

    .venice-body__right
      h2 About the Film
      .venice-body__item-share
        .share-item
          a.share-to-facebook(
            data-message='Post to Facebook',
            data-service='facebook',
            href="https://www.facebook.com/sharer/sharer.php?u=#{url}",
            target='_blank'
          ): i.icon-facebook-f.icon-in-table
        .share-item
          a.share-by-email(
            data-message='Share via email',
            data-service='email',
            href="mailto:?subject=#{description}&body=Check out #{description} on Artsy: #{url}"
          ): i.icon-mail.icon-in-table
        .share-item
          a.share-to-twitter(
            data-message='Share on Twitter',
            data-service='twitter',
            href="https://twitter.com/intent/tweet?original_referer=#{url}&text=#{description}&url=#{url}&via=artsy",
            target='_blank'
          ): i.icon-twitter.icon-in-table