h2
  | #{artist.get('name')}:
  = ' '
  if labels = filter.selected.labels(filter.root.attributes)
    | #{labels} &mdash; #{filter.get('total')} works
  else
    | #{filter.get('total')} works

include ../../bordered_pulldown/mixin

.artwork-filter-sort-count
  .artwork-filter-sort-count-pulldown
    +bordered-pulldown(filter.currentSort(), 'Sort by:')
      for label, value in filter.sorts
        a( data-value= value, data-key='sort' )= label
