h2
  - var forSale = filter.forSaleCount()
  if total == forSale
    | #{total} works for sale
  else
    | #{total} works, #{forSale} for sale

include ../../bordered_pulldown/mixin

+bordered-pulldown(filter.currentSort(), 'Sort by:')
  for label, value in filter.sorts
    a(
      data-value= value
      data-key='sort'
      href='?sort=#{value}'
    )= label

.artwork-filter-view-mode
  .artwork-filter-view-mode__toggle(data-mode="grid" class= mode == 'grid' ? 'is-active' : '')
    include ../../main_layout/public/icons/grid.svg
  .artwork-filter-view-mode__toggle(data-mode="list" class= mode == 'list' ? 'is-active' : '')
    include ../../main_layout/public/icons/list.svg
