h2
  | #{artist.get('name')}:
  = ' '
  if labels = filter.selected.labels(filter.root.attributes)
    | #{labels} &mdash; #{filter.get('total')} works
  else
    | #{filter.get('total')} works

include ../../bordered_pulldown/mixin

.artwork-filter-sort-count
  .artwork-filter-sort-count-pulldown
    +bordered-pulldown(filter.currentSort(), 'Sort by:')
      -var sorts = filter.sorts
      if filter.getSplitTestResult() == 'merchandisability'
        - sorts = { '-merchandisability': 'Relevance', '-date_added': 'Recently Added', '-date_created': 'Artwork Year (desc.)', 'date_created': 'Artwork Year (asc.)' }
      for label, value in sorts
        a(
          data-value= value
          data-key='sort'
          href='?sort=#{value}'
        )= label