- size = size || tall
- imageUrl = artwork.defaultImageUrl(size) ? artwork.defaultImageUrl(size) : artwork.get('image').url
- hasAuctionPartner = (artwork.get('partner') && (artwork.get('partner').type === 'Auction' || artwork.get('partner').type === 'Auction House'))
.artwork-columns-artwork
  a( href='/artwork/' + artwork.get('id') )
    img( src=imageUrl data-id=artwork.get('_id') )
  .artwork-columns-artwork-details
    if artwork.get('artist')
      p= artwork.get('artist').name
    p
      em= artwork.get('title')
      if artwork.get('date')
        | ,&nbsp
        = artwork.get('date')
    p= artwork.partnerName()

    if artwork.get('availability') === 'on hold'
      if artwork.get('price')
        p #{artwork.get('price')}, on hold
      else
        p On hold
    else if artwork.get('sale_message') && artwork.get('sale_message').indexOf('Sold') > -1
      p Sold
    else if artwork.get('availability') !== 'not for sale'
      p= artwork.saleMessage()

    if hasAuctionPartner
      .artwork-columns-artwork-details__bid-now
        if artwork.get('forsale') || artwork.get('is_for_sale')
          p.bid-now-link Bid now
        else
          p.bid-now-link Auction closed

    if artwork.get('inquireable') && !hasAuctionPartner
      a( href='/artwork/' + artwork.get('id') ) Contact Gallery
