if color || medium || price || width || height || category || majorPeriods || partnerCities
  .cf-pillbox__pillboxes
    if category
      .cf-pillbox__pillboxes__category
        span.cf-pillbox__pillboxes_display= category.name
        span.cf-pillbox__pillboxes_clear(data-value='gene_id') ×
    if color
      .cf-pillbox__pillboxes__color
        span.cf-pillbox__pillboxes_display(class="cf-pillbox__pillboxes_display--#{color}")
        span.cf-pillbox__pillboxes_clear(data-value='color') ×
    if medium
      .cf-pillbox__pillboxes__medium
        span.cf-pillbox__pillboxes_display= medium
        span.cf-pillbox__pillboxes_clear(data-value='medium') ×
    if price
      .cf-pillbox__pillboxes__price
        span.cf-pillbox__pillboxes_display= price
        span.cf-pillbox__pillboxes_clear(data-value='price_range') ×
    if width
      .cf-pillbox__pillboxes__width
        span.cf-pillbox__pillboxes_display= width
        span.cf-pillbox__pillboxes_clear(data-value='width') ×
    if height
      .cf-pillbox__pillboxes__height
        span.cf-pillbox__pillboxes_display= height
        span.cf-pillbox__pillboxes_clear(data-value='height') ×
    if majorPeriods && majorPeriods.length
      for majorPeriod in majorPeriods
        .cf-pillbox__pillboxes__major-period
          span.cf-pillbox__pillboxes_display= majorPeriod
          span.cf-pillbox__pillboxes_clear(data-filter='major_period' data-value=majorPeriod) ×
    if partnerCities && partnerCities.length
      for partnerCity in partnerCities
        .cf-pillbox__pillboxes__major-period
          span.cf-pillbox__pillboxes_display= displayLocation(partnerCity)
          span.cf-pillbox__pillboxes_clear(data-filter='partner_city' data-value=partnerCity) ×
