//- Hero Section
- hero = article.get('hero_section')
if hero
  case hero.type
    when 'video'
      != embedVideo(hero.url)
    when 'image'
      img( src=resize(hero.url, { width: 1100 }) )
      if hero.caption
        p!= hero.caption

//- Title & Lead Paragraph -- JO'T: I think this bit should be cut based on Apple News formatting
//- h1= article.get('title')
//- if article.strip('lead_paragraph')
//-   h3!= article.get('lead_paragraph')

//- Author - 'contributing' gets primacy for now b/c 'author' is always 
//- 'Artsy Editorial', with people names listed in 'contributing_authors'
if article.get('author') && article.get('contributing_authors')
  h2
    | By&nbsp;
    - var authors = article.get('contributing_authors')
    if authors
      for author, i in authors
          a( href="#{sd.APP_URL}/#{author.profile_id}" )
            = author.name
          if (authors.length > 1)
            if i === (authors.length - 2)
            | &nbsp; and
          else
            | ,&nbsp;
    else if article.get('author')
      a( href="#{sd.APP_URL}/#{article.get('author').profile_id}" )
        = article.get('author').name
      | &nbsp;

//- Content
for section, i in article.get('sections')
  case section.type
    when 'text'
      p!= section.body
    when 'image'
      img( src=resize(section.url, { width: 1100 }) )
      if section.caption
        p!= section.caption
    when 'video'
      != embedVideo(section.url)
    //- TODO
    //- when 'artworks'
