//- Hero Section
- hero = article.get('hero_section')
if hero
  case hero.type
    when 'video'
      != embedVideo(hero.url)
    when 'image'
      img( src=resize(hero.url, { width: 1100 }) )
      if hero.caption
        p!= hero.caption

//- Author - 'contributing' gets primacy for now b/c 'author' is always 
//- 'Artsy Editorial', with people names listed in 'contributing_authors'
if article.get('contributing_authors') && article.get('contributing_authors')[0] !== undefined
  h2
    | By&nbsp;
    - var authors = article.get('contributing_authors')
    for author, i in authors
      a( href="#{sd.APP_URL}/#{author.profile_id}" )
        = author.name
      if (authors.length > 1) && (i === (authors.length - 2))
        | &nbsp;and&nbsp;
      else if (authors.length > 1) && (i < (authors.length - 1))
        | ,&nbsp;
else if article.get('author')
  h2
    a( href="#{sd.APP_URL}/#{article.get('author').profile_id}" )
      = article.get('author').name

//- Content
for section, i in article.get('sections')
  case section.type
    when 'text'
      p!= section.body
    when 'image'
      img( src=resize(section.url, { width: 1100 }) )
      if section.caption
        p!= section.caption
    when 'video'
      != embedVideo(section.url)
    //- TODO
    //- when 'artworks'
