
//- Hero Section
- hero = article.get('hero_section')
if hero
  case hero.type
    when 'video'
      != embedVideo(hero.url)
    when 'image'
      img( src=resize(hero.url, { width: 1100 }) )
      if hero.caption
        figcaption!= hero.caption

//- Title & Lead Paragraph
h1= article.get('title')
if article.strip('lead_paragraph')
  h3!= article.get('lead_paragraph')

//- Author
if article.get('author') || article.get('contributing_authors')
  h2
    | By&nbsp;
    if article.get('author')
      a( href="#{sd.APP_URL}/#{article.get('author').profile_id}" )
        = article.get('author').name
    | &nbsp;
    if article.get('contributing_authors')
      | and&nbsp;
      for author, i in article.get('contributing_authors')
        a( href="#{sd.APP_URL}/#{author.profile_id}" )
          = author.name
          if i < article.get('contributing_authors').length
            | ,&nbsp;

//- Content
for section, i in article.get('sections')
  case section.type
    when 'text'
      p!= section.body
    when 'image'
      img( src=resize(section.url, { width: 1100 }) )
      if section.caption
        figcaption!= section.caption
    when 'video'
      != embedVideo(section.url)
    //- TODO
    //- when 'artworks'