//- Markup for the individual Instant Article

include instant_article_mixins

doctype html
html(lang="en" prefix="op: http://media.facebook.com/op#")
  head
    meta(charset='utf-8')
    meta(property='op:markup_version' content='v1.0')

    link(rel='canonical' href=article.fullHref())
    meta(property='fb:article_style' content='default')
    meta(property='fb:admins' content='7961740')

  body
    article
      header
        if article.get('hero_section')
          +hero_section(article.get('hero_section'))

        h1= article.get('title')

        h3= article.get('lead_paragraph')

        each author in article.getAuthorArray()
          address= author

        time(class='op-published' dateTime=article.get('published_at'))= article.date('published_at').format('MMM Do, YYYY h:mm a')
        time(class='op-modified' dateTime=article.get('updated_at'))= article.date('updated_at').format('MMM Do, YYYY h:mm a')

      if article.get('hero_section') && article.get('hero_section').type === 'video'
        +video(article.get('hero_section'))
      each section in article.get('sections')
        case section.type
          when 'text'
            != section.body
          when 'artworks'
            +artworks(section)
          when 'image'
            +image(section)
          when 'image_collection'
            +image_collection(section)
          when 'video'
            +video(section)
          when 'embed'
            +embed(section)
          when 'callout'
            if section.article.length > 0
              //- TODO: Article Callout
            else if section.text && section.text.length > 0
              aside= section.text
          when 'image_set'
            +imageSet(section)

      +editorialSignup

      include tracking
