mixin hero_section(hero)
  figure
    case hero.type
      when 'image'
        img(src=hero.url)/
        figcaption= hero.caption
      when 'fullscreen'
        if hero.background_url
          figure
            video(loop=true)
              source(src=hero.background_url type='video/mp4')
        else
          img(src= hero.background_image_url)/

mixin artworks(section)
  if section.artworks
    each artwork in section.artworks
      +artwork(artwork)

mixin artwork(artwork)
  figure
    img(src= artwork.image)/
    +artworkCaption(artwork)

mixin image(section)
  figure
    img(src= section.url)/
    if section.caption && section.caption.length > 0
      figcaption
        != section.caption

mixin imageCollection(section)
  if section.images
    each item in section.images
      if item.type === 'image'
        +image(item)
      else if item.type === 'artwork'
        +artwork(item)

mixin imageSet(section)
  figure.op-slideshow
    each item in section.images
      if item.type === 'image'
        +image(item)
      else if item.type === 'artwork'
        +artwork(item)

mixin video(section)
  figure.op-interactive
    != embed(section.url, { query: { title: 0, portrait: 0, badge: 0, byline: 0, showinfo: 0, rel: 0, controls: 2, modestbranding: 1, iv_load_policy: 3, color: "E5E5E5" }, classNames: 'no-margin column-width', protocol: 'http:' })

mixin artworkCaption(artwork)
  figcaption
    h1
      a(href="#{sd.APP_URL}/artwork/#{artwork.slug}")= artwork.title + ", " + artwork.date + ". "
    h2
      if artwork.artist
        = artwork.artist.name
      br
      if artwork.partner
        = artwork.partner.name

mixin embed(section)
  figure.op-interactive
    iframe(class='no-margin' src=section.url height="#{section.mobile_height || section.height }")

mixin editorialSignup
  figure.op-interactive
    iframe(class='no-margin' src='http://link.artsy.net/join/sign-up-editorial-facebook' height="250")
