doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom' xmlns:content='http://purl.org/rss/1.0/modules/content/')
  channel
    title Artsy News
    link= sd.APP_URL
    atom:link(href='#{sd.APP_URL}/rss/news', rel='self', type='application/rss+xml')
    description Featured Artsy articles.
    language en-US
    if articles.length
      lastBuildDate= new Date(articles.first().get('published_at')).toUTCString()
    each article in articles.models
      item
        title= article.get('thumbnail_title')
        link #{sd.APP_URL}/article/#{article.get('slug')}
        description= article.get('description')
        content:encoded
          | <![CDATA[
          include article
          | ]]>
        pubDate= new Date(article.get('published_at')).toUTCString()
        guid(isPermaLink='false') #{sd.APP_URL}/article/#{article.get('slug')}
