figure.op-tracker
  iframe(hidden)
    script( type="text/javascript" ).
      PARSELY = { autotrack: false, onload: function() { PARSELY.beacon.trackPageView({ urlref: 'http://instantarticles.fb.com' }); return true; } }
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("#{sd.SEGMENT_WRITE_KEY_MICROGRAVITY}");
      analytics.page({referrer: 'http://instantarticles.fb.com'});
      }}();
      // Track 15 second bounce rate
      setTimeout(function() {
        analytics.track('time on page more than 15 seconds', { category: '15 Seconds', message: "#{article.href()}", context: 'instant-articles' }, { integrations: { 'Mixpanel': false } } );
      }, 15000);
      // Track 3 Minute bounce rate
      setTimeout(function() {
        analytics.track('time on page more than 3 minutes', { category: '3 Minutes', message: "#{article.href()}", context: 'instant-articles' }, { integrations: { 'Mixpanel': false } } );
      }, 180000);
      var _i = 30;
      setInterval( function() {
         analytics.track('time on page',  {context: 'instant-articles', seconds: _i}, { integrations: { 'Mixpanel': false } } );
         _i += 30;
      }, 30000);
