//- - DISABLE_GDPR = true

.gdpr-signup
  form.gdpr-signup__form(
    action=sd.AP.loginPagePath + '?redirect-to' + redirectTo
    method= POST
  )
    .auth-errors
    input.bordered-input(
      name='name',
      placeholder='Your full name',
      autofocus=true,
      required
    )
    input#js-mailcheck-input-modal.bordered-input(
      name='email',
      type='email',
      placeholder='Your email address',
      required
    )
    input#js-mailcheck-hint-modal.bordered-input(
      name='password',
      placeholder='Create password',
      type='password',
      pattern= '.{6,}',
      title= '6 characters minimum',
      required
    )
    if !DISABLE_GDPR
      .gdpr-signup__form__checkbox.gdpr-signup__form__checkbox__receive-email.artsy-checkbox
        .artsy-checkbox--checkbox
          input(
            name='receive_emails',
            type='checkbox',
            id='receive_emails',
            tabindex="0"
          )
          label(for='receive_emails')
        span Receive our weekly newsletter.
      .gdpr-signup__form__checkbox.gdpr-signup__form__checkbox__accept-terms.artsy-checkbox
        .artsy-checkbox--checkbox
          input(
            required,
            name='accepted_terms_of_service',
            id='accepted_terms_of_service',
            type='checkbox',
            tabindex="0"
          )
          label(for='accepted_terms_of_service')
        span Agree to our&nbsp;
              a( href='/terms' ) Terms of Use
              | &nbsp;and&nbsp;
              a(href='/privacy') Privacy Policy.
    button.avant-garde-button-black Sign Up
    .gdpr-signup__error
  .gdpr-signup__divider or
  a.avant-garde-button-black.gdpr-signup__modal-fb.gdpr-signup__fb(
    id='signup-fb'
    href='#'
  )
    i.icon-facebook
    | Continue with Facebook
  if DISABLE_GDPR
    .gdpr-signup__copy
      small.gdpr-signup__small By signing up, you agree to our&nbsp;
        a( href='/terms' ) Terms of Use
        | &nbsp;and&nbsp;
        a(href='/privacy') Privacy Policy



