.gdpr-signup
  form.gdpr-signup__form(
    action=sd.AP.loginPagePath + "?redirect-to=" + redirectTo
    method='POST'
  )
    .auth-errors
    - const userName = (user && user.get('name')) ? user.get('name') : ''
    input.bordered-input(
      name='name',
      placeholder='Your full name',
      autofocus=true,
      required
      value=userName
    )
    - const email = (user && user.get('email')) ? user.get('email') : ''
    input#js-mailcheck-input-modal.bordered-input(
      name='email',
      type='email',
      placeholder='Your email address',
      required
      value=email
    )
    input#js-mailcheck-hint-modal.bordered-input(
      name='password',
      placeholder='Create password',
      type='password',
      pattern= '.{6,}',
      title= '6 characters minimum',
      required
    )
    .tos-error
    input( type="hidden" name="_csrf" value=sd.CSRF_TOKEN )
    button.avant-garde-button-black.avant-garde-button-black Sign Up
  .gdpr-signup__divider or
  a.avant-garde-button-black.avant-garde-box-button-black.gdpr-signup__modal-fb.gdpr-signup__fb(
    id='signup-fb'
    href='#'
  )
    i.icon-facebook
    | Sign up with Facebook
  .gdpr-signup__copy
    small.gdpr-signup__small
      | By signing up, you agree to our&nbsp;
      br
      a( href='/terms' ) Terms of Use
      | &nbsp;and&nbsp;
      a(href='/privacy') Privacy Policy



