mixin filter-dropdown(groupLabel, attr, values, hideAll)
  .filter-dropdown( data-group=attr )
    .filter-dropdown-title.filter-dropdown-trigger= groupLabel
    .filter-dropdown-active All
    nav
      //- Pluck out the All attribute and list it first
      if !hideAll
        a( data-attr=attr, data-val=values['All'] ) All
      for val, label in values
        //- Ignore All and get the rest in order
        if label && val && label !== 'All'
          a( data-attr=attr, data-val=val )= label
