- displayModel = result.get('display_model')
- isFairProfile = displayModel === 'Gallery' && result.get('owner_type') === 'FairOrganizer'
- displayName =  isFairProfile ? 'fair' : _s.decapitalize(_s.humanize(displayModel))

a.search-result(href=result.href(), class=_s.decapitalize(displayModel), data-id=result.get('id'), data-mongo-id=result.get('_id') )
  if result.imageUrl() != null && displayModel != 'Artist'
    .search-result-thumbnail
      .search-result-thumbnail-fallback
        include image
  else
    .search-result-no-thumbnail
  .search-result-info
    if displayModel
      .search-result-kind= displayName
    .search-result-title= result.resultsPageTitle()
    if result.get('about')
      .search-result-about= result.get('about')
    if displayModel == 'Artist' || displayModel == 'Category'
      .search-result-images
