header#show-page-header
  .show-page-title
    = show.partnerName()
    br
    em= fair.get('name')
  .show-page-meta
    .show-page-meta-left
      .show-page-partner
        a.chevron-arrow-button(href="#{show.partnerProfileHref()}")= show.partnerName()
      .show-page-running-dates
        p #{show.date('start_at').format('MMM Do')} – #{show.date('end_at').format('MMM Do, YYYY')}
    .show-page-modal-button
  if location
    .show-page-location
      .show-page-location-address
        p= fair.get('name')
        p= location.singleLine()
      if fair.get('published') && fair.get('has_full_feature')
        .show-page-location-map
          a.chevron-arrow-button(href="#{fair.href()}") GO TO FAIR
  if location && location && location.related().daySchedules.length
    include ../full_schedule
