#main-layout-search-bar-container( itemscope, itemtype='http://schema.org/WebSite' )
  form(
    action='/search'
    method='GET'
    itemprop='potentialAction'
    itemscope
    itemtype='http://schema.org/SearchAction'
  )

    input#main-layout-search-bar-input.bordered-input(
      placeholder='Search by artist, gallery, style, theme, tag, etc.'
      tabindex='1'
      itemprop='query-input'
      type='text'
      name='q'
      value= term
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      required
      aria-label="Search"
    )

    a#main-layout-search-bar-icon.icon-search
    
    if sd.HOME_SEARCH_TEST == 'experiment' && centeredHomepageSearch
      a#main-layout-search-bar-button.avant-garde-button-black Search

    #main-layout-search-bar-spinner: .loading-spinner-small
    #main-layout-search-bar-feedback.autocomplete-feedback
      //- Rendered client-side
