nav.chevron-nav-list.fair-page-nav-sections
  a( href="/#{fair.get('default_profile_id')}/for-you" ) My Guide
  a( href="/#{fair.get('default_profile_id')}/browse/filter" ) Exhibitors
  a( href="/#{fair.get('default_profile_id')}/browse/artists" ) Artists
  a( href="/#{fair.get('default_profile_id')}/browse/artworks" ) Artworks
  a( href="/#{fair.get('default_profile_id')}/info" ) Visitor Information
