for bundle in bundles
  a.js-notification-bundle(
    data-unread=(bundle.status !== "read" ? "true" : "false")
    data-message=bundle.message
    data-artist=bundle.object.artist.id
    href="/works-for-you?artist_id=#{bundle.object.artist.id}"
  )
    .bundle-item
      //- This image may be `undefined` which will 404 on the force server
      if bundle.object.images[0].image_urls.square
        img.bundle-image(src="#{bundle.object.images[0].image_urls.square}")
      .bundle-text
        .bundle-message= bundle.message
        .bundle-actors= bundle.actors
      .bundle-information
        .bundle-date= bundle.date
        if (bundle.status !== "read")
          .bundle-read-status
