include ../../../util/activator

header#main-layout-header
  unless user || sd.HIDE_HEADER
    header#main-layout-welcome-header
      #main-layout-welcome-header-aside
        .mlwha-outer
          .mlwha-inner
            | Discover art from leading galleries,
            br
            | museums, and private collections.
      i#main-layout-welcome-logo.icon-logotype
  nav
    #main-layout-header-left
      a#main-layout-header-home-logo.icon-logo( href='/', class=activeClass('/') )
      include ../../../search_bar/template
    #main-layout-header-right
      if user
        a.header-post-button.icon-write( href='/post', class=activeClass('/post') )
      a( href='/browse', class=activeClass('/browse') ) Browse
      a( href='/artists', class=activeClass('/artists') ) Artists
      a( href='/posts', class=activeClass('/posts') ) Posts
      if user
        a( href='/favorites', class=activeClass('/favorites') ) Favorites
      a( href='/feature/artsy-education', class=activeClass('/feature/artsy-education') ) Education
      a( href='/about', class=activeClass('/about') ) About
      if user
        if user.get('name')
          .header-user-name= user.get('name')
            #main-layout-header-user-nav
              include ./user_nav
        else
          .header-user-name account
            #main-layout-header-user-nav
              include ./user_nav
      else
        a.mlh-login( href='/log_in' ) Log in
        a.mlh-signup( href='/sign_up' ) Sign up
