include ../../../util/activator

header#main-layout-header(class= sd.HEADER_CLASS ? sd.HEADER_CLASS : '')
  unless user || sd.HIDE_HEADER
    #main-layout-welcome-header
      #main-layout-welcome-header-aside
        .mlwha-outer
          .mlwha-inner
            | Discover art from leading galleries,
            br
            | museums, and private collections.
      i#main-layout-welcome-logo.icon-logotype

  nav.mlh-navbar( class=(sd.REDESIGNED_HEADER === 'old' ? 'is-search-expanded' : undefined) )
    #main-layout-header-left.mlh-navbar-cell
      a#main-layout-header-home-logo.mlh-top-nav-link.icon-logo( href='/', class=activeClass('/') )
      include ../../../search_bar/templates/index
    #main-layout-header-center.mlh-navbar-cell
      a.mlh-top-nav-link( href='/artists', class= activeClass('/artists') ) Artists
      a.mlh-top-nav-link( href='/shows', class= activeClass('/shows') ) Shows
      a.mlh-top-nav-link( href='/galleries', class= activeClass('/galleries') ) Galleries
      a.mlh-top-nav-link( href='/institutions', class= activeClass('/institutions') ) Museums
      a.mlh-top-nav-link( href='/art-fairs', class= activeClass('/art-fairs') ) Fairs
      a.mlh-top-nav-link( href='/auctions', class= activeClass('/auctions') ) Auctions

      if user && user.hasLabFeature('Articles')
        a.mlh-top-nav-link( href='/magazine', class= activeClass('/magazine') ) Magazine
      else
        a.mlh-top-nav-link( href='/posts', class= activeClass('/posts') ) Posts

      span.mlh-top-nav-link.hover-pulldown( data-mode='hover' )
        | More
        .hover-pulldown-menu
          a( href='/about' ) About Artsy
          a( href='/gallery-partnerships' ) Artsy for Galleries
          a( href='/pdf/institutions-overview.pdf' ) Artsy for Institutions
          a( href='/feature/artsy-education' ) Artsy for Education
          a( href='/about/jobs' ) Jobs
          a( href='/press' ) Press

    #main-layout-header-right.mlh-navbar-cell
      if user
        - displayNavNotice = (parseInt(sd.HIDE_NAV_NOTICE) || 0) < 15

        span.mlh-user-name.hover-pulldown(
          data-anchor='right'
          data-mode='hover'
          data-state= (displayNavNotice ? 'static' : undefined)
          data-cookie= (displayNavNotice ? 'hide-nav-notice' : undefined)
        )
          = user.get('name') ? user.get('name') : 'Account'

          if displayNavNotice
            .hover-pulldown-static
              span Your follows and favorites are now under your name.

          .hover-pulldown-menu
            a.hpm-header( href='/following/artists' ) Follows &amp; Favorites
            a( href='/following/artists' ) Artists
            a( href='/favorites' ) Works
            a( href='/following/profiles' ) Galleries
            hr

            if user.isAdmin()
              a( href= sd.ADMIN_URL ) Admin
            if user.isAdmin() || user.get('has_partner_access')
              a( href= sd.CMS_URL ) CMS
            if user.isAdmin() || user.get('has_partner_access')
              hr

            a( href='/user/edit' ) Settings
            a.mlh-logout Log out

      else
        a.mlh-top-nav-link.mlh-login( href='/log_in' ) Log in
        a.mlh-top-nav-link.mlh-signup( href='/sign_up' ) Sign up
