nav.mlh-navbar
  #main-layout-header-left.mlh-navbar-cell
    a#main-layout-header-home-logo.mlh-top-nav-link.icon-logo( href='/', class=activeClass('/') )
    include ../../../search_bar/template
  #main-layout-header-center.mlh-navbar-cell
    a.mlh-top-nav-link( href='/browse', class=activeClass('/browse') ) Browse
    a.mlh-top-nav-link( href='/artists', class=activeClass('/artists') ) Artists
    a.mlh-top-nav-link( href='/galleries', class=activeClass('/galleries') ) Galleries
    a.mlh-top-nav-link( href='/art-fairs', class=activeClass('/art-fairs') ) Fairs
    if sd.SHOW_AUCTIONS_IN_HEADER
      a.mlh-top-nav-link( href='/auctions', class=activeClass('/auctions') ) Auctions
    if user && user.hasLabFeature('Articles')
      a.mlh-top-nav-link( href='/magazine', class=activeClass('/magazine') ) Magazine
    else
      a.mlh-top-nav-link( href='/posts', class=activeClass('/posts') ) Posts
    if user
      a.mlh-top-nav-link( href='/favorites', class=activeClass('/favorites') ) Favorites
    a.mlh-top-nav-link( href='/feature/artsy-education', class=activeClass('/feature/artsy-education') ) Education
    a.mlh-top-nav-link( href='/about', class=activeClass('/about') ) About
  #main-layout-header-right.mlh-navbar-cell
    span.mlh-session
      if user
        if user.get('name')
          .mlh-user-name
            = user.get('name')
            #main-layout-header-user-nav
              include ./user_nav
        else
          .mlh-user-name Account
            #main-layout-header-user-nav
              include ./user_nav
      else
        a.mlh-top-nav-link.mlh-login( href='/log_in' ) Log in
        a.mlh-top-nav-link.mlh-signup( href='/sign_up' ) Sign up
