extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'artists_artworks'

block body
  if NODE_ENV === 'development' || NODE_ENV === 'staging'
    hr.is-invisible

  .responsive-layout-container: .main-layout-container
    pre.debug
      if user
        | LOGGED_IN: <a class='js-logout' href='#'>true</a> (#{user.get('email')})<br>
      else
        | LOGGED_IN: <a class='js-login' href='#'>false</a><br>
      | NODE_ENV: #{NODE_ENV}
      | APPLICATION_NAME: #{APPLICATION_NAME}
      | API_URL: #{API_URL}
      | ARTWORK_ID: #{artwork.id}
      | HAS_SEEN: #{HAS_SEEN}

    if (NODE_ENV === 'development' || NODE_ENV === 'staging') && API_URL === 'https://stagingapi.artsy.net'
      hr

      .grid-3-up
        .grid-item: a.avant-garde-button.js-reset-logged
          | Reset Logger

        - var logged = JSON.parse(HAS_SEEN || '[]');
        .grid-item
          if logged.length
            label.avant-garde-form-label Un-see step
            label.bordered-select: select.js-unlog
              option Steps
              for step in logged
                option( value= step )= step

        .grid-item
          label.avant-garde-form-label Launch step
          label.bordered-select: select.js-bypass
            option Steps
            for step in views
              option( value= step )= step

      hr

      .grid-2-up
        .grid-item
          strong With pre-qualification turned on
          hr
          .debug-embedded-inquiry-form.js-embedded-inquiry-form-prequalified-container
            include ../../../components/embedded_inquiry/templates/index

        .grid-item
          strong Default
          hr
          .debug-embedded-inquiry-form.js-embedded-inquiry-form-container
            include ../../../components/embedded_inquiry/templates/index

      hr.is-invisible
