.hero-artworks-carousel
  .mgr-cells.js-mgr-cells
      for artwork in artworks.models
        - var dimensions = artwork.defaultImage().resizeDimensionsFor({ height: 300 })
        .mgr-cell.js-mgr-cell(style="width:#{dimensions.width}px;")
          a( href= artwork.href() )
            img(
              src= artwork.defaultImage().imageUrlForHeight(300)
              alt= artwork.get('title')
              width= dimensions.width
              height= dimensions.height
            )
          .artist-name= artwork.artistName()
          .title!= artwork.titleAndYear()

  - length = artworks.length
  include ../../../../components/merry_go_round/templates/bottom_navigation
