.fair-page-footer
  .fair-footer-left
    .footer-section-heading Explore the Fair
    .footer-square-sections
      a.footer-square-section( href=profile.href() + "/browse" )
        img(src=fair.imageUrl('large_rectangle') )
        .fair-footer-heading All Exhibitors
      if exploreItems
        for item in exploreItems
          a.footer-square-section( href=item.get('href') )
            img( src=item.imageUrl('large_square') )
            .fair-footer-heading= item.get('title')
      if primaryItems
        for item in primaryItems
          a.footer-square-section( href=item.get('href') )
            img( src=item.imageUrl('large_square') )
            .fair-footer-heading= item.get('title')
    a.avant-garde-header-center( href=profile.href() + "/browse/artworks") Browse all works

  .fair-footer-right
    if editorialItems
      .footer-section-heading Read Highlights from the Fair
      .fair-footer-posts-container
        for item in editorialItems.slice(0, 2)
          a.small-post( href=item.get('href') )
            img( src=item.imageUrl('small_rectangle') )
            .post-text
              .section-heading= item.get('title')
              if item.get('subtitle')
                .section-subheading= item.get('subtitle')

    if curatorItems
      .fair-footer-curator
        .footer-section-heading-small Art world insiders share their selections
        .curator-picks-container
          for item in curatorItems.slice(0, 3)
            a.small-section( href=item.get('href') )
              img( src=item.imageUrl('small_square') )
              .section-heading= item.get('title')
              if item.get('subtitle')
                .section-subheading= item.get('subtitle')
    a.avant-garde-header-center( href=profile.href() + "/posts") See All Highlights
