.fair-overview-top
  .fair-overview-top-left
    img.large-profile-image( alt=fair.get('name'), title=fair.get('name'), src=profile.icon().imageUrl('square') )
    h1.fair-name= fair.get('name')
    .fair-location= fair.formatLocation()
    .fair-dates= fair.formatDates()
    if fair.has('tagline')
      .fair-tagline= fair.get('tagline')
    if profile.get('bio')
      .profile-bio!= profile.mdToHtml('bio') + ' '
    include ../../../components/clock/template
  .fair-overview-right
    a.fair-overview-browse( href=profile.href() + "/browse" )
      .fair-overview-browse-image( style="background-image: url(" + fair.imageUrl('large_rectangle') + ")" )
      .fair-overview-browse-heading.overview-heading Browse all exhibitors
      .fair-overview-browse-subheading Updated Daily

.fair-overview-below-top-container
  .fair-overview-below-top
    .container-left
      .fair-follow
        p Follow the fair for updates and personalized recommendations.
        button.avant-garde-follow-button-black.follow-button.no-touch( id='fair-follow-button', data-id= fair.get('default_profile_id') )
      if primarySets.where({ key: 'explore' })
        for set in primarySets.where({ key: 'explore' })
          for item in set.get('items').models.slice(0,2)
            a.small-section( href=item.get('href') )
              img( src=item.imageUrl('large_square') )
              h2.section-heading= item.get('title')

    if primarySets.where({ key: 'primary' })
      .container-right
        for set in primarySets.where({ key: 'primary' })
          for item in set.get('items').models.slice(0,3)
            a.small-section( href=item.get('href') )
              img( src=item.imageUrl('large_square') )
              h2.section-heading= item.get('title')
          if set.get('items').models[3]
            a.small-section.primary-section-top-right( href=set.get('items').models[3].get('href') )
              img( src=set.get('items').models[3].imageUrl('large_square') )
              h2.section-heading= set.get('items').models[3].get('title')
