.fair-sections-container
  .sections-left
    .section-left-info-nav
      h2 Fair Information
      .fair-nav-info-menu.chevron-nav-list
        a(href="/#{profile.id}/info/visitors") visitors
        if infoMenu.programming
          a(href="/#{profile.id}/info/programming") programming
        if infoMenu.events
          a(href="/#{profile.id}/info/events") events
        if infoMenu.artsyAtTheFair
          a(href="/#{profile.id}/info/artsy-at-the-fair") artsy at the fair
        a(href="/#{profile.id}/info/about-the-fair") about the fair
  a.sections-right( href="https://apps.apple.com/us/app/artsy-buy-sell-original-art/id703796080", target="_blank" )
    .mobile-section-heading
      | Going to the fair?
      br
      i Download Artsy for iPhone
      br
      | — Your personal guide to
      br
      = fair.get('name')
    .mobile-section-iphone
