.artwork-metadata-stub__sale-artwork
  if !sale_artwork.sale.is_closed
    .artwork-metadata-stub__sale-artwork__estimate
      | Estimated value: #{sale_artwork.estimate || sale_artwork.symbol + 'N/A'}

  if artwork.is_sold
    .artwork-metadata-stub__sale-artwork__sale-message
      | Sold

  else if !sale_artwork.sale.is_closed
    .artwork-metadata-stub__sale-artwork__sale-message
      = sale_artwork.counts.bidder_positions > 0 ? 'Current' : 'Starting'
      = ' '
      | Bid: #{sale_artwork.current_bid.display}
      if sale_artwork.counts.bids != "0 bids"
        = ' '
        | (#{sale_artwork.counts.bids})

    if artwork.is_buy_nowable
      .artwork-metadata-stub__sale-artwork__sale-message
        | Buy Now Price: #{artwork.sale_message}

    if artwork.is_biddable
      .artwork-metadata-stub__sale-artwork__buttons(
        data-size= (artwork.is_buy_nowable ? '2' : '1')
      )
        a.artwork-metadata-stub__sale-artwork__buttons__button.avant-garde-button-black.is-small(
          class='js-auction-artwork-brick-bid-button'
          href= artwork.href
        ) Bid

        if artwork.is_buy_nowable
          form( action='#{artwork.href}/acquire', method='POST' )
            input( type='hidden', name='artwork_id', value= artwork.id )
            button.artwork-metadata-stub__sale-artwork__buttons__button.avant-garde-button-black.is-small(
              type='submit'
            ) Buy Now

    else if artwork.is_sold
      .artwork-metadata-stub__sale-artwork__buttons( data-size='1' )
        a.artwork-metadata-stub__sale-artwork__buttons__button.avant-garde-button-black(
          disabled
        ) Sold
