- var isPermanentCollection = artwork.availability === 'permanent collection'
- var isOnLoan = artwork.availability === 'on loan'
- var showPriceLabel = artwork.price && artwork.availability !== 'sold' && !isOnLoan && !isPermanentCollection
if artwork.sale_message || isPermanentCollection
  .artwork-commercial__container
    .artwork-commercial__sale-message
      if showPriceLabel
        .artwork-commerical__price
          | #{artwork.sale_message}
          if artwork.is_price_range
            .tooltip-question-container
              != stitch.components.TooltipQuestion({horizontalAlign: 'left', message: 'The range is an approximate indication of the work’s price point, and the exact price is quoted upon request.'})
      else if isPermanentCollection
        | Permanent collection
      else
        | #{artwork.sale_message}

    if showPriceLabel
      .artwork-commercial__shipping-info
        - var noShippingInfo = !artwork.domesticShipping && !artwork.internationalShipping
        - var complimentaryShipping = artwork.domesticShipping == '$0' && artwork.internationalShipping == '$0'
        - var domesticShippingOnly = artwork.domesticShipping && artwork.domesticShipping != '$0' && !artwork.internationalShipping
        if noShippingInfo
          | Shipping, tax, and service quoted by seller
        else if complimentaryShipping
          | Free shipping worldwide
        else if domesticShippingOnly
          | Shipping: #{artwork.domesticShipping} Continental US only
        else
          | Shipping: #{artwork.domesticShipping} Continental US, #{artwork.internationalShipping} rest of the world
