.map-modal-body
  .map-modal-show-information
    .map-modal-partner-name
      a.entity-link( href=show.partnerHref() )
        = show.partnerName()
    .map-modal-partner-location-address
      = show.location().get('address')
    .map-modal-partner-location-city
      = show.location().cityState()
    if show.daySchedules()
      .map-modal-partner-location-running-hours
        each daySchedule in show.formatModalDaySchedules()
          p= daySchedule['days']
          p= daySchedule['hours']
    else
      .map-modal-show-running-dates
        | #{show.date('start_at').format('MMMM DD')} – #{show.date('end_at').format('MMMM DD')}
  .map-modal-show-map-container
    #map-modal-show-map
    .map-modal-show-map-link
      a( href=googleMapsLink, target="_blank") View in Google Maps
