extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'fairs'
  - bodyClass = 'body-transparent-header body-header-fixed'

block head
  include meta

block body
  if coverImage && coverImage.hasImage('wide')
    .fair-organizer-feature-image( style="background-image: url(#{profile.coverImage().imageUrl('wide')})" )

  #fair-organizer-page
    .fair-organizer-top
      .fair-organizer-top__left
        .fair-organizer-top__icon
          img.large-profile-image( alt=fairOrg.get('name'), title=fairOrg.get('name'), src=profile.icon().imageUrl('square') )
        .fair-organizer-top__header
          h1 Explore #{fairOrg.get('name')} on Artsy
        .fair-organizer-top__sub-header Discover the fair and stay connected with the latest news
        a#fair-organizer-follow.fair-organizer-top__notify.avant-garde-follow-button-black.follow-button(data-id="#{profile.id}")
        .fair-organizer-top__countdown
          .fair-organizer-top__countdown__headline Fair opens in:
          .fair-organizer-top__countdown__clock
            .clock
              ul.clock-value

      .fair-organizer-top__right
        .fair-organizer-top__right__header-img( style="background-image: url(" + newestFair.imageUrl('large_rectangle') + ")" )

    .fair-organizer-content
      .fair-organizer-content__left
        .fair-organizer-content__header About #{fairOrg.get('name')}
        .fair-organizer-content__date
          //- p #{newestFair.location().get('city')}
          p #{newestFair.formatDates()}
        .fair-organizer-content__copy!= fairOrg.mdToHtml('about')
        //- .fair-organizer-content__links!= fairOrg.mdToHtml('links')

      .fair-organizer-content__right
        if pastFairs.length
          .fair-organizer-content__header Revisit Previous Fairs
          .fair-organizer-content__section.fair-organizer-content__section--past-fairs
            for fair in pastFairs
              include fair

        .fair-organizer-content__header Latest from #{fairOrg.get('name')}
        .fair-organizer-content__section.fair-organizer-content__section--articles
          #fair-organizer-articles
            include ./articles
          .avant-garde-button-white.is-block#fair-organizer-more-articles Show More

        .fair-organizer-content__header Get the App
        .fair-organizer-content__section.fair-organizer-content__section--app
          .mobile-section-iphone &nbsp;
          a(href="https://iphone.artsy.net/")
            .fair-organizer-content__section--app__copy
              | Going to the fair?
              br
              i Download Artsy for iPhone
              br
              //- | — Your personal guide to #{fairOrg.get('name'}

