title= article.get('thumbnail_title')
meta( property="og:title", content=article.get('thumbnail_title') )
link( rel="canonical", href=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="og:site_name" content='Artsy' )
meta( property="og:url", content=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="og:type", content="article" )
meta( property="og:published_time", content=article.get('published_at') )
meta( property="article:published_time", content=article.get('published_at') )
meta( property='article:publisher', content='https://www.facebook.com/artsy/')
meta( property="og:image", content=article.get('thumbnail_image') )
meta( name='twitter:site', content='@artsy' )
meta( property='twitter:url', content=(sd.APP_URL + '/article/' + article.get('slug')) )
meta( property="twitter:card", content="summary_large_image" )  
meta( name='cre', content='Artsy' )
meta( property='fb:app_id', content=sd.FACEBOOK_ID )
meta( property="news_keywords", content=article.get('keywords') )
meta( name="keywords", content=article.get('keywords') )
meta( property="article:tag", content=article.get('keywords') )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name='fragment', content='!' )
if article.get('contributing_authors').length
  - for author in article.get('contributing_authors')
    - if author.name?
      meta( name='author', content=author.name )
    - if author.facebook_uid?
      meta( property='article:author', content=author.facebook_uid )
    - if author.twitter_uid?
      meta( property='twitter:creator:id', content=author.twitter_uid )