- title = auction.get('name') + ' | Artsy'
- description = auction.mdToHtmlToText('description')

title= title
meta( property='og:title', content= title )
meta( name='description', content= description )
meta( property='og:description', content= description )
meta( property='twitter:description', content= description )
meta( property='og:url', content='#{sd.APP_URL}#{auction.href()}' )
link( rel='canonical', href='#{sd.APP_URL}#{auction.href()}' )
link( rel='alternate', media= sd.MOBILE_MEDIA_QUERY, href='#{sd.MOBILE_URL}#{auction.href()}' )
meta( property='og:type', content='website' )
meta( property='og:event', content='auction' )
if auction.hasImage()
  meta( property='og:image', content= auction.imageUrl() )
meta( property='twitter:card', content='summary' )
meta( name='fragment', content='!' )
