- var simpleContactFormAttendingId = 'simple-contact-form-attending'

.scontact-attending.artsy-checkbox
  .artsy-checkbox--checkbox
    input(
      id= simpleContactFormAttendingId
      type='checkbox'
      name='attending'
      checked= user && user.isAttending(fair)
    )
    label( for= simpleContactFormAttendingId )
  label.artsy-checkbox--label( for= simpleContactFormAttendingId )
    | I #{fair.isNotOver() ? 'will attend' : 'attended'} #{fair.nameSansYear()}
    span.help-tooltip(
      data-anchor='bottom-right'
      data-message="This artwork is part of the art fair—#{fair.nameSansYear()}. Providing this information to us and the gallery will facilitate your inquiry and enable more customized service."
    )
