//- Inlcudes 'user_name', 'user_email', and 'message' attributes along with
//- a hidden 'url' attribute populated by the current location href

form.scontact-form.stacked-form
  .scontact-errors.js-form-errors
    //- Rendered separately

  input( type='hidden', name='url', value= window.location.href )

  if artwork
    input( type='hidden', name='artwork', value= artwork.id )

  label.avant-garde-form-label( for='message' )
    | Your message
  textarea.bordered-input(
    id='message'
    name='message'
    placeholder='Leave your comments'
    rows='7'
    autofocus
    required
  )
    = message

  if user && user.get('name') && user.get('email')
    input( type='hidden', name='user_name', value= user.get('name') )
    input( type='hidden', name='user_email', value= user.get('email') )

  else
    //- Note these attribute names are different
    //- for the feedback endpoint vs inquiries (sigh)
    input.bordered-input(
      type='text'
      name='user_name'
      placeholder='Your full name'
      val= user ? user.get('name') : undefined
      required
    )
    input.bordered-input(
      type='email'
      name='user_email'
      placeholder='Your email address'
      val= user ? user.get('email') : undefined
      required
    )

    p.scontact-privacy
      | By clicking send, you accept our
      | <a class='fine-faux-underline' href='/privacy' target='_blank'>Privacy Policy</a>.

  button.avant-garde-button-black
    | Send
