//- Includes 'message', 'name' and 'email' attributes along with required
//- 'artwork' field, that includes a preview of the artwork details

form.scontact-form.stacked-form.js-inquiry-form
  .scontact-errors.js-form-errors
    //- Rendered separately

  .stacked-form-cell
    input( type='hidden', name='artwork', value= artwork.id )

    .scontact-artwork-details
      img( src=artwork.defaultImageUrl() )
      p= artwork.artistName()
      p!= artwork.titleAndYear()

  label.avant-garde-form-label( for='message' )
    | Your message

  textarea.bordered-input.is-block.js-inquiry-message(
    id='message'
    name='message'
    placeholder='Provide the gallery with some details about your interest in this work.'
    rows='5'
    required
  )
    = message

  if fair
    include attendance

  if user && user.get('name') && user.get('email')
    input( type='hidden', name='name', value= user.get('name') )
    input( type='hidden', name='email', value= user.get('email') )

  else
    input.bordered-input(
      type='text'
      name='name'
      placeholder='Your full name'
      val= user ? user.get('name') : undefined
      required
    )
    input.bordered-input(
      type='email'
      name='email'
      placeholder='Your email address'
      val= user ? user.get('email') : undefined
      required
    )

    p.scontact-privacy
      | By clicking send, you accept our <a class='fine-faux-underline' href='/privacy', target='_blank'>Privacy Policy</a>.

  button.avant-garde-button-black.js-send-inquiry
    | Send
