//- Does not display artwork preview or a message referencing the gallery
//- Includes 'message', 'name' and 'email' attributes along with optional
//- hidden 'artwork' field, populated by the artwork ID

form.scontact-form.stacked-form
  .scontact-errors.js-form-errors
    //- Rendered separately

  if artwork
    input( type='hidden', name='artwork', value= artwork.id )

  label.avant-garde-form-label( for='message' )
    | Your message
  textarea.bordered-input(
    id='message'
    name='message'
    placeholder='Leave your comments'
    rows='7'
    autofocus
    required
  )
    = message

  if user && user.get('name') && user.get('email')
    input( type='hidden', name='name', value= user.get('name') )
    input( type='hidden', name='email', value= user.get('email') )

  else
    input.bordered-input(
      type='text'
      name='name'
      placeholder='Your full name'
      val= user ? user.get('name') : undefined
      required
    )
    input.bordered-input(
      type='email'
      name='email'
      placeholder='Your email address'
      val= user ? user.get('email') : undefined
      required
    )

    p.scontact-privacy
      | By clicking send, you accept our
      | <a class='fine-faux-underline' href='/privacy' target='_blank'>Privacy Policy</a>.

  button.avant-garde-button-black
    | Send
