form.contact2-form
  if user
    input( type='hidden', name='user_name', value=user.get('name') )
    input( type='hidden', name='user_email', value=user.get('email') )
  else
    label( name='user_name' ) Your name
      input.bordered-input.is-block(
        type='text'
        name='user_name'
        autofocus= autofocus
      )
    label( name='user_email' ) Your email
      input.bordered-input.is-block(
        type='email'
        name='user_email'
      )
  textarea.bordered-input.is-block(
    placeholder= placeholder
    name='message'
    autofocus= autofocus && (user !== null)
    required
  )

  a#contact2-submit.avant-garde-button-black.is-block(
    href='#'
    data-state='ok'
  )
    | Send
