form.contact2-form
  textarea.bordered-input.is-block(
    name='message'
    autofocus= autofocus
    required
  )
  .bi-type-activated-placeholder( style='margin-top: -153px' )= placeholder
  if user
    section.contact2-from
      | From: #{user.get('name')}
      span.mcf-email  (#{user.get('email')})
    input( type='hidden', name='name', value=user.get('name') )
    input( type='hidden', name='email', value=user.get('email') )
  else
    input.bordered-input.is-block(
      type='text'
      name='user_name'
      autofocus= autofocus
      placeholder= 'Your name'
    )
    input.bordered-input.is-block(
      type='email'
      name='user_email'
      placeholder= 'Your email address'
    )
  a#contact2-submit.avant-garde-button-black.is-block(
    href='#'
    data-state='ok'
  )
    | Send
