form.contact2-form
  .contact2-show-details
    img( src=show.imageUrl() )
    p= show.get('name')
    p!= show.runningDates()
  textarea.bordered-input.is-block(
      name='message'
      required
      autofocus= autofocus
    )
  .bi-type-activated-placeholder( style='margin-top: -153px' ) Your message to the gallery
  if user
    section.contact2-from
      | From: #{user.get('name')}
      span.mcf-email  (#{user.get('email')})
    input( type='hidden', name='name', value=user.get('name') )
    input( type='hidden', name='email', value=user.get('email') )
  else
    input.bordered-input.is-block(
      type='text'
      name='name'
      required
    )
    .bi-type-activated-placeholder Your full name
    input.bordered-input.is-block(
      type='email'
      name='email'
      placeholder= 'Your email address'
      required
    )
  a#contact2-submit.avant-garde-button-black.is-block(
    href='#'
    data-state='ok'
  )
    | Send