form.contact2-form
  .contact2-artwork-details
    img( src=artwork.defaultImageUrl() )
    p= artwork.get('artist').name
    p!= artwork.titleAndYear()
  textarea.bordered-input.is-block(
      name='message'
      required
    )
      if contactGallery
        | Hello, I'm interested in this work by #{artwork.get('artist').name}.
        | Please confirm availability and pricing of this work.
        | &nbsp;
        | &nbsp;
    .bi-type-activated-placeholder( style='margin-top: -153px' ) Your message to Artsy
  if user
    section.contact2-from
      | From: #{user.get('name')}
      span.mcf-email  (#{user.get('email')})
  else
    input.bordered-input.is-block(
      type='text'
      name='name'
      required
    )
    .bi-type-activated-placeholder Your full name
    input.bordered-input.is-block(
      type='email'
      name='email'
      placeholder= 'Your email address'
      required
    )
  a#contact2-submit.avant-garde-button-black.is-block(
    href='#'
    data-state='ok'
  )
    | Send