a.search-result( href=result.href(), class=result.get('display_model'), data-id=result.get('id') )
  .search-result-thumbnail
    .search-result-thumbnail-fallback
      if result.imageUrl() != null
        include image
  .search-result-info
    if result.get('display_model')
      .search-result-kind= _s.humanize(result.get('display_model'))
    .search-result-title= result.get('display')
    if result.get('about')
      .search-result-about= result.get('about')
    if result.get('display_model') == 'artist' || result.get('display_model') == 'category'
      .search-result-images
