a.search-result( href=result.href(), class=_s.decapitalize(result.get('display_model')), data-id=result.get('id') )
  if result.imageUrl() != null
    .search-result-thumbnail
      .search-result-thumbnail-fallback
        include image
  else
    .search-result-no-thumbnail
  .search-result-info
    if result.get('display_model')
      .search-result-kind= _s.decapitalize(_s.humanize(result.get('display_model')))
    .search-result-title= result.resultsPageTitle()
    if result.get('about')
      .search-result-about= result.get('about')
    if result.get('display_model') == 'Artist' || result.get('display_model') == 'Category'
      .search-result-images
