include ../../../../../components/article/templates/share

.scroller.active
  .scroller__items
    section(data-section='0')
      article.main-title
        .inner
          .top
            .item
              h1 The Year In Art
          .spacer
          .bottom
            .item
              h1 2016
    section(data-section='1')
      article.main-title
        .inner
          .item
            h3!= markdown(curation.get('intro'))
            .share
              +share((article.get('social_description') ? article.get('social_description') : article.get('description') || article.get('social_title') ? article.get('social_title') : article.get('thumbnail_title')), article.get('social_image') ? article.get('social_image') : article.get('thumbnail_image'), (sd.APP_URL + '/2016-year-in-art'))
    section(data-section='2')
      article
        .inner
          .left
          .right
            .item
              a(href='#section-1')
                h2=sections[0].headline
    section(data-section='3')
      article
        .inner
          .left
            .col
            .col
            .col
          .right
            .col
            .item
              a(href='#section-2')
                h2=sections[1].headline
    section(data-section='4')
      article
        .inner
          .left
            .item
              a(href='#section-3')
                h2=sections[2].headline
            .col
          .col.spacer
          .right
            .col
            .col
    section(data-section='5')
      article
        .inner
          .left
            .col
          .right
            .item
              a(href='#section-4')
                h2=sections[3].headline
    section(data-section='6')
      article
        .inner
          .left
            .item
              a(href='#section-5')
                h2=sections[4].headline
          .right
    section(data-section='7')
      article
        .inner
          .left
            .col
            .col
          .right
            .item
              a(href='#section-6')
                h2=sections[5].headline
    section(data-section='8')
      article
        .inner
          .left
            .col
          .right
            .item
              a(href='#section-7')
                h2=sections[6].headline
            .col
    section(data-section='9')
      article
        .inner
          .left
            .col
          .right
            .item
              a(href='#section-8')
                h2=sections[7].headline
    section(data-section='10')
      article
        .inner
          .left
            .col
            .item
              a(href='#section-9')
                h2=sections[8].headline
          .col.spacer
          .right
            .col
    section(data-section='11').last
      article
        .inner
          .left
            .col
          .right
            .col
            .item
              a(href='#section-10')
                h2=sections[9].headline
