mixin checkbox(name, disabled)
  .settings-split.artsy-checkbox
    .settings-split__left
      label.artsy-checkbox--label(
        class='js-settings-checkbox-label'
        for= name
      )
        block

    .settings-split__right
      .artsy-checkbox--checkbox
        input(
          type='checkbox'
          id= name
          name= name
          checked= user && user.isChecked(name)
          disabled= disabled
        )
        label( for= name )
