mixin email-password
  input( name='email', placeholder='Email...', type='email' )
  input( name='password', placeholder='Password...', type='password' )

doctype html
html(lang="en")
  head
    title Login
    style.
      label, a {
        display: block;
      }
  body
    #login
      h1 Login
      pre!= error
      a( href=ap.facebookPath ) Login via Facebook
      a( href=ap.applePath ) Login via Apple
      form( action=ap.loginPagePath, method='POST' )
        h3 Login via Email
        label Email
          input( name='email' )
        label Password
          input( name='password' type='password' )
        button( type='submit' ) Login
    hr
    #signup
      h1 Signup
      pre!= error
      a( href=ap.facebookPath ) Signup via Facebook
      a( href=ap.applePath ) Signup via Apple
      form( action=ap.signupPagePath, method='POST' )
        h3 Signup via Email
        label Name
          input( name='name' )
        label Email
          input( name='email' )
        label Password
          input( name='password' type='password' )
        button( type='submit' ) Signup
