include ./_header

section#auth-body
  .auth-login-options
    .auth-login-option
      form.auth-form
        input.bordered-input.is-block(
          name='email', type='email', placeholder='Email' autofocus, required
        )
        input.bordered-input.is-block(
          name='password', type='password', placeholder='Password', autocomplete='on', required
        )
        button#auth-submit.avant-garde-button-black.is-block Log in

        footer.auth-form-options
          label
            input(
              name='remember_me', type='checkbox', value='1', checked
            )
            | &nbsp;Remember me
          a.auth-toggle( href='#forgot', data-mode='forgot' ) Forgot Password?

    .auth-login-option
      .auth-login-social
        p.small-caps Log in with Facebook or Twitter
        nav.auth-options
          a.auth-login-facebook.avant-garde-button-black(
            href='/users/auth/facebook?sign_up=true'
          ) Facebook
          a.auth-login-twitter.avant-garde-button-black(
            href='/users/auth/twitter?sign_up=true'
          ) Twitter

include ./_login_footer.jade
