include ../activator

#cases
  #case-1= activeClass('/foo/bar')
  #case-2= activeClass('/foo/bar/')
  #case-3= activeClass('/foo/baz')
  #case-4= activeClass('nothing')
  #case-5= activeClass('/about')
  #case-6= activeClass('/about/foobar')
