#auth-page.vam-outer
  .vam-inner
    section#auth-body
      .auth-login-social
        p.small-caps= copy.login || 'Log in to Artsy'
        nav.auth-options
          a.auth-login-facebook.avant-garde-button-black(
            href='/users/auth/facebook?redirect-to=' + pathname, rel='nofollow'
          )
            i.icon-facebook
            | Log in using Facebook
          a.auth-login-twitter.avant-garde-button-black(
            href='/users/auth/twitter?redirect-to=' + pathname, rel='nofollow'
          )
            i.icon-twitter
            | Log in using Twitter

      hr.horizontal-rule-or

      form.auth-login-email.auth-form( action='/users/sign_in' )
        .auth-errors
        input.bordered-input.is-block(
          name='email', type='email', placeholder='Email', required, autofocus= autofocus
        )
        input.bordered-input.is-block(
          name='password', type='password', placeholder='Password', autocomplete='on', required
        )
        button#auth-submit.avant-garde-button-black.is-block Log in

        footer.auth-form-options
          .artsy-checkbox
            input( id='remember_me', name='remember_me', type='checkbox', value='1', checked )
            label( for='remember_me', data-label='Remember me' )
          a.faux-underline.auth-toggle( href='/forgot', data-mode='forgot', rel='nofollow' ) Forgot Password?

    include ./_login_footer.jade
