#auth-page.vam-outer
  .vam-inner
    section#auth-body
      .auth-login-social
        p.small-caps Log in to Artsy
        nav.auth-options
          a.auth-login-facebook.avant-garde-button-black(
            href='/force/users/auth/facebook?redirect-to=' + pathname
          )
            i.icon-facebook
            | Log in using Facebook
          a.auth-login-twitter.avant-garde-button-black(
            href='/force/users/auth/twitter?redirect-to=' + pathname
          )
            i.icon-twitter
            | Log in using Twitter

      hr.horizontal-rule-or

      form.auth-login-email.auth-form( action='/force/users/sign_in' )
        .auth-errors
        input.bordered-input.is-block(
          name='email', type='email', placeholder='Email', required, autofocus= autofocus
        )
        input.bordered-input.is-block(
          name='password', type='password', placeholder='Password', autocomplete='on', required
        )
        button#auth-submit.avant-garde-button-black.is-block Log in

        footer.auth-form-options
          label
            input(
              name='remember_me', type='checkbox', value='1', checked
            )
            | &nbsp;Remember me
          a.faux-underline.auth-toggle( href='/forgot', data-mode='forgot' ) Forgot Password?

    include ./_login_footer.jade
