.related-posts.is-grid
  h3.avant-garde-header-center
    | #{posts.length + remaining} #{(posts.length === 1 ? 'Post' : 'Posts')} About #{entityName}

  .grid-4-up
    for post in posts
      - var profile = post.profile()
      .grid-item
        a.related-post-content( href="/post/#{post.id}" )
          .hoverable-image-link
            if post.defaultImage()
              .hoverable-image.is-four-three( style="background-image: url(#{post.defaultImage().imageUrlFor(300, 300)})" )

          if post.get('title')
            .rpc-title!= post.get('title')
          if profile.get('owner')
            .rpc-author By #{profile.get('owner').name}

  footer.related-posts-actions( class=(remaining > 0 ? 'is-hasremaining' : '') )
    if remaining > 0
      a.related-posts-show-all
        | Show All Featured Posts (#{remaining})
