.related-posts.is-list
  h3.avant-garde-header-center
    | #{posts.length + remaining} #{(posts.length === 1 ? 'Post' : 'Posts')} About #{entityName}

  ul
    for post in posts
      - var profile = post.profile()

      li.related-post
        a.related-post-content(
          href="/post/#{post.id}"
        )
          if post.get('title')
            .rpc-title!= post.get('title')
          if post.get('summary')
            .rpc-body!= post.get('summary')

        unless profile.isNew()
          .related-post-profile
            include ../../../components/profile_badge/template

  footer.related-posts-actions( class=(remaining > 0 ? 'is-hasremaining' : '') )
    if remaining > 0
      a.related-posts-show-all
        | Show All Featured Posts (#{remaining})

    a.related-posts-add-button.avant-garde-button-white(
      href='/post'
    )
      i.icon-write
      | Add Post
