extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav

    .fair-info2-body
      .fair-info2-events
        if Object.keys(sortedEvents).length > 0
          for day in sortedEvents
            .fair-info-event-day
              for event in day
                .fair-info-event-item
                  .fair-info-event-item-date
                    .fair-info-event-item-date__formatted-date= event.formatDate()
                    .fair-info-event-item-date__time= event.formatTime()
                    a.fair-info-event-item-date__add-to-calender(href='#') + Add to Calendar
                    .fair-info-event-calendar-wrapper
                      .fair-info-event-arrow-up
                      .fair-info-event-calendar-container
                        a.outlook( href= event.icsCalendarUrl() ) Outlook
                        a.google( href= event.googleCalendarUrl() target= '_blank' ) Google
                        a.yahoo( href= event.yahooCalendarUrl() target= '_blank' ) Yahoo!
                        a.ical( href= event.icsCalendarUrl()) iCal
                  .fair-info-event-item-details
                    if event.get('image_url')
                      img.fair-info-event-item-details__image( src=event.get('image_url') )
                    if event.get('caption')
                      .fair-info-event-item-details__image-caption= event.get('caption')
                    h2.fair-info-event-item-details__title= event.get('name')
                    .fair-info-event-item-details__address= event.get('venue')
                      if event.get('venue_address')
                        a.fair-info-event-map-link.js-open-fair-events( href='#' data-id=event.id )
                          i.icon-circle-chevron
                          span Map
                    .fair-info-event-item-details__description!= event.mdToHtml('description')
        else
          .fair-info-event-item There are no events.

      h2.fair-info2-event-type-title.is-center-aligned: a(href="armory-arts-week/all") See all Armory Arts Week Events
