extend ../../../components/fair_layout/templates/index

block body
  .fair-info2-content-wrapper
    include nav

    .fair-info2-body
      .fair-info2-map
        if fair.get('location')
          a.fair-info2-map-link( target="_blank" href=fair.location().googleMapsLink() )
            #fair-info2-map

      .fair-info2-content
        .grid-3-up
          if (fair.get('location') && fair.get('location').summary) || fair.get('floorplan_link')
            .fair-location.grid-item
              h2.visitor-title Location
              if (fair.get('location') && fair.get('location').summary)
                .location-caption!= fair.location().mdToHtml('summary')
              if fair.get('floorplan_link')
                a.fair-info2-heavy-link(href=fair.get('floorplan_link')) Floorplan (PDF)

          if fair.get('hours')
            .fair-hours.grid-item
              h2.visitor-title Hours
              .fair-info2-fair-hours!= fair.mdToHtml('hours')

          if fair.get('tickets') || fair.get('tickets_link')
            .fair-tickets.grid-item
              h2.visitor-title Tickets
              if fair.get('tickets')
                .fair-info2-ticket-info!= fair.mdToHtml('tickets')
              if fair.get('tickets_link')
                a.fair-info2-heavy-link(href=fair.get('tickets_link')) Buy Tickets

          if fair.get('location') && (fair.get('location').coordinates != null || fair.get('location').address != '')
            .fair-directions.grid-item
              h2.visitor-title Directions
              form.fair-info2-directions
                input.fair-info2-directions-input.bordered-input(
                  placeholder='Enter your starting address'
                  tabindex=1
                  value=address
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                )
                a.js-get-directions-link.fair-info2-heavy-link(href='#') Get Directions

          if fair.get('contact')
            .fair-info2-contact.grid-item
              h2.visitor-title Contact
              .fair-infor2-contact-caption!= fair.mdToHtml('contact')

          if fair.get('links')
            .fair-links.grid-item
              h2.visitor-title Links
              .links-caption!= fair.mdToHtml('links')

          hr.fair-info-line

          .fair-info2-mobile-section
            .fair-info2-iphone-heading-section
              | Going to the fair?
              br
              i Download Artsy for iPhone
              | — Your personal
              br
              | guide to #{fair.get('name')}

              a.avant-garde-button-white.block-link(href="https://iphone.artsy.net") Get The App

            .fair-info2-iphone-app-section

