//- TODO: Add image to twitter card / OG if the show has an image
- description = show.toPageDescription()
title= show.toPageTitle()
meta( property="og:title", content=show.toPageTitle())
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
link( rel="canonical", href=(show.canonicalUrl()) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + show.href()) )
meta( property="og:url", content=(show.canonicalUrl()) )
meta( property="og:type", content="article" )
meta( property="og:published_time", content=show.get('publish_at') )
meta( property="twitter:card", content="summary" )
if (show.posterImageUrl())
  meta( property="og:image", content=show.posterImageUrl() )
else
  meta( property="og:image", content="#{sd.ASSET_PATH}og_image.jpg" )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name="fragment", content="!" )
