- description = show.toPageDescription()
title= show.toPageTitle()
meta( property="og:title", content=show.toPageTitle())
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
link( rel="canonical", href=(show.canonicalUrl()) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + show.href()) )
meta( property="twitter:card", content="summary" )
meta( property="og:url", content=(show.canonicalUrl()) )
meta( property="og:type", content="article" )
meta( property="og:published_time", content=show.get('publish_at') )
meta( property="og:start_at", content=show.startAtDate().toISOString() )
meta( property="og:end_at", content=show.startAtDate().toISOString() )
if show.location()
  meta( property="og:location", content=show.location().toJSONLD() )
if show.partnerName()
  meta( property="og:host", content=show.partnerName() )
if show.metaImageUrl()
  meta( property="og:image", content=show.metaImageUrl() )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name="fragment", content="!" )
