extends ../../components/main_layout/templates/index
include ../../components/share/template

block head
  include meta

append locals
  - assetPackage = 'show'

mixin back(href, text)
  a.contextual-return-link( href=href )
    i.icon-chevron-small-left
    | Back to #{text}

block body
  #show
    header.show-header.show-container

      #show-left
        case context
          when 'home'
            +back('/', 'Homepage')
          when 'fair'
            if fair.get('organizer')
              +back('/' + fair.get('organizer').profile_id, fair.get('name'))
          when 'partner'
            +back('/' + partner.get('default_profile_id'), partner.get('name'))
        #show-left-info
          strong
            a( href='/' + partner.get('default_profile_id') )= partner.get('name')
          if show.has('fair')
            |  at:
            br
            if fair.get('organizer')
              strong
                a( href='/' + fair.get('organizer').profile_id )= fair.get('name')
              br
            != fair.formatDates()
            if show.get('fair_location')
              br
              = show.get('fair_location').display
          else
            br
            != show.runningDates()
            if location
              br
              = location.singleLine()

      nav.show-share
        +share(show.shareTitle())
      if show.has('fair')
        h1.show-heading-title!= partner.get('name')
          br
          em= fair.get('name')
      else
        h1.show-heading-title!= show.title()

      #show-main-buttons
        include ../../components/partner_buttons/show_buttons

    section.show-installation-shot-carousel.carousel( style="display: #{show.carouselDisplay()}")
      .loading-spinner

    section.show-container.show-artworks.artworks-columns( style="display: #{show.artworksDisplay()}" )
      .loading-spinner
