include ../../../components/share/template

mixin artist-header(artist)
  header.artist-header
    h1.avant-garde-header-center= artist.get('name')

    if (artist.get('nationality') && artist.get('years'))
      h2 #{artist.get('nationality')}, #{artist.get('years')}

    if artist.get('published_artworks_count') === 0
      .artist-header-empty
        | There are no #{artist.get('name')} works on Artsy yet.
        br
        | Follow the artist to get alerts when works are added.

    button#artist-follow-button.avant-garde-button-white.follow-button

    if artist.get('published_artworks_count')
      nav.artist-share
        +share(artist.get('name') + ' on Artsy', artist.imageUrl('large'))

    .bisected-header
      if artist.get('blurb')
        .bisected-header-cell
          .artist-blurb
            h2 Biography
            .blurb!= artist.mdToHtml('blurb')

      .bisected-header-cell: .artist-related-genes.related-genes
