title= artist.toPageTitle()
meta( property="og:title", content=artist.toPageTitle() )
meta( name="description", content=artist.toPageDescription(155) )
meta( property="og:description", content=artist.toPageDescription(155) )
meta( property="twitter:description", content=artist.toPageDescription(200) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + "/artist/" + artist.get('id')) )
link( rel="canonical", href=(sd.APP_URL + "/artist/" + artist.get('id')) )
meta( property="og:url", content=(sd.APP_URL + "/artist/" + artist.get('id')) )
meta( property="og:type", content=(sd.FACEBOOK_APP_NAMESPACE + ":artist" ) )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name="fragment", content="!" )
if artist.hasImage('large')
  meta( property="twitter:card", content="summary_large_image" )
  meta( property="og:image", content=artist.imageUrl('large'))
else
  meta( property="twitter:card", content="summary" )
