form.contact-form
  include ./artwork_details
  textarea.bordered-input.is-block(
    name='message'
    required
  )
    if contactGallery
      | Hello, I'm interested in this work by #{artwork.get('artist').name}.
      | Please confirm availability
      unless artwork.isPriceDisplayable()
        |  and pricing
      |  of this work.
      | &nbsp;
      | &nbsp;
  .bi-type-activated-placeholder( style='margin-top: -153px' ) Your message to Artsy
  if user
    section.contact-from
      | From: #{user.get('name')}
      span.mcf-email  (#{user.get('email')})
    input( type='hidden', name='name', value=user.get('name') )
    input( type='hidden', name='email', value=user.get('email') )
  else
    input.bordered-input.is-block(
      type='text'
      name='name'
      required
    )
    .bi-type-activated-placeholder Your full name
    input.bordered-input.is-block(
      type='email'
      name='email'
      placeholder= 'Your email address'
      required
    )
  a#contact-submit.avant-garde-button-black.is-block(
    href='#'
    data-state='ok'
  )
    | Send