ul.artwork-list
  for artwork in artworks
    li
      a( href= artwork.href() )
        img( src= artwork.defaultImageUrl('large') )
        .artwork-list-details
          if artwork.related().artist
            p= artwork.related().artist.get('name')
          p
            em= artwork.get('title')
            if artwork.get('date')
              | ,
              = artwork.get('date')
          if artwork.get('price')
            p= artwork.get('price')
          if artwork.get('sold')
            p Sold
      if artwork.has('sale_artwork')
        p!= artwork.related().saleArtwork.mdToHtml('user_notes')
      else
        if artwork.has('blurb')
          p!= artwork.mdToHtml('blurb')
