.artwork-auction__help
  a(
    href='/auction-info'
    class='js-artwork-auction-help-modal'
    data-id='how-auctions-work-bidding'
  ) Auction FAQs

  br
  a(
    href='/conditions-of-sale'
    class='js-artwork-auction-help-modal'
    data-id='how-auctions-work-conditions-of-sale'
  ) Conditions of Sale

  br
  a( class='js-artwork-auction-ask-specialist' )
    | Ask a Specialist
