.card-name.order-input-section
  label( for='card_name' ) Name on Card
  input.bordered-input( type='text', name='card_name', value=name, autocomplete='cc-name' )

.card-expiration.order-input-section
  label( for='card_expiration' ) Expiration
  .month
    select( name='card_expiration_month', autocomplete="cc-exp-month" )
      option( value='' ) Month
      each month in monthRange
        option( value=month )!= month
  .year
    select( name='card_expiration_year', autocomplete="cc-exp-year" )
      option( value='' ) Year
      each year in yearRange
        option( value=year )!= year

.card-number.order-input-section
  label( for='card_number' ) Credit Card Number
  input.bordered-input( type='text', name='card_number', value=number, autocomplete="cc-number", pattern="\d*" )

.card-security-code.order-input-section
  label( for='card_security_code' ) Security Code
  input.bordered-input( type='text', name='card_security_code', value=security_code, autocomplete="cc-csc", pattern="\d*" )
