.artwork-brick.artwork-brick--on-rail(
  class='js-artwork-brick'
  data-id= artwork.id
  data-type='artwork'
  style='width: #{artwork.image.cell.width}px'
)
  .artwork-brick__image
    a( href= artwork.href )
      img.artwork-brick__image__img(
        src= artwork.image.cell.url
        alt= artwork.title
        width= artwork.image.cell.width
        height= artwork.image.cell.height
        onerror='this.style.display="none";'
      )

    .artwork-brick__image__save(
      class='js-artwork-brick-save-controls'
      data-id= artwork.id
    )
      //- Rendered client-side

  include ../../artwork_metadata_stub/index
