title= lot.toPageTitle(artist)
meta( property='og:title', content=lot.toPageTitle(artist) )
meta( name='description', content=lot.toPageDescription() )
meta( property='og:description', content=lot.toPageDescription() )
link( rel='canonical', href=(sd.ARTSY_URL + '/artist/' + artist.id + '/auction-result/' + lot.id) )
meta( property='og:url', content=(sd.ARTSY_URL + '/artwork/' + lot.id + '/auction-result/' + lot.id) )
if lot.hasImage()
  meta( property='twitter:card', content='summary_large_image' )
  meta( property='og:image', content=lot.imageUrl('original') )
else
  meta( property='twitter:card', content='summary' )
