.artsy-checkbox
  .artsy-checkbox--checkbox
    input( type='checkbox', name='attending', id='embedded-inquiry-form-attending' )
    label( for='embedded-inquiry-form-attending' )
  label.artsy-checkbox--label( for='embedded-inquiry-form-attending' )
    | I #{fair.isNotOver() ? 'will attend' : 'attended'} #{fair.nameSansYear()}
    span.help-tooltip(
      data-anchor='bottom-right'
      data-message="This artwork is part of the art fair—#{fair.nameSansYear()}. Providing this information to us and the gallery will facilitate your inquiry and enable more customized service."
    )
