- var length = profiles.length

if length > 0

  if length > 1
    .gpc-bumpers.js-gpc-navigation
      .gpc-bumper-prev.gi-carousel-arrow-prev.js-gpc-prev: i.icon-chevron-left
      .gpc-bumber-next.gi-carousel-arrow-next.js-gpc-next: i.icon-chevron-right

  .gpc-body
    .gpc-overlays
      for profile, i in profiles
        - var show = profile.related().owner.related().shows.featured()
        .gpc-overlay.js-gpc-overlay( data-idx= i )
          a.gpc-headline( href= profile.related().owner.href() )
            = profile.related().owner.get('name')

          if show
            a( href= show.href() )
              .gpc-subheadline
                | #{show.statusLabel()} #{show.has('location') ? show.formatCity() : ''} Show
              .gpc-subheadline-alt
                = show.get('name')
              .gpc-location-dates
                include ../../../../components/featured_shows/metadata/location_with_dates

          button.gpc-follow-button.is-small.avant-garde-follow-button-black.follow-button.js-follow-button(
            data-id= profile.id
          )

      - var index = 0
      .mgr-dots
        if length > 1
          for x, i in new Array(length)
            .mgr-dot.js-gpc-dot(
              class= (index === i ? 'is-active' : undefined)
              data-index= i
            ) •

    .gpc-carousel
      .gpc-carousel-cells.js-mgr-cells
        for profile in profiles
          - var show = profile.related().owner.related().shows.featured()
          .gpc-carousel-cell.js-mgr-cell
            if show && show.isWithImages()
              - var imageUrl = show.hasImage('featured') ? show.imageUrl('featured') : show.imageUrlForMaxSize()
            else if profile.get('cover_image')
              - var imageUrl = profile.coverImage().imageUrlForMaxSize()
            else
              - var imageUrl = ''
            a.gpc-carousel-figure(
              href= (show && show.href()) || profile.related().owner.href()
              style='background-image: url(' + imageUrl + ')'
            )
