title= organization.get('name')
meta( property="og:title", content=organization.get('name') )
meta( name="description", content=organization.get('name') )
meta( property="og:description", content=organization.get('name') )
meta( property="twitter:description", content=organization.get('name') )
link( rel="canonical", href=(sd.APP_URL + sd.CURRENT_PATH) )
meta( property="og:url", content=(sd.APP_URL + sd.CURRENT_PATH) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + sd.CURRENT_PATH) )
meta( property="og:type", content="organization" )
meta( property="og:image", content=resize(organization.get('icon_url'), { height: 120, width: 120 }) )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name='fragment', content='!' )