h1 Edit your information
aside
  | Your gallery introduction will help galleries to provide quick and high quality responses on artwork pricing and availability.

form.stacked-form
  .stacked-form-cell
    label.avant-garde-form-label( for='name' ) Full Name
    input.bordered-input.is-block(
      placeholder='Your full name'
      value= user.get('name')
      name='name'
      required
    )

  .stacked-form-cell
    label.avant-garde-form-label Primary Location
    #personalize-collector-location
      //- Rendered separately

  .stacked-form-cell
    label.avant-garde-form-label( for='profession' ) Profession
    input.bordered-input.is-block(
      placeholder='There’s nothing here, yet'
      value= user.get('profession')
      name='profession'
    )

  .stacked-form-cell
    label.avant-garde-form-label Artists you collect
    #personalize-bookmark-artists
      //- Rendered separately

  button.avant-garde-button-black Done
