extends ../../../components/layout/templates/scaffold
include ../../../components/layout/templates/login-signup

block body
  #content
    mixin login-signup
    #fair-organization-page
      if newestFair.imageUrl('large_rectangle')
        .fair-organization-page__header-image
          img(src="#{newestFair.imageUrl('large_rectangle')}")
      .main-side-margin
        if profile.hasIcon()
          .fair-organization-page__profile-icon( style="background-image: url(#{profile.iconUrl()})" )
        h1.fair-organization-page__title= fairOrg.get('name')
        h1.fair-organization-page__subtitle!= newestFair.formatDates()
        h2.fair-organization-page__caption Discover and collect works before the fair opens on Artsy

        a.fair-organization-page__notification.avant-garde-box-button.avant-garde-box-button-gray.follow-button( data-state='unfollowed' )

        include ../../../components/avant_garde_tabs/nav

        .avant-garde-tabs-list.avant-garde-tabs-list--active(data-list="news")
          #fair-organization__articles
            include articles
          .avant-garde-box-button#fair-organization__articles__show-more
            | Show More
            .loading-spinner

        .avant-garde-tabs-list#fair-organization__previous_years(data-list="previous years" class= articles && articles.length ? '' : 'avant-garde-tabs-list--active')
          if pastFairs
            for fair in pastFairs
              include fair

        .avant-garde-tabs-list#fair-organization__about(data-list="about" class= pastFairs && pastFairs.length ? '' : 'avant-garde-tabs-list--active')
          p!= fairOrg.mdToHtml('about')

    mixin login-signup
