- feature = auction.related().feature

.ap-featured-item
  a( href= auction.href() )
    h3.af-name= auction.get('name')
    if feature.hasImage()
      img.af-hero-image(
        src= feature.cropUrlFor({ width: 1200, height: 533 })
        alt= feature.get('name')
        title= feature.get('name')
      )

  .af-metadata
    if auction.isOpen()
      .af-clock( data-id= auction.id )
        include ../../../components/clock/template

    .af-stats
      .af-stats-count #{auction.get('eligible_sale_artworks_count')} Works in Auction
      .af-stats-status Bidding #{auction.get('auction_state')}

    if auction.isOpen()
      a.af-go-button.avant-garde-button-black( href= auction.href() )
        | Go to auction

