.ap-featured-item
  h3.af-name: a( href="/auction/#{auction.id}" )= auction.get('name')

  .af-metadata
    .af-clock( data-id= auction.id )
      include ../../../components/auction_clock/template

    .af-stats
      .af-stats-count #{auction.get('eligible_sale_artworks_count')} Works in Auction
      .af-stats-status Bidding #{auction.get('auction_state')}

    if auction.get('auction_state') === 'open'
      a.af-go-button.avant-garde-button-black( href="/auction/#{auction.id}" )
        | Go to auction

  ul.af-artworks( data-id= auction.id ): a( href="/auction/#{auction.id}" )
    for artwork in auction.related().artworks.models
      li.af-artwork.hoverable-image-link: img(
        src= artwork.defaultImage().imageUrl('medium')
        alt= artwork.get('title')
      )
