.ap-featured-item
  a( href= auction.href() )
    h3.af-name= auction.get('name')
    if auction.hasImage('source')
      img.af-hero-image(
        src= auction.cropUrlFor({ width: 1200, height: 533 })
        alt= auction.get('name')
        title= auction.get('name')
      )

  .af-metadata
    if auction.isOpen()
      .af-clock( data-id= auction.id )
        include ../../../components/clock/template

    .af-stats
      .af-stats-status(class=auction.isOpen() ? 'is-open' : '') Bidding #{auction.get('auction_state')} on Artsy
      .af-stats-count #{auction.get('eligible_sale_artworks_count')} Works in Auction

    if auction.isOpen()
      a.af-go-button.avant-garde-button-black( href= auction.href() )
        | Go to auction

