extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'auctions'

block body
  #auctions-page.aggregate-page.main-layout-container
    unless currentAuctions.length
      include ./placeholder

    .aggregate-page-items
      .aggregate-page-items-featured
        if currentAuctions.length
          .aggregate-page-items-featured-set
            h2.aggregate-page-subheader Current Auctions
            for auction in currentAuctions
              include auction

        if upcomingAuctions.length && !currentAuctions.length
          .auctions-list.leader-dots-list
            h2.aggregate-page-subheader Upcoming Auctions
            for auction in upcomingAuctions
              .leader-dots-list-item
                span= auction.get('name')
                span Opens #{auction.date('start_at').format('MMM D, YYYY')}

        if pastAuctions.length
          .auctions-list.leader-dots-list
            h2.aggregate-page-subheader Past Auctions
            for auction in pastAuctions
              a.leader-dots-list-item( href= auction.href() )
                span= auction.get('name')
                span= auction.date('end_at').format('MMM D, YYYY')

      .aggregate-page-items-upcoming
        h2.aggregate-page-subheader How Auctions Work
        .ap-upcoming-item
          a.fine-faux-underline.js-auctions-learn-link( href='/auction-info' )
            | Learn about Bidding Increments, Max Bids, Reserves, and more

        if upcomingAuctions.length && currentAuctions.length
          h2.aggregate-page-subheader Upcoming Auctions
          for auction in upcomingAuctions
            .ap-upcoming-item
              .au-name= auction.get('name')
              .au-date Opens #{auction.date('start_at').format('MMMM Do')}

