- extraDisplayStyle = sd.REFLECTION ? 'artwork-images__images__image__display--visible' : ''

a.artwork-images__images__image(
  class='js-artwork-images__images__image analytics-artwork-zoom'
  data-id= image.id
  data-state= (i === (artwork.images.length - 1) ? 'active' : 'inactive')
  data-zoomable= image.is_zoomable
)
  .artwork-images__images__image__placeholder(
    class='js-artwork-images__images__image__placeholder'
    style='background-image: url(#{image.placeholder.url})'
  )

  .artwork-images__images__image__display(
    class="js-artwork-images__images__image__display #{extraDisplayStyle}"
  )
    img.artwork-images__images__image__display__img(
      class='js-artwork-images__images__image__display__img'
      data-src= helpers.images.imageUrl(image)
      data-default= (i === (artwork.images.length - 1))
      alt= artwork.image_alt
      title= artwork.image_title
    )
