title Artsy - Discover Fine Art
meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
meta( name="google-site-verification" content="0wcwrQSIrrBNXss78bJW8AOXg2Vdhh8BhYkoeZLqS80" )
meta( name="apple-mobile-web-app-capable", content="yes" )
//- Briefly removing the applink support until Eigen 2.3.x is most of our traffic
//- meta( property="al:ios:app_store_id" content='703796080' )
//- meta( property="al:ios:app_name" content='Artsy' )
//- meta( property="al:ios:url" content="#{sd.APP_URL}#{sd.CURRENT_PATH}" )
if !sd.SHOULD_DISPLAY_APP_BANNER
    meta( name="apple-itunes-app" content="app-id=703796080, app-argument=#{sd.APP_URL}#{sd.CURRENT_PATH}" )
link( rel='icon', type='image/png', href=asset('/images/favicon.ico') )
link( rel='apple-touch-icon', sizes='76x76', href=asset('/images/icon-76.png') )
link( rel='apple-touch-icon', sizes='120x120', href=asset('/images/icon-120.png') )
link( rel='apple-touch-icon', sizes='152x152', href=asset('/images/icon-152.png') )
link( rel='apple-touch-icon', href=asset('/images/icon-152.png') )
link( href="#{sd.APP_URL}#{sd.CURRENT_PATH}", rel="canonical" )
//- Include asset package's CSS
link( type='text/css', rel='stylesheet', href=('//fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css') )
link( type='text/css', rel='stylesheet', href=asset('/assets/' + assetPackage + '.css') )

//- Prefetch major external resources
link( rel='preconnect', href='https://www.google-analytics.com' )
link( rel='preconnect', href='https://googleads.g.doubleclick.net' )
link( rel='preconnect', href='https://www.googleadservices.com' )

link( rel='dns-prefetch', href='https://connect.facebook.net' )
link( rel='dns-prefetch', href='https://cdn.segment.com' )

//- TTI measurement
script( type="text/javascript" )
  include ../../../../lib/tti-init.js
