//- Override any locals with `append locals`
block locals
  - assetPackage = 'mobile_all'
  //- Hacky way of dealing with specs that depend on this template
  - if (!asset) asset = function(u) { return u }

doctype html
html( class=htmlClass )
  head
    block head
    include head
  body
    block body

    #scripts
      //- Common bundle
      script( src=asset("/assets/legacy-runtime.js") )
      script( src=asset("/assets/legacy-common.js") )
      script( src=asset("/assets/legacy-artsy-common.js") )
      script( src=asset("/assets/legacy-common-backbone.js") )
      script( src=asset("/assets/legacy-common-jquery.js") )
      script( src=asset("/assets/legacy-common-react.js") )
      script( src=asset("/assets/legacy-common-utility.js") )
      script( src=asset("/assets/legacy-artsy.js") )

      //- Segment.io
      if !sd.THIRD_PARTIES_DISABLED
        script( type="text/javascript" ).
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
          analytics.load("#{sd.SEGMENT_WRITE_KEY}");
          }}();

      //- Fonts + Google analytics script
      if sd.NODE_ENV != 'test' && !sd.THIRD_PARTIES_DISABLED
        if sd.GOOGLE_ANALYTICS_ID
          include ./ga.html

      //- Sharify
      if sharify
        != sharify.script()

      //- Include asset package's javascript
      script( src=asset('/assets/legacy-' + assetPackage + '.js') )

      if !sd.THIRD_PARTIES_DISABLED
        script( src=asset('/assets/legacy-mobile_analytics.js'))

      //- Stripe
      if !sd.THIRD_PARTIES_DISABLED
        script( type="text/javascript", src="https://js.stripe.com/v3/" )

      if !sd.THIRD_PARTIES_DISABLED && sd.SIFT_BEACON_KEY
        script( type="text/javascript" ).
          var _sift = window._sift = window._sift || [];
          _sift.push(['_setAccount', '#{sd.SIFT_BEACON_KEY}']);
          _sift.push(['_setUserId', '#{sd.CURRENT_USER ? sd.CURRENT_USER.id : ''}']);
          _sift.push(['_setSessionId', '#{sd.SESSION_ID}']);
          _sift.push(['_trackPageview']);

          (function() {
            function ls() {
              var e = document.createElement('script');
              e.src = 'https://cdn.sift.com/s.js';
              document.body.appendChild(e);
            }
            if (window.attachEvent) {
              window.attachEvent('onload', ls);
            } else {
              window.addEventListener('load', ls, false);
            }
          })();

      //- Include any scripts into the scripts block
      block scripts
