.related-articles
  for article in articles
    .related-article
      a.ra-image.hoverable-image-link( href="/article/#{article.get('slug')}" )
        img(
          src= crop(article.get('thumbnail_image'), { width: 300, height: 225 })
          alt= article.get('title')
        )
      .ra-blurb
        if article.get('thumbnail_title')
          a( href="/article/#{article.get('slug')}" )
            h3.ra-title= article.get('thumbnail_title')

        a.ra-author( href="/#{article.related().author.get('profile_handle')}" )
          | By #{article.related().author.get('name')}

        if article.get('thumbnail_teaser')
          a( href="/article/#{article.get('slug')}" )
            - if (!teaserLimit) { var teaserLimit = 450 }
            .ra-summary
              = _s.prune(article.get('thumbnail_teaser'), teaserLimit)
              | &nbsp
              span.ra-go Go to article
  if remaining > 0
    .related-articles-show-all.avant-garde-button-white.is-block
      | Show More Related Articles (#{remaining})
