.artwork-brick__image( style='padding-bottom: #{artwork.image.placeholder}' )
  a( href= artwork.href )
    img.artwork-brick__image__img(
      src= artwork.image.thumb.url
      alt= artwork.title
      onerror='this.style.display="none";'
    )

  .artwork-brick__image__save(
    class='js-artwork-brick-save-controls'
    data-id= artwork.id
  )
    //- Rendered client-side
