.artwork-purchase__input-full-width
  label(
    class='avant-garde-form-label'
    for='artwork-purchase-full-name'
  ) Full Name
  input.bordered-input(
    name='name',
    value= purchase.name,
    type='text',
    id='artwork-purchase-full-name',
    required
    autofocus
  )

.artwork-purchase__input-full-width
  label(
    class='avant-garde-form-label'
    for='artwork-purchase-street-1'
  ) Address Line 1
  input.bordered-input(
    name='street1',
    value= purchase.street1,
    type='text',
    id='artwork-purchase-street-1',
    required
  )

.artwork-purchase__input-full-width
  label(
    class='avant-garde-form-label'
    for='artwork-purchase-street-2'
  ) Address Line 2
  input.bordered-input(
    name='street2',
    value= purchase.street2,
    type='text',
    id='artwork-purchase-street-2'
  )

.artwork-purchase__input-half-width
  label(
    class='avant-garde-form-label'
    for='artwork-purchase-city'
  ) City
  input.bordered-input(
    name='city',
    value= purchase.city,
    type='text',
    id='artwork-purchase-city',
    required
  )

.artwork-purchase__input-half-width
  label(
    class='avant-garde-form-label'
    for='artwork-purchase-state'
  ) State / Region / Province
  input.bordered-input(
    name='state',
    value= purchase.state,
    type='text',
    id='artwork-purchase-state',
    required
  )

.artwork-purchase__input-half-width
  label(
    class='avant-garde-form-label'
    for='artwork-purchase-zip'
  ) Postal Code
  input.bordered-input(
    name='zip',
    value= purchase.zip,
    type='text',
    id='artwork-purchase-zip',
    required
  )

.artwork-purchase__input-half-width
  label(
    class='avant-garde-form-label'
    for='artwork-country'
  ) Country
  input.bordered-input(
    name='country',
    value= purchase.country,
    type='text',
    id='artwork-purchase-country',
    required
  )
