extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'misc'

block head
  title Reset Password | Artsy

block body
  #reset-password-page.responsive-layout-container: .main-layout-container
    #auth-artsy-logo.icon-logotype

    h1.small-caps Change your password

    form.stacked-form#reset-password-form
      .auth-page-error-message
        //- Rendered client-side
      input( type='hidden', name='reset_password_token', value= reset_password_token )
      input.bordered-input(
        name='password'
        placeholder='New Password'
        type='password'
        pattern='.{6,}'
        title='6 characters minimum'
        required
        autofocus
      )
      input.bordered-input(
        name='password_confirmation'
        placeholder='Confirm New Password'
        type='password'
        pattern='.{6,}'
        title='6 characters minimum'
        required
        data-confirm='password'
      )
      button.avant-garde-button-black Change my password
