mixin related-shows(title, shows)
  .show-related-shows-container
    .show-related-shows-title 
      = title
    for show in shows
      .show-related-show-container
        .show-related-show-info
          .show-related-show-show-title= show.title()
          .show-related-show-partner-name= show.partnerName() 
          .show-related-show-running-dates 
            | #{show.date('start_at').format('MMMM DD')} – #{show.date('end_at').format('MMMM DD')}
        ul.show-related-show-images
          img.show-related-show-image(
            src= show.cropUrlFor({ height: 270 })
            alt= show.get('name')
            onerror='this.style.display="none";'
          )
          img.show-related-show-image(
            src= show.cropUrlFor({ width: 300, height: 270 })
            alt= show.get('name')
            onerror='this.style.display="none";'
          )
