.show-related-shows-title
  = title
for show in shows
  .show-related-show-container
    .show-related-show-info
      if show.has('fair')
        .show-related-show-title
          a( href=show.href() )
            = show.partnerName()
        .show-related-show-title-fair
          a( href= show.href() )
            = show.fairName()
        .show-related-show-partner
          a.entity-link( href=show.partnerHref() )
            = show.partnerName()
        if show.get('fair_location')
          .show-related-show-fair-booth
            a( href= show.href() )
              = show.get('fair_location').display
      else
        .show-related-show-title
          a( href=show.href() + (fromShowGuide ? '?from-show-guide=true' : '') )
            = show.title()
        .show-related-show-partner
          a.entity-link( href=show.partnerHref() )
            = show.partnerName()
        .show-related-show-running-dates
          | #{show.date('start_at').format('MMMM DD')} – #{show.date('end_at').format('MMMM DD')}

    ul.show-related-show-images
      if show.related().relatedImages
        for image in show.related().relatedImages.models
          li.show-related-show-image-container
            a.hoverable-image-link( href=show.href() + (fromShowGuide ? '?from-show-guide=true' : '') )
              img.show-related-show-image(
                src= image.resizeUrlFor({ height: 270 })
                alt= show.get('name')
                onerror='this.style.display="none";'
              )

