mixin callout-content(calloutArticle, section)
  if !section.hide_image
    if calloutArticle
      img( src=(section.thumbnail_url ? section.thumbnail_url : calloutArticle.get('thumbnail_image')) )
    else if section.thumbnail_url
      img( src=section.thumbnail_url )

  .article-section-callout-text(
    class=("#{section.hide_image ? 'article-section-callout-no-image' : ''} #{!calloutArticle ? 'article-section-callout-pullquote' : ''}")
  )
    if calloutArticle
      .article-section-callout-title= section.text ? section.text : calloutArticle.get('thumbnail_title')
      .article-section-callout-link Read full article
    else if section.text
      .article-section-callout-title= section.text

if calloutArticle
  a.article-section-callout( href=(calloutArticle ? calloutArticle.href() : '') )
    +callout-content(calloutArticle, section)
else
  .article-section-callout
    +callout-content(calloutArticle, section)