.article-section-image-set-modal

  .js__left.__navigation
    .icon-chevron-left

  .__container
    if item.type === 'artwork' && item.artist && item.artist.name
      a.__artist-name(href="/artist/#{item.artist.slug}")= item.artist.name
      a.entity-follow.artist-name(data-id=item.artist.slug)

    - var image = resize( (item.image || item.url || ''), { height: 900 } )
    img.__image(src=image)

    .__pagination= index + "/" + length
    if item.type === 'image'
      .__caption!= item.caption

    if item.type === 'artwork'
      .__title-container
        .__title= item.title
        .__date= ", " + item.date
      .__partner= item.partner.name
      a.__link(href="/artwork/#{item.slug}") View Details

  .js__right.__navigation
    .icon-chevron-right
