include ../../article_figure/mixin
include ./share

mixin author-date
  .article-author-date
    .article-author
      a( href="/#{article.related().author.get('profile_handle')}" )
        = article.related().author.get('name')
    .article-contributing-author
      include ../../article_figure/contributing_author.jade
    .article-date
      = moment(article.get('published_at')).format('MMM Do, YYYY h:mm a')

mixin video(video)
  .article-video-container
    if video.cover_image_url
      .article-video-cover-image(
        style=("background-image: url(#{resize(video.cover_image_url, { width: 1100 })})")
      )
        button.article-video-play-button
          .article-video-play-button-caret
    .article-video
      != embedVideo(video.url, sd.VIDEO_OPTIONS)

mixin image(image)
  figure.article-section-image
    img( src=resize(image.url, { width: 1100 }) )
    if image.caption
      figcaption!= image.caption

mixin fullscreen(article)
  figure.article-fullscreen( class= article.get('is_super_article') ? 'article-sa-fullscreen' : '' )
    if article.get('hero_section').background_url
      .article-fullscreen-overlay
      video.article-fullscreen-video-player( src=article.get('hero_section').background_url, autoplay=true, controls=false, loop=true)
    else if article.get('hero_section').background_image_url
      .article-fullscreen-overlay
      img.article-fullscreen-image( src=article.get('hero_section').background_image_url)

    .article-fullscreen-down-arrow
      a.icon-chevron-down

    if article.get('is_super_article')
      .main-layout-container.article-sa-fullscreen-logos
        .article-sa-primary-logos
          a( href="/" ).article-sa-artsy-logo.icon-logotype
          .article-sa-primary-logo
            if article.get('super_article').partner_logo && article.get('super_article').partner_logo_link
              a( href=article.get('super_article').partner_logo_link )
                img( src=article.get('super_article').partner_fullscreen_header_logo )
        .article-share-fixed-fullscreen(data-id=article.get('id'))
          +share-fixed( (article.get('share_description') || article.get('thumbnail_title')), article.get('thumbnail_image'), article.fullHref())

    .main-layout-container.article-fullscreen-text
      .article-fullscreen-text-overlay
        if article.get('hero_section').title
          h1.large-garamond-header.article-fullscreen-title= article.get('title')
        if !article.get('is_super_article')
          +author-date
         if article.get('hero_section').intro
          .article-lead-paragraph-container
            .article-lead-paragraph.article-fullscreen-intro
              != article.get('hero_section').intro

mixin pullquote(section)
  .article-section-callout
    if !section.hide_image && section.thumbnail_url
      img( src=section.thumbnail_url )
    .article-section-callout-text(
      class=("article-section-callout-pullquote #{section.hide_image ? 'article-section-callout-no-image' : ''}")
    )
      if section.text
        .article-section-callout-title= section.text

//- Super article header needs to be outside the article-container
if superArticle
  include ./super_article_sticky_header.jade

.article-container(data-id=article.get('id'))

  if article.get('hero_section') && article.get('hero_section').type === 'fullscreen'
    +fullscreen(article)

  .article-content( class=(article.get('hero_section') && article.get('hero_section').type === 'fullscreen' ? 'article-fullscreen-content' : '') )

    .main-layout-container.first
      //- Article lead content
      if article.get('hero_section') && article.get('hero_section').type === 'video'
        .article-large-format-video-container
          +video(article.get('hero_section'))
      if article.get('hero_section') && article.get('hero_section').type === 'image'
        .article-large-format-image
          +image(article.get('hero_section'))

    //- Article Share Fixed Nav
    .article-share-fixed(data-id=article.get('id'))
      +share-fixed((article.get('share_description') || article.get('thumbnail_title')), article.get('thumbnail_image'), article.fullHref())

    .main-layout-container
      h1.large-garamond-header= article.get('title')
      if article.strip('lead_paragraph')
        .article-lead-paragraph
          != article.get('lead_paragraph')
      +author-date
      .article-social.article-share-top
        +share((article.get('share_description') || article.get('thumbnail_title')), article.get('thumbnail_image'), article.fullHref())

    .main-layout-container
      //- Article body content
      if article.get('sections').length && article.get('sections')[0].type == 'slideshow'
        .article-carousel
          include carousel

    for section, i in article.get('sections')
      .article-section-container.main-layout-container( data-layout=section.layout, data-section-type=section.type )
        case section.type
          when 'text'
            .article-section-text!= section.body
          when 'artworks'
            .article-section-artworks.is-loading( data-layout=section.layout )
              .loading-spinner
              ul
                for id in section.ids
                  li( data-id=id )
          when 'image'
            .article-section-image
              +image(section)
          when 'video'
            .article-section-video( class="article-video-background-" + section.background_color )
              +video(section)
          when 'embed'
            .article-section-embed( data-id=section.url data-layout=section.layout )
              .loading-spinner
              .article-embed-container
                //- Rendered on client
          when 'callout'
            if section.article.length > 0
              .article-section-callout-container( data-id=section.article )
                //- Rendered on client
            else
              +pullquote(section)

    .main-layout-container
      //- Footer social buttons
      .article-social.add-bottom.article-share-bottom
        h2.article-social__header Share this article
        +share((article.get('share_description') || article.get('thumbnail_title')), article.get('thumbnail_image'), (sd.APP_URL + '/article/' + article.get('slug')))


  .main-layout-container
    if superArticle
      include ./super_article_footer.jade

.main-layout-container
  .articles-featured-articles.article-related-widget( data-id = article.get('id') )
    //- Rendered on client
