.article-sa-footer
  .article-sa-footer-left
    a.article-sa-title( href=superArticle.href() )= superArticle.get('title')

    if superArticle.get('footer_blurb')
      .article-sa-footer-blurb= superArticle.get('footer_blurb')

    if superArticle.get('super_article').partner_link_title
      .article-sa-cta-container
        a.article-sa-cta.faux-underline( href=superArticle.get('super_article').partner_link )= superArticle.get('super_article').partner_link_title

    .article-sa-logos
      .article-sa-primary-logos
        a( href="/" ).article-sa-artsy-logo.icon-logotype
        .article-sa-primary-logo
          if superArticle.get('super_article').partner_logo && superArticle.get('super_article').partner_link
            a( href=superArticle.get('super_article').partner_link )
              img( src=superArticle.get('super_article').partner_logo )

      .article-sa-secondary-logo
        .article-sa-secondary-logo-text= superArticle.get('super_article').secondary_logo_text
        if superArticle.get('super_article').secondary_partner_logo && superArticle.get('super_article').secondary_logo_link
          a( href=superArticle.get('super_article').secondary_logo_link )
            img( src=superArticle.get('super_article').secondary_partner_logo )

  .article-sa-footer-right
    .article-sa-related
      for relatedArticle in relatedArticles.models
        a( href=relatedArticle.href() )= relatedArticle.get('thumbnail_title')
