.partner-artists-list
  .artists-groups-container
    each group in groups
      nav( class="artists-group artists-group-#{group.cols.length}-columns" )
        h2.avant-garde-header-center.artists-group-label= group.label
        .artists-columns-container
          each col in group.cols
            ul.artists-column
              each pa in col
                if linkToPartnerArtist && pa.get('published_artworks_count') > 0
                  li( data-artist-id=pa.get('artist').id ): a.partner-route-link( href=pa.href() )= pa.get('artist').name
                else if !linkToPartnerArtist
                  li( data-artist-id=pa.get('artist').id ): a( href="/artist/#{pa.get('artist').id}" )= pa.get('artist').name
                else
                  li( data-artist-id=pa.get('artist').id ): span.artist-name= pa.get('artist').name
