header.partner-header
  .partner-info-container
    a.profile-badge.partner-icon( href=profile.href() )
      .profile-badge-icon
        if profile.hasIconImage()
          img( src=profile.iconImageUrl(), alt=profile.displayName() )
        else
          .profile-badge-initials= profile.defaultIconInitials()
    .partner-info
      h1.partner-name= profile.displayName()
      p.partner-bio= profile.get('bio')
      .partner-actions
        button.avant-garde-follow-button-black.follow-button
  .partner-nav
