mixin showFigureContent(show, isFeatured)
  - var posterImageUrl = show.posterImageUrl(isFeatured) || ""
  .partner2-show-cover-image( style="background-image: url(#{posterImageUrl})" )
    img( src="#{posterImageUrl}", alt=show.formatFeedItemHeading() )
    .partner2-show-overlay
  figurecaption.partner2-show-caption
    h5.partner2-show-heading= show.formatLeadHeading()
    if show.has('artists')
      h3.partner2-show-artists= show.formatArtists()
    h4.partner2-show-name= show.formatFeedItemHeading()
    h6.partner2-show-time= show.runningDates()

- var slicedShows = shows.slice(0,30)
each show in slicedShows
  figure.partner2-show( data-show-id=show.get('id') ).grid-item
    if show.get('displayable')
      a( href=show.href() )
        +showFigureContent(show, isFeatured)
    else
      +showFigureContent(show, isFeatured)
if shows.length > 30
  a.avant-garde-button-white.is-block.js-partner-shows-more(data-show-type-id= type) Show More
  .loading-spinner
