extends ../../../components/main_layout/templates/blank

append locals
  - assetPackage = 'gallery_partnerships2'

block head
  include meta

block body
  .gallery-partnerships2
    .gallery-partnerships2__header( style="background-image: url(#{header.image});" )
      a(href="/")
        i.icon-logotype
      .gallery-partnerships2__header__content-container
        .gallery-partnerships2__header__title= header.headline
        a.gallery-partnerships2-white-signup-button( href="#" ) Learn More

    .gallery-partnerships2__intro
      .row
        for item in sections[0].intro
          .col-xs-12.col-lg-4
            img.gallery-partnerships2__intro__icon( src=item.image )
            .gallery-partnerships2__intro__title.garamond-s-headline= item.title
            .gallery-partnerships2__io__subtitle.garamond-l-body= item.subtitle

    .gallery-partnerships2__gallery-logos
      for logo in sections[0].active_partner_images
        img(src=logo)

    .gallery-partnerships2__connect-with-collectors
      .gallery-partnerships2__connect-with-collectors__image
        img(src=sections[1].background_image)
      .gallery-partnerships2__connect-with-collectors__content_container
        .gallery-partnerships2__connect-with-collectors__content_container__wrapper
          .gallery-partnerships2__connect-with-collectors__title.garamond-l-headline= sections[1].title
          .gallery-partnerships2__connect-with-collectors__content.garamond-l-body= sections[1].content
          a.gallery-partnerships2-black-signup-button( href="#" ) Learn More
