.gallery-partnerships-hero-unit-header
  h1!= hero.heading

.gallery-partnerships-hero-unit-content
  ul.gallery-partnerships-hero-unit-images
    for image, i in hero.images
      li.gallery-partnerships-hero-unit-image(
        style="background-image: url(#{crop(image.src, { width: 1120, height: 435, quality: 90 })})"
        class=(i === 0 ? 'is-active' : undefined)
      )
  .preamble!= hero.preamble
