- section = sections[10]

.gallery-partnerships-section-header
  .grid-2-up
    .grid-item
      h2= section.title
      h3= section.heading
    .grid-item
      p.preamble!= section.preamble

.gallery-partnerships-section-content.design
  .grid-4-up
    each g in section.design
      .grid-item
        a.design-gallery-image.hoverable-image-link( href=g.href )
          img( src=g.src )
        .design-gallery-info
          .design-gallery-name= g.name
          .design-gallery-location= g.location