- section = sections[3]

.gallery-partnerships-section-header
  h2= section.title
  h3= section.heading
  p.preamble= section.preamble

.gallery-partnerships-section-content
  .browser-images-container
    .browser-frame
      img( src=section.images[0].src )
    ul.browser-images.tools-images
      for image, i in section.images.slice(1)
        li.browser-image.tools-image( class=(i === 0 ? 'is-active' : undefined) )
          img( src=image.src )
