- section = sections[0]

.gallery-partnerships-section-header
  h2= section.title
  h3= section.heading
  p.preamble= section.preamble

.gallery-partnerships-section-content.network
  .grid
    each g in section.galleries
      .grid-item
        a.network-gallery-image.hoverable-image-link( href=g.href )
          img( src=g.src )
        .network-gallery-info
          .network-gallery-name= g.name
          .network-gallery-location= g.location
