extends ../../../components/layout/templates/main

block head
  title #{profile.get('owner').name} | Artsy

block content
  if profile.coverImage()
    #partner-profile-featured-show
      img( src=profile.coverImage().imageUrl('wide') )
  header#partner-profile-header.main-side-margin
    if profile.get('icon')
      img( src=profile.iconUrl() )
    else
      #partner-profile-initials= profile.initials()
    #partner-profile-header-text
      h1.avant-garde-header= profile.get('owner').name
      h2= profile.get('bio')
    button.avant-garde-box-button.follow-button.partner-profile-follow
  nav.chevron-nav-list.main-side-margin.partner-profile-nav
    if partner.hasSection('shows', profile)
      a( href="/#{profile.get('id')}/shows" ) All Shows
    if partner.hasSection('artists', profile)
      a( href="/#{profile.get('id')}/artists" ) Artists
    if partner.hasSection('collection', profile)
      a( href="/#{profile.get('id')}/collection" ) Works
    if partner.hasSection('shop', profile)
      a( href="/#{profile.get('id')}/shop" ) Shop
    if partner.hasSection('articles', profile, articles)
      a( href="/#{profile.get('id')}/articles" ) Articles
    a( href="/#{profile.get('id')}/contact" ) Contact
  br
