.haw-learn-more-page.main-side-margin
  for section in page.sections
    h1 #{section.position} / #{section.title}

    if section.id === 'register'
      unless user
        a.avant-garde-box-button.avant-garde-box-button-black( href='/sign_up' ) Register

    if section.id === 'watch'
      .haw-bid-increments
        h3 Bidding Increments
        .leader-dots-list
          for bidIncrement in bidIncrements
            .leader-dots-list-item
              span= bidIncrement.range
              span= bidIncrement.increment

    .learn-more__description!= markdown(section.description)

