extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'categories'

block body
  .categories-page.main-layout-container
    header.categories-header.sixty-forty-bisected-header
      .bisected-header-cell
        a.categories-header-jump-link.avant-garde-button-text.js-categories-header-jump-link
          | Go to All Categories A–Z

        h1.categories-header-large
          | The Art Genome Project

        p.categories-blurb
          | The Art Genome Project is the classification system and technological framework that powers Artsy.
          | It maps the characteristics (we call them &ldquo;genes&rdquo;) that connect artists, artworks, architecture, and design objects across history.
          | There are currently over 1,000 characteristics in The Art Genome Project, including art historical movements, subject matter, and formal qualities.

    section.categories-featured
      h3.category-set-header
        | Featured Categories
      .grid-2-up
        for gene in featuredGenes.models
          .grid-item: a.hoverable-image-link( href= gene.get('href'), data-id=gene.get('id') )
            img( src= gene.imageUrl('large_rectangle'), alt= gene.get('title') )
            .csc-title
              = gene.get('title')

    if geneCategories && geneCategories.at(0)
      section#categories-page-gene-categories
        for categorySet in geneCategories.at(0).get('items').models
          .category-set.gene-category
            h3.category-set-header
              = categorySet.get('name')
            .category-set-categories
              for gene in categorySet.get('items').models
                a.category-set-category.hoverable-image-link( href=gene.get('href'), data-id=gene.get('id') )
                  img.hoverable-image.csc-image(
                    src= gene.imageUrl('medium_rectangle')
                    alt= gene.get('title')
                  )
                  .csc-title
                    = gene.get('title')

    h3.categories-az-header.js-categories-az-header
      | All Categories A–Z

    section.all-genes-list
      include ../../../components/a_to_z_list/template
