extends ../../../components/main_layout/templates/index
include ../../../../node_modules/artsy-ezel-components/pagination/paginator

block head
  include meta

append locals
  - assetPackage = 'partners'
  - fromShowGuide = true

block body
  #shows-page.main-layout-container
    include nav

    //- Only display opening if we are on the first page
    if opening.length && (current.state.currentPage <= 1)
      h1.shows-page-header Opening This Week
      - var shows = opening
      .shows-page-featured-section: include ../../../components/featured_shows/small

    if current.length
      h2.shows-page-header
        | Current Shows in #{city.name}
        if current.state.totalRecords
          |  (#{current.state.totalRecords})
      - var shows = current.models
      .shows-page-featured-section
        include ../../../components/featured_shows/small
        +paginate(current.state.currentPage, current.state.totalPages)

    if upcoming.length
      h1.shows-page-header Upcoming Shows
      - var shows = upcoming
      .shows-page-featured-section: include ../../../components/featured_shows/small

    if (opening.length + upcoming.length + current.length) === 0
      h1.shows-page-header Current Shows in #{city.name}
      .shows-page-featured-empty
        | There are currently no shows in #{city.name} on Artsy

    if (opening.length + upcoming.length + current.length) < 6 && past.length
      h2.shows-page-header Past shows in #{city.name}
      - var shows = past.models
      .shows-page-featured-section: include ../../../components/featured_shows/small

    include nav
