//- Contact Gallery form
if artwork.isContactable()
  form#artwork-contact-form
    h2.avant-garde-header Contact Gallery
    h3= artwork.get('partner').name
    if user
      //- Logged in
      input( type='hidden', name='name', value=user.get('name') )
      input( type='hidden', name='email', value=user.get('email') )
    else
      //- Logged out
      input.bordered-input( placeholder='Your full name', name='name', required )
      input.bordered-input( placeholder='Your email address', name='email', type='email', required )
    textarea.bordered-input( rows='5', name='message', required )
      | Hello, I'm interested in this work
      if artwork.get('artist')
        |  by #{artwork.get('artist').name}
      |. Please confirm availability and pricing of this work.
      = ' '
    if user
      p From: #{user.get('name')}
    #artwork-contact-form-errors
    .artwork-contact-button
      button.avant-garde-button-black Request Info

//- Buy
if artwork.get('acquireable')
  a.avant-garde-button-black.artwork-buy-button.artwork-contact-buy-button
    | Buy

//- Contact a specialist link
if artwork.get('inquireable')
  p Questions? We are here to help.
  .artwork-inquiry-button
    a( href="/artwork/#{artwork.id}/inquire", rel='nofollow', data-client )
      | Ask an Artsy Specialist
