- var title = 'Art Basel and more on Artsy | Miami Week 2017'
- var description = 'Artsy is your guide to Miami Week 2017. Explore the fairs, editorial coverage, Artsy events, and more—all in one place. December 4-10.'

title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( name="og:description", content=description )
meta( property="twitter:description", content=description )