extends ../../../components/layout/templates/main

block content
  .galleries-institutions-page
    if featuredPartner
      a.galleries-institutions-featured-partner(
        href= featuredPartner.href()
        style="background-image: url(#{featuredPartner.coverImage().imageUrl('wide')})"
      )

    h1.galleries-institutions-header.avant-garde-header-center
      | #{copy.partnerHeader} on Artsy

    .galleries-institutions-content.main-side-margin
      nav.chevron-nav-list.galleries-page-featured-cities
        for city in featuredCities
          a( href="/#{copy.partnerType}/#{city.slug}" )
            = city.name

      nav.chevron-nav-list.galleries-page-all-cities
        a( href="/#{copy.partnerType}/all" )
          | All #{copy.partnerPlural} A–Z
