- backgroundImageUrl = (heroUnit.mode === 'WELCOME') ? heroUnit.background_image_url : resize(heroUnit.background_image_url, { width: 2000 })

.home-hero-unit(
  class= 'home-hero-unit' + _s.dasherize(_s.humanize(heroUnit.mode)) + (i == 0 ? ' home-hero-unit-active' : '')
  style="background-image: url('#{backgroundImageUrl}')"
  data-mode=heroUnit.mode
)
  a.hhu-frame( class='js-homepage-hero-unit', href=heroUnit.href ): .responsive-layout-container: .main-layout-container
    .vam-outer: .vam-inner: .hhu-inner
      if heroUnit.mode === 'WELCOME'
        i.icon-logotype

      .hhu-header.small-caps
        = heroUnit.heading
      if heroUnit.title_image_url
        img.hhu-title(
          src= heroUnit.title_image_url
          data-retina= heroUnit.retina_title_image_url
          alt= heroUnit.title
        )
      .hhu-subheading
        != markdown(heroUnit.subtitle)
      .avant-garde-button(
      )= heroUnit.link_text

    .hhu-credit!= markdown(heroUnit.credit_line)
