- title= "Artsy - Discover & Buy Art"
- description= "Artsy is the world’s largest online art marketplace. Browse over 1 million artworks by iconic and emerging artists, presented by 4000+ galleries and top auction houses in over 100 countries."
title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( property="og:description", content=description )
meta( property="twitter:description", content=description )
meta( property="og:type", content="website" )
meta( property="og:site_name", content="Artsy" )

link( rel="canonical", href=(sd.APP_URL + (req ? req.path : "")) )
meta( property="og:url", content=(sd.APP_URL + (req ? req.path : "")) )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="twitter:card", content="summary" )
meta( name="fragment", content="!" )
