title!= profile.metaTitle()
meta( property="og:title", content!=profile.metaTitle() )
meta( name="description", content=profile.metaDescription() )
meta( property="og:description", content=profile.metaDescription() )
meta( property="twitter:description", content=profile.metaDescription() )
link( rel="canonical", href=(sd.ARTSY_URL + profile.href()) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.CANONICAL_MOBILE_URL + profile.href()) )
meta( property="og:url", content=profile.href() )
meta( property="og:type", content="profile" )
meta( property="profile:username", content=profile.get('id') )
meta( property="twitter:card", content="summary" )
meta( name='fragment', content='!' )
