mixin following-tab-nav
  nav.following-sections.garamond-tablist
    a.garamond-tab(
      href="#", class=activeClass('')
    ) Artists you follow
    span.garamond-tab-separator
    a.garamond-tab(
      href="#", class=activeClass('')
    ) Genes you follow
    span.garamond-tab-separator
    a.garamond-tab(
      href="#", class=activeClass('')
    ) Favorite artworks
