- url = sd.WEBFONT_URL

link(type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css")

style(type='text/css' amp-custom).
  @font-face {
    font-family: 'artsy-icons';
    src: url("#{url}/artsy-icons.eot?uo9ko");
    src: url("#{url}/artsy-icons.eot?#iefixuo9ko") format('embedded-opentype'),
      url("#{url}/artsy-icons.woff2?uo9ko") format('woff2'),
      url("#{url}/artsy-icons.ttf?uo9ko") format('truetype'),
      url("#{url}/artsy-icons.woff?uo9ko") format('woff'),
      url("#{url}/artsy-icons.svg?uo9ko#artsy-icons") format('svg');
    font-weight: normal;
    font-style: normal;
  }
