include ../../../../../components/bid_status/index
- bidderStatus = helpers.auction.getBidderStatus(me, auction)
- myLastMaxBid = me && me.lot_standing && me.lot_standing.most_recent_bid.max_bid.cents
- increments = sale_artwork.bid_increments.filter(function(i) { return i > (myLastMaxBid || 0) })
- firstIncr = increments[0]
- showAuctionForm = auction.is_open && !artwork.is_sold && !auction.is_live_open
- actionUrl = helpers.auction.getRedirectActionUrl(bidderStatus, artwork, auction)

- console.log(bidderStatus)

if showAuctionForm
  form.artwork-auction__bid-form(
    method='GET'
    action='#{actionUrl}'
    class='js-artwork-auction-bid'
  )
    .artwork-auction__bid-form__errors.form-errors( class='js-form-errors' )
      
    //- Rendered client-side
    if user && bidderStatus === 'qualified-to-bid'
      .artwork-auction__bid-form__max-bid
        if me && me.lot_standing
          +bidStatus(me.lot_standing, sale_artwork, {winningMessage: 'Highest Bidder', reserveMessage: 'Highest bidder, Reserve not met'})
            
        else
          .artwork-auction__bid-form__max-bid-label Set your max bid
        span.help-tooltip(
          data-message='Set the maximum amount you would like Artsy to bid up to on your behalf'
          data-anchor='top-right'
        )

      label.bordered-select.artwork-auction__bid-form__select
        select( name='bid' required ).js-artwork-auction-max-bid
          for cents in increments
            - val = cents / 100
            - display = accounting.formatMoney(val, sale_artwork.symbol, 0)
            option( value=val data-display=display )= display

    - bidAmount = 'Bid ' + accounting.formatMoney(firstIncr / 100, sale_artwork.symbol, 0)
    
    case bidderStatus
      when 'registration-pending'
        .artwork-auction__bid-form__button.avant-garde-button-black.is-block.is-disabled
          | Registration Pending
      when 'registration-required'
        a.artwork-auction__bid-form__button.avant-garde-button-black.is-block.js-register-button(
          href='/auction-registration/#{auction.id}'
        )= bidAmount
      when 'registration-closed'
        .artwork-auction__bid-form__button.avant-garde-button-black.is-block.is-disabled
          | Registration Closed
      when 'auction-closed'
        .artwork-auction__bid-form__button.avant-garde-button-black.is-block.is-disabled
          | Online Bidding Closed
      when 'logged-in'
        a.artwork-auction__bid-form__button.avant-garde-button-black.is-block.js-register-button(
          href='/auction/#{auction.id}/bid/#{artwork.id}'
        )= bidAmount
      default
        .artwork-auction__bid-form__button.avant-garde-button-black.is-block(
          class='js-artwork-auction-bid-button'
        )= bidAmount

    small.artwork-auction__bid-form__conditions
      | By placing your bid you agree to Artsy's&nbsp;
      a(
        href='/conditions-of-sale'
        class='js-artwork-auction-help-modal'
        data-id='how-auctions-work-conditions-of-sale'
      ) Conditions of Sale
