title= tag.toPageTitle()
meta( property="og:title", content=tag.toPageTitle() )
meta( name="description", content=tag.toPageDescription() )
meta( property="og:description", content=tag.toPageDescription() )
meta( property="twitter:description", content=tag.toPageDescription() )
link( rel="canonical", href=(sd.APP_URL + "/tag/#{tag.get('id')}") )
meta( property="og:url", content=(sd.APP_URL + "/tag/#{tag.get('id')}") )
meta( property="og:image", content=asset('/images/og_image.jpg') )
meta( property="og:type", content=(sd.FACEBOOK_APP_NAMESPACE + ":tag" ) )
meta( name="fragment", content="!" )
meta( property="twitter:card", content="summary" )
