.articles-es-cta(
  data-signup="#{isSignup}"
  data-page="#{page}"
)
  .articles-es-cta__background-cover
  ul.articles-es-cta__background
    if images
      for image in images
        li.articles-es-cta__images(style="background-image: url(#{resize(image.src, { height: 600 } )})")
  .articles-es-cta__container
    .articles-es-cta__header
      h3 The Daily Editorial Newsletter
      h2 The latest art world news and stories in your inbox
    .articles-es-cta__form
      input.bordered-input( id ="articles-es-cta__form-input" placeholder='Enter your email address', type='text', name='email', required value="#{email}" autocomplete="email")
      button.avant-garde-button-dark.js-article-es Subscribe
  .articles-es-cta__social
    .articles-es-cta__header
      h2 Follow Artsy
    .articles-es-cta__table
      .articles-es-cta__row
        a.articles-es-cta__social-item(href="http://facebook.com/artsy" target='_blank')
          i.icon-facebook
          | Facebook
        a.articles-es-cta__social-item(href="http://twitter.com/artsy" target='_blank')
          i.icon-twitter
          | Twitter
      .articles-es-cta__row
        a.articles-es-cta__social-item(href="http://instagram.com/artsy" target='_blank')
          i.icon-instagram
          | Instagram
        a.articles-es-cta__social-item(href="http://snapchat.com/add/artsy.net" target='_blank')
          i.icon-snapchat
            include ../../../public/images/snapchat.svg
          | Snapchat
