h1.sem-header
  | Events

.sem-events
  each showEvent in showEvents
    .sem-event
      h2.sem-event-title
        if showEvent.title
          | #{showEvent.event_type} <em>#{showEvent.title}</em>
        else
          = showEvent.event_type

      .sem-event-metadata
        p= ViewHelpers.formatShowEventDateRange(showEvent.start_at, showEvent.end_at)
        if show.location
          p= ViewHelpers.singleLine(show.location)

      if showEvent.description
        .sem-event-description
          p= showEvent.description
