if artwork.layer && artwork.layer.artworks && artwork.layer.artworks.length
  - var layer = artwork.layer
  - var layers = helpers.related_artworks.filterLayers(artwork.layers)
  - var relatedTab = artwork.related && artwork.related.length && user && user.hasLabFeature('Others also viewed')

  section.artwork-section.artwork-related-artworks( class='js-artwork-related-artworks' )
    header.artwork-related-artworks__header
      h3.artwork-related-artworks__header__name
        | Related Works

    .artwork-related-artworks__tabs.side-tabs( class='js-artwork-related-artworks-tabs' )
      .artwork-related-artworks__tabs__nav.side-tabs__nav( class='js-artwork-related-artworks-tabs-nav' )
        for layer, i in layers
          a.artwork-tabs__nav__link(
            class='js-artwork-tabs-link'
            data-id= layer.id
            data-state= (i === 0 ? 'active' : 'inactive')
          )
            = layer.name

        if relatedTab
          a.artwork-tabs__nav__link(
            class='js-artwork-tabs-link'
            data-id='users-also-viewed'
            data-state='inactive'
          ) Users also viewed

      .side-tabs__content
        .artwork-tab(
          class='js-artwork-tabs-section'
          data-id= layer.id
          data-state='active'
        )
          include ./templates/masonry
