extends ../../../components/layout/templates/main

append locals
  - assetPackage = 'mobile_articles'

block content
  .main-side-margin.mobile-app-top-padding
    header.articles-section-header
      if featuredSection.get('partner_logo_url')
        .articles-section-header__banner
          | In Partnership With
          a(href=featuredSection.get('partner_website_url'))
            img( src=featuredSection.get('partner_logo_url') )
      .articles-section-header__headline
        a( href='/posts' ) Editorial
        h1= featuredSection.get('title')

    if (featuredArticles = articles.featured()).length
      .articles-section__featured
        - article = featuredArticles[0]
        include ../../../components/article_figure/template

    if featuredSection.get('featured_links')
      .articles-section__sticky.chevron-nav-list
        for link in featuredSection.get('featured_links')
          a.articles-section-feed-item( href=link.url )
            .articles-section-feed-item__thumb
              img( src=link.thumbnail_url )
            .articles-section-feed-item__details= link.title

    .articles-section__feed
      if featuredArticles
        for article in featuredArticles.slice(1,5)
          .articles-feed-item( data-tier= article.get('tier') )
            include ../../../components/article_figure/template
      for article in articles.feed()
        .articles-feed-item( data-tier= article.get('tier') )
          include ../../../components/article_figure/template
