if selectedFilters
  - var selectedCategory = selectedFilters.category
  - var selectedLocation = selectedFilters.location

.search-categories
  a.partner-search-filter-item.partner-search-category(
    class= selectedCategory ? '' : 'partner-search-filter-item-selected'
    data-filter= 'category'
  ) All Categories

  if categories
    each category in categories
      a.partner-search-filter-item.partner-search-category(
        class= (selectedCategory == category.get('id') ? 'partner-search-filter-item-selected' : ''),
        data-id= category.get('id'),
        data-filter= 'category'
      )= category.get('name')
br
.search-locations
  a.partner-search-filter-item.partner-search-location(
    class= selectedLocation ? '' : 'partner-search-filter-item-selected'
    data-filter= 'location'
  ) All Locations

  if locations
    each location in locations
      a.partner-search-filter-item.partner-search-location(
        class= (selectedLocation == location.slug ? 'partner-search-filter-item-selected' : ''),
        data-id= location.slug,
        data-filter= 'location'
      )= location.name