h1.iq-headline
  if user.get('prequalified')
    | Please complete profile information to be shared with the gallery.
    | You only need to fill this out once.
  else
    | #{artwork.related().partner.get('name')} asks for some additional information before placing an inquiry.
    | You only have to do this once.

form.iq-form.stacked-form
  label.avant-garde-form-label( for='profession' )
    | Profession
    if user.get('prequalified')
      span (Optional)
  input.bordered-input(
    name='profession'
    id='profession'
    value= user.get('profession')
    required= !user.get('prequalified')
  )

  label.avant-garde-form-label( for='location' )
    | Location
    if user.get('prequalified')
      span (Optional)
  .js-location-search
    //- Rendered separately

  label.avant-garde-form-label( for='phone' )
    | Phone Number
    if user.get('prequalified')
      span (Optional)
  input.bordered-input(
    name='phone'
    id='phone'
    type='tel'
    value= user.get('phone')
    required= !user.get('prequalified')
  )

  button.avant-garde-button-black.iq-next( type='submit' ) Next

include ./partials/nevermind
