h1.iq-headline
  | Please log in to save information to your profile.

.iq-body
  p We found an Artsy account associated with
  p: span= user.get('email')

form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  label.avant-garde-form-label( for='password' )
    | Enter your password
  input.bordered-input(
    id='password'
    name='password'
    type='password'
    placeholder='Password'
    autocomplete='on'
    pattern='.{6,}'
    title='6 characters minimum'
    autofocus
    required
  )

  button.avant-garde-button-black.js-form-submit( type='submit' )
    | Log in

  .auth-form-options
    .artsy-checkbox
      .artsy-checkbox--checkbox
        input( id='remember_me', name='remember_me', type='checkbox', value='1', checked )
        label( for='remember_me' )
      label.artsy-checkbox--label( for='remember_me' )
        | Remember me

    a.fine-faux-underline.js-mode( data-mode='forgot' )
      | Forgot Password?

  hr.horizontal-rule-or

  a.avant-garde-button-black( href='/users/auth/facebook', target='_blank' )
    i.icon-facebook
    | Log in with Facebook
  a.avant-garde-button-black( href='/users/auth/twitter', target='_blank' )
    i.icon-twitter
    | Log in with Twitter
