h3.avant-garde-header-center
  | Shows including #{artist.get('name')}

if shows.length === 1
  - show = shows.first()
  .related-show-featured
    a.rsf-image.hoverable-image-link( href=show.href() )
      img.hoverable-image( src= show.posterImageUrl() )
    .rsf-metadata
      if show.get('partner').name !== show.get('name')
        h4.rsf-partner-name.avant-garde-header-center
          a( href="/#{show.get('partner').default_profile_id}" )
            = show.get('partner').name
      a( href=show.href() )
        h4.rsf-name= show.get('name')
        if show.get('start_at') && show.get('end_at')
          .rsf-timeframe!= show.runningDates()

if shows.length > 1
  .related-shows-rest.grid-4-up
    for show in shows.models
      .related-show.grid-item
        a.hoverable-image-link( href=show.href() )
          .hoverable-image.is-three-two( style="background-image: url(#{show.thumbImageUrl()})")
        .rsr-metadata
          if show.get('partner').name !== show.get('name')
            h4.rsr-partner-name.avant-garde-header-center
              a( href="/#{show.get('partner').default_profile_id}" )
                = show.get('partner').name
          a( href=show.href() )
            h4.rsr-name= show.get('name')
            if show.get('start_at') && show.get('end_at')
              .rsr-timeframe!= show.runningDates()
