- var title = mode === 'login' ? 'Login to Artsy' : 'Signup for Artsy'
- var description = ''

title= title
meta( property="og:title", content=title )
meta( name="description", content=description )
meta( name="og:description", content=description )
meta( property="twitter:description", content=description )
