if artwork.sale && artwork.sale.is_auction
  .artwork-metadata-stub__contact.artwork-metadata-stub__line.artwork-metadata-stub__bid-now
    - var sa = artwork.sale_artwork
    if artwork.sale.is_live_open
      a(href= artwork.href) Enter Live Auction
    else if artwork.sale.is_open
      a(href= artwork.href)
        - var bids = sa.counts.bidder_positions
        if bids > 0
          | #{sa.highest_bid.display}&nbsp;
          = '(' + bids + (bids > 1 ? ' bids' : ' bid') + ')'
        else
          | #{sa.opening_bid.display}
    else if artwork.sale.is_preview
      a(href= artwork.href)
        | #{sa.opening_bid.display}
    else if artwork.sale.is_closed
      | Auction closed
else if artwork.is_inquireable
  .artwork-metadata-stub__contact.artwork-metadata-stub__line
    a(
      class='analytics-artwork-contact-seller'
      href= artwork.href
      data-artwork_id= artwork._id
      data-context_type='artwork feed item'
    )
      | Contact #{artwork.partner.type.toLowerCase()}
