extends ../../../components/main_layout/templates/index
include ../../../components/pagination/paginator
include ../../artist/templates/header

block head
  include meta
  +paginateHead(auctionLots.state.currentPage, auctionLots.state.totalPages, '?sort=' + auctionLots.sortBy + '&')

block locals
  assetPackage = 'auction_lots'

block body
  #auction-results-page.main-layout-container
    +artist-header(artist, 'Auction results for ')

    .auction-lots-table-header
      .auction-lots-total
          | #{auctionLots.state.totalRecords} Results
          - if (auctionLots.state.totalPages > 1)
            | &mdash;Page #{auctionLots.state.currentPage} of #{auctionLots.state.totalPages}

      .auction-lots-sort
        span Order:
        .bordered-pulldown
          a.bordered-pulldown-toggle
            = auctionLots.sortCriteria[auctionLots.sortBy]
            .bordered-pulldown-toggle-caret
              span.caret
          .bordered-pulldown-options
            a( href="?sort=#{auctionLots.sortBy}" )
              = auctionLots.sortCriteria[auctionLots.sortBy]
            - for k, v in auctionLots.sortCriteria
              - if (!(!user && k === 'Sale' || v === auctionLots.sortBy))
                a( href="?sort=#{v}" )= k

    include ./auction_lots_table

    +paginate(auctionLots.state.currentPage, auctionLots.state.totalPages, '?sort=' + auctionLots.sortBy + '&')
