extends ../../../components/main_layout/templates/index

block head
  include artwork-meta

block locals
  assetPackage = 'auction_lots'

block body
  #auction-results-page.main-layout-container
    a( href="/artwork/#{artwork.id}" ).contextual-return-link
      i.icon-chevron-small-left
      | Back to artwork

    header.auction-lots-header
      h1.avant-garde-header-center
        | Auction Results for
        a( href="/artist/#{artwork.get('artist').id}")  #{artwork.get('artist').name},&nbsp;
        a( href="/artwork/#{artwork.id}" ) #{artwork.get('title')}&nbsp;
        | (#{artwork.get('date')})

    .auction-lots-beta-alert.garamond-alert-info
      em Note:&nbsp;
      | Auction results are an experimental feature with limited data. Have feedback?&nbsp;
      a.auction-lots-feedback-link.faux-underline Let us know.

    .auction-lots-table-header
      .auction-lots-left
        span.auction-lots-sub-header Work on Artsy

    table.auction-lots-table
      thead
        tr
          th Title
          th Year
          th Medium
          th Size
          th
          th
          th
          th
            if artwork.get('price')
              | Price
      tbody
        tr.auction-lot
          td
            .auction-lot-title-container
              a( href="/artwork/#{artwork.id}" )
                img.auction-lot-image( src!= artwork.defaultImageUrl(), alt= artwork.get('title') )
              .auction-lot-title
                a( href="/artwork/#{artwork.id}" )
                  em= artwork.get('title')
                a.auction-lot-details-link(
                  href="/artwork/#{artwork.id}"
                ) Go to work
          td= artwork.get('date')
          td.auction-lot-medium= artwork.get('medium')
          td
            != artwork.dimensions({ format: 'superscript' })
            br
            != artwork.dimensions({ format: 'decimal' })
          td
          td
          td
          td= artwork.get('price')

        tr.auction-lots-interstital
          td( colspan=4 )
            span.auction-lots-sub-header
              | Comparable auction results

          td( colspan=4 ).auction-lots-sort
            span Order:
            .bordered-pulldown.is-disabled
              .bordered-pulldown-toggle
                | Most similar

      include ./auction_lots_table
