title= artwork.toAuctionResultsPageTitle()
meta( property="og:title", content=artwork.toAuctionResultsPageTitle() )
meta( name="description", content=artwork.toAuctionResultsPageDescription() )
meta( property="og:description", content=artwork.toAuctionResultsPageDescription() )
link( rel="canonical", href=(sd.ARTSY_URL + "/artwork/" + artwork.get('id') + "/auction-results") )
meta( property="og:url", content=(sd.ARTSY_URL + "/artwork/" + artwork.get('id') + "/auction-results") )
if artwork.hasImage('large')
  meta( property="twitter:card", content="summary_large_image" )
  meta( property="og:image", content=(sd.ARTSY_URL + "/artwork/" + artwork.get('id') + ".jpg") )
else
  meta( property="twitter:card", content="summary" )
if artwork.get('artist')
  meta( property=(sd.FACEBOOK_APP_NAMESPACE + ":artist"), content=artwork.get('artist').name )
if artwork.get('dimensions')
  meta( property=(sd.FACEBOOK_APP_NAMESPACE + ":dimensions"), content=artwork.get('dimensions') )
if artwork.get('date')
  meta( property=(sd.FACEBOOK_APP_NAMESPACE + ":date"), content=artwork.get('date') )
