thead
  tr
    th Title
    th Year
    th Medium
    th Size
    th Auction House
    th Date
    th Estimate
    th Sale Price
tbody
  - for lot in auctionLots.models
    tr.auction-lot( id="auction-lot-#{lot.id}" )
      td
        .auction-lot-title-container
          - if (lot.get('image_url') != '/assets/shared/missing_image.png')
            a.auction-lot-image-zoom(
              href=lot.imageUrl('original')
            )
              img.auction-lot-image( src!= lot.imageUrl('thumbnail'), alt= lot.get('title') )
          - else
            .auction-lot-image-placeholder
          .auction-lot-title
            em= lot.get('title')
            - if (lot.get('external_url'))
              a.auction-lot-details-link(
                href=lot.get('external_url'), target='_blank'
              ) See details
      td= lot.get('dates_text')
      td.auction-lot-medium= lot.get('medium_text')
      td
        != lot.superscriptFractions(lot.get('dimensions').in)
        br
        != lot.expressAsMetric(lot.get('dimensions').cm)
      td.auction-lot-organization= lot.get('organization')
      td= lot.get('auction_dates_text')
      td!= lot.get('estimate_text')
      td
        - if (user)
          = lot.get('price_realized_text')
        - else
          a.auction-lot-sale-signup
            | Sign up to see sale price
