a.avant-garde-button-white.personalize-skip Next

header.personalize-header
  h1 Follow #{headerKind} on Artsy
  aside= aside

section.personalize-step( data-step='#{kind}' )
  #personalize-search-container.autocomplete-input-container.is-block
    input#personalize-search.bordered-input(
      type='text', placeholder=placeholder, autofocus=autofocus
    )
    .autocomplete-loading-indicator: .loading-spinner-small

  #personalize-followed

#personalize-suggestions-container
  aside
    if displayLocation
      | Below are #{kind} we think you’ll enjoy based on artists you follow and your location,
      = ' '
      a#personalize-suggestions-location.faux-underline.small-caps
        = user.location().singleWord() || '…'

      a#personalize-suggestions-unfollow-all.faux-underline
        | Unfollow all

  #personalize-suggestions.grid-n-up: .loading-spinner
