a.avant-garde-button-white.personalize-skip Skip

header.personalize-header
  h2= state.stepDisplay()
  h1 Follow #{headerKind} on Artsy
  aside= aside

section.personalize-step( data-step='#{kind}' )
  #personalize-search-container
    input#personalize-search.bordered-input.is-block(
      type='text', placeholder!='#{placeholder}', autofocus=autofocus
    )
    #personalize-search-spinner: .loading-spinner-small

  #personalize-followed

#personalize-suggestions-container
  aside
    if displayLocation
      | Below are #{kind} we think you’ll enjoy based on artists you follow and your location,
      = ' '
      a#personalize-suggestions-location.faux-underline.small-caps
        != user.location().singleWord() || '&hellip;'

      a#personalize-suggestions-unfollow-all.faux-underline
        | Unfollow all

  #personalize-suggestions.grid-n-up: .loading-spinner

  if pageable
    .personalize-suggestions-more-container
      a.avant-garde-button-white.personalize-suggestions-more
        | Show more galleries
