if sd.FAIR_ORGANIZER.name
  title= (sd.FAIR_ORGANIZER.name + ' | Artsy')
  meta( property="og:title", content=(sd.FAIR_ORGANIZER.name + ' | Artsy') )
  meta( name="description", content=('Browse artworks, artists and exhibitors from ' + sd.FAIR_ORGANIZER.name + ' on Artsy.') )
  meta( property="og:description", content=('Browse artworks, artists and exhibitors from ' + sd.FAIR_ORGANIZER.name + ' on Artsy.') )
else
  title= profile.metaTitle(sd.SECTION)
  meta( property="og:title", content=profile.metaTitle(sd.SECTION) )
  meta( name="description", content=profile.metaDescription(sd.SECTION) )
  meta( property="og:description", content=profile.metaDescription(sd.SECTION) )
meta( property="twitter:description", content=profile.metaDescription(sd.SECTION) )
link( rel="canonical", href=(sd.APP_URL + sd.CURRENT_PATH) )
meta( property="og:url", content=(sd.APP_URL + sd.CURRENT_PATH) )

if profile.profileType() == 'Fair'
  meta( property="og:type", content=(sd.FACEBOOK_APP_NAMESPACE + ":exhibition" ) )
  meta( property="og:start_time", content=sd.FAIR.start_at )
  meta( property="og:end_time", content=sd.FAIR.end_at )
  if sd.FAIR.location
    meta( property="og:location", content=sd.FAIR.location.raw )
else
  meta( property="og:type", content="profile" )
meta( property="profile:type", content=profile.profileType() )
meta( property="profile:username", content=profile.get('id') )
meta( property="twitter:card", content="summary" )
if profile.iconImageUrl()
  meta( property="og:image", content=profile.iconImageUrl() )
if sd.INCLUDE_ESCAPED_FRAGMENT
  meta( name='fragment', content='!' )
