.stacked-form-cell
  label.avant-garde-form-label( for='name' ) Full Name
  input.bordered-input.is-block(
    placeholder='Your full name'
    name='name'
    value= user.get('name')
    required
  )

.stacked-form-cell
  label.avant-garde-form-label Primary Location
  #after-inquiry-collector-location
    //- Rendered separately

.stacked-form-cell
  if collector
    label.avant-garde-form-label Artists you collect
    #after-inquiry-bookmark-artists.after-inquiry-bookmark-artists
      //- Rendered separately

  else
    label.avant-garde-form-label( for='profession' ) Profession
    input.bordered-input.is-block(
      placeholder='There’s nothing here, yet'
      name='profession'
      value= user.get('profession')
    )

button#after-inquiry-questionnaire-submit.avant-garde-button-black.is-block
  | Done
