if artwork.edition_sets.length > 1
  .artwork-edition-sets
    for edition_set, i in artwork.edition_sets
      label.artwork-edition-set
        if edition_set.is_acquireable
          .artwork-edition-set__radio
            input.artwork-edition-set__radio-button(
              type= 'radio'
              name= 'edition_set_id'
              value= edition_set.id
              checked=(i === 0 ? true : undefined)
            )

        .artwork-edition-set__details
          .artwork-edition-set__imperial
            = edition_set.dimensions.in
          .artwork-edition-set__metric
            = edition_set.dimensions.cm
          .artwork-edition-set__edition-size
            = edition_set.edition_of

        .artwork-edition-set__price
          if edition_set.is_sold
            | #{edition_set.price} - Sold
          else
            = edition_set.price
