mixin follows-tab-nav
  nav.favorites2-follows-tabs.garamond-tablist
    a.garamond-tab(
      href="/favorites", class=activeClass('/favorites')
    ) Works
    span.garamond-tab-separator
    a.garamond-tab(
      href="/following/artists", class=activeClass('/following/artists')
    ) Artists
    span.garamond-tab-separator
    a.garamond-tab(
      href="/following/genes", class=activeClass('/following/genes')
    ) Categories
    span.garamond-tab-separator
    a.garamond-tab(
      href="/following/profiles", class=activeClass('/following/profiles')
    ) Profiles
