nav.mlh-small-screen#main-header-small-screen
  a#main-layout-header-home-logo( href='/', class=activeClass('/') ): i.icon-logo
  form#main-header-search-form( action='/search', method='GET' )
    input#main-header-search-box(
      placeholder='Search',
      name='term',
      value=mainHeaderSearchBoxValue,
      type='search'
    )
  button#main-header-search-button.avant-garde-button(form="main-header-search-form") Search

  a#main-header-menu-button
    #main-header-menu-icon

include ./small_screen_dropdown_menu
