- var saleArtwork = artwork.related().saleArtwork
- var defaultImage = artwork.defaultImage()
- var maxDimension = 150
- var isAuction = saleArtwork.sale().isAuction() || false

.artwork-table__row
  .artwork-table__cell.artwork-table__cell--image
    - var defaultImage = artwork.defaultImage()
    - var maxDimension = 150

    img.artwork-item-image(
      src=defaultImage.imageUrlForWidth(imageWidth)
      nopin=artwork.noPinAttr()
      alt=artwork.toAltText()
      width=defaultImage.maxWidthForWidth(150, maxDimension)
      height=defaultImage.maxHeightForWidth(150, maxDimension)
    )

  .artwork-table__cell.artwork-table__cell--caption
    if artwork.has('artist')
      p.artwork-item-artist.artwork-item-overflow
        if artwork.get('artist').public
          a.faux-underline-hover( href=artwork.artistLink() )= artwork.artistName()
        else
          = artwork.artistName()
      p.artwork-item-title.artwork-item-overflow!= artwork.titleAndYear()
      p.artwork-item-medium= artwork.get('medium')
      unless artwork.isMultipleEditions()
      .artwork-detail-dimensions
        .amd-imperial!= artwork.dimensions({ metric: 'in', format: 'superscript' })
        .amd-metric= artwork.dimensions({ metric: 'cm', format: 'decimal' })

  .artwork-table__cell.artwork-table__cell--location
      if artwork.partnerLink()
        a.artwork-partner-name( href= artwork.partnerLink() )
          = artwork.partnerName()
      else
        |= artwork.partnerName()
      span#artwork-partner-locations
        //- Rendered client-side

  .artwork-table__cell.artwork-table__cell--inquiry
    .inner
      unless auctionId || artwork.get('sold')
        if artwork.isPriceDisplayable()
          .artwork-meta-price
            .artwork-meta-price-amount= artwork.priceDisplay()
        else
          unless artwork.isContactable()
            a.artwork-item-more-info.avant-garde-button-white(
              href=artwork.href()
              data-id=artwork.get('_id')
            ) More Info

      if saleArtwork.id || showBlurbs
        - var saleArtwork = artwork.related().saleArtwork
        if artwork.has('blurb') && artwork.get('blurb')
          .artwork-item-blurb!= artwork.mdToHtml('blurb')
        else
          if saleArtwork && saleArtwork.get('user_notes')
            .artwork-item-blurb!= saleArtwork.mdToHtml('user_notes')

      if saleArtwork.id || showBlurbs
        a.artwork-item-more-info.avant-garde-button-white(
          href=artwork.href()
          data-id=artwork.get('_id')
        ) More Info

      if isAuction && !artwork.get('sold')
        a.artwork-item-bid.avant-garde-button-white.is-bottom(
          href=artwork.href()
          data-id=artwork.get('_id')
        ) Bid

        if artwork.get('acquireable')
          a.artwork-item-buy-now.avant-garde-button-white.is-bottom(
            href=artwork.href(), data-id=artwork.get('id')
          ) Buy Now

      if displayPurchase && !isAuction
        if artwork.get('acquireable')
          a.artwork-item-buy.avant-garde-button-white.is-bottom(
            href=artwork.href(), data-id=artwork.get('id')
          ) Buy
        else if artwork.get('sold')
          .artwork-item-sold Sold
        else if artwork.isContactable()
          a.artwork-item-contact-seller.avant-garde-button-white(
            class= artwork.isPriceDisplayable() ? 'is-bottom' : '',
            href=artwork.href(), data-id=artwork.get('id')
          ) Contact #{artwork.contactLabel()}
