extends ../../../../../components/main_layout/templates/blank.jade

append locals
  - assetPackage = 'editorial_features'
  - sections = curation.get('sections')

block head
  include head

block body
  - var superArticle = article
  .eoy-feature__sa-header
    include ../../../../../components/article/templates/super_article_sticky_header.jade

  .eoy-feature
    video(class='video' autoplay=true, controls=false, loop=true, muted=true, playsinline=true poster='https://artsy-vanity-files-production.s3.amazonaws.com/images/eoy-cover-placeholder.png').eoy-feature__background.active
      source(src='#{curation.get("header_video")}' type='video/mp4')
      img(src=curation.get('placeholder'))
    nav.eoy-feature__menu
      a(href='/').article-sa-artsy-logo.icon-logotype.logo
      .article-sa-plus.icon-close
      a(href= '#{superArticle.get("super_article").partner_logo_link}').ubs-link
        img.article-sa-primary-logo.ubs(src=superArticle.get('super_article').partner_fullscreen_header_logo)
      a(href='/articles').back-to-magazine Back to Editorial
    .eoy-feature__content
      include ./scroller.jade

    .article-body
      //- rendered on client
      section.footer
        include ../../../../../components/article/templates/super_article_footer.jade
        .caption Video footage by Alex John Beck for Artsy with additional footage of Christo and Jeanne-Claude, "The Floating Piers, Lake Iseo, Italy," 2014-16, © 2016 Christo.

  include ../../../../../components/main_layout/templates/json_ld
