.artwork-collapsed-metadata( class='js-artwork-collapsed-metadata' )
  if artwork.sale && artwork.sale.sale_artwork && artwork.sale.sale_artwork.lot_number
    .artwork-collapsed-metadata__lot-number
      | Lot #{artwork.sale.sale_artwork.lot_number}

  if artwork.artists
    .artwork-collapsed-metadata__artists
      = artwork.artists.map(function(artist) { return artist.name; }).join(', ')

  .artwork-collapsed-metadata__title
    em
      = helpers.collapsed_metadata.truncate(artwork.title, '25', '…')

    if artwork.date
      = ', '
      = artwork.date

  if artwork.sale_message
    .artwork-collapsed-metadata__sale-message
      = artwork.sale_message

  if artwork.is_contactable
    .artwork-collapsed-metadata__contact
      button.avant-garde-button-black.is-block(
        class='js-artwork-collapsed-metadata-inquire'
        data-artwork-id= artwork.id
      ) Contact #{artwork.partner.type}

  if artwork.sale && artwork.sale.is_auction
    - var auction = artwork.sale
    - var sale_artwork = auction.sale_artwork

    if auction.is_preview || auction.is_open
      .artwork-collapsed-metadata__auction(
        class='js-artwork-collapsed-metadata-auction'
      )

        include ../auction/templates/status
        include ../auction/templates/bid
        include ../auction/templates/buy_now
