if inquiry.get('contact_gallery')
  - var messageName = artwork.related().partner.displayType().toLowerCase()
else
  - var messageName = "Artsy"

.iq-header
  | Send message to #{messageName}

h1.iq-headline.iq-headline--centered
  #auth-header-logo.icon-logotype
  | Create an account to send your message

form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  label.avant-garde-form-label( for='name' )
    | Full Name	
  
  input.bordered-input(
    id='name'
    name='name'
    type='text'
    placeholder='Full Name'
    required
    value=user.get('name')
  )

  label.avant-garde-form-label( for='email' )
    | Email

  input.bordered-input(
    id='email'
    name='email'
    type='email'
    placeholder='Email'
    required
    value=user.get('email')
  )

  label.avant-garde-form-label( for='password' )
    | Password

  include ./password

  .iq-top-margin
    button.avant-garde-button-black.js-form-submit( type='submit' )
      | Create Account

  .iq-account-sub.iq-account-sub--small
    span
      | By signing up, you agree to our&nbsp;
      a.fine-faux-underline( href='/terms', target='_blank' ) Terms of Use	
      = ' and '	
      a.fine-faux-underline( href='/privacy', target='_blank' ) Privacy Policy	
      | .

  .iq-account-sub.iq-account-sub--small.recaptcha-terms
    span This site is protected by reCAPTCHA and the Google&nbsp;
      a(href="https://policies.google.com/privacy") Privacy Policy
      | &nbsp;and&nbsp;
      a(href="https://policies.google.com/terms") Terms of Service
      | &nbsp;apply.