include ../../../components/bid_status/index

if myActiveBids && myActiveBids.length
  h2 Your Active Bids
  table
    tbody
      for bid in myActiveBids
        if bid.sale_artwork
          tr
            td.auction2-mab-artist-artwork-container
              a(
                href=bid.sale_artwork.artwork.href
              )
                img.auction2-mab-img( src=bid.sale_artwork.artwork.image.url )
            td.auction2-mab-artwork-info
              .auction2-mab-artist-artwork
                .auction2-mab-lot-number Lot #{bid.sale_artwork.lot_number}
                h3= bid.sale_artwork.artwork.artist.name
                .auction2-mab-title
                  em= bid.sale_artwork.artwork.title
                  | ,&nbsp;
                  = bid.sale_artwork.artwork.date
            td.auction2-mab-current-bid
              - bidCount = bid.sale_artwork.counts.bidder_positions
              <b>Current Bid:</b> (#{bidCount} Bid#{bidCount > 1 ? 's' : ''})
            td.auction2-mab-bid-num #{bid.sale_artwork.highest_bid.display}
            if bid.sale_artwork.sale.is_live_open
              td
                a.avant-garde-button-white.auction2-mab-bid-live-button(
                    href=ViewHelpers.liveAuctionUrl(bid.sale_artwork.sale_id)
                  ) Bid Live
            else
              td.bid-status-cell
                +bidStatus(bid, bid.sale_artwork)
              td
                a.avant-garde-button-white.auction2-mab-bid-button(
                  href=bid.sale_artwork.artwork.href
                ) Bid
