extends ../../../components/main_layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'misc'
  - bodyClass = bodyClass + ' body-no-margins'

block body
  .consignments2-page
    header.consignments2-header(
      style='background-image: url(#{header.image.src});'
    )
      h1.consignments2-header__headline
        = header.headline
      .consignments2-header__cta
        a.avant-garde-button-white.consignments2-header__consign-button( href='/consign2/submission' )
          = header.button_cta

  .consignments2-sections
    //- How consignments work
    section.consignments2-section.consignments2-how-consignments-work
      .consignments2-section__about
        h3.consignments2-section__about__headline
          = sections.how_consignments_work.headline
        .consignments2-steps__steps
          for step, i in sections.how_consignments_work.steps
            .consignments2-steps__steps__step
              img.consignments2-steps__steps__step__image( src= step.icon )
              .consignments2-steps__steps__step__title
                = step.title
              .consignments2-steps__steps__step__description
                p= step.description
        a.avant-garde-button-black.consignments2-section__consign-button( href='/consign2/submission' )
          = sections.how_consignments_work.button_cta

    //- Placement
    section.consignments2-section.consignments2-logos
      .consignments2-section__about
        h3.consignments2-section__about__headline
          = sections.placement.headline
      .consignments2-section__images.consignments2-section__images--logos
        for logo in sections.placement.logos
          img.consignments2-section__images__logo( src= logo.src )

    //- Top sales
    section.consignments2-section.consignments2-top-sales
      .consignments2-section__about
        h3.consignments2-section__about__headline
          = sections.top_sales.headline
       a.avant-garde-button-black.consignments2-section__consign-button( href='/consign2/submission' )
          = sections.top_sales.button_cta

    //- Recently Sold
    section.consignments2-section.consignments2-recently-sold
      h4= sections.recently_sold.sub_headline
      .consignments2-recently-sold__artworks( class='js-recently-sold-rail' )
        - var artworks = recentlySold.models
        - var imageHeight = 220
        include ../../../components/artwork_rail/templates/index

    //- In Demand
    section.consignments2-section.consignments2-in-demand
      h3= sections.in_demand.sub_headline
      .consignments2-in-demand__artists
        for artist in inDemand.models
          .consignments2-in-demand__artists__artist
            .consignments2-in-demand__artists__artist__thumbnail( class='js-in-demand-submit' )
              img(
                src= artist.imageUrl('four_thirds')
                alt= artist.get('name')
              )

            h4.consignments2-in-demand__artists__artist__name
              = artist.get('name')

    //- Upcoming sales
    section.consignments2-section.consignments2-upcoming-sales(
      style='background-image: url(#{sections.upcoming_sales.image.src});'
    )
      .consignments2-steps__headline
        = sections.upcoming_sales.headline
      a.avant-garde-button-black.consignments2-section__consign-button( href='/consign2/submission' )
          = sections.upcoming_sales.button_cta

    //- Questions
    section.consignments2-section.consignments2-section--questions
      .consignments2-section__about
        h3.consignments2-section__about__headline
          = sections.questions.headline
        .consignments2-section--questions__crt-photos
          .consignments2-section--questions__crt-photos__photo
            img( src= sections.questions.crt_photo_1 )
          .consignments2-section--questions__crt-photos__photo
            img( src= sections.questions.crt_photo_2 )
      .consignments2-section--questions__sections
        for section in sections.questions.sections
          .consignments2-section--questions__sections__section
            h4= section.sub_headline
            p= section.description

  .consignments2-header(
    style='background-image: url(#{sections.footer.image.src});'
  )
    h1.consignments2-header__headline
      = sections.footer.headline
    .consignments2-header__cta
      a.avant-garde-button-white.consignments2-header__consign-button( href='/consign2/submission' )
        = sections.footer.button_cta


