//- TODO: remove admin notice
.notice-message.admin-notice-message( style='height: 80px; padding: 15px 0;' )
  .notice-message-close.icon-close
  p( style='line-height: 1.5' )
    | You are previewing the new partner profile pages because you are logged in as an admin.
    br
    | Log out or log in as a user to see the public partner profile pages. :)

header.partner-header
  .partner-brand-container
    .partner-info
      h1.partner-name= profile.displayName()
      .partner-locations New York • London • Menlo Park • Hong Kong • Taipei
    a.profile-badge.partner-icon( href=profile.href() )
      .profile-badge-icon
        if profile.has('icon')
          img( src=profile.iconImageUrl(), alt=profile.displayName() )
        else
          .profile-badge-initials= profile.defaultIconInitials()
  .partner-navs-container
    .partner-actions
      button.avant-garde-button-white.follow-button.is-small
      if profile.get('follows_count')
        .partner-followers
          = profile.formatFollowText()
    .partner-nav
