title=profile.metaTitle(sd.SECTION)
meta( property="og:title", content=profile.metaTitle(sd.SECTION) )
meta( name="description", content=profile.metaDescription(sd.SECTION) )
meta( property="og:description", content=profile.metaDescription(sd.SECTION) )
meta( property="twitter:description", content=profile.metaDescription(sd.SECTION) )
meta( property="og:url", content=(sd.APP_URL + sd.CURRENT_PATH) )
link( rel="alternate", media=sd.MOBILE_MEDIA_QUERY, href=(sd.MOBILE_URL + sd.CURRENT_PATH) )
meta( property="og:type", content="profile" )
meta( property="profile:type", content=profile.profileType() )
meta( property="profile:username", content=profile.get('id') )
meta( property="twitter:card", content="summary" )
if profile.iconImageUrl()
  meta( property="og:image", content= profile.iconImageUrl() )
  meta( name="thumbnail", content= profile.iconImageUrl() )
if params.artistId
  link( rel="canonical", href=("#{sd.APP_URL}/artist/#{params.artistId}") )
else
  link( rel="canonical", href=(sd.APP_URL + sd.CURRENT_PATH) )
if sd.INCLUDE_ESCAPED_FRAGMENT
  unless tab
    meta( name="fragment", content="!" )
