- auction = artwork.auction
- bidderStatus = helpers.getBidderStatus(me, auction)

include ./bid_status_message.jade
- bidderPositions = artwork.auction.sale_artwork.counts.bidder_positions
.artwork-auction-bid-module__bid-status
  .artwork-auction-bid-module__bid-status-title= bidderPositions > 0 ? 'Current Bid:' : 'Starting Bid:'
  .artwork-auction-bid-module__bid-status-amount
    = artwork.auction.sale_artwork.current_bid.amount
.artwork-auction-bid-module__bid-status__count-user-status
  .artwork-auction-bid-module__bid-status-count
    if bidderPositions > 0
      | #{bidderPositions} #{bidderPositions === 1 ? 'Bid' : 'Bids'}
    if artwork.auction.sale_artwork.reserve_status == 'reserve_met'
      span #{bidderPositions > 0 ? ', ' : '' }Reserve met
    else if artwork.auction.sale_artwork.reserve_status == 'reserve_not_met'
      span #{bidderPositions > 0 ? ', ' : '' }Reserve not met
      
    //- TODO: https://github.com/artsy/auctions/issues/124
    //- else
    //-   span No reserve
    
  if bidder && bidder.lot_standing && typeof window !== 'undefined'
    if bidder && bidderStatus === 'qualified-to-bid'
      +bidStatusMessage(bidder.lot_standing, artwork.auction.sale_artwork)
