form.artwork-auction-bid-form.js-artwork-auction-bid-form(
    method="GET"
    action= "/auction/#{artwork.auction.id}/bid/#{artwork.id}"
  )
    .artwork-auction-bid-module__bid-button
      button.auction-avant-garde-black-button(
        type= 'submit'
        disabled= false
      ) Bid
