mixin current-fair-figure(fair)
  .fairs__current-fair
    .fairs__current-fair__image
      a.hoverable-image-link( href= fair.href )
        .hoverable-image( style="background-image: url(#{fair.image.url});" )
        .fairs__current-fair__image__overlay Explore the fair
    .fairs-fair__meta
      a( href= fair.href )
        .fairs-fair__meta__profile
          img.fairs__current-fair__image__icon( alt=fair.name, title=fair.name, src=fair.profile.icon.url )
        .fairs-fair__meta__info
          .fairs-fair__name= fair.name
          .fairs-fair__info
            | #{ViewHelpers.formatDates(fair)}
            if fair.location && (fair.location.city || fair.location.country)
              | , #{fair.location.city ? fair.location.city : fair.location.country}

each row in currentFairRows
  .fairs__current-fair-row(class="fairs__current-fair-row--#{row.type}")
    each fair in row.fairs
      +current-fair-figure(fair)
    if row.type == 'two-third-promo' || row.type == 'half-promo'
      .fairs__current__promo
        a(href="https://iphone.artsy.net/")
          .mobile-section-iphone-large &nbsp;
          .fairs__current__promo__copy
            | Download Artsy for iPhone for a
            br
            | personalized guide to the show.
