unless name == 'total' || name == 'for_sale'
  .filter-dropdown(
    id="filter-dropdown-#{name}"
    class= ( params.has(name) && activeText ) ? 'is-active' : ''
  )
    .filter-nav-main-text= filterLabelMap[name].label
    .filter-nav-active-text= activeText
    .icon-arrow-down
    nav.filter-dropdown-nav
      a(
        data-attr=name
        data-val=''
        href=''
      )
        span.filter-dropdown-text All #{filterLabelMap[name].plural}
        span.filter-dropdown-count
        span.icon-check
      for key, val in filter
        if key && val
          - var extraClasses = []
          - if(key.count == 0) extraClasses.push('is-disabled')
          - if(params.get(attr) == val) extraClasses.push('is-active')
          a(
            data-attr=name
            data-val=val
            href=(
              filterRoot && filterRoot.match('booths') ?
              "#{filterRoot}/#{attr}/#{val}" :
              "#{filterRoot ? filterRoot : sd.CURRENT_PATH}?#{name}=#{val}"
            )
            class=extraClasses.join(' ')
          )
            span.filter-dropdown-text= key.name
            span.filter-dropdown-count (#{_s.numberFormat(key.count)})
            span.icon-check
