.filter-artist(data-artist="#{artist.id}")
  a.filter-artist-name
    = artist.name
  .filter-artist-published-artworks-count
    |  (#{artist.published_artworks_count}) #{" "}
  .filter-artist-forsale-artworks-count
    |  (#{artist.forsale_artworks_count}) #{" "}
  .filter-artist-clear Clear
