extends ../../../components/layout/templates/scaffold

block body
  #auth-page
    h1#auth-call-to-action-header
      if action == 'register-for-auction'
        | To bid in this auction you
        br
        | need an Artsy account.
      else if action == 'auction-results'
        | To view auction results you
        br
        | need an Artsy account.
      else if action == 'artwork-save'
        | To save artworks you
        br
        | need an Artsy account.
      else if action == 'artist-follow'
        | To follow artists you
        br
        | need an Artsy account.
    .auth-page-error-message
    nav#auth-call-to-action-tabs
      a.auth-page-cta__signup-tab(
        href="#{sd.AP.signupPagePath}?action=#{action}" + (redirectTo ? "&redirect-to=#{redirectTo}" : '')
        class=sd.CURRENT_PATH.includes('/sign_up') ? 'auth-call-to-action-tabs-active' : ''
      ) Sign Up
      a.auth-page-cta__login-tab(
        href="#{sd.AP.loginPagePath}?action=#{action}" + (redirectTo ? "&redirect-to=#{redirectTo}" : '')
        class=sd.CURRENT_PATH.includes('/log_in') ? 'auth-call-to-action-tabs-active' : ''
      ) Log in
    ul#auth-call-to-action-forms
      li(class=sd.CURRENT_PATH.includes('/sign_up') ? 'auth-call-to-action-form-active' : '')
        include signup_buttons
        include signup_append
      li(class=sd.CURRENT_PATH.includes('/log_in') ? 'auth-call-to-action-form-active' : '')
        include login_form
