include ../checkbox/index

form.stacked-form
  .form-errors.js-form-errors
    //- Rendered client-side

  label.avant-garde-form-label
    | Primary Location
  .settings-about-you__location(
    class='js-settings-about-you__location'
  )
    input.bordered-input.is-block(
      name='decoy-location'
      placeholder='Enter your city'
    )

  label.avant-garde-form-label( for='profession' )
    | Profession
  input.bordered-input(
    type='text'
    id='profession'
    name='profession'
    value= user.get('profession')
  )

  label.avant-garde-form-label
    | Price Range
  label.bordered-select: select( name='price_range' )
    option Select a price range
    for bucket in user.priceBuckets
      option(
        value= bucket.value
        selected= (bucket.value === user.get('price_range') ? true : undefined)
      )= bucket.display

  label.avant-garde-form-label
    | Advanced Settings
  .settings-about-you__advanced-settings
    +checkbox('share_follows')
      | Share followed artists, categories, and galleries with your inquiries

  button.avant-garde-button-white
    | Save Changes
