doctype xml
urlset(
  xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
)
  for slug in slugs
    url
      loc=sd.APP_URL + '/' + slug
      priority='0.75'
    url
      loc=sd.APP_URL + '/' + slug + '/browse/booths'
    url
      loc=sd.APP_URL + '/' + slug + '/articles'
    url
      loc=sd.APP_URL + '/' + slug + '/info'



    