doctype xml
sitemapindex(
  xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
)
  sitemap
    loc=sd.APP_URL + '/sitemap-misc.xml'

  sitemap
    loc=sd.APP_URL + '/sitemap-cities.xml'

  for resource, i in resources
    for n, j in new Array(allPages[i])
      sitemap
        loc=sd.APP_URL + '/sitemap-' + resource + '-' + (j + 1) + '.xml'

  for bucket in artworkBuckets
    for n, i in new Array(bucket.pages)
      sitemap
        loc=sd.APP_URL  + '/sitemap-artworks-' + (i + 1) + '-' + bucket.startDate + '.xml'

  for n, i in new Array(articlePages)
    sitemap
      loc=sd.APP_URL + '/sitemap-articles-' + i + '.xml'
