.partnerships-hero-unit-header
  h1!= hero.heading
  if path.indexOf('gallery') > 0
    .partnerships-contact Call us: +1 800 589-1350

.partnerships-hero-unit-content
  ul.partnerships-hero-unit-images
    for image, i in hero.images
      li.partnerships-hero-unit-image(
        style="background-image: url(#{crop(image.src, { width: 1120, height: 435, quality: 90 })})"
        class=(i === 0 ? 'is-active' : undefined)
      )
        .credit= image.credit
  .preamble!= hero.preamble
