include hero_unit
include nav
include section_mixins
.partnerships-sections
  if path.indexOf('gallery') > 0
    section.partnerships-section( id= sections[0].slug, data-href="/gallery-partnerships/#{sections[0].slug}" ): +network(sections[0])
    section.partnerships-section( id= sections[1].slug, data-href="/gallery-partnerships/#{sections[1].slug}" ): +audience(sections[1])
    section.partnerships-section( id= sections[2].slug, data-href="/gallery-partnerships/#{sections[2].slug}" ): +access(sections[2])
    section.partnerships-section( id= sections[3].slug, data-href="/gallery-partnerships/#{sections[3].slug}" ): +visibility(sections[3])
    section.partnerships-section( id= sections[4].slug, data-href="/gallery-partnerships/#{sections[4].slug}" ): +tools(sections[4])
    section.partnerships-section( id= sections[5].slug, data-href="/gallery-partnerships/#{sections[5].slug}" ): +artsy-folio(sections[5])
    section.partnerships-section( id= sections[6].slug, data-href="/gallery-partnerships/#{sections[6].slug}" ): +support(sections[6])
    section.partnerships-section( id= sections[7].slug, data-href="/gallery-partnerships/#{sections[7].slug}" ): +apply(sections[7])
  else
    section.partnerships-section( id= sections[0].slug, data-href="/institution-partnerships/#{sections[0].slug}" ): +shows(sections[0])
    section.partnerships-section( id= sections[1].slug, data-href="/institution-partnerships/#{sections[1].slug}" ): +education(sections[1])
    section.partnerships-section( id= sections[2].slug, data-href="/institution-partnerships/#{sections[2].slug}" ): +audience(sections[2])
    section.partnerships-section( id= sections[3].slug, data-href="/institution-partnerships/#{sections[3].slug}" ): +design(sections[3])
    section.partnerships-section( id= sections[4].slug, data-href="/institution-partnerships/#{sections[4].slug}" ): +tools(sections[4])
    section.partnerships-section( id= sections[5].slug, data-href="/institution-partnerships/#{sections[5].slug}" ): +support(sections[5])
    section.partnerships-section( id= sections[6].slug, data-href="/institution-partnerships/#{sections[6].slug}" ): +apply(sections[6])
