extends ../../../components/main_layout/templates/minimal_header

append locals
  - assetPackage = 'auctions'
  - options = {stripev3: true}

block body
  #auction-registration-page
    .auction-bid-clock-container.js-auction-clock(data-id='#{sale.id}')
      include ../../../components/clock/template
    .auction-bid-form-container
      h2.garamond-header-center Confirm Your Bid
      .credit-card-form
        .auction-support-artwork
          img.auction-support-artwork-img( src=artwork.defaultImageUrl() )
          .auction-support-details
            .auction-support-lot-num Lot #{saleArtwork.get('lot_label')}
            p!= artwork.titleAndYear()
            if artwork.get('artist')
              p= artwork.artistName()
            .auction-support-artwork-bid
              | #{saleArtwork.bidLabel()}: #{saleArtwork.currentBid()}
              if saleArtwork.formatBidsAndReserve()
                .auction-support-artwork-reserve= saleArtwork.formatBidsAndReserve()

        label.auction-support-max-bid-label Set your max bid
        label.bordered-select.auction-support-max-bid
          select( name='bid' required ).max-bid
            - myLastMaxBid = maxBid * 100
            - increments = bidIncrements.filter(function(i) { return i >= (myLastMaxBid || 0) })
            for v in increments
              - val = v / 100
              - display = accounting.formatMoney(val, saleArtwork.get('symbol'), 0)
              option(
                value=val
                data-display=display
                selected=(maxBid === val)
              )= display

          .auction-bid-errors
        if isRegistered || hasValidCreditCard
          .registration-form-content
            if isRegistered
              include ./conditions-of-sale-message.jade
              .auction-bid-form-confirm.avant-garde-button-black.is-block Confirm Bid
            else
              include ./conditions-of-sale-checkbox.jade
              .auction-bid-form-confirm.avant-garde-button-black.is-block.is-disabled Confirm Bid

        else
          p.registration-info= sd.BIDDER_INFO_COPY_P1
          p.registration-info= sd.BIDDER_INFO_COPY_P2
          .form-bottom
            .bid-registration-form-contents
              include ./registration-form
              .registration-form-content
                .auction-bid-form-confirm.avant-garde-button-black.is-block.is-disabled Confirm Bid
