title= lot.toPageTitle(artist)
meta( property='og:title', content= lot.toPageTitle(artist) )
meta( name='description', content= lot.toPageDescription() )
meta( property='og:description', content= lot.toPageDescription() )
link( rel='canonical', href='#{sd.APP_URL}#{lot.href(artist)}' )
meta( property='og:url', content='#{sd.APP_URL}#{lot.href(artist)}' )
meta( name='robots', content='noindex' )

if lot.hasImage()
  meta( property='twitter:card', content='summary_large_image' )
  meta( property='og:image', content= lot.imageUrl('thumbnail') )
else
  meta( property='twitter:card', content='summary' )
