header.probuyer-header(
  style='background-image: url(#{hero.image})'
)
  h1.probuyer-header__headline
    = hero.headline

  h2.probuyer-header__subheadline
    = hero.subheadline

  .probuyer-header__cta
    a.avant-garde-button-white(
      href='#{paths.show}/complete'
      class= ((user ? '' : 'js-move-to-cta') + ' analytics-pro-buyer-join')
    )= hero.cta.label
