doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom' xmlns:content='http://purl.org/rss/1.0/modules/content/')
  channel
    title Artsy News
    link= sd.APP_URL
    atom:link(href='#{sd.APP_URL}/rss/news', rel='self', type='application/rss+xml')
    description Featured Artsy articles.
    language en-US
    if articles.length
      lastBuildDate= new Date(articles.first().get('published_at')).toUTCString()
    each article in articles.models
      item
        title= article.get('thumbnail_title')
        link #{sd.APP_URL}/article/#{article.get('slug')}
        description= article.get('description')
        author=article.byline() || "Artsy Editors"
        if article.get('vertical')
          category=article.get('vertical').name
        if article.get('layout') === 'video'
          - media = article.get('media')
          enclosure(url=media.url length=0 type="video/mp4")
        else if article.get('layout') === 'news'
          enclosure(url="#{sd.APP_URL}/images/og_image.jpg" length=0 type="image/jpeg")
          meta(property="og:image" content="#{sd.APP_URL}/images/og_image.jpg")
        else if article.get('thumbnail_image')
          - image = article.get('thumbnail_image')
          - resizedImage = resize(image, { width: 1000 })
          - extension = image.split('.').pop()
          - mimeType = ['jpg', 'jpeg'].includes(extension) ? 'jpeg' : extension
          enclosure(url=resizedImage length=0 type="image/#{mimeType}")
        content:encoded
          | <![CDATA[
          include article
          | ]]>
        pubDate= new Date(article.get('published_at')).toUTCString()
        guid(isPermaLink='false') #{sd.APP_URL}/article/#{article.get('slug')}
