extends ../../../components/layout/templates/main

block head
  title Contact Us | Artsy

block content
  div.contact-page.main-side-margin
    section.contact-teams
      h4.contact-section-headers= data.title
      div.contact-teams
        a.contact-items.js-contact-specialist
          h5.contact-sub-headers ADVISORY TEAM
          p For questions about Sales and Auctions contact an #[span.link-style Artsy Specialist]

        a.contact-items(href='mailto:#{storyideas@artsy.net}')
          h5.contact-sub-headers EDITORIAL TEAM
          p For pitches and story ideas contact: #[span.link-style storyideas@artsy.net]

        a.contact-items(href='mailto:#{press@artsy.net}')
          h5.contact-sub-headers COMMUNICATIONS TEAM
          p For questions about Press contact: #[span.link-style press@artsy.net]

        a.contact-items(href='mailto:#{support@artsy.net}')
          h5.contact-sub-headers GENERAL
          p For general questions and feedback contact: #[span.link-style support@artsy.net]

    //- FAQs
    section
      h4.contact-section-headers FAQs
      div.faq.chevron-nav-list
        a.js-multipage(data-id="auction-faqs") AUCTION FAQ

    section
      h4.contact-section-headers Editorial Staff
      .editorial-staff-contact-info
        each member in data.editorial_staff.members
            a(href='mailto:#{member.email}').editorial-staff
              h5.contact-editorial-title-header= member.role
              p= member.name
              p= member.email

    section
      h4.contact-section-headers Address
      div#contact-address
        p
          | 401 Broadway, 25th Floor,
          br
          | New York, NY 10013
