if helpers.partner.isDisplayable(artwork.partner)
  - var partner = artwork.partner
  - var profile = partner.profile

  section.artwork-section.artwork-partner( class='js-artwork-partner' )
    .artwork-partner__icon: a(
      href= partner.href
      data-initials= partner.initials
      class= (profile && profile.icon ? 'artwork-partner__icon--icon' : undefined)
      style= (profile && profile.icon ? 'background-image: url(#{profile.icon.url})' : undefined)
    )

    .artwork-partner__metadata
      a.artwork-partner__metadata__name( href= partner.href )
        = partner.name

      if partner.locations && partner.locations.length
        .artwork-partner__metadata__locations
          = helpers.partner.cities(partner.locations)

      if profile
        .artwork-partner__metadata__bio
          = profile.bio

      .artwork-partner__metadata__actions
        if artwork.is_inquireable
          a.avant-garde-button-black.is-small(
            class='js-artwork-partner-contact analytics-artwork-contact-seller'
            data-artwork_id= artwork._id
            data-context_type='partner-module'
          )
            | Contact #{artwork.partner.type}

        if profile
          a.avant-garde-button-white.follow-button.is-small(
            class='js-artwork-partner-follow'
            data-type='profile'
            data-_id= profile._id
            data-id= profile.id
          )
