- videoWidth = attachment.maxWidthForWidth(imageWidth)
- videoHeight = attachment.maxHeightForWidth(imageWidth)
figure.video-link( style="width: #{videoWidth}px", data-attachment=attachment.id )
  .post-film
    .placeholder
      img( src=attachment.imageSrc(), height=videoHeight, width=videoWidth, nopin="nopin" )
      .play-button
        .play-button-arrow
    .video
