figure.video-link( style="width=" + attachment.maxWidthForWidth(maxDimension) + "px; height=" + attachment.maxHeightForWidth(maxDimension) + "px;", data-attachment=attachment.id )
  .post-film
    .placeholder
      img.loading( src=attachment.imageSrc(), height=attachment.maxHeightForWidth(maxDimension), width=attachment.maxWidthForWidth(maxDimension), nopin="nopin" )
      .play
    .video
  .details
    p.title
      em!=attachment.title()
      | , 
      span= attachment.sourceName()
