footer.probuyer-cta
  h3.probuyer-cta__headline
    = cta.headline

  form.probuyer-cta__form.stacked-form
    input.bordered-input(
      type='email'
      name='email'
      placeholder='Email'
      required
    )

    input.bordered-input(
      type='password'
      name='password'
      placeholder='Password'
      required
    )

    input.bordered-input(
      type='text'
      name='name'
      placeholder='Full Name'
      required
    )

    button.avant-garde-button-black
      = cta.button.label

    .probuyer-cta__form__terms
      | By signing up, you agree to our
      br
      a( href='/terms' )
        | Terms of Use
      = ' and '
      a( href='/privacy' )
        | Privacy Policy

    .probuyer-cta__form__login
      | Already have an account?
      = ' '
      a( href='/login' )
        | Login
