- partner = artwork.related().partner

h1.iq-headline
  if partner.get('pre_qualify')
    | #{partner.get('name')} asks for some additional information before placing an inquiry.
    | You only have to do this once.
  else
    | Tell #{partner.get('name')} a little bit about yourself.

form.iq-form.stacked-form
  .iq-form-errors.js-form-errors
    //- Rendered separately

  label.avant-garde-form-label( for='profession' )
    | Profession
    if partner.get('pre_qualify')
      span (Required)
  input.bordered-input.js-iq-profession(
    name='profession'
    id='profession'
    value= user.get('profession')
    required= partner.get('pre_qualify')
  )

  label.avant-garde-form-label( for='location' )
    | Location
    if partner.get('pre_qualify')
      span (Required)
  .js-location-search
    //- Rendered separately

  label.avant-garde-form-label( for='phone' )
    | Phone Number
    if partner.get('pre_qualify')
      span (Required)
  input.bordered-input.js-iq-phone(
    name='phone'
    id='phone'
    type='tel'
    value= user.get('phone')
    required= partner.get('pre_qualify')
  )

  if user.isLoggedIn()
    .iq-checkbox.artsy-checkbox
      .artsy-checkbox--checkbox
        input(
          type='checkbox'
          id='share_follows'
          name='share_follows'
          checked=(user.has('share_follows') ? user.get('share_follows') : true)
        )
        label( for='share_follows' )
      label.artsy-checkbox--label( for='share_follows' )
        | Share followed artists, categories, and galleries

  button.avant-garde-button-black.iq-next( type='submit' ) Next
