- var partner = artwork.partner
- var profile = partner.profile

if helpers.partner.isDisplayable(partner)
  section.artwork-partner( class='js-artwork-partner' )
    .artwork-partner__icon: a(
      href= partner.href
      data-initials= partner.initials
      class= (profile && profile.icon ? 'artwork-partner__icon--icon' : undefined)
      style= (profile && profile.icon ? 'background-image: url(#{profile.icon.url})' : undefined)
    )

    .artwork-partner__metadata
      a.artwork-partner__metadata__name( href= partner.href )
        = partner.name

      if partner.locations && partner.locations.length
        .artwork-partner__metadata__locations
          = helpers.partner.cities(partner.locations)

      if profile
        .artwork-partner__metadata__bio
          = profile.bio

      .artwork-partner__metadata__actions
        a.avant-garde-button-black.is-small( class='js-artwork-partner-contact' )
          | Contact Gallery

        if profile
          a.avant-garde-button-white.is-small( class='js-artwork-partner-follow', data-id= profile.id )
            | Follow

          if profile.counts.follows
            span.artwork-partner__metadata__actions__followers
              = helpers.partner.numberFormat(profile.counts.follows)
              = ' '
              = helpers.partner.pluralize('Follower', profile.counts.follows)
