.artist-page-related-articles
  if articles.length
    h2.artist-section-header Articles on Artsy
    #artist-page-related-articles-section.artist-page-section: .loading-spinner
      //- Rendered client-side

  if webArticles.length
    #artist-page-articles-section.artist-page-section
      h2.artist-section-header Articles on the Web
      .related-articles: for article in webArticles
        - var source = article.get('publication_name') || article.get('publisher_name')
        .related-article
          a.ra-image.hoverable-image-link( href= article.get('external_url') )
            img(
              src= article.cropUrlFor('image_url', { width: 300, height: 225 })
              alt= article.get('title')
            )
          .ra-blurb
            if article.has('author_name')
              a.ra-author( href= article.get('external_url'), target='_blank' )
                if article.has('favicon_url')
                  img.ra-favicon( src= article.cropUrlFor('favicon_url', { width: 16, height: 16 }) )
                span.ra-author-source= source
                span.ra-author-name= article.get('author_name')
            a( href= article.get('external_url'), target='_blank' )
              if article.get('title')
                h3.ra-title= article.get('title')
              .ra-summary
                = article.get('description')
                if source
                  span.ra-go Read on #{source}
