.about-hero-unit
  .about-hero-unit-container
    .a2huc-top.vam-outer: .vam-inner
      .about-hero-unit-h1
        h1!= hero.header
    .a2huc-bottom
      nav.about-nav
        for key, i in nav
          - section = sections[key]
          a.about-nav-link( data-idx= i, href="/about/#{key}" )
            span!= section.header

      .about-chevron: a.icon-chevron-down.about-nav-link(
        href='/about/the-art-world-online'
      )

  ul.about-hero-unit-bgs
    for image, i in hero.images
      li.about-hero-unit-bg(
        style="background-image: url(#{crop(image.src, { width: 1500, height: 900, quality: 90 })})"
        class=(i === 0 ? 'is-active' : undefined)
      )
        .about-hero-unit-bg-credit: span= image.credit
