for category in categories.models
  .settings-categories__following__category
    .settings-categories__following__category__follow
      a.entity-link( href= category.href() )
        = category.get('name')
      a.entity-follow(
        class='js-entity-follow'
        data-id= category.id
      )

    .settings-categories__following__category__artworks(
      class='js-settings-categories__following__category__artworks'
      data-id= category.id
      data-state= (!category.related().artworks.length ? 'loading' : 'loaded')
    )
      for artwork in category.related().artworks.models
        include ../../../../components/artwork_item/templates/artwork
