- section = sections.collecting

.about-container
  include header
  p.about-section-preamble= section.preamble

//- "Buy works from thousands of galleries..."
#about-section2-pull-blurb-1.about-container
  .span2: +pull-blurb(section.pullBlurb1)
  .span4: img( data-src= section.pullBlurb1.src )

//- "Early access to fairs and shows"
#about-section2-pull-blurb-2.about-container
  .span4
    .about-image-container
      img( data-src= section.pullBlurb2.src )
      .about-garamond-caption
        em= section.pullBlurb2.caption
  .span2: +pull-blurb(section.pullBlurb2)

//- "Follow artists and galleries to receive..."
.about-container
  .span2: +pull-blurb(section.pullBlurb3)
  .span4: img( data-src= section.pullBlurb3.src )

//- "We’re here to help you find art..."
#about-section2-pull-blurb-4.about-container
  .span3
    #about-section2-specialists-left
      for specialist in firstHalf(section.pullBlurb4.specialists)
        .about-image-container.is-pin-right
          img( data-src= specialist.src )
          .about-avant-garde-caption
            = specialist.name
  .span3
    +pull-blurb(section.pullBlurb4)
    #about-section2-specialists-right
      for specialist in secondHalf(section.pullBlurb4.specialists)
        .about-image-container
          img( data-src= specialist.src )
          .about-avant-garde-caption
            = specialist.name
      span#about-section2-cta
        em= section.callToAction.label
        br
        br
        a.avant-garde-button-white( href=section.callToAction.button1.href )
          = section.callToAction.button1.text
        a.avant-garde-button-white.about-section2-contact-specialist( href=section.callToAction.button2.href )
          = section.callToAction.button2.text
