- section = sections.education

.about-container
  include header
  p.about-section-preamble= section.preamble

//- "Images for learning..."
.about-container
  .span2: +pull-blurb(section.pullBlurb1)
  .span4: img( data-src= section.pullBlurb1.src )

//- "Educational content"
.about-container
  .span2: for image in firstHalf(section.pullBlurb2.images)
    a.about-image-container( href= image.href )
      img( data-src= image.src )
      .about-avant-garde-caption= image.author
      p!= image.caption
  .span2: for image in secondHalf(section.pullBlurb2.images)
    a.about-image-container( href= image.href )
      img( data-src= image.src )
      .about-avant-garde-caption= image.author
      p!= image.caption
  .span2: +pull-blurb(section.pullBlurb2)

//- "Artist Biographies"
#about-section4-pull-blurb-3-container.about-container
  - artwork = section.pullBlurb3.artwork
  a.span4( href=artwork.href ): img( data-src=artwork.src )
  .span2
    +pull-blurb(section.pullBlurb3)
    #about-section4-pull-blurb-3-details
      a( href=artwork.href )
        include artwork_details

//- "Current Art News"
.about-container
  .span3
    for image in section.pullBlurb4.leftImages
      .about-image-container
        img( data-src= image.src )
        .about-garamond-caption= image.caption
    a.avant-garde-button-white(
      href= section.pullBlurb4.button.href
    )= section.pullBlurb4.button.text
  .span3
    +pull-blurb(section.pullBlurb4)
    hr.is-invisible
    .span2: for image in section.pullBlurb4.rightImages
      a.about-image-container( href=image.href )
        image( data-src= image.src )
        .about-avant-garde-caption= image.author
        p= image.caption
