- section = sections['the-art-world-online']

.about-container
  include header
  p.about-section-preamble= section.preamble

//- "Our collection comes from leading..."
.about-container
  #about-section1-images1-left.span3
    +pull-blurb(section.pullBlurb1)
    for image in secondHalf(section.pullBlurb1.images)
      a.about-image-container.is-pin-right( href= image.href )
        img( src= image.src )
        .about-avant-garde-caption
          = image.caption.split(' - ')[0]
          em= image.caption.split(' - ')[1]
        .about-garamond-caption: em!= image.credit

    .about-section1-cta
      .about-garamond-caption: em= section.pullBlurb1.cta.h1
      a.avant-garde-button-white.is-block(
        href= section.pullBlurb1.cta.button.href
      )= section.pullBlurb1.cta.button.text

    .about-section1-cta
      for button in [section.pullBlurb1.button1, section.pullBlurb1.button2]
        a.avant-garde-button-white.is-block(
          href= button.href
        )= button.text

  #about-section1-images1-right.span3
    for image in firstHalf(section.pullBlurb1.images)
      a.about-image-container( href= image.href )
        img( src= image.src )
        .about-avant-garde-caption
          = image.caption.split(' - ')[0]
          em= image.caption.split(' - ')[1]
        .about-garamond-caption: em!= image.credit

//- "Access from anywhere..."
.about-container
  .span2
    +pull-blurb(section.pullBlurb4)
  .span2
    .about-section1-phone-container
      .about-section1-phone-plate
      .about-section1-phone-img-wrapper
        .about-section1-phone-bg
