title!= post.metaTitle()
meta( property="og:title", content!=post.metaTitle() )
meta( name="description", content=post.metaDescription() )
meta( property="og:description", content=post.metaDescription() )
meta( property="twitter:description", content=post.metaDescription() )
link( rel="canonical", href=post.href() )
meta( property="og:url", content=post.href() )
meta( property="og:type", content="article" )
meta( property="og:published_time", content=post.get('last_promoted_at') )
if post.get('shareable_image_url')
  meta( property="twitter:card", content="summary_large_image" )
  meta( property="og:image", content=post.get('shareable_image_url') )
else
  meta( property="twitter:card", content="summary" )
