- section = sections[1]

.gallery-partnerships-section-header.audience
  h2= section.title
  h3= section.heading
  p.preamble= section.preamble

if section.images
  .gallery-partnerships-section-content.audience
    .audience-map
      img( src=section.images[0].src )
        
    if section.quotes
      .audience-quotes
        - q = section.quotes[0]
        .quote
          .quote-text= q.quote
          .quote-author #{q.author}, #{q.title}
