include ../../share/template

.feed-item-top-section
  .feed-item-share-section
    +share(feedItemChildModel.shareTitle(), undefined, feedItemChildModel.href())
    if feedItemChildModel.get('partner') && feedItemChildModel.get('partner').default_profile_public
      button.avant-garde-button-white.follow-button( data-id=feedItemChildModel.get('partner').default_profile_id )

  if feedItemChildModel.partnerName()
    .exhibitor
      a( href=feedItemChildModel.href() )!= feedItemChildModel.partnerName()

  if feedItemChildModel.get('fair')
    .heading.feed-item-fair-name!= feedItemChildModel.fairName()
    if feedItemChildModel.fairLocationDisplay()
      .fair-location!= feedItemChildModel.fairLocationDisplay()

  else
    .heading
      a( href=feedItemChildModel.href() )!= feedItemChildModel.formatFeedItemHeading()

    if feedItemChildModel.get('start_at') && feedItemChildModel.get('end_at')
      .timeframe
        != feedItemChildModel.runningDates()
        if feedItemChildModel.formatCity()
          | , 
          != feedItemChildModel.formatCity()
