.auction-list-artwork
  .ala-image
    a( href= href ): img(
      src= artwork.defaultImageUrl('medium')
      nopin= artwork.noPinAttr()
      alt= artwork.toAltText()
    )

  .ala-primary-information
    a( href= href )
      if artwork.has('artist')
        h4.ala-artist
          if artists.length > 1
            != artists.toSentence() || '&nbsp;'
          else
            != artist.get('name') || '&nbsp;'
      h3.ala-title
        != artwork.titleAndYear()

  if saleArtwork.has('lot_number')
    .ala-lot-number: a( href= href )
      | Lot #{saleArtwork.get('lot_number')}

  if auction.isOpen() && !auction.isAuctionPromo()
    .ala-bid-status: a( href= href )
      p
        unless artwork.get('sold')
          strong
            = saleArtwork.bidLabel() + ': '

        span.ala-current-bid
          //- Artwork may be marked sold prematurely
          if artwork.get('sold')
            | Sold
          else
            = saleArtwork.currentBid()

      if artwork.get('acquireable') && !artwork.get('sold')
        p
          strong
            = 'Buy now price: '

          span.ala-current-bid
            if artwork.get('acquireable')
              if artwork.get('sold')
                | Sold
              else
                = artwork.saleMessage() || 'Unavailable'

    .ala-bid-count: a( href= href )
      | #{saleArtwork.formatBidCount()}
  else
    .ala-estimate
      if saleArtwork.estimate()
        a( href= href )
          | #{saleArtwork.estimateLabel()}: #{saleArtwork.estimate()}
      else
        | &nbsp;

    if artwork.saleMessage()
      .ala-sale-message
        a.ala-current-bid( href= href )
          = artwork.saleMessage()

  unless auction.isAuctionPromo() && !auction.isAuctionPromoInquirable()
    .ala-bidding
      .ala-bid-button
        include buttons
