extends ../../components/main_layout/templates/index
include ../../components/pagination/paginator

block locals
  assetPackage = 'auction_lots'

block body
  #auction-results-page.inner-container
    header#auction-lot-header
      h1.avant-garde-header-center
        | Auction results for #{artist.get('name')}

    .auction-lots-table-header
      .auction-lots-total
          | #{auctionLots.state.totalRecords} Results
          - if (auctionLots.state.totalPages > 1)
            | &mdash;Page #{auctionLots.state.currentPage} of #{auctionLots.state.totalPages}

      .auction-lots-sort
        span Order:
        .bordered-pulldown
          a.bordered-pulldown-toggle
            = auctionLots.sortCriteria[auctionLots.sortBy]
            .bordered-pulldown-toggle-caret
              span.caret
          .bordered-pulldown-options
            for k, v in auctionLots.sortCriteria
              - if (!user && k === 'Sale') { return }
              a( href="?sort=#{v}" )= k

    table.auction-lots-table
      thead
        tr
          th Title
          th Year
          th Medium
          th Size
          th Auction House
          th Date
          th Estimate
          if user
            th Sale
      tbody
        - for lot in auctionLots.models
          tr.auction-lot( id="auction-lot-#{lot.id}" )
            td
              .auction-lot-title-container
                - if (lot.get('image_url') != '/assets/shared/missing_image.png')
                  a.auction-lot-image-zoom(
                    href=lot.get('image_url').replace(/thumbnail/, 'original')
                  )
                    img.auction-lot-image( src!= lot.get('image_url'), alt= lot.get('title') )
                em.auction-lot-title= lot.get('title')
            td= lot.get('dates_text')
            td.auction-lot-medium= lot.get('medium_text')
            td
              = lot.get('dimensions').in
              br
              = lot.get('dimensions').cm
            td= lot.get('organization')
            td= lot.get('auction_dates_text')
            td!= lot.get('estimate_text')
            if user
              td= lot.get('price_realized_text')

          //- Details link
          - if (lot.get('external_url'))
            tr.auction-lot-meta
              td( colspan=(user ? 7 : 6) )
              td
                a.auction-lot-details-link( href=lot.get('external_url'), target='_blank' )
                  if user
                    | See details
                  else
                    | See sale price & details
                  i.icon-chevron-right

    +paginate(auctionLots.state.currentPage, auctionLots.state.totalPages, '?sort=' + auctionLots.sortBy + '&')
