- artist = artwork.related().artist
- saleArtwork = artwork.related().saleArtwork

.auction-artwork( data-id= artwork.id )
  .auction-artwork-image: .vam-outer: .vam-inner
    a( href= artwork.href() ): img(
      src= artwork.defaultImageUrl('medium')
      nopin= artwork.noPinAttr()
      alt= artwork.toAltText()
    )

  .auction-artwork-metadata: .auction-artwork-metadata-inner
    .auction-artwork-primary-information
      if artwork.has('artist')
        h4.auction-artwork-artist
          if artist.get('public')
            a( href= artist.href() )
              = artist.get('name')
          else
            = artist.get('name')
      h3.auction-artwork-title
        a( href= artwork.href() )
          != artwork.titleAndYear()

    if saleArtwork.has('lot_number')
      .auction-artwork-lot-number
        | Lot #{saleArtwork.get('lot_number')}

    - estimate = saleArtwork.estimate()
    if estimate
      .auction-artwork-estimate
        = estimate

    .auction-artwork-bidding.js-auction-artwork-bidding( data-id= artwork.id )
      //- Re-rendered client-side
      - button = auction.bidButtonState(user, artwork)
      a.avant-garde-button-black.auction-artwork-bid-button.js-auction-artwork-bid-button(
        href= button.href
        class= button.classes
        disabled= !button.enabled
      )= button.label
