if auction.isLiveOpen()
  - imgUrl = auction.cropUrlFor({ width: 1800, height: 600 })
  .auction-banner.auction-banner-live-open
    .auction-banner-live-bg(
      style='background-image: url("' + imgUrl + '")'
      alt= auction.get('name')
    )
    .auction-banner-live-details
      h1 Live Bidding Now Open
      a.avant-garde-button-white(
        href="#{sd.PREDICTION_URL}/#{auction.get('id')}#{user ? '/login' : ''}"
        target='_blank'
      ) Enter live auction
else
  - imgUrl = auction.cropUrlFor({ width: 1800, height: 300 })
  .auction-banner
    .auction-banner-live-bg(
      style='background-image: url("' + imgUrl + '")'
      alt= auction.get('name')
    )
      .auction-banner-clock.white-overlay-clock.js-auction-clock( data-id= auction.id )
        include ../../../components/clock/template
