header.auction-header
  .auction-header-primary
    if auction.hasImage()
      img.auction-hero-image(
        src= auction.cropUrlFor({ width: 900, height: 400 })
        alt= auction.get('name')
        title= auction.get('name')
      )

    h1.auction-title
      = auction.get('name')
    .auction-description
      != auction.mdToHtml('description')

  .auction-header-metadata
    .auction-header-metadata-cell
      .auction-header-clock.js-auction-clock
        include ../../../components/clock/template

      .auction-header-register-button
        .auction-info-register-button
          include ./registration_button

    .auction-header-metadata-cell
      h3 Auction Note:
      .auction-header-metadata-cell-contents
        if auction.get('is_preliminary')
          p
            | Bids placed on Artsy will be carried into the live auction
            span.help-tooltip(
              data-anchor='top-right'
              data-message='When online bidding closes the current high bid will be transferred to the live auction and executed against other bidders. Wining bidders will be notified by email after the sale.'
            )

        if auction.has('buyers_premium')
          p
            | This auction has a
            = ' '
            a.fine-faux-underline( href= auction.buyersPremiumUrl() )
              | buyer&rsquo;s premium
        else
          p This auction does not have a buyer&rsquo;s premium

    .auction-header-metadata-cell
      h3 Contact
      .auction-header-metadata-cell-contents
        p
          | Have questions about this auction?
          br
          a.fine-faux-underline.js-specialist-contact-link( href='#' )
            | Contact an Artsy Specialist
