extends ../../../components/main_layout/templates/index

block head
  //-

append locals
  - assetPackage = 'auction'

block body
  .auction-page.main-layout-container
    header.auction-header
      .auction-header-primary
        if feature.hasImage()
          img.auction-hero-image(
            src= feature.cropUrlFor({ width: 900, height: 400 })
            alt= feature.get('name')
            title= feature.get('name')
          )

        h1.auction-title
          = feature.get('name')
        .auction-description
          != feature.mdToHtml('description')

      .auction-header-metadata
        if profile.icon().has('image_versions')
          .auction-header-metadata-cell: img(
            src= profile.icon().resizeUrlFor({ width: 140, height: 100 })
          )

        .auction-header-metadata-cell
          .auction-header-clock.js-auction-clock
            include ../../../components/clock/template


          .auction-header-register-button
            - button = auction.bidButtonState(user)
            a.avant-garde-button-black.is-block(
              href= button.href
              class= button.classes
              disabled= !button.enabled
            )= button.label

        //- Bidding ends

        //- Auction Note

        //- Preview

        //- Event

        .auction-header-metadata-cell
          h3 Contact
          p
            | Have questions about this auction?
            br
            a.fine-faux-underline.js-specialist-contact-link( href='#' )
              | Contact an Artsy Specialist

    nav.auction-artworks-display-nav.garamond-tablist
      a.garamond-tab.is-active.js-toggle-artworks-mode( href='#', data-mode='grid' ) Grid
      a.garamond-tab.js-toggle-artworks-mode( href='#', data-mode='list' ) List

      span.garamond-tab-label Sort by:
      a.garamond-tab.is-active.js-toggle-artworks-sort( href='#', data-sort='position' ) Default
      a.garamond-tab.js-toggle-artworks-sort( href='#', data-sort='name-asc' ) Artists A–Z

      //- Disable bidding related sorts unless auction is open
      - disabled = !auction.isOpen()
      a.garamond-tab.js-toggle-artworks-sort( href='#', data-sort='bids-desc', disabled= disabled ) Most Bids
      a.garamond-tab.js-toggle-artworks-sort( href='#', data-sort='bids-desc', disabled= disabled ) Least Bids
      a.garamond-tab.js-toggle-artworks-sort( href='#', data-sort='amount-desc', disabled= disabled ) Highest Bid
      a.garamond-tab.js-toggle-artworks-sort( href='#', data-sort='amount-asc', disabled= disabled ) Lowest Bid

    section.auction-artworks.js-auction-artworks( data-mode='grid' )
      for artwork, i in artworks.models
        include ./artwork

    footer.auction-footer
      //- https://github.com/artsy/force/issues/2180
