- console.log('myActiveBids', myActiveBids)
if myActiveBids && myActiveBids.length
  h2 Your Active Bids
  table
    tbody
      for bid in myActiveBids
        //- defend against empty bids
        if bid.sale_artwork
          - leadingBidder = bid.is_leading_bidder
          - reserveMet = bid.sale_artwork.reserve_status !== 'reserve_not_met'
          tr
            td.auction-mab-artist-artwork-container
              a(
                href=bid.sale_artwork.artwork.href
              )
                img.auction-mab-img( src=bid.sale_artwork.artwork.image.url )
                .auction-mab-artist-artwork
                  h3= bid.sale_artwork.artwork.artist.name
                  .auction-mab-title
                    em= bid.sale_artwork.artwork.title
                    | ,&nbsp;
                    = bid.sale_artwork.artwork.date
            td.auction-mab-lot-number Lot #{bid.sale_artwork.lot_number}
            td.auction-mab-current-bid
              strong Current Bid: <em>#{bid.sale_artwork.highest_bid.display}</em>
            td.auction-mab-bid-num (#{bid.sale_artwork.counts.bidder_positions} Bids)
            if leadingBidder && reserveMet
              td.auction-mab-warning.is-winning
                p Highest Bid
                  i.icon-bid-arrow.up
                    include ../../../components/main_layout/public/icons/bid-status-arrow.svg
            else
              if leadingBidder && !reserveMet
                td.auction-mab-warning.is-winning-reserve-not-met
                  p Reserve not met
                    i.icon-bid-arrow.up
                      include ../../../components/main_layout/public/icons/bid-status-arrow.svg
              else
                td.auction-mab-warning.is-losing
                  p Outbid
                    i.icon-bid-arrow.down
                      include ../../../components/main_layout/public/icons/bid-status-arrow.svg
            td
              a.avant-garde-button-black.auction-mab-bid-button(
                href=bid.sale_artwork.artwork.href
              ) Bid
