include ../../../components/bid_status/index

if myActiveBids && myActiveBids.length
  h2 Your Active Bids
  table
    tbody
      for bid in myActiveBids
        if bid.sale_artwork
          tr
            td.auction-mab-artist-artwork-container
              a(
                href=bid.sale_artwork.artwork.href
              )
                img.auction-mab-img( src=bid.sale_artwork.artwork.image.url )
                .auction-mab-artist-artwork
                  .auction-mab-artwork-metadata
                    h3= bid.sale_artwork.artwork.artist.name
                    .auction-mab-title
                      em= bid.sale_artwork.artwork.title
                      | ,&nbsp;
                      = bid.sale_artwork.artwork.date
            td.auction-mab-lot-number Lot #{bid.sale_artwork.lot_number}
            td.auction-mab-current-bid
              strong Current Bid: <em>#{bid.sale_artwork.highest_bid.display}</em>
            td.auction-mab-bid-num (#{bid.sale_artwork.counts.bidder_positions} Bids)
            if bid.sale_artwork.sale.is_live_open
              td
                a.avant-garde-button-black.auction-mab-bid-live-button(
                    href=ViewHelpers.liveAuctionUrl(bid.sale_artwork.sale_id)
                  ) Bid Live
            else
              td.bid-status-cell
                +bidStatus(bid, bid.sale_artwork)
              td
                a.avant-garde-button-black.auction-mab-bid-button(
                  href=bid.sale_artwork.artwork.href
                ) Bid
