.artwork-related-artworks-module-wrapper(data-type=type)
  .artwork-section-separator
  .main-side-margin
    .js-artwork-related-artworks-container
      .artwork-related-artworks-module
        #artwork-related-artworks-module__artist-artworks
          .artwork-related-artworks-module__section-title.works-section-title
            | #{title}
          .artwork-related-artworks-module__related-artworks-list(data-artworks=type)
            .loading-spinner

          if !isRelated
            .view-all-links-container
              a.artwork-related-artworks__view-all-link(href=href)
                | View All #{totalCount} works
                .icon
